[2020-08-13 03:55] David-Engel commented on #1136
@gluwer No, unfortunately there is not. It’s possible it’s the same bug. The two do share a lot of the same code and the timing is interesting. I don’t have visibility to that, though.

[2020-08-14 09:01] gluwer commented on #1136
We have made one last test today, and no high cpu occured, so it looks like sql engine bug fixed in newest update. Because of this I'm closing the issue. Thank you for all the help.

[2020-08-14 09:01] #1136 closed

[2020-08-14 14:47] IanChokS commented on #1144
Hi @panbhatt I'll take a look and see if there's a way for tedious to do that!

[2020-08-14 16:49] panbhatt commented on #1144
Thanks @IanChokS  : What i think can be done is that besides taking the token details, we can ask for a function (or a object having a function) that can be called once the duration of the token got expired. However, i would leave it up to the community to decide what best can be done.
The other way to achieve this to to hack the ORM solutions and call their connection manager (which is bypass) an

[2020-08-16 06:36] cameronstubber commented on #1144
I think a good solution could be that we have a boolean flag in the configuration object used at the start to signal if we want to auto refresh or not.

I'm sure there is somebody out there who is happy with the session expiring.

[2020-08-18 13:28] panbhatt commented on #1144
Any update on this, team.

[2020-08-18 14:47] arthurschreiber commented on #1144
@panbhatt I think that's not really an issue in `tedious`, but an issue in the connection pool library you're using? If the connection pool library would allow specifying a factory function to "build" the connection (or connection configuration), you could use that to refresh the token ever so often.

[2020-08-18 14:51] panbhatt commented on #1144
the only caveat with this issue is all the ORM's has to change their structure just for this. i.e. they have to implement this functionality, which i think its not required, as the problem is present at TEDIOUS JS level, if in the dialect options they take a function (since they are the only who is providing the functionality for token validation etc) and refresh their connection details, so that

[2020-08-18 14:51] arthurschreiber commented on #1137
@IanChokS @ganesh-p `tedious` does not support distributed transactions. There's nothing particular stopping us from doing so, it just never was implemented.

[2020-08-18 15:01] arthurschreiber commented on #1144
@panbhatt I understand. How do you feel about allowing to pass in an async function as `token` for the `azure-active-directory-access-token`, and we then call this function to get the token when establishing a connection?

Would you be willing to open a PR that implements this?

[2020-08-18 18:25] panbhatt commented on #1144
i can try working on that, however it seems like it would be hard for me to test  it without an availability of azure sql server and azure auth. let me know, if can be provided an env, i can try it.

[2020-08-19 09:17] cameronstubber commented on #1144
After playing with this a bit in the recent week, I actually now also agree that this is not up to Tedious to deal with. Mainly, since the token is already created before you even start with Tedious. You are just passing the token through. It should be up to the application or the library doing the authentication in the first place to ensure it has an always valid token.

[2020-08-19 09:28] cameronstubber commented on #1144
Actually it could be nice to allow us to provide tedious with a callback if it throws an error due to an expired token. That way, we can feed it the a function which will get a new token for it, if it encountered an expiry. Then tedious doesnt have to actually do any token authentication work, but it can help to provide a seamless experience controlled by the application.

[2020-08-20 03:50] panbhatt commented on #1144
just wanted to know will it be a good practice:
1. Pass an async function as a dialect option and in tedious we can invoke him always prior to creating a new connection.
2. There is an idle time out for the connection (which i assume should always be low then that the timeperiod of the token), so i am assuming if a connection is not used it would timeout automatically.
3. prior to giving the conne

[2020-08-20 09:32] arthurschreiber commented on #1144
Maybe I'm wrong here, but the token is only checked once, when you open the connection. As long as the connection is kept open, the token is not re-checked. Only when the token is used when a new connection is established by the connection pool after the token has expired, the authentication fails. This could e.g. happen due to the idle time out of the connection pool you mentioned.

This is why I

[2020-08-20 17:01] panbhatt commented on #1144
I tried to work on this and need your feedback on this as just trying to make sure (without actually testing this), what we are proposing is right.
Changes are as follows:
[code]

in connection.ts (line no 235)
[code]

in line no 2531: in function sendLogin7Packet()
[code]
the problem is this function sendLogin7Packet is not async() so we can't use await here. If we have to then we need to make su

[2020-08-21 20:51] sharonchoong opened #1146 "App Service user-assigned MSI authentication"
Hello, I'm having issues making App Service MSI authentication work. I went through [this tutorial](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi) to set up a user-assigned managed identity.  But I still can't make it work.

The authentication part of my tedious config is
[code]
The error I'm getting at runtime is:
[code]

I saw that @azure/ms-rest-nodeaut

[2020-08-24 14:51] dfenerski commented on #300
So... how do you close a connection? :D and why do connections 'crash' and go to sleep? no clear fix found.

[2020-08-24 15:40] leemlwando commented on #931
Thanks. This solved the issue. i just added _**--tls-min-v1.0**_ flag

[2020-08-25 16:12] IanChokS commented on #1146
Hi @sharonchoong I'll take a look!

[2020-08-26 14:39] panbhatt commented on #1144
Another way to achieve this can be since ASYNC would force a lot of things to change is:
1. Pass the token generator as a function to the extra options.
2. Also pass a timeout interval (this interval would always be less then the token timeout )E.g. if the token timeout is  60 minutes, it can be 50 minutes.
we will do a setInterval call in the TEDIUOUS package to update the TOKEN variable continou

[2020-08-27 21:59] IanChokS commented on #1146
Actually it looks like there's a bug with with @azure/ms-rest-nodeauth https://github.com/Azure/ms-rest-nodeauth/issues/102
I'll check if using @azure/identity will be able to authenticate using MSI

[2020-08-30 19:19] sharonchoong commented on #1146
@IanChokS, appreciate it!  Thanks for looking into this, at least I know where the problem likely is. I can use `azure-active-directory-password` in the meantime, but it doesn't seem to be the recommended way to authenticate based on the Microsoft tutorials.

Regarding @azure/identity, I think this [pull request](https://github.com/tediousjs/tedious/pull/939) is related.

[2020-08-30 19:21] IanChokS commented on #1146
No problem, I've confirmed that User-Assigned MSI authentication works with the @azure/identity library so I'll try to get that fixed merged ASAP

[2020-08-31 22:17] Afsarsoft opened #1147 "Example, storedProcedureWithParameters.js missing DB connection"
Great samples, Great job, please add more. Just FYI, looks like DB connection is missing from example storedProcedureWithParameters.js
Following worked for me.
+++++++++++++++++++++++++++++++++++
var connection = new Connection({
  server: 'afsarsoft.database.windows.net',
  **options: {
    database: "DBNAME", //update me
    encrypt: true
  },**
  authentication: {
    type: 'default',
    optio

[2020-08-31 23:10] IanChokS commented on #1147
Hi @Afsarsoft Thanks for your feedback! We currently have one PR (#1032) that will hopefully add more clarification and examples.

[2020-09-02 15:52] Afsarsoft commented on #1147
@IanChokS  thanks, great, looking forward to have more examples specially related with SQL SPs returning multiple rows. Also, it would be great to have more complete examples in getting results from SQL SPs and rendering them all the way to UI/HTML.

[2020-09-02 16:57] IanChokS commented on #1147
How you display data from the backend to the frontend is totally up to you and is not part of tedoius's domain. But for pointers  you can use [Express](https://www.npmjs.com/package/express) on the backend, and [Axios](https://www.npmjs.com/package/axios) on the front end to communicate data between a client and a server.

Closing this now as it isn't an issue with tedious driver.

I hope this all

[2020-09-02 16:57] #1147 closed

[2020-09-08 15:54] ankitchoudary opened #1149 "JSON data returned by stored procedure is getting truncated"
JSON data returned by stored procedure is getting truncated. Only 1000 characters are getting returned . Please find attached the actual and truncated output.
Please find below the code used :

function queryDBProcedure(container, connection, procedureName, inputParameters, callback) {
    let resultSet = [];

    const request = new Request(procedureName, function (error, rowCount) {
        if (

[2020-09-08 16:33] miguel-orange opened #1150 "docs: enableArithAbort default value"
https://github.com/tediousjs/tedious/blob/2a7870592238983304ff8151e1db409d923ab2b0/src/connection.ts#L602
Should this be changed to `true`?
Default is `true` as of [7.0.0 release ](https://github.com/tediousjs/tedious/releases/tag/v7.0.0)

[2020-09-08 16:39] #1150 closed

[2020-09-09 18:40] IanChokS commented on #1149
Hi @ankitchoudary,
Can you show what your stored procedure looks like?

[2020-09-10 12:37] ankitchoudary commented on #1149
Hi @IanChokS,

Please find attached the stored procedure.
[storedProcedure.txt](https://github.com/tediousjs/tedious/files/5201633/storedProcedure.txt)

[2020-09-16 01:25] yorek commented on #1149
Wow! The stored procedure is probably a thousand lines long! Create a simpler procedure that just return a simpler JSON and set up a repro so that anyone can run the test and try to help.

[2020-09-16 06:54] mcgradycchen opened #1153 "CNAME support for Azure SQL"
Hi

We're trying to use one customized DNS to connect to  Azure SQL service as described [here](https://github.com/MicrosoftDocs/azure-docs/issues/42688)

The problem is, to use tedious to connect to Azure SQL with our customized DNS, we must specify the login user name including original domain.

But, there is no this issue, when we use C# SQL client and MS SQL Studio.

Thanks,
McGrady

[2020-09-18 19:55] IanChokS commented on #1153
Hi @mcgradycchen I'll take a look into this

[2020-09-18 22:51] IanChokS commented on #1149
@ankitchoudary Just to clarify, is each row being sent back from the server an object as a string, which is then pushed into the `field` array? or is the whole output of the `actualOutput.txt` being sent back as data from a single row?

[2020-09-21 05:03] ramya-rao-a commented on #1146
Hello,

I am from the team that owns the `@azure/ms-rest-nodeauth` package.

Can someone share details on how https://github.com/Azure/ms-rest-nodeauth/issues/102 is related here as linked a few comments above?
The expectation is that one would call and await on `getToken()` after getting a credential object from the `@azure/ms-rest-nodeauth` package.

[2020-09-21 05:08] ramya-rao-a commented on #1146
If the issue is around user assigned managed identity, then the most recent update to the `@azure/ms-rest-nodeauth` package has a fix for it. Relevant parts from the [changelog](https://github.com/Azure/ms-rest-nodeauth/blob/master/Changelog.md):

Looking at https://github.com/tediousjs/tedious/pull/939 which is also linked from this PR, it looks like this project is using v2 of the `@azure/ms-res

[2020-09-21 09:48] g0djan opened #1154 "Where tedious looks for a certificate to use?"
Hi, we are using certificates signed by our own certificate center. And we want to connect with encrypt='yes', but got error: unable to get local issuer certificate.

I added our certificate to trusted certificates and it helped for connection from Golang.

wget "https://path/to/certificate/CA.pem" -O /usr/local/share/ca-certificates/root.crt && \
update-ca-certificates
But tedious doesn't use the

[2020-09-21 14:28] IanChokS commented on #1146
@ramya-rao-a Thank you for pointing out that the new version 3 has the fix for user-assigned msi auth 🙇 ! I wasn't aware that the there was a fix in the latest version.  Using the latest version, I was able to successfully access SQL DB from an Azure App Service using user-assigned MSI Auth, so I'll create a PR for Tedious to update the config for `loginWithAppServiceMSI` function.

Also, accordin

[2020-09-21 14:45] IanChokS commented on #1146
@ramya-rao-a Thank you for pointing out that the new version 3 has the fix for user-assigned msi auth 🙇 ! I wasn't aware that the there was a fix in the latest version.  Using the latest version, I was able to successfully access SQL DB from an Azure App Service using user-assigned MSI Auth, so I'll create a PR for Tedious to update the config for `loginWithAppServiceMSI` function.

Note: In the f

[2020-09-21 15:03] IanChokS commented on #1146
@sharonchoong Can you check if PR #1155 will fix your issue? Hopefully all goes well 🤞

[2020-09-21 16:57] ramya-rao-a commented on #1146
That is interesting. I am not familiar with the inner details here for quick answer. If you can log an issue in the ms-rest-nodeauth repo with details on your set up (preferably outside of tediousjs :)), then we can take a deeper look and update the docs as needed

Yes, but the progress is slow at the moment. For now, `@azure/ms-rest-nodeauth` is supported and will take bug fixes, but we will not

[2020-09-22 14:54] IanChokS commented on #1153
Just to clarify, are you setting up a custom domain name through Azure?

[2020-09-22 19:54] IanChokS commented on #1154
@g0djan Where are you trying to get your certificate from?

[2020-09-23 00:20] IanChokS commented on #1153
I think this behaviour is fine and is not really an issue. This is because Azure gateway needs to know which virtual db to go to, which I think is lost in the customized DNS name.

@arthurschreiber Do you think this requires some internal changes in order to keep the username the same?

[2020-09-23 02:55] clshortfuse commented on #1081
I'm on v9.2.1 and I still have to force `trustServerCertificate: true`. The documentation still wrong, it seems.

Without the option set, I get: `unable to get local issuer certificate`, but enabled it works.

[2020-09-23 15:13] IanChokS commented on #1154
Hi @g0djan tedious uses `tls` native library for creating tls connections, and what I believe you're looking for is the option `ca` passed in as `options` in the [ tls.connect() method ](https://nodejs.org/api/tls.html#tls_tls_connect_options_callback). As described in the docs:
[code]

As of currently, Tedious doesn't have an API exposed to let clients specify the location of their certificates.

[2020-09-23 15:50] clshortfuse commented on #1154
You should also be able to use NODE_EXTRA_CA_CERTS (https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file) or use npm (https://docs.npmjs.com/misc/config#cafile)

The `ca` property is the primary method for TLS on NodeJS.

[2020-09-24 11:40] dhensby opened #1157 "Connection timeouts don't close underlying socket"
When creating a tedious connection, if the connection timeout elapses the underlying socket is still left open, rather than being closed.

This can cause the node process to hang if the socket hasn't closed itself by the time the node process is due to exit.

Please see https://github.com/tediousjs/node-mssql/issues/1106 for discussions relating to this.

[2020-09-26 05:30] mcgradycchen commented on #1153
HI  @IanChokS

Thanks for your update. You're right. Azure SQL service gateway needs the true DNS prefix.

How about add an option for cname support. Then, when try to create db connections, automatically resolve the CNAME using https://nodejs.org/api/dns.html#dns_dns_resolvecname_hostname_callback and use the resolved DNS to do connection.

Thanks,
McGrady

[2020-09-28 22:30] IanChokS commented on #1157
Thanks for pointing this issue out, we'll take a look at it as soon as possible!

[2020-09-29 23:26] chriseaton opened #1158 "bulkLoad.setTimeout(timeout) doesn't do anything"
Just noticed that the `bulkLoad.setTimeout(timeout)` function set's a timeout property, but it doesn't appear to be used at all. If I set the value to 1ms, I would expect almost any query to timeout immediately, but they do not. Looking at the tedious Connection object, `execBulkLoad` function looks like it constructs a new `Request` but doesn't seem to do anything with the timeout value.

tedious

[2020-09-30 21:37] IanChokS commented on #1158
Yes this looks like an issue. Thanks for raising awareness to this problem! We'll look into fixing this.

[2020-10-01 17:28] ankitchoudary commented on #1149
@IanChokS  it's coming as a single row only.

[2020-10-03 15:41] Paisansang opened #1159 "error in tedious ver 9.2.1"
When i upgrade tedious to version 9.2.1 my node application that use to be run under tediou 6.1.1 got error:-
Failed to connect to xxxx.com:1433 - self signed certificate
Server is mssql ver 14.0.1000.169 running on window.

any suggestion?

[2020-10-03 20:37] CesarAMM commented on #931
Hola tengo el mismo error y ya trate de hacer lo que han comentado anterior mente y me sigue saliendo el mismo error
 ConnectionError: Failed to connect to {host}:1433 - Cannot call write after a stream was destroyed

Esta es mi cadena de conexión.

const config = {
    user: 'user',
    password: 'password',
    server: 'host',
    database: 'name-dataBase',
    pool:{
        max: 230,
        m

[2020-10-05 01:29] CesarAMM opened #1160 "ConnectionError: Failed to connect to host:1433 - Cannot call write after a stream was destroyed"
Tengo tedious v:6.10.2 y sql server 2008

[code]

Alguien me podria apoyar :)

[2020-10-05 01:30] CesarAMM commented on #1160
Perdón es sql 2012

[2020-10-05 22:18] IanChokS commented on #1159
Hi @Paisansang, please refer to our[ docs page](https://tediousjs.github.io/tedious/getting-started.html) on the latest API usage.

[2020-10-05 22:25] IanChokS commented on #1160
Hi @CesarAMM, see if any of the[ following hints](https://tediousjs.github.io/tedious/frequently-encountered-problems.html) might help. There could be many reasons why you cannot connect. I might also suggest raising an issue on [node-mssql ](https://github.com/tediousjs/node-mssql) as well.

[2020-10-05 22:45] #1126 closed

[2020-10-05 22:57] IanChokS commented on #1149
It's still a bit unclear as to what exactly you're trying to do. If you're expecting text coming back, note that the output parameter for a stored procedure has a max size of 8000 bytes, which anything beyond that gets truncated (see #1126)

[2020-10-07 01:10] joshlester commented on #1159
Hi @Paisansang

Please see below extract from https://github.com/tediousjs/tedious/releases

9.0.0 (2020-06-23)
Features

    change default value of trustServerCertificate (afd4027)

BREAKING CHANGES

    This changes the default value from true to false. This might lead to encrypted connections not being established if the server's certificate can not be validated against the default list of CAs

[2020-10-07 04:52] CesarAMM commented on #1160
Gracias, encontré el problema

Fue en el fireware con las Reglas de entrada y salida.

[2020-10-07 04:52] #1160 closed

[2020-10-07 13:55] Vizard21 commented on #656
I believe this library is out of date

[2020-10-07 14:09] Vizard21 opened #1162 "Error possible eventemitter leak detected, 11 error listener added"
Recently i faced this error, I have one function likes below:

`const querySP = () =>{
   const connection = new Connection(settings);
connection.on('connect', err=>{
 if(err){}
else{
 cont request = new Request (query, (err, rowCount)=>{
   request.on(row, columns=>{
result...
})
request.on(requestCompleted, ()=>{
 connection.close();
done(result);
})
connection.execSql(request);
})

}
 })
}`

Wh

[2020-10-07 15:47] IanChokS commented on #1154
You can try to set the CA in the `connection.cryptoCredentialsDetails`, more details in the [options here](https://tediousjs.github.io/tedious/api-connection.html)

[2020-10-07 18:06] ankitchoudary commented on #1149
@IanChokS , We have a stored procedure, which is already being used by one of our C# app and there we are able to read the complete response using some C# libraries. Is it possible to achieve same thing using nodejs.

[2020-10-08 21:07] IanChokS commented on #1162
Hi @Vizard21,

I was unable to reproduce your issue. Here's the script I used:
[code]
Be sure to close your connection before starting another one.

[2020-10-08 21:12] IanChokS commented on #1158
@chriseaton PR #1164 has been created to address this issue!

[2020-10-09 20:08] #1159 closed

[2020-10-09 20:55] Ethan0721 commented on #1162
Really appreciate you works, i sitll have some doubts, is that only one connection should exist in the program and do we need removeListener in the program?

[2020-10-09 22:38] Ethan0721 commented on #1162
You logic is close one connection then start one so that there is always one connection running at a moment, in this way is that efficient engough compoaring to few connection running? is there a limit of connection number?  I am new to this library and JS hope can learn more and deeper.

[2020-10-10 07:12] Paisansang commented on #1159
Thank you.

On Sat, Oct 10, 2020 at 3:08 AM IanChokS <notifications@github.com> wrote:

--
*P. Sang *

[2020-10-11 23:54] sharonchoong commented on #1146
@IanChokS That worked!  Sorry for the delay, I had some trouble rebuilding the module with your PR changes, but the user-assigned MSI authentication worked nicely in the end.  Would be great if this can be merged into master!

[2020-10-13 14:21] IanChokS commented on #1162
At the moment tedious doesn't support connection pooling, but definitely something we will look into in the future.

[2020-10-13 14:32] Vizard21 commented on #1162
Got it, for the above example when i am trying loop 5k times I got memory leak again, do you think it's about 'Request'? in somewhere do i need to remove the request listener?

[2020-10-13 15:28] IanChokS commented on #1162
I was able to do 6k loop without any memory leaks. What version of tedious and node are you using? Also I don't see what a use case would be for looping so many connections. I think the ideal case if you have lots of requests, is keeping one connection open and re-using the same connection for multiple requests (keep in mind: one request at a time on a connection)?

[2020-10-13 15:51] Vizard21 commented on #1162
I am using tedious version:^6.6.5, node version: v10.7.0
in order to keep only one connection opening just put this   var connection = new Connection(config);
 line at the top level, right?

[2020-10-13 16:23] IanChokS commented on #1157
This looks like an issue related to #1100. Unfortunately, that hasn't had any follow ups yet either.

[2020-10-13 16:35] dhensby commented on #1157
Yep - that looks like a very well articulated look into what's going on and if that were resolved I think this issue would be too

[2020-10-15 16:02] jeffmcmahan commented on #891
I've also encountered this issue when attempting to wrap 4 inserts in one transaction. My company is still using SQL Server 2005 and the error message is identical.

[code]

If I remove the `TRANSACTION` statements, everything works fine, but (presumably) without the atomicity guarantee, which could make messes.

[2020-10-15 16:27] jeffmcmahan commented on #891
Okay so, I did some cursory digging in [connection.ts](https://github.com/tediousjs/tedious/blob/ad4ce3f9287030fc7c5513a6fba5ae87e6f29461/src/connection.ts). Does the connection logic implicitly wrap `execSql` in a transaction?

https://github.com/tediousjs/tedious/blob/ad4ce3f9287030fc7c5513a6fba5ae87e6f29461/src/connection.ts#L2793-L2806

Note particularly:

[code]

Would that mean any attempt t

[2020-10-15 17:25] nivanovic-aureum commented on #1154
[code]
I am having the same problem (Failed to connect to \<AMAZON RDS URL\> - unable to get local issuer certificate)
I am not using the encrypt option trying to connect to the AMAZON RDS database.
Why do I get this error?

[2020-10-15 19:05] Vizard21 commented on #1162
Thanks for your above explanation, however i am still bit confused if I take the Connection out put in the top level then when i want to run 5k times then it means i should run function executeStatement() 5k times right? then i will create 5k request and only one Connection in my program? this will still cause the memory leak right? is there a place I need to remove Request listener?

I do see I a

[2020-10-19 04:45] tomohikoseven commented on #1090
(I'm not very good at English, so this is a machine translation.)
I ran into a similar problem.
In my application,
- tedious-connection-pool : 1.0.5
- tedious : 9.2.1

However, tedious-connection-pool uses tedious ver 1.14.0. This was the direct cause of the problem.
So I reinstalled tedious ver9.2.1 to ver1.14.0. This solved the problem.

[2020-10-20 14:27] fedecaccia opened #1168 "Could not connect (sequence) - ESOCKET"
Hi, Im experimenting an error using mssql library for nodejs. I am using PoolConnection from mssql (and I also tried using tedious-pool-connection library). The app Im running simply connects to a SQL server db and executes some writing queries. Multiple queries at the same time, or in serial order, it doesn't matter: I always get this kind of errors for some queries:

[code]

What could be causin

[2020-10-20 14:34] fedecaccia commented on #1168
The dependencies Im using:
test 1: "mssql": "^6.2.1"
and in test 2: "tedious": "^1.14.0", "tedious-connection-pool": "^1.0.5"

The DB instance has not an important load. Im checking all metrics in AWS (an I was also checking all the metrics with AWS support, they agreed everything is heathy from DB perspective and that the issue is related to the app instance).

[2020-10-20 14:38] fedecaccia commented on #799
Im also experimenting this ESOCKET connection errors, and the issue is not related with TCP/IP since the app is connected from AWS EC2 to AS RDS and it is working most of the time.

[2020-10-20 15:25] IanChokS commented on #1168
Hi @fedecaccia Check out our [FAQ page here](https://tediousjs.github.io/tedious/frequently-encountered-problems.html)

Also tedious 1.14.0 is years old. The latest version is 9.2.1

[2020-10-20 15:37] IanChokS commented on #1168
Closing this as it is unlikely an issue with the latest version of the driver.

[2020-10-20 15:41] fedecaccia commented on #1168
Hi @IanChokS I was using the last version, until I tested using tedious-connection-pool, and it was suggested to me to use this version in order to make it work

[2020-10-20 15:44] fedecaccia commented on #1168
@IanChokS please re open it, as I described above, I confirm I am using the last version of mssql, and Im also using tediuos 9.2.1.
The only reason I used "tedious": "^1.14.0" is because I was using  "tedious-connection-pool": "^1.0.5" in the second test

[2020-10-20 15:50] IanChokS commented on #1168
Unfortunately tedious-connection-pool isn't actively maintained. We do[ have a plan ](https://github.com/tediousjs/tedious/milestone/10) to integrate that library into `tedious` itself one of these days.

Your failure to connect can be of a variety of reasons. What is the config you're passing into `tedious`? Did you ensure your SQL DB is open for connection (you can check in the FAQ I linked abov

[2020-10-20 15:54] fedecaccia commented on #1168
Ok, tedious-connection-pool  was just an alternative I tried, lets forget about it.
Regarding the SQL DB, I conffirm it is open for connection. We already check with AWS RDS support all kind of configs: regarding security groups, vpc, etc. Everything is fine. The connection is working and most of the queries are executed succesfully.

The configs I pass to tedious:

[code]

[2020-10-20 15:58] fedecaccia commented on #1168
I create the pool using:

[code]
Most of the connections are created right, but sometimes executing connect() rejects with the error I submitted previously.

[2020-10-20 16:00] IanChokS commented on #1168
The config doesn't look right. It should have the form:
[code]
Note: the `userName` and `password` are in the `authentication.options` and not the `options`, as[ specified in the docs](https://tediousjs.github.io/tedious/api-connection.html)

I apologize for that config confusion, it happens quite a bit which is why it's in the FEQ 😅

Try using the config in the correct format, hopefully you'll be

[2020-10-20 16:08] fedecaccia commented on #1168
Thanks, I understand this is not the format expected using just tedious, buy Im using mssql above tedious, and the config input agree with what mssql expects. Im able to connect, and it works propertly most of the time. The ESOCKET error is shooted when Im running loops of queries. So I think the issue is not related with the connection config input, but with some internal management ni the connec

[2020-10-20 16:14] IanChokS commented on #1168
Ah, sorry I thought you were having trouble connecting to your db.

I'm not familiar with how `mssql` handle's tedious, but for tedious itself you need to wait for a request to finish before making another request (in the callback of the first request) on the same connection.

For e.g.,
[code]

[2020-10-20 16:40] fedecaccia commented on #1168
Ok I understand, but you are using simple connections in this example, not a connection pool. In a connection pool there should be a set of available threads that can be used in parallel.

[2020-10-20 16:44] IanChokS commented on #1168
True, but as I stated before `tedious` doesn't support connection pooling yet. We hope to integrate that library so it can become available. I'm not sure if `mssql` supports connection pooling either, but you can try asking them on[ their repo](https://github.com/tediousjs/node-mssql)

Also just to confirm, if you run the queries one at a time, do you run into any issues (without any connection po

[2020-10-20 17:00] fedecaccia commented on #1168
Ok, yes I referred to connectionPool from mssql so Ill wait for their response on their repo. I haven't tried using simple connection from tedious, Ill also try and let you know.

One last question, do you know what throws the state SENT_TLSSSLNEGOTIATION?

Thanks for all your help!

[2020-10-20 17:04] IanChokS commented on #1168
No worries, happy to help 😄

The `SENT_TLSSSLNEGOTIATION` is the state of tedious when it's trying to establish a connection to the server (in the pre-login stage). This can be thrown in various ways, but I'm guessing you're trying to send a `request` while the driver is not yet connected to the server.

[2020-10-20 18:19] fedecaccia commented on #1168
Ok, I dont understand which is the reason for that, it all depends on how mssql library is hadling the connection internally. Will check with them. Thanks!

[2020-10-20 18:20] fedecaccia commented on #1168
I link with the issue in mssql-nodejs: https://github.com/tediousjs/node-mssql/issues/1121

[2020-10-21 17:30] IanChokS commented on #1168
I'm going to close this for now as it doesn't appear to be an issue when used as it is intended to. If you discover an error from a `tedious` specific use, feel free to comment on here or raise a new issue :)

[2020-10-21 17:30] #1168 closed

[2020-10-21 17:53] fedecaccia commented on #1168
ok! thanks anyway

[2020-10-21 18:56] brandon-svec commented on #1021
@funkydev Can you elaborate on your statement regarding performance? Is there any performance testing you can point to? Thanks!

[2020-10-21 20:58] IanChokS commented on #1162
@Vizard21 you can use recursion like this:

[code]

[2020-10-23 18:23] Vizard21 commented on #1162
Thank you so much I will give it a try.

On Wed, Oct 21, 2020 at 3:59 PM IanChokS <notifications@github.com> wrote:

[2020-10-24 03:21] ruthlessRonin opened #1169 "Requests can only be made in the LoggedIn state, not the Connecting state"
Requests can only be made in the LoggedIn state, not the Connecting state

[2020-10-24 03:24] IanChokS commented on #1169
Hi @ruthlessRonin, please check our [FAQ page and our docs page](https://tediousjs.github.io/tedious/frequently-encountered-problems.html)!

[2020-10-24 03:24] #1169 closed

[2020-11-02 15:51] rathboma opened #1170 "Does Tedious support connections to Sybase?"
Sybase and Sybase IQ also implement the TDS protocol.

Does Tedious work for those databases also? I see no mention in the docs.

[2020-11-02 15:55] IanChokS commented on #1170
That's interesting, theoretically it should be possible, but tedious is designed solely for MS Sql Server. Give it a try though, and let us know it works!

Closing this as it isn't an issue.

[2020-11-02 15:55] #1170 closed

[2020-11-02 16:30] rathboma commented on #1170
Reading some details online, it seems Sybase only implements version 5.0 of the TDS protocol, so probably no? I'll still try to figure it out though.

[2020-11-02 16:34] IanChok commented on #1170
Unfortunately `tedious` doesn't support that version of TDS. As [stated in our docs](https://tediousjs.github.io/tedious/api-connection.html):
[code]

[2020-11-02 16:35] rathboma commented on #1170
yep :-/

[2020-11-02 16:36] IanChokS commented on #1170
Unfortunately `tedious` doesn't support that version of TDS. As[ stated in our docs page](https://tediousjs.github.io/tedious/api-connection.html):
[code]

[2020-11-05 23:41] carlosjrodriguezp opened #1171 "Not passing `domain` value for identifying the tenantId"
https://github.com/tediousjs/tedious/blob/69ad8243d400d19fb05230c027ff74648b91a2e8/src/connection.ts#L3539

I've been trying to connect to my mssql DB using Azure AD Auth on `sequelize`, however I get the following message `Security token could not be authenticated or authorized.`. After debugging inside `sequelize`, then `tedious` and finally `ms-rest-nodeauth`, I realized that `ms-rest-nodeauth`

[2020-11-06 00:02] IanChokS commented on #1171
`@azure/ms-rest-nodeauth` `loginWithUsernamePassword` method only requires user name and password, which it gets from tedious config: `authentication.options.userName` and `authentication.options.password`.

Not sure why you would need the `options.domain` value for that API since it doesn't call for it.

[2020-11-06 00:04] IanChokS commented on #1171
Also the tedious version `6.4.0` that you're using has a dependency for an outdated version of `@azure/ms-rest-nodeauth` (2.0.2). The latest version of that package is 3.0.6.

[2020-11-06 00:10] carlosjrodriguezp commented on #1171
`@azure/ms-rest-nodeauth` `loginWithUsernamePassword` can receive `options`
![image](https://user-images.githubusercontent.com/14138695/98309929-5ca57b80-1f91-11eb-85a8-4d2f73d63220.png)

then, in the following method, it evaluates if `options.domain` is not present to provide a custom `common` value.
![image](https://user-images.githubusercontent.com/14138695/98310101-c7ef4d80-1f91-11eb-8748-71da

[2020-11-06 00:21] IanChokS commented on #1171
Ah yes you're right, it doesn't look like tedious has an option to pass in a custom `domain` in the optional config property at the moment. I'll look create a fix for that! Thanks for bringing awareness to this issue! 🙇

[2020-11-06 00:24] carlosjrodriguezp commented on #1171
Awesome, I'd appreciate this help since we're required for security reasons to change our connection to Azure AD Auth. Thanks! @IanChokS

[2020-11-06 00:42] IanChokS commented on #1171
Ok you can checkout the branch [Ian/username-pass-domain](loginWithUsernamePassword) and see if this change helps for now. I just quickly passed in the domain option in the options config for `loginWithUsernamePassword` method. Was this the change you did to make it work? I'll be sure to add tests soon too.

[2020-11-06 16:35] carlosjrodriguezp commented on #1171
Hi @IanChokS Sorry, I believe I missed this when I described what I found in `tedious` `connection.js` file:
When setting up the authentication properties for `azure-active-directory-password` auth method, at the `connection` construct, I don't know why but it only takes options `userName` and `password`. It discards any other property from `authentication.options`.

![image](https://user-images.g

[2020-11-06 17:03] carlosjrodriguezp commented on #1171
And yes, I can confirm after testing it that including the domain attribute in the auth props along with your change in `loginWithUsernamePassword ` , works as expected:
![image](https://user-images.githubusercontent.com/14138695/98393898-91f8aa80-201f-11eb-9ba1-b105d7c478a1.png)

[2020-11-06 18:44] IanChokS commented on #1171
@carlosjrodriguezp I believe[ I already put ](https://github.com/tediousjs/tedious/compare/ian/username-pass-domain)the `domain: options.domain` in the constructor you described above. Was this what you were referring to, or did I miss another part of the config?

[2020-11-06 18:49] carlosjrodriguezp commented on #1171
oh yeah, you're totally right. My bad, I hadn't seen it:
![image](https://user-images.githubusercontent.com/14138695/98403344-6f21c280-202e-11eb-9cfa-83a2e5616508.png)

[2020-11-06 20:12] oliverwk opened #1172 "Problem with request.addParameter: RequestError: Incorrect syntax near '@limit'."
# RequestError: Incorrect syntax near '@limit'.

I'm using the tedious modules to preform two simple query's: `SELECT TOP @limit * From [dbo].[Beeldbank Urk];`and `"SELECT TOP @limit * From [dbo].[Beeldbank Urk] WHERE Omschrijving LIKE %@Name%;` to make a simple web api with express.
In [the code ](https://gist.github.com/oliverwk/19d1f2bd2f8cb253db5015d705ae090d)i used the request.addParameter fu

[2020-11-09 19:00] IanChokS commented on #1172
Hi @oliverwk, you need to put parenthesis like so: `SELECT TOP (@limit) * From [dbo].[Beeldbank Urk];`  and that should work. More info [here ](https://stackoverflow.com/questions/175962/dynamic-select-top-var-in-sql-server) :-)

[2020-11-09 19:00] #1172 closed

[2020-11-10 21:01] oliverwk commented on #1172
Thank you for the help i have one QEUSTION: if i run `SELECT TOP @limit * From [dbo].[Beeldbank Urk] WHERE Omschrijving LIKE '%@name%;' `i first got an error with `RequestError: Must declare the scalar variable "@name".` and now i don't get anything and i think it's because the @ value is in ' ' quotes many you can help me with that

[2020-11-10 21:44] IanChokS commented on #1172
Maybe this [forum ](https://stackoverflow.com/questions/258757/escape-a-string-in-sql-server-so-that-it-is-safe-to-use-in-like-expression)can help you. An example they give is: `select * from table where myfield like '%' + @myString + '%' ESCAPE '\'`

[2020-11-12 05:04] lego-coder commented on #458
I am posting a full solution using callbacks for this issue.  I had the same problem and when looking at google i ended up here.

[code]

[2020-11-12 14:07] gautamsamal opened #1173 "ELOGIN despite setting up updated password."
I am using `node-mssql` to manage the db connections, however I have a weird requirement that sometimes the password gets updated and I have to reflect the same in the servers otherwise they end up with `ELOGIN` errors. So, basically I update the password in `config.password` of my connection pool.

While this has been working great all the times but yesterday I found a case where it threw `ELOGIN

[2020-11-12 15:39] IanChokS commented on #1173
Hi @gautamsamal , tedious itself doesn't implement connection pooling yet. If it is caused by connection pooling, it might best to raise this issue on the [node-mssql](https://github.com/tediousjs/node-mssql) side.

[2020-11-13 05:18] gautamsamal commented on #1173
@IanChokS true! It makes sense. Thanks.
I'll create the issue on their end. Just to be clear, it doesn't sound like anything to do with tedious, does it? I mean, if I change the user/password in config for a tedious connection, it will immediately use that in the next connection. Correct?

[2020-11-13 05:19] #1173 closed

[2020-11-13 11:41] ahmadmoayad opened #1174 "Arabic Character"
Hi,

I need to insert Arabic Characters  into some columns need to insert into SQL Server.
I used SQL 2019 with Tedious 9.2.1 and I start application by define connection, then add new request with below sample but after checking the result it's shown ???? insted of Arabic Character.
 `
function executeStatement1() {
request = new Request("insert into LookupCategories values (@catType, @Comment, @

[2020-11-13 19:30] IanChokS commented on #1174
Hi @ahmadmoayad, you need to use arabic collation. [See this stack overflow ](https://stackoverflow.com/questions/3560173/store-arabic-in-sql-database);
E.g.,
[code]

To see a list of Arabic collations use
[code]

[2020-11-13 19:37] ahmadmoayad commented on #1174
Hi @IanChokS ,

My tables already have Arabic collation and the column defined as NVARCHAR, my question if there is any option to pass N'العربية' with parameter in the code I mentioned in my question

I used Node with express

Thank you,

[2020-11-13 20:25] IanChokS commented on #1174
I got this to correctly insert arabic text in sql server:

[code]

[2020-11-13 20:29] #1174 closed

[2020-11-14 06:37] ahmadmoayad commented on #1174
Hi @IanChokS ,

This to update your code support and the solution is to use `` instead of '', also to save .js file with Unicode so it will support Arabic character

below
![arabic add using node js](https://user-images.githubusercontent.com/59396920/99141489-479dac00-2665-11eb-9bd3-729b95558d20.png)

[2020-11-17 13:03] salman-ud opened #1175 "Error "Specified ciphertext has an invalid authentication tag." after Always Encrypted key rotation."
Error "Specified ciphertext has an invalid authentication tag." after Always Encrypted key rotation.

[2020-11-17 18:00] IanChokS commented on #1175
Hi @salman-ud, can you provide a repro, the error stack, and what tedious version you're using?

[2020-11-19 15:18] carlosjrodriguezp commented on #1171
@IanChokS Hi Ian. Just a concern. Is there any estimate date when you guys believe this issue can get fixed and delivery? Thanks!

[2020-11-21 00:56] IanChokS commented on #1171
Hi yes, I'll try to get this fix merged asap, hopefully by the end of next week 🤞

[2020-11-24 22:42] IanChokS commented on #1171
@carlosjrodriguezp can you confirm if the changes I've proposed solves your issue?

[2020-11-25 16:46] carlosjrodriguezp commented on #1171
@IanChokS yes, the changes you proposed were implemented directly in my local environment and they worked.

[2020-11-26 22:29] mastodon0 opened #1179 "Support for Table-Valued Parameters in execSql"
Calling execSql with a TVP results in the error

Example code:

    var table = {
        schema: 'dbo',
        name: 'MyTVP',
        columns: [
            { name: 'Name', type: TYPES.VarChar, length: 50 },
            { name: 'Rating', type: TYPES.Int },
        ],
        rows: [['Foo', 1]]
    };

    var request = new Request('select * from @TVP', (err) => {
            if (err) {

[2020-11-28 04:00] rohit12sh opened #1182 "Azure AD with accessToken Connection lost - read ECONNRESET"
I am working on an App that is authenticating user using Azure AD, extracting his `accessToken` and then using this token to connect to the Azure SQL server using below setting.

But unfortunately, I am getting `ESOCKET "Connection lost - read ECONNRESET"` right away,

[code]

[2020-11-30 19:43] IanChokS commented on #1179
Thanks for raising this issue, I'll take a closer look at it soon!

[2020-12-01 19:33] IanChokS commented on #1182
hi @rohit12sh can you show a stack trace and what version of tedious you are using?

[2020-12-02 02:53] rohit12sh commented on #1182
@IanChokS
tedious: 9.2.1
Stack:

[code]

[2020-12-10 03:01] rohit12sh commented on #1182
Hi @lastonesky - any idea why `tedious` is not connecting using my Azure AD Token and `azure-active-directory-access-token` auth type option? I have added `trustServerCertificate: true` as well but no luck.

Same POC developed in Java using JDBC working fine using Azure AD token.

[2020-12-10 17:58] karlgo opened #1183 "404 Not Found - GET https://registry.npmjs.org/tedius - Not found"
I'm getting the following error when I go to install tedius using npm.

    npm ERR! code E404
    npm ERR! 404 Not Found - GET https://registry.npmjs.org/tedius - Not found
    npm ERR! 404
    npm ERR! 404  'tedius@*' is not in the npm registry.
    npm ERR! 404 You should bug the author to publish it (or use the name yourself!)

This is happing on Windows, macOS and Ubuntu.

npm version is 7.0.

[2020-12-10 18:25] IanChokS commented on #1183
Try `tedious` with an 'o'

[2020-12-10 18:25] #1183 closed

[2020-12-10 18:30] karlgo commented on #1183
Duh - sorry - thank you for being my eyes!!!

[2020-12-10 18:31] IanChokS commented on #1183
Yeah no worries :)

[2020-12-11 02:06] #1182 closed

[2020-12-11 02:07] rohit12sh commented on #1182
Issue is resolved now. Removing `packetSize: 8192` from my config made the connection successful

[2020-12-11 16:33] carlosjrodriguezp commented on #1171
@IanChokS Hi Ian, is there any update on this? I know the PR was created but don't know when it will be finally merged and released. Thanks!

[2020-12-11 20:06] IanChokS commented on #1171
Hi sorry I'm not able to merge because one of the core CI tests have been failing. I've just [created a PR](https://github.com/tediousjs/tedious/pull/1185) to update the CI test so hopefully the tests will start passing 🤞

[2020-12-11 20:23] IanChokS commented on #1182
Glad to hear you found the solution! Sorry for not being able to be of much help sooner 🙇

[2020-12-13 16:41] alonbhaim opened #1187 "Possible vulnerability in a axios dependency"
We using Snyk to scan our dependencies and look like there is an possible vulnerability at axios dependency of Server-Side Request Forgery (SSRF) - https://snyk.io/test/npm/mssql/6.2.3

[2020-12-13 20:56] #1187 closed

[2020-12-13 20:56] alonbhaim commented on #1187
Opened in the wrong repo

[2020-12-14 16:58] IanChokS commented on #1171
PR has been merged. Hope this helps!

[2020-12-14 16:58] #1171 closed

[2020-12-14 17:23] carlosjrodriguezp commented on #1171
Awesome, thanks for all the help and support!

[2020-12-17 19:17] fedecaccia commented on #799
FINALLY I solved the error. The script I was using each time I requested a new connection:
[code]

The script that solved the issue:
[code]

where pool2Connect needs to be defined initially, when starting the script:

[code]
Hope it helps

[2020-12-24 01:45] MasterOdin opened #1195 "DLL error on connecting to Latin1_General_BIN collation server"
When using tedious, I cannot connect to SQL Server using the `Latin1_General_BIN` collation created using the docker image that MS puts out. The server is created using the following command:

[code]

When attempting to connect, I get the following error:
[code]

with the following lines being emitted by sqlserver in its error log:

[code]

I can connect to and query the server just fine using the

[2020-12-24 10:41] arthurschreiber commented on #1195
I can reproduce this, even with the `mcr.microsoft.com/mssql/server:2019-latest` container. I'll try and see what those other libraries do differently.

@IanChokS can you reach out to the SQLServer on Linux folks and see if they have an idea what's going on here? 🙇‍♂️

[2020-12-25 00:26] IanChokS commented on #1195
@MasterOdin I was able to get a successful connection and query using:
docker version: `20.10.0, build 7287ab3`
mssql verision:  `mcr.microsoft.com/mssql/server:2017-latest`
node version: `v12.16.1`
tedious version: `9.2.1`
docker run command:
[code]
sql column collation: `Latin1_General_BIN `.

I'm not sure what's causing your issue, but you can try removing that docker image and re-downloading i

[2020-12-25 00:52] MasterOdin commented on #1195
@IanChokS, I'm confused to what you're getting at there. Your docker run command removes the `MSSQL_COLLATION` environment variable and so the server is set-up to use the default of `SQL_Latin1_General_CP1_CI_AS`. Sure, I can individually cast individual databases, tables, or columns to `Latin1_General_BIN` and tedious will then work fine, but as soon as I want the server itself in `Latin1_General

[2020-12-25 00:59] IanChokS commented on #1195
Oh yes my bad 🤦‍♂️ I missed the ` -e "MSSQL_COLLATION=Latin1_General_BIN"` in the run command, I'm seeing the issue as well

[2020-12-29 08:22] pjunlin opened #1196 "axios security issue in version 9.2.1"
It seems tedious already has latest version 9.2.3, which has fixed the security issue raised in https://snyk.io/test/npm/tedious/9.2.1
So when it is officially released? https://www.npmjs.com/package/tedious ?

[2020-12-29 10:58] arthurschreiber commented on #1196
Hey there! 👋🏻

Once a release is tagged on GitHub, it is pushed to npm but only the 'next' label is changed to point at the new release.

7 days later, that release is tagged with 'latest' and becomes widely available. This gives us a bit of time to fix any issues in case we accidentally break something.

You can already install the new version via 'tedious@next' or via 'tedious@9.2.3'.

I'll see

[2020-12-31 00:22] dl-eric opened #1197 "Add ORDER as a BulkLoad Option"
It would be really nice to have the BulkLoad option "ORDER" when doing bulk inserts. I'd imagine it's an easy couple-line change 😄

ORDER is described in the Microsoft Docs [here](https://docs.microsoft.com/en-us/sql/t-sql/statements/bulk-insert-transact-sql?view=sql-server-ver15) and [here](https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/ms177468(v=sql.105)).

I'm lookin

[2021-01-04 07:54] alferpal opened #1199 "Can't connect to Heimdall Data proxy"
Hello.

We're having some problems with tedious, namely, that when we try to connect to a MS SQL Server DB going through a Heimdall Data proxy, we get an ECONNRESET.

The connection directly to the DB works as expected

We're using:
  * Node: 14.15.x
  * tedious: 9.2.1
  * SQL Server: if I'm not mistaken, it's a 14.x

On the other hand, we can connect to that DB passing through Heimdall using [Mic

[2021-01-04 15:05] Chazza opened #1200 "[Q] Azure Active Directory Universal Support?"
Hi Contributors,

I'm looking to connect using my local Azure A.D. credentials, is this currently possible with Tedious? With SQL Server Management Studio it has the following option:
![image](https://user-images.githubusercontent.com/47271716/103548769-30797e80-4e9e-11eb-860f-5c13bf3bbe92.png)

Thanks.

[2021-01-04 15:11] arthurschreiber commented on #1200
@Chazza We don't have support for this built in, but it would be possible to add support for this. I think that the library we use for Azure AD authentication exposes methods for this authentication type.

I think we'd have to use the `interactive` method from here: https://github.com/Azure/ms-rest-nodeauth/blob/2ece38f40efeb50a4e2dd5dd887bab386cf808f4/lib/login.ts#L614-L618

Is this what you're l

[2021-01-04 15:13] Chazza commented on #1200
I'm, guessing this is when it opens a pop up for the user to enter credentials? If so, yes thats correct. When do you think this is able to be integrated, and yeah thats the only downside, how can this be gotten around? Any way perhaps to connect and store a session token. Would this work?

[2021-01-05 23:11] IanChokS commented on #1199
Thanks for raising this issue, we'll take a look into it soon!

[2021-01-06 10:17] alferpal commented on #1199
I also raised an issue in the extension's repo asking how they connect:

https://github.com/microsoft/vscode-mssql/issues/16924#issuecomment-754168389

Hope that helps

[2021-01-06 12:23] arthurschreiber commented on #1199
I think the extension uses the CLI tools to connect.

There must be some difference between the CLI and tedious when connecting, which is not an issue with SQL Server, but causes some problems with Heimdall.

I've never used Heimdall before. Is there a free version of it available that we could use to test against?

[2021-01-06 12:31] alferpal commented on #1199
I'm not sure as it's my first time using it as well. I'll try to find something and will let you know

[2021-01-06 19:48] IanChokS commented on #1195
OK I've posted help on the Microsoft forum: https://docs.microsoft.com/en-us/answers/questions/221376/dll-error-on-connecting-to-latin1-general-bin-coll.html

I'll keep this discussion updated if I hear anything back from their side!

[2021-01-07 07:07] alferpal commented on #1199
Turns out it was a problem on our heimdall configuration.

I'll close the issue, this client works fine.
Thank you for the time you put into this, and my apologies for opening an issue that in the end was not this clients fault.

[2021-01-07 07:07] #1199 closed

[2021-01-07 18:08] IanChokS commented on #1199
Glad to hear you figured out the issue!

[2021-01-07 23:32] andrewsensus opened #1201 "Possible EventEmitter memory leak"
I think I'm seeing a memory leak in tedious, although I don't have a working example that is independent of my much larger application. My use pattern is to create a request object, prepare a statement, then run many queries using that prepared statement. I find that if I occasionally reset the connection, throw away the request object, and create a new one, my leak goes away.

I noticed this warn

[2021-01-07 23:46] IanChokS commented on #1201
Hi @andrewsensus , what version of tedious are you using? I think we've addressed this problem before but I'm not 100% sure.

[2021-01-07 23:50] andrewsensus commented on #1201
Hi @IanChokS I just realized I was running some of my tests against 9.2.1 and some against 9.2.3. Prior to that I was on 2-something.

[2021-01-08 00:00] arthurschreiber commented on #1201
@andrewsensus Prepared statements reuse the same `Request`s, if I remember correctly? 🤔 If that's true, you're right, the `cancel` handlers are never cleared out and will accumulate over time.

Thank you for reporting this!

I can't estimate how involved a fix would be right now. I took a quick look, and I think we'll have to unsubscribe from the 'cancel' event in at least these two cases:
* when

[2021-01-08 00:01] arthurschreiber commented on #1201
For normal requests, I don't think this is an issue - as soon as the `Request` object is no longer referenced, it (and its callbacks) will be cleaned up.

[2021-01-08 00:08] andrewsensus commented on #1201
@arthurschreiber Yes, I'm re-using the same `Request` for the many executions of the prepared statement.

Also, I just reran my test-case against 9.2.3. I can confirm that without introducing extra connection resets I'm seeing memory grow. OTOH, if I periodically reset the connection (and thus create a new `Reqeust` and re-prepare the statement), I see the EventEmitter warning repeatedly but memor

[2021-01-13 22:14] #876 closed

[2021-01-19 13:31] arpitgupta2405 opened #1206 "RangeError: Maximum call stack size exceeded"
Hi,

I'm using tedious npm module to connect with MSSQL. I have a customer facing application using which the customer can query his/her MSSQL databases.

I'm getting the below errors in my server log and server gets restarted every time this error happens:
**Callstack 1**
RangeError: Maximum call stack size exceeded at validateNumber (internal/validators.js:115:24) at Buffer.readUInt16LE (interna

[2021-01-19 13:44] arthurschreiber commented on #1206
The most likely cause is that the response rows to the query are so large that parsing it completely blows up the stack.

You could try decreasing the `packetSize` option as a first step. Actually fixing this in tedious will be a bit more involved. The problem is that parsing the response works via heavily nested callback chains, which are not called asynchronously (but synchronously) for as long

[2021-01-21 16:52] arpitgupta2405 commented on #1206
@arthurschreiber , thanks for the prompt reply.

We are planning for the tedious upgrade in the next coming months.

Meanwhile, I tried the fix that you suggested and it doesn't seem to work. Also please note, that packetSize is something that the end user wants to configure, so is there any way that we can mitigate this issue or can catch this uncaughtException so that our server doesn't restart

[2021-01-21 17:18] arthurschreiber commented on #1206
@arpitgupta2405 Thanks for trying. I will try to reproduce this issue and then look for a proper fix! 🙇‍♂️

[2021-01-21 17:21] arthurschreiber commented on #1206
@arpitgupta2405 In the mean time, could you try the same fix at this code location: https://github.com/tediousjs/tedious/blob/84afe4a86008fd10acf49e2b3fa068791b117420/src/token/colmetadata-token-parser.ts#L99

I just noticed that the stack traces you posted above point to `colmetadata-token-parser.ts`.

[2021-01-22 05:57] arpitgupta2405 commented on #1206
@arthurschreiber I tried the fix and got the below error:

Uncaught Error: Unknown type: 0
      at Parser.parseTokens (node_modules/tedious/lib/token/stream-parser.js:133:28)
      at Parser._transform (node_modules/tedious/lib/token/stream-parser.js:109:12)
      at Parser.Transform._read (node_modules/tedious/node_modules/readable-stream/lib/_stream_transform.js:177:10)
      at Parser.Transfor

[2021-01-22 05:58] arpitgupta2405 commented on #1206
@arthurschreiber , please note that I trying to do a select in a table having ~500 columns (all of varchar type)

[2021-01-23 15:05] #1158 closed

[2021-01-24 16:31] #782 closed

[2021-01-26 15:18] danforejtek commented on #221
I am having same problem. I have test and prod DB servers on test everything works fine but on prod I get this error `Logon failed for login 'awRepossessedCars' due to trigger execution.` while trying to connect to DB.
Database properties are exactly the same.

[2021-01-26 15:56] RobertSmart opened #1212 "Request error hook"
Hi,

I have a task where I need to insert data into a table and then nested child data into a separate table, with an incremental index generated in code.

So I have created a function that creates a request for each data row, and then passes the array of requests through to another function that creates a connection and then iterates the array executing the requests in order. However, I can't see

[2021-01-26 19:18] cjorge commented on #300
There can be two reasons for this issue to happen, both most likely linked to cloud based SQL.

The most likely reason is to implement code for a persistent connection in your database connection code. Probably something similar to:

`if (connPoolPromise) return connPoolPromise;`

You persist the promise but the database, if the connection (by any reason) has been rejected, cannot connect it will

[2021-01-29 21:55] IanChokS commented on #1212
I think this might be due to having too many event's being registered each time you create a new Request object, which if you have > 10 (by default) request objects, the event emitter isn't registering the events.

Perhaps it might be best to instead  have your `runRequest` function take in an array of SQL statements, and create the Request Object inside the function like so:

[code]

This way, if

[2021-01-31 15:37] sajidsheik opened #1216 "CONNECTION.CLOSE()"
what is the proper way to close connection connection.close(); when the reload the api again the connection.connect() will throw an exception saying request can be made only in logged in state not in
ConnectionError: `.connect` can not be called on a Connection in `Final` state.

[2021-02-01 16:36] IanChokS commented on #1216
Do you have a repro case we can see? This might be due to connection.close() happening in an async manner. You can try to capture the [connection.on('end') ](https://tediousjs.github.io/tedious/api-connection.html#event_end)event before proceding to open a new connection

[2021-02-03 22:36] IanChokS commented on #1212
Also there's not 'error' event for the Request

[2021-02-03 22:40] RobertSmart commented on #1212
Are you sure? It's in the documentation.

[2021-02-07 17:34] malarcherc opened #1217 "Nothing happens when trying to connect to Database"
Literally copied and pasted the first example of connecting to the database and put in my crededntials but the program does not provide any output either on console logging a success and no error output either. No idea how to fix or even approach this .

[2021-02-08 16:58] IanChokS commented on #1217
Hi @malarcherc, can you provide the script you attempted to run? It might be because the server IP is not found in the config, in which case you can try using `"server": "localhost"` instead.

[2021-02-08 17:28] arthurschreiber commented on #1217
The other problem I could think of is that you're missing to call `.connect()` on the created `Connection` object? This has recently change in the API, so whatever example you might be using might be outdated?

[2021-02-08 17:30] arthurschreiber commented on #1212
@RobertSmart You're right, but it's documented poorly. The only time a `error` event is emitted on `Request` instances is if an error is encountered when a `Request` is prepared via `Connection.prepare`. 😞

[2021-02-09 10:13] arpitgupta2405 commented on #1206
@arthurschreiber , any update on this?

[2021-02-10 15:13] rendmath commented on #415
Has the situation changed since then ? Or has that feature been temporarily lost in the refactor ?

[2021-02-10 16:25] jon-shipley opened #1218 "UniqueIdentifier parameter is not validated, terminates node"
# UUID parameters are not validated which can lead to unexpected behaviour, including terminating node.
## Tedious: 6.7.0

[code]
results in the following output:
[code]

The error causes node to terminate.

[2021-02-10 17:35] RobertSmart commented on #1212
The issue I have with passing in the SQL directly is that I have parameters, So can't build the queries first without assigning the parameters to the request object.

How can I get an error if the query does not run? for instance if I have a null value or something and the sql query is rejected, how can I catch that, and pass that back into my logic to handle the error. would that get picked up by

[2021-02-11 22:30] #1146 closed

[2021-02-14 20:48] zebtrijay opened #1220 "RequestError: Connection closed before request completed."
So, I have been trying to resolve this error by increasing the packetSize to 16383 which is claimed to be the ideal size w/o interrupting the performance, but certainly cannot upgrade the size and still returns the value as "maximumLength":4000. Can you please let me know where can I change default size?

[2021-02-16 16:45] IanChokS commented on #1218
Hi @jon-shipley, this error is fixed in the latest version of tedious (11.0.4). Is it possible for you to upgrade?

[2021-02-16 17:10] jon-shipley commented on #1218
Hi @IanChokS

Not at the moment.
Our dependency is actually `node-mssql`, and the latest stable version of that is `v6.3.1` which uses tedious `v6.7.0`.

[2021-02-17 09:37] jokarl commented on #1217
Thank you so much, this was driving me insane. No examples or documentation I've read accounts for this, not even the [linked documentation](https://tediousjs.github.io/tedious/getting-started.html).

[2021-02-19 00:00] IanChokS commented on #1220
Hi @zebtrijay , do you have an repro example?

[2021-02-19 05:34] mathew-pigram commented on #1144
@panbhatt - did you get this to work?  I'm facing the same problem with tokens expiring.
Any guidance you could provide would be much appreciated.

[2021-02-19 05:51] panbhatt commented on #1144
Hey @mathew-pigram  : There is no way you can achieve it as of now via using this driver. I have talked to the Microsoft guys and got an answer to use another method which uses Service Principal assigned to the App Service. That's how i had overcome this issue.  This issue is not on the focus of MS team as of now.

[2021-02-19 06:10] mathew-pigram commented on #1144
@panbhatt  Thanks for the quick reply.

I assume your connection now looks similar to this?

`authentication: {
    type: 'azure-active-directory-msi-app-service',
}`

Did you encounter any issues when the app is not executing inside an App Service - e.g. when developing on your PC?

[2021-02-19 06:24] panbhatt commented on #1144
Yes, that's correct. I used that one. In our organization we are not being allowed to test this on our PC, we are working against SQL Server on our local PC, but in order to test this we deploy our APP to Azure and use the kudu console to make the changes. but this indeed worked.

[2021-02-19 06:33] mathew-pigram commented on #1144
@panbhatt  Thanks for your help, much appreciated.

[2021-02-20 00:38] dkisselev commented on #1217
Strongly echoing this feedback - the getting started doc misses the newly-required call to .connect and it's tough to spot the difference in the supplied examples if you're already looking at an outdated post from somebody's blog. It's tough to spot because there is no indication or output that something is wrong - the code just simply does nothing.

[2021-02-21 21:08] #1201 closed

[2021-02-23 01:30] bluefire2121 commented on #319
Five and a half years later and the asynchronous synchronous behavior of streams is still not fixed. :-(

[2021-02-23 09:51] arpitgupta2405 commented on #1206
@arthurschreiber , gentle reminder.

[2021-02-24 13:11] qgh-lpereira opened #1223 "Powershell with MFA"
Hello,
I'm trying to use MFA ID to auto login to O365/Azure but what tried thusfar is not working.
[connecto365-Encrypted .txt](https://github.com/tediousjs/tedious/files/6036140/connecto365-Encrypted.txt)

[2021-02-24 13:16] IanChokS commented on #1223
Hi @qgh-lpereira , I'm a bit confused on what exactly you are trying to do. It looks like you're trying to use `.NET` instead of `tedious`? If so you can try to raise an issue on their [support page](https://dotnet.microsoft.com/platform/support)

[2021-02-24 13:35] qgh-lpereira commented on #1223
Thanks for the information.

[2021-02-24 13:37] #1223 closed

[2021-02-24 15:18] atmabodhh opened #1224 "Connecting to Azure SQL db using AD authentication"
I am following link https://docs.microsoft.com/en-us/sql/connect/node-js/step-3-proof-of-concept-connecting-to-sql-using-node-js?view=sql-server-ver15 to connect SQL database.  How can connect to Azure SQL db with AD userid password using tedious library.
Getting error “Security token could not be authenticated or authorized” while using mssql library when pass AD userid and password. Only working

[2021-02-24 16:30] ashic opened #1225 "Azure AD Access Token... how to pass to config?"
It seems like access tokens from the @azure/identity library can't be used as is.

I have the following code:

[code]

This always fails with "Login failed for user ''".

I have the following python code which does exactly the same:
[code]

This works perfectly. I've also noticed the following:

1. If I take the access token from the node version (printed by console.log) and pass it to the python

[2021-02-24 22:08] ashic commented on #1225
Doh... I was using node-mssql which is the abandoned 0.0.1 library. Switching to mssql (v6.3.1) uses a recent version of tedious, and the access token works directly.

[2021-02-24 22:08] #1225 closed

[2021-02-27 17:06] ashic opened #1228 "Azure App + User Assigned Identity + Azure SQL woes"
I'm using node-mssql 6.3.1, which uses tedious 6.7.0, which in turn uses @azure/ms-rest-nodeauth 3.0.6 (i.e. it's not a v2 of ms-rest-nodeauth issue). Some details about my issue:

1. I have a node azure function with a user assigned identity (we'll call it uid1). The uid1 is given permissions to access some storage blob and db owner (started off with limited, but trying to get it working) on an A

[2021-02-27 17:32] #1224 closed

[2021-03-02 02:51] ashic commented on #1228
Got some updates

1. If I make the user assigned id part of a group that has AD Admin rights to the database, then the access token based approach works. I'm guessing this is because the AD Admin doesn't require a sql user inside the database to function. However, I  had previously created a sql user for the corresponding user assigned identity (as mentioned), but didn't get any joy. Any idea how

[2021-03-02 21:50] MichaelSun90 commented on #1228
Hi @ashic, I found an older issue that could be related to your issue: #1146. The root cause for this is on ms-rest-nodeauth, and they had made a fix for this. On the tedious side, Ian has made a PR that embedded their fix and this PR has been merged and released in tedious 9.2.2. You can check the detail in the #1146 comment thread. Sadly, node-mssql has not been actively maintaining for a while,

[2021-03-03 17:06] KAMAELUA commented on #163
Is this thing is not available yet?

[2021-03-04 14:57] jeremy-w commented on #1143
This is a blocker for using tedious (via knex 0.95.0+) for me as well. UTF-8 is as much a default choice for encoding for me as UTC is for timezone.

@aklietz Re: the magic 'Use UTF-8' flag, I don't know about update/insert in particular, but I had a peek at the TDS v30 2020-10-01 doc, and at the session-establishment level, the LOGIN7 stream indeed has a UTF8_SUPPORT FeatureEx introduced in TDS 7

[2021-03-06 10:05] vishvajitgirase opened #1234 "Error: No event 'socketConnect' in state 'SentPrelogin'"
I am trying to connect mssql database with node.js using knex but i am facing issue
Error: No event 'socketConnect' in state 'SentPrelogin'
    at Connection.dispatchEvent (C:\Users\temp\Documents\PRactice\node_modules\tedious\lib\connection.js:1281:26)
    at Connection.socketConnect (C:\Users\temp\Documents\PRactice\node_modules\tedious\lib\connection.js:1303:10)
    at C:\Users\temp\Documents\P

[2021-03-06 12:26] arthurschreiber commented on #1234
Which version of `tedious` are you using via `knex`? You should be able to see the exact version via the `package-lock.json` file.

[2021-03-06 12:28] arthurschreiber commented on #1220
It sounds like you're mixing up two different things? `nvarchar` columns are limited to 4000 characters, unless you use `nvarchar(max)`. But this has nothing to do with the `packetSize` option.

Can you provide an example that reproduces the error you're running into?

[2021-03-06 12:30] arthurschreiber commented on #1218
@jon-shipley Is there a specific reason you're using `node-mssql` instead of using `tedious` directly? I'm not saying there is anything wrong with `node-mssql`, I'm just trying to understand if we're missing any crucial functionality.

`tedious@v6.x` is pretty old, and I'm not very keen on providing any patch releases for a version that is essentially not maintained/supported. I hope that makes se

[2021-03-06 12:55] vishvajitgirase commented on #1234
tedious version : - 6.7.0

[2021-03-09 06:27] #1220 closed

[2021-03-09 13:34] jeremy-w commented on #1234
this same issue bit me on upgrade. (https://github.com/knex/knex/issues/4337#issuecomment-791034995) try nuking node_modules and reinstalling.

the tedious version you have installed predates the switch to requiring explicit connect(), while knex expects the latter. (and knex requires a version of tedious that agrees with it in its peer dep version spec, and yet somehow we both wound up with outda

[2021-03-10 04:25] vishvajitgirase commented on #1234
It worked thank you for help.

[2021-03-10 04:25] #1234 closed

[2021-03-10 15:04] alspohn commented on #890
My credentials are rejected using either config.  My current attempt looks like this.

[code]

[2021-03-14 14:23] burakkarakus commented on #458
This solution works but is it a valid implementation? How feasible is that, considering there might be hundreds of thousands of inserts/selects and creating a connection for each of them? Thanks for the solution btw, I am just trying to understand if it is a viable solution. Especially if we are using an Azure Function?

[2021-03-15 11:58] Komi-wbg opened #1237 "[DEP0123] DeprecationWarning: Setting the TLS ServerName to an IP address is not permitted by RFC 6066"
I am using tedious 6.6.2 in one of my projects, it is a GCP cloud function environment, with nodejs 10, and i am getting a warning related to tedious:
`"severity":"ERROR","message":"(node:6720) [DEP0123] DeprecationWarning: Setting the TLS ServerName to an IP address is not permitted by RFC 6066. This will be ignored in a future version.\n    at Object.connect (_tls_wrap.js:1619:15)\n    at Messag

[2021-03-15 19:20] mcgrewsm opened #1238 "Deprecated dependency libraries: request, adal, ms-rest-nodeauth"
Tedious is dependent on these libraries that are no longer being maintained:

"@azure/ms-rest-nodeauth": "^3.0.6",
"adal-node": "^0.2.1"

ms-rest-node-auth is deprecated and uses an old version of adal-node, 0.1.28. That 0.1.28 version of adal-node uses the deprecated request library, which is a flagged security vulnerability.

The 0.2.x versions of adal-node use axios instead of request, which is

[2021-03-15 20:42] IanChokS commented on #1237
Is it possible to update to the latest tedious version `11.0.6`?

[2021-03-16 17:00] sdtacoma commented on #1217
Can somebody post a code snippet of where the `.connect()` goes?

[2021-03-16 17:13] jokarl commented on #1217
On the connection, `new Connection(config).connect()`

[2021-03-16 17:14] dkisselev commented on #1217
Or as per the minimal example, it can go on its own line after you've configured all the connection parameters: https://github.com/tediousjs/tedious/blob/master/examples/minimal.js#L29

[2021-03-16 17:24] IanChokS commented on #1217
@jokarl `node-mssql` uses an old outdated version of `tedious` so I recommend using the latest `tedious (11.0.6)` if you can.
I apologize for the documentation not communicating the new API change, but I'll update that today!
@dkisselev Thanks for pointing out that the changes are visible on the examples page for now!

[2021-03-16 18:05] IanChokS commented on #1217
The [documentation has been updated](https://tediousjs.github.io/tedious/getting-started.html)! I hope this clarifies the API a bit better. Sorry for the confusion earlier!

[2021-03-16 18:52] sdtacoma opened #1239 "HELP: Unable to connect to SQL Server running locally"
I am at a loss trying to get connected to a local SQL 2019 Server.  Below are my settings and what I have tried / turned on. I can connect to the DB through SMSS via locahost.

What am I doing wrong?

- TCP/IP is enabled
- SQL Server and Windows Authentication mode is on
- TCP Port 1433 and TCP Dynamic Port is Blank
- Named Pipes is enabled
- SQL Server is running
- SQL Browser is running
- SQL Se

[2021-03-16 18:57] IanChokS commented on #1239
Can you try explicitly setting the TCP port to be 1433?

[2021-03-16 18:59] sdtacoma commented on #1239
@IanChokS

I have done that...
![image](https://user-images.githubusercontent.com/18173141/111364871-063afe80-864f-11eb-862e-736bc1581a66.png)

[2021-03-16 19:12] IanChokS commented on #1239
Do you have another service running in the background? Perhaps `localhost` is conflicting with another service. Try explicitly connecting to the server IP address

[2021-03-16 19:16] sdtacoma commented on #1239
@IanChokS

Different error when I specify an IP.

ConnectionError: Failed to connect to 192.168.1.42:1433 in 15000ms

[2021-03-16 21:13] arthurschreiber commented on #1239
@sdtacoma Based on what you describe, this should just work. 🤔

Have you tried not specifying the port and specifying the instancename instead to connect via a SQL server browser lookup? 🤔

[2021-03-16 21:20] sdtacoma commented on #1239
@arthurschreiber

I just tried it and below is the error that is generated. Including the full error in case there is something else going on.

          connection.on('connect', (err) => {
		if (err) {
		  console.log('Connection Failed', err);
		  throw err; // line 33
           }

![image](https://user-images.githubusercontent.com/18173141/111381049-68512f00-8662-11eb-91dd-f6d4a820b812.png)

[2021-03-16 21:24] sdtacoma commented on #1239
@arthurschreiber

When I specify the instance name I get the following error.

[code]
![image](https://user-images.githubusercontent.com/18173141/111381561-19f06000-8663-11eb-8b5d-08c89693334f.png)

[2021-03-16 22:23] IanChokS commented on #1239
What version of tedious are you running?

[2021-03-16 22:33] sdtacoma commented on #1239
@IanChokS  "tedious": "^11.0.6"

[2021-03-16 22:35] sdtacoma commented on #1239
Does it have anything to do with the SQL Server version I am running? It is 2019.

[2021-03-16 23:16] IanChokS commented on #1239
I was able to connect and run queries on the SQL Server 2019-latest in a docker image.

[2021-03-17 00:00] sdtacoma commented on #1239
Hi @IanChokS

That worked and I got the same output as you did. What does that tell us exactly?

42
hello world
1 rows returned
DONE!

[2021-03-17 00:07] IanChokS commented on #1239
Np! Glad to hear it worked. I think the original problem was probably something to do with your SQL Server set up 🤷‍♂️ Perhaps try reinstalling again. Are you planning on using the docker instance instead? If so I can close this issue.

[2021-03-17 00:16] sdtacoma commented on #1239
I can even connect to the docker instance through SMSS. That's great!

Yes, close the issue I will use the docker image. Thank you for all of your help and guidance.

[2021-03-17 00:17] #1239 closed

[2021-03-17 00:19] IanChokS commented on #1239
Btw I would recommend looking into setting up [volume mounts and database backups ](https://www.darrinbishop.com/blog/2021/02/step-by-step-win10-and-sql-server-with-docker-volumes/)with docker, so that if the docker instance stops or needs to be restarted, you won't lose your data

[2021-03-17 17:07] IanChokS commented on #1238
Thanks for pointing this out! We were actually looking into migrating to [@azure/identity](https://www.npmjs.com/package/@azure/identity) in replace of [@azure/ms-rest-nodeauth ](https://www.npmjs.com/package/@azure/ms-rest-nodeauth), which fortunately uses the new [@azure/msal-node](https://www.npmjs.com/package/@azure/identity) dependency.

[2021-03-17 17:38] mcgrewsm commented on #1238
Hi, it is good news that there seems to be another solution to this problem. I am not partial to one library or the other, as long as there are no vulnerabilities in the tree.

[2021-03-17 22:42] arthurschreiber commented on #319
@bluefire2121 I think https://github.com/tediousjs/tedious/pull/1240 will fix this. Five and a half years later. 😬

[2021-03-17 23:31] arthurschreiber commented on #1206
@arpitgupta2405 @IanChokS and I opened https://github.com/tediousjs/tedious/pull/1240, which I think should fix the issue you've been running into. Would you mind checking that out and see if that fixes your problem? 🙇‍♂️

[2021-03-17 23:32] arthurschreiber commented on #839
@caskeychr I know it has been quite a while ago when you ran into this issue, but @IanChokS and I opened #1240, which I think should fix tthis. Would you mind checking that out and see if that fixes your problem? 🙇‍♂️

[2021-03-21 12:38] funkydev commented on #1144
Regarding all discussions, I'm on a way to implement token generator functionality. It would allow removing deprecated `@azure/ms-rest-nodeauth` package from tedious (that would be a breaking change, mentioned in https://github.com/tediousjs/tedious/pull/939).

But instead of implementing `@azure/identity` dependency, users would be allowed to implement retrieving tokens as they want, without modi

[2021-03-22 12:51] pawelusfr commented on #1237
@IanChokS I'm getting the same error on 11.0.6

[2021-03-22 13:54] pawelusfr commented on #1237
Looks like `servername` is being set when calling `tls.connect` even though I've set an IP address as server address.

[2021-03-23 21:39] IanChokS commented on #1237
I think the same issue has risen on the `mssql` library which uses `tedious` under the hood. According[ the last comment](https://github.com/tediousjs/node-mssql/issues/884), it could be "a universal issue with cloud DB service providers with SSL connections, and not a problem with this library. Would recommend investigating configuration options on the cloud DB service provider."

[2021-03-23 21:57] IanChokS commented on #1237
I think I found the official explanation from  [RFC 6066](https://tools.ietf.org/html/rfc6066), which states:

[code]

Sorry you're running into this issue, but I don't think this is an error in `tedious` driver as I've also seen other people post this same error warning when connecting to other databases like MongoDB. I'm not sure how to solve this issue, but I hope I provided some helpful links

[2021-03-23 21:57] #1237 closed

[2021-03-25 09:40] #839 closed

[2021-03-25 09:40] #1206 closed

[2021-03-25 19:19] arthurschreiber commented on #319
We just released `tedious@11.0.7` to the `tedious@next` release channel. We'd be happy to hear back from you if this fixes the issue you're describing here.

If no issues come up, this will be promoted to the `tedious@latest` release channel automatically in a week.

[2021-03-25 19:19] #319 closed

[2021-03-25 19:19] arthurschreiber commented on #1206
We just released `tedious@11.0.7` to the `tedious@next` release channel. We'd be happy to hear back from you if this fixes the issue you're describing here.

If no issues come up, this will be promoted to the `tedious@latest` release channel automatically in a week.

[2021-03-25 19:20] arthurschreiber commented on #839
We just released `tedious@11.0.7` to the `tedious@next` release channel. We'd be happy to hear back from you if this fixes the issue you're describing here.

If no issues come up, this will be promoted to the `tedious@latest` release channel automatically in a week.

[2021-03-26 21:29] norogoth commented on #377
I am getting
`Error: No event 'socketConnect' in state 'SentPrelogin'`
for
[code]

[2021-04-02 11:20] MertcanYuzer commented on #248
Any updates for this?

[2021-04-04 16:47] noid2 commented on #978
Applying  map-reduce function in returned rows:

[code]

[2021-04-07 04:32] ctan66 commented on #1079
how to connect with custom port no instead of the 1433???

[2021-04-08 17:26] IanChokS commented on #1079
Hi @ctan66,

You can specify the port number in the configuration options like so:

[code]

You can find more configuration options in our [documentation page](https://tediousjs.github.io/tedious/api-connection.html). Hope this helps!

[2021-04-12 13:32] heychazza commented on #415
I'd love to know as well!

[2021-04-22 18:56] tracker1 opened #1246 "Deno Compatability"
Just curious if there's been any consideration or research done to what would be needed to make this library work for Deno.

There's a stack overflow question[1] regarding this, that seems to be related to missing node crypto shims.  Not sure if this is even realistically approachable currently, but would be cool if it were.

Mainly looking because I thought it would be nice if nessie[2] could sup

[2021-04-22 18:56] tracker1 commented on #1246
Aside, I've been doing a simple project, with version scripts via Node.js for database versions/migrarions, but being able to roll a standalone executable for this would be a really nice feature for me, that deno readily supports.

[2021-04-23 17:08] brsanthu opened #1248 "UnhandledRejection error: The database '<name>' has reached its size quota."
We are getting this error when trying to insert some data and db storage limit reached. In such cases, the insert call should project reject and not miss out the underlying server error. We noticed that this happens quite a bit and errors are not properly propagated.

[code]

[2021-04-26 18:17] MichaelSun90 commented on #1248
Hi @brsanthu, what is the current behavior when the insert data reaches its size quota? From what you showed here, seems that the server error that you expected has been swallowed?
One thing I noticed is that you are using mssql on top of the tedious drivers. The mssql project has not been actively maintained for a well, so it may have some problems and it is still using a pretty old version of Te

[2021-04-26 19:53] brsanthu commented on #1248
@MichaelSun90 thank you for your response. We are using https://github.com/tediousjs/node-mssql which is well maintained looks like.

We use that library to get benefits of connection pool. If we have to remove node-mssql, how do we connection pool tedious driver?

[2021-04-26 20:04] MichaelSun90 commented on #1248
Hi @brsanthu, Sorry that my information is maybe outdated, and thank you for letting me know that the owner for mssql decides to start to maintain it again. We were even has a discussion within the team to take over maintenance of mssql.

As for the issue, if you are using connection pooling, then use tedious by itself is out of the picture. However, you can still help me to try your repo case wit

[2021-04-27 17:18] IanChokS commented on #1246
I don't think we've ever considered providing support for Deno at the moment. If there's a lot of interest in the future, then perhaps? 🤷‍♂️

[2021-04-27 17:51] v1d3rm3 opened #1249 "UTC problem and One Day Off"
Hello!

**In node-mssql (6.3.1) / Tedious (6.7.0)**:

I'm having problems with not using utc in driver: `setUTC = false`.
If the hour of the date is anything is between `00:00:00 - 00:0:27`, than, in database, it subtracts one day (??????) of the Date.

**For example:**

Using `new Date(2021, 4, 27, 0, 0, 27)` to generate the Date (`2021-05-27T03:00:27.000Z`) (in backend) gives me `2021-05-26 00:0

[2021-04-27 17:58] IanChokS commented on #1249
HI @v1d3rm3, Just curious as to why you're using `node-mssql` and not `tedious` directly? Also I'm not sure if `typeorm` works with `tedious` itself, but if not, you're probably best raising this issue on [node-mssql's](https://github.com/tediousjs/node-mssql#readme) repo directly as that is a separate library. Hopefully they can provide support for `typeorm` in their latest driver version. Since

[2021-04-27 18:03] v1d3rm3 commented on #1249
Is `tedious` replacing `node-mssql`? It's just a reproduction of problem, i use here `node-mssql` because `typeorm` uses `node-mssql` and not `tedious` directly.

I think, like other issues, it's not a node-mssql problem, but a tedious problem, or not? How works long support here? There isn't support anymore for old versions of tedious to do a hotfix?

[2021-04-27 18:56] arthurschreiber commented on #1249
We don't generally backport fixes to old versions, because that's a huge maintenance overhead and we're basically just two people working on `tedious` right now. How do you feel about this?

A new version of `node-mysql` is in the works that updates to the latest version of `tedious`, so that might fix your issue soon? 🙇‍♂️

[2021-04-27 22:38] v1d3rm3 commented on #1249
I understand the context, @arthurschreiber.
Thanks!

[2021-04-27 22:38] #1249 closed

[2021-04-27 23:32] v1d3rm3 commented on #1249
@arthurschreiber @IanChokS i'm receiving this error, but i can't discover the origin, it's from tedious? I'm using the 11v.

[code]

Any tips?

[2021-04-28 10:59] v1d3rm3 commented on #1249
With a little coding, i could make a reproduction of the problem.

[code]

In this line ``req.addParameter(0 as any, TYPES.VarChar, `%victor%`);``, i'm passing a number, and receive the error:

[code]
I think old versions of this driver accept numbers, not only strings, as param of `addParameter` (?), and now, it not accept anymore. It's a bug, or you'll not offer backward compatibility in this ca

[2021-04-28 11:00] v1d3rm3 commented on #1249
With a little coding, i could make a reproduction of the problem.

[code]

In this line ``req.addParameter(0 as any, TYPES.VarChar, `%victor%`);``, i'm passing a number, and receive the error:

[code]
I think old versions of this driver accept numbers, not only strings, as param of `addParameter` (?), and now, it not accept anymore. It's a bug, or you'll not offer backward compatibility in this ca

[2021-04-28 14:04] kagedevelopment opened #1251 "Unsupported Protocol Error"
I am seeing the below error when trying to connect to a local sql server database using tedious. I have tried both using the IP address and localhost and it won't connect. TCP/IP is enabled for MSSQLSERVER in sql server configuration manager. I also verified that sql server browser is also running.

Error:

ConnectionError: Failed to connect to 127.0.0.1:1433 - 22996:error:1425F102:SSL routines:ss

[2021-04-28 15:50] kerby82 opened #1252 "Automatically try to reconnect if error in connection"
I have this code:
[code]
I want to try reconnect if there is an error in the connection. Intercepting the end event and trying to reconnect I get the following error:

`ConnectionError: `.connect` can not be called on a Connection in `Final` state.`

[2021-04-28 18:07] IanChokS commented on #1249
` req.addParameter(0 as any, TYPES.VarChar, `%victor%`);`  The param type states `VarChar` which expects a string. If you want to pass a number, you might have to change `TYPES.VarChar` to `TYPES.Int` or something of a number type.

[2021-04-28 21:36] v1d3rm3 commented on #1249
@IanChokS, sorry, i think i don't understand. Second argument refers to type of value or type of name of parameter.

What i want to say is that in older versions, the name of the parameter (first param of addParameter function -  [number] ``0 as any``)could be a `number`, for example? Or always the name of the parameter was a string?

Because in older version of mssql, at least, i could pass a num

[2021-04-29 20:34] kagedevelopment commented on #1251
$ npm tedious -v
6.14.8

[2021-04-29 20:37] kagedevelopment commented on #1251
I changed the server based on what I saw on Microsofts website and I'm now getting the error failed to login as user 'redacted'

[code]

[2021-04-29 21:37] IanChokS commented on #1252
When the connection ends it's put in a `FINAL` state which cannot make a new connection. You can try two things:
1. Make a new connection
[code]
Or 2. Transition the existing connection state back to its `INITIALIZED` state:
[code]

[2021-04-29 21:46] IanChokS commented on #1251
Are you able to login using the latest version of tedious?

[2021-04-29 21:56] kagedevelopment commented on #1251
I tried the commands npm install tedious@11.0.8 and npm install tedious@latest and neither of them updated the version when i run the command npm tedious -v I still get 6.14.8

[2021-04-29 21:58] IanChokS commented on #1251
the latest version is 11.0.7. Try running the commands: `npm uninstall tedious` then `npm i tedious`. That should install the latest one

[2021-04-30 13:03] kagedevelopment commented on #1251
I am using version 11.0.7 now and I am still seeing the same error. I have verified that TCP/IP is enabled for MSSQLSERVER, SQL Server Browser is running and SQL Server agent is running. I am able to log into SSMS just fine using the credentials I am using in my code. Any idea what the issue is? I have seen people use just localhost or the IP Address for their connection. Why does mine only get to

[2021-04-30 21:42] IanChokS commented on #1251
What sql server version are you using?

[2021-04-30 21:43] kagedevelopment commented on #1251
SQL Server Management Studio						15.0.18206.0
Microsoft Analysis Services Client Tools						15.0.1567.0
Microsoft Data Access Components (MDAC)						6.3.9600.17415
Microsoft MSXML						3.0 5.0 6.0
Microsoft Internet Explorer						9.11.9600.19963
Microsoft .NET Framework						4.0.30319.42000
Operating System						6.3.9600

[2021-04-30 21:47] IanChokS commented on #1251
I mean what[ version of the database](https://sqlserverbuilds.blogspot.com/) are you using? You can [follow these steps](https://sqlserverbuilds.blogspot.com/2019/01/how-do-i-find-sql-server-version.html) to get the exact version

[2021-04-30 21:48] kagedevelopment commented on #1251
12.0.2269.0

[2021-04-30 21:56] kagedevelopment commented on #1251
I'm not going to be able to dig into this until Monday. I will let you know the results then. Thank you!

[2021-05-03 19:26] kagedevelopment commented on #1251
I have a ticket open with Internal IT to update this on our server. I will let you know the results once this is updated.

[2021-05-05 09:58] GuyHarwood commented on #1218
@arthurschreiber i'm intrigued by your question on using `node-mssql`.

as you own both packages is there any particular reason why we should avoid it?  The API on `node-mssql` feels easier to use.

Is it still maintained? and should new projects opt for tedious?

[2021-05-06 11:42] br4nnigan opened #1254 "error in hello world example"
http://tediousjs.github.io/tedious/installation.html

It's missing `const Request = require('tedious').Request;`

[2021-05-06 20:24] IanChokS commented on #1254
Ah thanks for pointing this out! The docs have been updated!

[2021-05-06 20:24] #1254 closed

[2021-05-08 18:55] RalphK66 opened #1257 "User assigned managed identity configuration cannot authenticate or authorize security token."
I have tried:

[code]

[2021-05-10 22:18] Eratica opened #1259 "Keeps defaulting to port eventhough I have specified a port."
`original: ConnectionError: Failed to connect to MyServer\\SQLServerInstance:1433 - getaddrinfo ENOTFOUND MyServer\\SQLServerInstance`

My port is not 1433 and I am not sure why it 1433 is being inserted when it is specified.

Everything worked until I attempt to connect to a remove server.

In Node I am using a .env file for connection properties.

`const dotenv = require('dotenv');
 dotenv.confi

[2021-05-10 22:20] IanChokS commented on #1259
Hi @Eratica, it looks like you're trying to use `mssql` config options and not `tedious`. Please take a look at our getting s[tarted page here](https://tediousjs.github.io/tedious/)

[2021-05-10 22:56] IanChokS commented on #1257
It doesn't look like its in our documentation (sorry), but you can try to add these fields in the authentication:
[code]
Also note `clientId` not `clientID`

[2021-05-10 23:48] IanChokS commented on #1259
I'm not too sure. Have you tried connecting using `tedious` library directly?

[2021-05-11 00:25] RalphK66 commented on #1257
In that thread that you lined in your first response, you mention that you had to add the resource for it to work for you... what resource are you referring to?

Also, I am pretty new to Azure, so I am not sure where to find the MSI_ENDPOINT and MSI_SECRET env variables... not sure that is something you might know but figured I may as well ask.

[2021-05-11 01:59] #1259 closed

[2021-05-12 15:54] brsanthu opened #1260 "Process crashes with error "NodeError: write after end""
We are using node-mssql, which uses this library to low level connectivity, to sync data from a source to sql server hosted in azure.

Under load, it throws below error and processes crashes.

[code]

**Configuration:**

[code]

**Software versions**
NodeJS: v14.15.5
node-mssql: 7.0.0
tedious: 11.0.7
SQL Server: Microsoft SQL Azure (RTM) - 12.0.2000.8

I had created this issue with node-mssql (htt

[2021-05-12 19:08] IanChokS commented on #1260
Hi @brsanthu, are you able to reproduce the error using tedious directly?

[2021-05-12 21:51] IanChokS commented on #1257
I found this article to be a very good summary of [how MSI works](https://marczak.io/posts/2019/07/securing-websites-with-msi/). I couldn't find how I tested the MSI changes in the previous MSI issue, so I'm not exactly sure what was required in the config to connect (sorry!). One thing to try is to make sure to enable 'User assigned', in your Azure App Service portal.

[2021-05-13 12:23] dhensby opened #1261 "Errors on connection creation don't cancel the connection timeout timer"
Please see https://github.com/tediousjs/node-mssql/issues/1226#issuecomment-840519960

It looks like the error handler in [this function](https://github.com/tediousjs/tedious/blob/08ebc25c738c200654dd6a645cf1d36ddbac672c/src/connection.ts#L1881-L1904) should call `this.clearConnectTimer();`

[2021-05-13 13:10] kagedevelopment commented on #1251
Updating SQL server fixed the issue. Thank you for your assistance!

[2021-05-13 13:10] #1251 closed

[2021-05-13 14:58] IanChokS commented on #1261
Thanks @dhensby, we'll take a look!

[2021-05-13 17:17] Estefania-Pichardo-Montes commented on #1251
Hi, i have a similar problem, i can't connect to my database althrought the protocol TCP/IP is enabled in my computer, also make sure all the sql services are running, i got this error

ConnectionError: Failed to connect to localhost:1433 - self signed certificate
    at ConnectionError (C:\Users\Lauro\Documents\PruebaConexionSql\node_modules\tedious\lib\errors.js:13:12)
    at Connection.socketEr

[2021-05-13 18:23] kagedevelopment commented on #1251
Try adding these options:

options: {
            encrpyt: true,
            trustServerCertificate: true

}

[2021-05-13 20:24] praveenkpatare opened #1263 "No event 'socketConnect' in state 'SentPrelogin'"
Trying to connect to MS SQL Server database using tedious and facing the above issue.

versions -
Node - 12.18.3
Tedious - 6.14.5
MSSQL Server - 2012

Please help.

 Here is the detailed stack trace -

![image](https://user-images.githubusercontent.com/69985258/118182951-68fe0b80-b3ee-11eb-9076-ac1f23be6f4e.png)

[2021-05-13 20:38] IanChokS commented on #1263
Hi @praveenkpatare, do you get the same issue using the latest tedious driver 11.0.7?

[2021-05-13 21:16] IanChokS commented on #1251
Try adding  `trustServerCertificate: true` in the config options.

[2021-05-13 21:17] IanChokS commented on #1251
@kagedevelopment can you open a new issue for this?

[2021-05-13 21:55] praveenkpatare commented on #1263
Hello @IanChokS

Received the below error after updating tedious

![image](https://user-images.githubusercontent.com/69985258/118192603-3e667f80-b3fb-11eb-9f84-65c5b65093ab.png)

[2021-05-13 22:01] IanChokS commented on #1263
I believe you're encountering the[ same issue here](https://github.com/tediousjs/tedious/issues/1251).  [Here's how you can fix it](https://github.com/tediousjs/tedious/issues/1251#issuecomment-830421680).

[2021-05-13 22:41] IanChokS commented on #1197
Sorry for the late reply, but thanks for the suggested feature! When we have a bit more free time, we'll take a look into this.

[2021-05-13 23:11] praveenkpatare commented on #1263
Thanks @IanChokS  it worked.

Although i changed the connection string to Sql Server on Azure.

[2021-05-14 13:19] kagedevelopment commented on #1251
@Estefania-Pichardo-Montes If you are still having this issue, can you please create a separate issue for this?

[2021-05-14 17:57] IanChokS commented on #1263
Glad to hear it worked!

[2021-05-14 17:57] #1263 closed

[2021-05-14 18:32] Estefania-Pichardo-Montes commented on #1251
Hey, i already resolve the issue, adding the suggested option i get another error but i realize that the error was that i was using the user of windows authentication instead of an sql server user, thank you

[2021-05-18 18:31] PhilHannent opened #1264 "How to pass in a WHERE IN parameter"
I am trying to use a WHERE id IN ('', '', '') clause. However, the current documentation does not make it clear how to add a parameter like this. Can someone explain the best way?

I've coded up building the SQL statement but I'd rather a parameterised query.

https://tediousjs.github.io/tedious/api-request.html#function_addParameter

[2021-05-18 20:46] IanChokS commented on #1261
@sergueis Are you seeing the same issue when using tedious directly?

[2021-05-18 23:06] IanChokS commented on #1264
(I haven't tested this myself), but I would imagine it might be something like:
[code]

[2021-05-20 05:13] RichieRock commented on #1072
Any update on getting types? There exists a DefinitelyTyped for tedious but it's outdated.

[2021-05-20 19:43] tidhar-ziv opened #1265 "Exception thrown from SmallDateTime/generateParameterData cannot be caught properly"
This exception was thrown due to a query date parameter earlier than "1900/01/01":
[code]
The problem is that this exception is thrown on the main thread, so the only way to catch it is in process.on("uncaughtException"), which practically means crashing the process

[2021-05-21 01:04] steflef commented on #660
Hi @IanChokS  Any updates?

[2021-05-21 17:51] IanChokS commented on #1265
@tidhar-ziv Thanks for raising this issue, we'll see if we can create a fix!

[2021-05-27 16:34] yosiasz commented on #415
Greetings, what is the word with this feature? thanks!

[2021-05-27 21:55] IanChokS commented on #660
Hi sorry for the delay. I'll try to look into this !

[2021-06-04 15:54] TheThing opened #1267 "Would a PR to make azure stuff peerDependenciesMeta and maybe decrease some of the dependencies be acceptable?"
Hi there.

I was wondering if PR that would make some of the larger dependencies be inside peerDependenciesMeta instead of part of the dependency list would be accepted or rejected due to breaking changes?

Cause right now the dependency list for tedious is really really... big and most of it comes from integration with azure services:

[code]

I was wondering if a PR that refactored some of the i

[2021-06-04 18:09] kurtinatlanta commented on #1267
Worse - it appears that this _patch_ release adds a dependency on @azure/identity 1.3.0, which has a transitive dependency on something called 'keytar', that requires a download and compile of some C code that wasn't there earlier. Our build systems cannot download files from AWS, so this part of the install fails our builds.

Is there a need to download this C code?

[2021-06-04 21:31] IanChokS commented on #1257
Hi @RalphK66, just wondering if you were able to resolve your issue? Or is this issue still present?

[2021-06-05 22:07] rootguigui commented on #931
I just used this parameter in database connection options, options: { encrypt: false }

[2021-06-08 08:35] TheThing commented on #1267
could we have an input on this? I would like to know if I should try and maintain compatibility with current API or if I should just go at it with a sledgehammer, delete a bunch of code and then just publish a `-lite` after the name like I've done million times before.

[2021-06-08 17:19] IanChokS commented on #1267
@arthurschreiber I think this would be more of your call. Any thoughts?

[2021-06-16 16:16] sudhiryadav commented on #458
I tried your solution a few times and it seems to be working. Will check later on staging and production. Hopefully, it will work.

[2021-06-24 19:14] yosiasz commented on #836
removed DOMAIN section of my config and it started working. could be some internal changes by network admins, but for now this worked in my specific instance.

[2021-06-25 14:19] yosiasz commented on #246
sql server 2017 same config as
[code]
But still get the untrusted domain in my pre-prod environment. but same identical setup in production works just fine. I suspect it is a certificate issue.

[2021-06-25 21:09] IanChokS commented on #1257
I was able to confirm that tedious still works with MSI authentication. Closing this for now, feel free to re-open if you're still running into issues.

[2021-06-25 21:09] #1257 closed

[2021-07-01 06:26] chaitanya1094 opened #1277 "Socket Hang-up in tedious"
Hi Team,
We are using tedious "6.6.5" and Node "10.15.1" to connect to Azure SQL. Frequently we are facing below error and app crashes,
/opt/app/node_modules/tedious/lib/errors.js:13
return new ConnectionError(message, code);
       ^
ConnectionError: Connection lost - socket hang up
at connectionError (/opt/app/node_modules/tedious/lib/errors.js:13:12)
at connection.socketError (/opt/app/node_mod

[2021-07-01 08:57] arthurschreiber commented on #1277
I don't see anything specific about your use case that would cause these hangups. Have you tried upgrading to more recent versions of tedious and checked if the same error still happens there as well? 🤔

[2021-07-01 09:07] arthurschreiber commented on #1264
There's a few different approaches you could take (and none of them are really specific to `tedious`).

You can find some discussion and further links around this topic over at https://dba.stackexchange.com/questions/629/passing-array-parameters-to-a-stored-procedure.

Unfortunately, `tedious` does not support TVP parameters (yet!) - there's an open PR for that #1180 but it requires some more work

[2021-07-01 09:07] #1264 closed

[2021-07-01 09:38] chaitanya1094 commented on #1277
We are in production currently.. so little hesitant to upgrade...this error is occurring if a huge load on the app is present. Is this error because we are creating a connection for each DB call? If we want to upgrade what version you suggest?

[2021-07-01 10:55] PhilHannent commented on #1264
For the record I went with a solution I am not happy with but is easy to understand:

[code]

[2021-07-01 19:00] arthurschreiber commented on #1264
One small suggestion I'd have is to use `Array.join` instead to skip the last comma removal:

[code]

Another suggestion would also be to replace the `for` loop with `Array.map`, which calls the given function with the index as the second argument:

[code]

[2021-07-01 19:04] arthurschreiber commented on #1277
I'd suggest doing the updates in small steps, so you can resolve any deprecation warnings. That might help you to be more confident about the upgrade.

That's hard to say, really. 😞 Maybe you're hitting some sort of timeout when a lot of connections / requests are being processed? The error is very generic and basically just means that the connection was closed by the server, but it's not clear wh

[2021-07-01 21:02] PhilHannent commented on #1264
@arthurschreiber Thanks for the feedback, I implemented it.

[2021-07-07 07:46] #1197 closed

[2021-07-10 14:05] architshukla opened #1284 "Authentication with Azure CLI"
Feature request to add support for getting AAD access tokens using Azure CLI.

**Justification**
The tedious library supports Azure Managed Identity, which removes the need to manage credentials in production applications and moves that responsibility to the platform. This feature request would extend this "credential-less" access to a developer's local environment.
Typically, developers are logge

[2021-07-12 18:39] MichaelSun90 commented on #1284
Hi @architshukla, Thanks for this suggestion. We are also looking into migrating from the current ADD authentication lib to @azure/identity. Will have a discussion with the team.  Hi Arthur @arthurschreiber, do you have any thoughts on this.

[2021-07-15 17:36] TropicalRaisel opened #1285 "ELOGIN w/ valid login, and connection via PowerShell works fine"
I have the following test:
[code]
And get this:
[code]

Initially `encrypt` wasn't present, and I got a `ConnectionError - 16840:error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol:c:\ws\deps\openssl\openssl\ssl\statem\statem_lib.c:1994`. The
`TCP/IP` feature on the database is enabled. Any ideas as to what's happening?

[2021-07-15 18:25] #1285 closed

[2021-07-15 18:30] arthurschreiber commented on #1285
There might be multiple issues you're running into here.

This sounds like you're able to connect just fine, but the SSL/TLS handshake fails because the client does not support the tls/ssl protocol used by the server.

This is most likely because you try to connect to an "old" version of SQL Server, or the Windows version that SQL Server is running on is outdated. Can you provide the exact version

[2021-07-16 17:25] TropicalRaisel commented on #1285
It was an issue on the database end. Something with user groups.

[2021-07-21 12:23] dhensby opened #1292 "Bulk Insert failing with `Invalid Object Name` error"
See https://github.com/tediousjs/node-mssql/issues/1276 for some context

An issue has been opened in mssql lib saying that a recent update to the tedious driver is causing bulk inserts to fail.

From what is being reported v11.0.10 works fine, but newer versions experience this error.

The diff for the versions indicates there have been changes around the bulk loading logic: https://github.com/te

[2021-07-21 18:48] #1292 closed

[2021-07-21 21:27] Ceshion opened #1294 "two-byte characters in char and varchar are truncated to one byte"
Duplicate of #723

Char and varchar are currently configured to read the values passed to them purely as ascii, but char and varchar columns in MSQL can support the entire BMP (i.e. one- and two-byte UTF-16 characters). On read this is handled by decoding records with iconv, but the current state is that storing a two-byte character such as `"\u2021"` (‡) in a char or varchar column will truncate

[2021-07-22 08:10] arthurschreiber commented on #1294
👋 @Ceshion Hey there!

Well, yeah, because it's not doing what it's supposed to. 😬 Your solution "works", but it basically puts task of converting from multibyte characters to single byte characters on the server, instead of handling this at the client level.

SQL Servers `varchar` and `char` do not store UTF16 encoded characters, they store characters in whatever encoding is specified on the data

[2021-07-22 08:15] arthurschreiber commented on #723
I'm reopening because this is still an issue - see the discussion in https://github.com/tediousjs/tedious/issues/1294.

@heroboy You posted some code to reproduce this behaviour over in https://github.com/tediousjs/tedious/issues/723#issuecomment-378097495. Do I need to tweak any additional server or database settings (e.g. change the server collation) to reproduce this correctly? 🙇‍♂️

[2021-07-22 11:25] heroboy commented on #723
@arthurschreiber
No. I think what ever collation sql server is, it will produce incorrect output.
But if you modify the `validate` function in my sample code, and want to make this work:
[code]
You should set sql server to match the `cp936`  encoding.

[2021-07-22 13:46] Ceshion commented on #1294
Hi @arthurschreiber! I appreciate you bearing with me here, I have only just been learning most of the relevant info about encodings in the past few days- trying my best to keep up though! Yes, I see the error in my explanation and understanding- where we can't store the entire BMP on one column and characters *are* single-byte, just on a specific codepage- thank you for pointing that out 😁

🤔 My

[2021-07-22 14:59] arthurschreiber commented on #1294
That is a valid decision to make, and it's something that I think the application that uses `tedious` can already do, by using `nvarchar` / `nchar` parameters directly. This has the same effect as the patch you proposed, with the additional "benefit" of not muddying the waters between `n(var)char` and `(var)char`.

This probably requires better documentation, something along the lines of "if you j

[2021-07-22 16:00] Ceshion commented on #1294
Oh I agree, allowing a consumer to specify a codepage for `var/char` (and `text` for that matter) definitely seems preferable to automatically interpreting whatever is sent as already correctly encoded- and it looks like we do currently support using buffer values
https://github.com/tediousjs/tedious/blob/ceb73d35cf5e5779e89dfb3f1f6138a775ea015a/src/data-types/varchar.ts#L102-L119

So I can take t

[2021-07-24 09:10] akvalibra opened #1296 "Missing CP1251 in collation.js"
Missing Lcid in collation.js

Macedonian FYRO

const codepageByLcid = {
[0x42F]: 'CP1251'
}

[2021-07-25 07:04] #1296 closed

[2021-07-26 01:45] paimon0715 opened #1297 "Could you help remove the high severity vulnerability introduced by package @azure/ms-rest-nodeauth?"
Hi, @arthurschreiber @IanChokS, there is a high severity vulnerability introduced in your package **tedious**:
### Issue Description
The vulnerability [**CVE-2021-28458**](https://snyk.io/vuln/SNYK-JS-AZUREMSRESTNODEAUTH-1245464) is detected in package **@azure/ms-rest-nodeauth<3.0.8** and **@azure/ms-rest-nodeauth@2.0.2** is directly referenced by **_tedious@6.7.0_**. We noticed that such a vulne

[2021-07-26 13:57] arthurschreiber commented on #1297
👋 @paimon0715

First of all, thank you for opening this issue.

Neither `tedious` nor any of these downstream projects are affected by the security issue, because `tedious` does not make use of the `AzureCliCredentials` credential type.

Anyway, I still put together a bump of the `@azure/ms-rest-nodeauth` dependency (see https://github.com/tediousjs/tedious/pull/1298) and released that one as `ted

[2021-07-26 13:57] #1297 closed

[2021-07-26 13:59] paimon0715 commented on #1297
@arthurschreiber Thanks for your understanding and help.

[2021-07-27 07:15] ochaoui opened #1300 "Error connecting javascript Azure function app with SQL server via Managed Service Identity (MSI)"
I am trying to connect my Azure function app to a managed SQL server using Tedious and Managed Service Identity (MSI). First I followed this links to build my functions :
- https://docs.microsoft.com/fr-fr/azure/azure-sql/database/connect-query-nodejs?tabs=windows
- https://medium.com/swlh/a-node-function-app-to-get-json-results-from-azure-synapse-analytics-e671dd6ae827

I added the name of the ap

[2021-07-27 07:20] arthurschreiber commented on #1300
You have an `Authentication` instead of `authentication` key in your Connection configuration object. Can you try changing that and see if it works?

[2021-07-27 12:12] jeremy-w commented on #1143
@IanChokS I'm not clear on how Tedious tracks the column collation for writing data even absent UTF-8 support. Does it currently not, and that's worked because most folks are using NVARCHAR exclusively?

I see when parsing values, the Metadata is used to drive codepage selection, with a default encoding of utf8 when codepage is not available.

When sending requests, it looks like varchars are alwa

[2021-07-27 12:21] jeremy-w commented on #1143
From my investigation so far (reading docs and spelunking tedious code), it looks like a first shot would look like:

- send fUTF8 feature flag in LOGIN7
- if FEATUREEXTACK for fUTF8 received and positive, save that in connection state.
- use that utf8 state to change the default encoding for varchar string values we send: default to encoding varchar strings as utf8, rather than ascii. continue to

[2021-07-27 12:23] jeremy-w commented on #1143
@aklietz Do you have a ready to run code snippet reproducing your problems?

It looks like © should encode as c2 a9. The ascii flattening Tedious is doing for varchar string params drops the c2 and gives just a9, which shows up as the replacement character when I print it. It looks like providing the param value as a Buffer rather than a string would be a workaround if you're using Tedious directl

[2021-07-27 15:58] IanChok commented on #1143
Sorry, I'm actually not too sure.

@arthurschreiber I think you'd have a more better understanding of this issue.

[2021-07-28 08:00] arthurschreiber commented on #1143
@jeremy-w 👋

You're absolutely right, `varchar` and `char` data types are pretty broken right now, and will require a bit of work to make them behave correctly. Adding UTF-8 support should be pretty straightforward once the fundamental issues have been worked out.

I've been looking into the required changes as well recently, because having collation support work correctly is a pre-requisite to co

[2021-07-28 12:21] jeremy-w commented on #1143
I wish the TDS spec had more to say on collations and text encoding. The verbiage around the UTF-8 feature is odd; it makes it sound like the server won't send the client any UTF-8 data unless it's active, either, though I've no clue how that would work in practice if the column's data is in a UTF-8 encoding to begin with. Perhaps it's a backwards way of making UTF-8 support effectively obligatory

[2021-07-28 12:49] jeremy-w commented on #1143
i think an initial "enable utf-8, fall back to utf-8 instead of ascii" approach to getting utf-8 varchar working will not conflict with the work on Always Encrypted in https://github.com/tediousjs/tedious/pull/1020 and likely not with the "set param collation" work in https://github.com/tediousjs/tedious/pull/1140. that latter looks especially important to getting collations working properly throu

[2021-07-28 13:25] russell640 commented on #873
This still seems to be an issue in version 11.4.0.  In connection.ts within the master branch src directory, I see textsize getting set to a string by default.  Then, a validation check occurs on line 1643 that makes sure it's a number which fails.  What version should I be using of mssql/tedious to avoid this issue?  Thanks.

[2021-07-28 17:48] ochaoui commented on #1300
Yes it looks like the a makes the difference ! it works well. I will close this issue.

[2021-07-28 17:48] #1300 closed

[2021-07-28 18:19] ochaoui opened #1302 "Error wrapping tedious in a class using javascript and deploying it on Azure Function app"
Hi folks,

I would like to create a javascript class that wraps the tedious call to the DB and call it in my handler.
Here is my code :
[code]

The problem is when I use that class in my handler, it does not work. It looks like it is async and I cannot use await.

[code]

How can I resolve this issue ?

Cheers,

[2021-07-29 17:43] MichaelSun90 commented on #873
Hi @russell640, The textsize should be a string type like [the documentation](https://tediousjs.github.io/tedious/api-connection.html) says. The validation check that occurs on line 1643 seems off. I will double-check this with @arthurschreiber, and we can create a PR for fixing this ASAP.

[2021-07-29 17:50] MichaelSun90 commented on #1302
Hi @ochaoui, one thing that I noticed is, for config, you still using an upper case "A" for the Authentication key. Not sure if that affects your result. Also, can you provide a bit more detail on what does not work on your side?
In addition, I suggested you take look at [node-mssql 's source code](https://github.com/tediousjs/node-mssql). This project is a javascript class that wraps around tedio

[2021-08-02 10:04] arthurschreiber commented on #1302
All of `tedious` APIs still use the callback style for asynchronous operations, instead of Promises/`async`/`await`. You will need to create wrapping functions that translate between the two if you want to use a different style.

[2021-08-03 21:12] torywheelwright opened #1308 ""Failed to connect" with encryption enabled on node v12.14.1"
Hi there, I'm experiencing an issue that I [reported downstream](https://github.com/tediousjs/node-mssql/issues/1287) at the node-mssql repo, but I think more properly belongs here based on the stacktrace. I wasn't using tedious directly, but via the `mssql` package. Any help is greatly appreciated. I've reproduced the ticket content below:

### Expected behaviour:

The client would establish a co

[2021-08-04 09:44] arthurschreiber commented on #1308
This sounds more like a problem with Nodejs itself than a problem with tedious. This could be due to a change in OpenSSL. I'll see if I can dig something up.

[2021-08-04 10:40] arthurschreiber commented on #1308
Release notes for `v12.14.0` mention no changes around `tls` handling, while the notes for `v12.14.1` mention the following changes:

[code]

But none of these changes look like they change any behaviour, really. 😞

Have you tried using other versions of Node.js to see if you can reproduce there? Newer versions from the v12 line, or v14 or v16?

I'm really sorry you're running into this, but I can

[2021-08-04 20:11] MichaelSun90 commented on #873
Hi @russell640, we just made PR #1309. You can take a look and see if this solves your problem. Also, we will make a fix for the documentation page as well.

[2021-08-05 21:25] ElMurte opened #1313 "encoding Varchar NVarchar problem with Azure DataWarehause(Synapse)"
this problem still persist with tedious driver 11.0.7 and mssql 7.13 on Azure Datawerehause(Synapse) when using BULK INSERT ( the isssue comes when `await request.bulk.table(mytable)` is called ) a screenshot of the error
![image](https://user-images.githubusercontent.com/64850733/128409282-22668b0c-490c-44a8-b47f-1c1f47159c37.png).
I had tried to update the driver dependency and mssql to latest v

[2021-08-07 10:59] arthurschreiber commented on #1313
I believe this will be fixed by https://github.com/tediousjs/tedious/pull/1314.

[2021-08-07 10:59] arthurschreiber commented on #392
I believe this will be fixed by https://github.com/tediousjs/tedious/pull/1314.

[2021-08-07 11:00] arthurschreiber commented on #1313
Also, I think this is a duplicate of #392.

[2021-08-12 13:43] ZergRushJoe opened #1321 "11.4.0 having 4 moderate severity vulnerabilities"
![image](https://user-images.githubusercontent.com/7153267/129206903-a5963754-e354-4864-ba3c-4fbf9068de0c.png)
is this something that this repo can fix or do we need to contact the depends for fixes

[2021-08-12 13:44] arthurschreiber commented on #1321
I think all of them should be fixed in newer versions. Have you checked against `11.8.0`?

[2021-08-13 11:41] arthurschreiber commented on #1248
@brsanthu This looks like a bug in https://github.com/tediousjs/node-mssql, or in the way you are using that library in your application. This does not seem to be a bug in `tedious`.

When you reach the size quota while running a query, this error is sent back by the server and handled correctly by `tedious`, just like any other error that would happen. Either the wrapping in `node-mssql` or in yo

[2021-08-13 11:41] #1248 closed

[2021-08-13 13:12] ZergRushJoe commented on #1321
I did checked on 11.8.0 and still have the vulnerabilities.
![image](https://user-images.githubusercontent.com/7153267/129362086-8b2a254c-cf90-4fd6-bbde-1373e74625b5.png)
but I do see your point it should be fine I will just document this so the other on my team don't worry about it

[2021-08-14 09:23] dozienwankwoh opened #1322 "bulkLoad.addRow not adding rows to bulkLoad object"
I am testing the bulk load functionality and I am not able to add rows to the bulkLoad object. I am not getting an error, but the "rows" item in the bulkLoad obect remains empty after my bulkLoad.addRow line. Please see code below. Has anyone experienced this?
---------------------------------------------------------------------------------------
const { Connection, Request, TYPES } = require("ted

[2021-08-14 09:35] opravil-jan commented on #1238
Hi,
when this will be done please?
Thanks

[2021-08-14 11:27] arthurschreiber commented on #1322
You need to call `connection.execBulkLoad` to actually execute the BulkLoad.

If you are on the most recent version of `tedious` you can also pass the list of row objects to the `connection.execBulkLoad` method instead of calling `bulkLoad.addRow`.

[2021-08-14 12:56] dozienwankwoh commented on #1322
@arthurschreiber thank you for your answer. This is just a snippet of the full code.

My issue is with populating the `bulkInsert` obj before it is actually executed. I am debugging my code and watching variables and noticed that the `.addColumn` block works fine and populates the bulkInsert object. But the `.addRow` block does not populate the bulkInsert object.

I am using tedious version 11.4.0

[2021-08-14 16:33] dozienwankwoh commented on #1322
I've also tried running the sample code for Bulk Insert attached to this repo. I have a screenshot here of my variable window after the 2 `bulkLoad.addColumn` and 2 `bulkLoad.addRow` lines have been executed. The columns have been added to the bulkLoad object, but the rows were not. Has anyone else experienced this issue? thank you.

![Screen Shot 2021-08-14 at 11 29 11 AM](https://user-images.git

[2021-08-14 21:14] arthurschreiber commented on #1322
This is working as intended. 😬 When you call `bulkLoad.addRow`, the row is not collected inside the `rows` property on the `BulkLoad`. (That property is internal on `BulkLoad` objects and is actually unused.) Instead, rows are written to the internal `RowTransform` (`rowToPacketTransform`) stream.

[2021-08-14 21:24] dozienwankwoh commented on #1322
Thank you @arthurschreiber. I had another issue in my code that was causing the rows not to write to the SQL table. It is working now.

Thanks for tending to these issues!

[2021-08-14 21:24] #1322 closed

[2021-08-17 22:56] MichaelSun90 commented on #1238
Hi @opravil-jan We just start looking into this migration and plan to work on this in the near future, but we do not have a concrete estimate yet. We will update you when we finish it or we come up with a solid estimate.

[2021-08-19 23:02] prueker opened #1324 "CVE-2021-32796 due to dependency on deprecated adal-node package which in turn uses xmldom@0.6.0"
Tedious needs to upgrade to @azure/msal-node to mitigate CVE-2021-32796 which is caused by xmldom as a dependency on deprecated adal-node package as per https://github.com/AzureAD/azure-activedirectory-library-for-nodejs.

https://nvd.nist.gov/vuln/detail/CVE-2021-32796

[code]

[2021-08-20 07:03] wickedest commented on #1324
Note, due to inability take ownership of xmldom, it is now published as [@xmldom/xmldom@0.7.0](https://www.npmjs.com/package/@xmldom/xmldom) by the new maintainers ([ref](https://github.com/xmldom/xmldom/discussions/270)).

[2021-08-20 16:32] rossgp commented on #1324
Also worth noting there's a dependency via @azure/ms-rest-nodeauth as well

[code]

And that's not going to be addressed according to #https://github.com/Azure/ms-rest-nodeauth/issues/128
and are recommending moving to @azure/identity instead

[2021-08-23 16:52] MichaelSun90 commented on #1324
Thank you guys for the suggestions. We are currently looking into migrating to using @azure/identity.  Like I replied in issue #1238, we will give you guys an update.

[2021-08-24 13:34] ekelvin commented on #1070
we find the exact same issue in a transaction with not explanation why is happening

[2021-08-25 09:10] pdmateus opened #1325 "Unable to connect to SQL Server using access token using"
I need to access Azure SQL from node.js (Azure Function) using access token "azure-active-directory-access-token" or 'azure-active-directory-service-principal-secret' but its failing with:

Login failed for user '<token-identified principal>

I'm using mssql-node and tedious.

This is my config:
var config = {
        server: 'serverA.database.windows.net',
        authentication: {
            ty

[2021-08-31 01:00] jeremy-w commented on #1143
i believe this is fixed as of tedious@12.2.0 between the changes of:

- [v12.1.0](https://github.com/tediousjs/tedious/releases/tag/v12.1.0) for varchar & collation support  #1318
- [v12.2.0](https://github.com/tediousjs/tedious/releases/tag/v12.2.0) for UTF-8 support #1317

(and various preceding to fix the collations list and bulk-load support)

[2021-08-31 06:03] #1143 closed

[2021-08-31 11:06] lroal opened #1326 "Execute raw query with parameters"
How can I execute a plain query with parameters ? The docs only refers to prepared queries explicitly type checked parameters.
And is it possible to do it without named parameters ?
Something like this:
connect.query('select id, name from _customer where id=?', ['someId']);

You can do this easiliy with other libs like https://www.npmjs.com/package/msnodesqlv8 or https://www.npmjs.com/package/pg

[2021-08-31 13:16] lroal commented on #891
I have the exact same problem, but not using any kind of orm framework.
I only dto this query.
BEGIN TRANSACTION

and gets error:
Transaction count after EXECUTE indicates a mismatching number of BEGIN and COMMIT statements.

[2021-08-31 13:17] lroal commented on #891
In my opinion. tedious tries to do too much. It should not wrap mye queries inside sp_calls and it should not wrap my queries in transactions.

[2021-08-31 13:20] jeffmcmahan commented on #891
@Iroal I tend to agree - but maybe there is an escape hatch, somewhere?

[2021-08-31 13:26] lroal commented on #891
I do really hope so. It works with no problems with https://www.npmjs.com/package/msnodesqlv8 .
But msnodesqlv8 requires a native driver. Not pure javascript like tedious.

[2021-08-31 13:56] lroal commented on #891
ORM vendors need to do special handling because of tedious being a bit exotic. This is not good.
E.g. sequelize:
https://github.com/sequelize/sequelize/blob/main/lib/dialects/mssql/query.js#L55-L57

[2021-08-31 16:56] arthurschreiber commented on #1326
I think `Connection.execSql` is the API method you're looking for.

If you want to specify parameters, you need to specify the parameter types as well when you use `tedious`. There is no sensible way for us to deduce what parameter type should be used. E.g. `varchar`/`char`/`nvarchar`/`nchar`/`text`/`ntext` can all be used to send string parameters, but you need to decide which one is the correct

[2021-08-31 16:56] arthurschreiber commented on #1313
Can you try this again with `v12.2.0`? I think this issue should be fixed now.

[2021-08-31 16:58] arthurschreiber commented on #1294
@Ceshion have you tried the latest `tedious@12.2.0`? Tedious comes now with proper collation support for `varchar`/`char`/`text` (as "proper" as SQL Server allows us to be). It also comes now with UTF8 encoding support when used together with SQL Server 2019 or Azure SQL.

Can this issue be closed?

[2021-08-31 18:22] lroal commented on #1326
Thanks for quick reply

[2021-08-31 18:22] #1326 closed

[2021-08-31 20:07] ElMurte commented on #1313
i cannot have access to the repository no more since i was doing an internship, btw i will notify them.

[2021-09-01 17:40] MichaelSun90 commented on #891
Hi @jeffmcmahan, from the code that you referenced in your comment, seems it shows a pretty old version of the Tedious driver. Have you tried some new versions of the driver and compare the behavior?
In addition, @lroal, I could be wrong, but if your query only has "BEGIN TRANSACTION" in it, then the error message reports a "mismatching number of BEGIN and COMMIT statements." seems to make sense.

[2021-09-02 06:25] lroal commented on #891
@MichaelSun90  I just want to start a transaction, keep the transaction open, run som code that might do some sql and in the end commit the transaction. That is currently not possible. I do not know in advance which queries are going to be run within the transaction.

[2021-09-03 08:15] padiny commented on #1308
Also facing this issue when performing bulk insert op. When I truncate the query its working fine.

[2021-09-03 08:58] padiny commented on #923
Facing this issue when performing bulk insert op. When I truncate the query its working fine.

node: 16.8.0
mssql: 6.3.2

[2021-09-07 21:22] omardoma commented on #923
For whoever is still struggling with any of the following issues `Connection lost - read ECONNRESET` or `Connection lost - write ECONNRESET` on Node.js v12.4+, setting these options in the configuration fixed it for me:

[code]

[2021-09-08 22:41] NazmiAnuar opened #1330 "DatetTimeOffset getting the original timezone"
Is there a way to get the submitted timezone for DateTimeOffset value.
ie in the table it is store as "2020-08-16 xx:xx:xx.00 +09:30" but tedious will just convert it to the local time.

I want to get the original +5:30 timezone, is this possible?

[2021-09-09 10:17] satnamsinghpru opened #1331 "Request can only be made in the loggedIn state not the final state"
We use to get this error : { [RequestError: Requests can only be made in the LoggedIn state, not the SentClientRequest state]
  message: 'Requests can only be made in the LoggedIn state, not the SentClientRequest state',
  code: 'EINVALIDSTATE' } when my app got idle for more than 5hrs.

We are using Tedious module for database connectivity.

Tedious Version:  "^11.0.3"

[2021-09-09 10:18] arthurschreiber commented on #1331
The error message sounds like a Request was already in progress when another Request was attempted to be sent. Can you double check this is not what happened?

[2021-09-09 17:57] arthurschreiber commented on #1313
Okay. I will close this then. 🙇‍♂️ If you or anyone notices that this is still not working correctly, please let us know!

[2021-09-09 17:57] #1313 closed

[2021-09-10 16:25] jasonnutter commented on #1324
`adal-node@0.2.3` has been published with `@xmldom/xmldom`.

[2021-09-10 16:44] MichaelSun90 commented on #1330
Hi @NazmiAnuar, I just did a quick search around for this and found that a user has raised PR #1108. This seems to provide the capability to present the timezone info. Do you want to give it a try? If it does help, we could see if we can get this change merged soon.

[2021-09-12 13:07] kanthi0802 commented on #923
The issue still exists. Tried all the workarounds mentioned in the thread. Is there any other way to fix this issue. Seeing this issue on read operation.

[2021-09-15 11:09] wickedest commented on #1324
if anyone else is wondering, the reply from @jasonnutter effectively says that this issue is resolved and this issue can be closed.

[2021-09-15 15:06] pgraham commented on #1284
Hi,  now that v13 is release and has migrated to @azure/identity, being able to authenticate with AzureCliCredentials or DefaultAzureCredentials would be helpful in enabling credential-less auth for development tasks such as running tests against a database locally.

[2021-09-16 09:45] thegoatherder opened #1338 "Very slow performance with TVP (500 rows insert via stored procedure TVP)"
This is a clone of an issue I posted in `node-mssql`: [#1308](https://github.com/tediousjs/node-mssql/issues/1308). I'm reposting here as the issue appears to be with the tedious driver. Specifically with `lib/tracking-buffer/writable-tracking-buffer.js`

Possibly related to: #1093, #879 ?

I'm sending a request to a stored procedure which accepts a TVP parameter. My TVP has 5 columns and only 500

[2021-09-16 13:02] arthurschreiber commented on #1338
Hey there!

Thank you for the extremely detailed bug report! ❤️

I'll be taking your use case and will build a benchmark to see where exactly the time is spent.

One thing that I do not understand is why `writePLPBody` shows up in the CPU profile you posted. `writePLPBody` is never called from inside `tedious` (I double checked the code for `tedious@11.7.0` which I think is what you're using here)

[2021-09-16 13:59] thegoatherder commented on #1338
Greetings @arthurschreiber! I'm glad the verbosity of my ticket is of use to you.

I'm not using `tedious` directly, I'm using it from `mssql@^7.2.1`.

I looked into my `yarn.lock` file to check `tedious` version... it looks like it's not the latest `tedious@11.7.0`, but actually `tedious@11.4.0`

[code]

[2021-09-16 15:34] thegoatherder commented on #1338
@arthurschreiber I just ran `yarn upgrade mssql` and it's now showing the latest v11.x of `tedious` in my `yarn.lock` file:

[code]

I am preparing to re-run my tests on this end and will update this ticket with a new CPU profile when I have a result. Hopefully within the hour.

Many thanks!

[2021-09-16 15:57] arthurschreiber commented on #1338
I added a benchmark over in https://github.com/tediousjs/tedious/pull/1339. I think it should be fairly close to what you're describing here.

On my machine, running the benchmark gives me this output:

[code]

If I read this correctly, this means we run `8.54` iterations per second of the benchmark, meaning that each call to the stored procedure takes around `0.1` seconds. This is running against

[2021-09-16 16:06] arthurschreiber commented on #1338
`writePLP` was last used in version 9.x of `tedious`, if I remember correctly.

[2021-09-16 16:12] thegoatherder commented on #1338
@arthurschreiber that is very curious indeed. I think it might be time to obliterate my `node_modules` folder and try a fresh install. I will keep you posted!!!

[2021-09-16 16:51] thegoatherder commented on #1338
@arthurschreiber well... I ran `yarn upgrade mssql` earlier which supposedly upgraded `tedious` to `11.8.0`... now I've just deleted my `node_modules` folder and ran `yarn install` again... and the issue has magically disappeared! Strange?

[2021-09-16 17:01] arthurschreiber commented on #1338
I'm glad to hear the issue has been resolved!

Just as a heads up, I recently noticed that we're not handling `varchar` encoding correctly in TVPs. If your `varchar` values only contain ASCII values, you won't notice this issue, but if they contain any non-ASCII character data might get mangled and be incorrect. I'll open a PR that will fix this in the next few days.

Out of curiosity, is there an

[2021-09-16 17:47] thegoatherder commented on #1338
@arthurschreiber  Thanks for the heads-up!  I also want to thank you for your prompt effort to help me with this. I read your commit for the benchmark and I have to say I learned a thing or two about benchmarking methods and how to mock up SQL tests appropriately in JS, so thank you for that also. Apologies if it was a bit of a waste of time, considering there was no actual issue with your release

[2021-09-17 09:22] arthurschreiber commented on #1338
@thegoatherder Thank you for the detailed response! 🙏

`mssql` is a wrapper that abstracts over `tedious` and optionally allows using the native `msnodesqlv8` driver instead of `tedious`. There's a few features that `tedious` does not support (like integrated Active Directory authentication) but `msnodesqlv8` does, so for some users it can make sense to have the ability to swap out the low level d

[2021-09-17 09:22] #1338 closed

[2021-09-17 09:28] thegoatherder commented on #1338
@arthurschreiber thanks a mil for breaking this down. Very interesting. I think if you could only do one thing, it would be to modernise the documentation. It should be markdown and visible right on the github project homepage. Add more to it. Perhaps add a section on the differences between `mssql` and `tedious`. More examples help devs a lot - this is the age of copy & paste from SO...! Perhaps

[2021-09-20 12:12] akc42 opened #1344 "Spurious `ReturnValue` event being issued"
I have just tried to upgrade from tedious 2.0.1 to tedious 12.2.0

I went through all the breaking changes release notes and thought I had fixed everything (there are some bugs in the documentation, but I'll address those in another issue)

However I am getting a spurious `ReturnValue` event.  I checked (with some debug) that I had never called `request.addOutputParameter`  but I am still receivin

[2021-09-20 12:21] akc42 opened #1345 "Documentation issues"
As I said in a previous issue, I have just upgraded from version 2.0.1 to 12.2.0

I was trying to use the documentation to make sure I included all the correct changes mentioned in the release notes.  I noticed the following problems
- At the very head of the API Connection section - there is no mention of the `connection.connect()` call.  The example below in `new Connection()` does show it being

[2021-09-20 12:49] arthurschreiber commented on #1344
@akc42 Thank you for reporting this issue!

I'm glad that the deprecation messages have been helpful, and it sounds like the upgrade process has been quite smooth for you, all things considered. 😅

This `returnValue` event you're getting is stemming from this line here, I think: https://github.com/tediousjs/tedious/blob/7aea4fa207c053dc78b7f9586098cd1c1361958d/src/connection.ts#L3040

Just changin

[2021-09-20 21:51] arthurschreiber commented on #1345
I'll see if we can get that fixed - you're also welcome to open a PR for this. 👍

I don't think there is supposed to be a `colName` value in this case, because there is no actual column - it's coming from a "output" parameter.

[2021-09-22 12:00] akc42 commented on #1344
@arthurschreiber Well I don't use it very much, but I do use it.  are you saying its not working?
It certainly worked in the previous version I was using - haven't really checked it recently as its just a bunch of random counters that I update to tell me which part of my application has been accessed.

I include a snippet of code that I use, although I wrap tedious in a whole layer that lets me ha

[2021-09-22 14:10] akc42 commented on #1345
Precisely - but the documentation points to a description of the metadata which includes column name

[2021-09-22 15:58] arthurschreiber commented on #1344
@akc42 I totally missed that `execute` takes a `params` argument (which is what allows reusing the prepared statements). 🙈 I mixed it up with `execSql`/`execSqlBatch`.

Anyway, thank you for the long explanation and code examples about how you're using `tedious`, and the layer you have built on top to make it easier to use with `async`/`await`. I really want to bring something similar into `tediou

[2021-09-25 20:47] #1344 closed

[2021-09-28 07:04] frandominguez03 opened #1349 "No collation was set by the server for the current connection"
I'm following [BulkLoad](https://tediousjs.github.io/tedious/bulk-load.html) docs to insert multiple rows at once in my database. I'm getting this error:

When my script tries to execute the following line:

[code]

What does this error mean? Why I haven't gotten it before using `bulkLoad`? How do I solve this?

Thanks!

[2021-09-28 07:52] arthurschreiber commented on #1349
Interesting. 🤔

We recently fixed a bug where `varchar` parameters sent from the client to the server could end up as garbage on the serverside because `tedious` did not respect the database's collation. This was fixed by taking the collation sent back by the server during the login phase and sending all future data encoded according to this collation.

I'm pretty sure that all recent versions of

[2021-09-28 07:54] frandominguez03 commented on #1349
Thanks for the fast answer!

My current version is Microsoft SQL Azure (RTM) - 12.0.2000.8.

[2021-09-28 08:01] arthurschreiber commented on #1349
Do you know what the collation is set to, by chance? You can look it up in the Azure Portal, or using a SQL statement like:

[code]

[2021-09-28 08:05] frandominguez03 commented on #1349
Apparently, that query is returning `NULL`. Is that even possible?

Should I try [this](https://docs.microsoft.com/en-us/sql/relational-databases/collations/set-or-change-the-database-collation?view=sql-server-ver15#TsqlProcedure) to set a Collation?

[2021-09-28 08:20] arthurschreiber commented on #1349
I don't think you can set a collation for an azure database using an sql statement. Actually, I think azure database collation can't be changed at all after creation.

I assume you don't have access to the Azure Portal to check what collation is specified there?

This is really confusing (and unexpected!). Sorry for the trouble here. The easiest workaround for you would be to use an older version

[2021-09-28 08:22] frandominguez03 commented on #1349
Yes, I do have access to the Azure Portal. Let me investigate where the collation is and I will report back.

And no worries, I'll try to help as much as I can. Thanks a lot for the support!

[2021-09-28 08:23] arthurschreiber commented on #1349
You can find the collation under "Settings" -> "Properties" if you view the database.

[2021-09-28 08:24] frandominguez03 commented on #1349
Found! It is `SQL_Latin1_General_CP1_CI_AS`.

[2021-09-28 08:27] arthurschreiber commented on #1349
So the server has a collation set, but your database does not? 😕

[2021-09-28 08:30] frandominguez03 commented on #1349
Well, turns out I was typoing the database command. Now both return the same `SQL_Latin1_General_CP1_CI_AS`. Sorry about that!

[2021-09-28 08:33] arthurschreiber commented on #1349
Okay. 😅 That at least makes sense now! I'm going to try and reproduce this (I have a Azure SQL instance with the same collation settings). I'll let you know if I can find something!

[2021-09-28 08:35] arthurschreiber commented on #1349
Can you check `connection.databaseCollation` after connecting (but before sending your bulk load?)

[code]

gives me the following:

[code]

[2021-09-28 08:38] frandominguez03 commented on #1349
It says `undefined` for me

[2021-09-28 08:59] arthurschreiber commented on #1349
Do you specify the database name in the connection options? 🤔

[2021-09-28 09:03] frandominguez03 commented on #1349
I create the connection like this:

[code]

With `db_config` being:
[code]

I believe it's correct since I've previously inserted rows in the database, without the `bulkLoad`.

[2021-09-28 09:08] arthurschreiber commented on #1349
Are you waiting on the callback from `connection.connect();` before you create the bulk load / access `connection.databaseCollation`?

The connection is not fully set up before that, and there's currently a bit of a quirk around collations with bulk loads in that the collation is copied in the bulk load from the connection at the time the bulk load is created.

So, if you do:

[code]

Do you still

[2021-09-28 09:12] frandominguez03 commented on #1349
Nope, I wasn't waiting for it. It now says:

[code]

[2021-09-28 09:16] arthurschreiber commented on #1349
Perfect. As a general rule, you should wait for the `connect` callback to be called before you do anything with the connection. The specific bug you've encountered here will probably be fixed in some future version of `tedious`, but it will never be safe to use the connection before it was fully set up. 👍

I guess this can be closed now? 🤔

[2021-09-28 09:25] frandominguez03 commented on #1349
So what's the workaround here? I'm adding rows to the `bulkLoad` instance inside a for loop. Am I supposed to instantiate `bulkLoad` in the callback of the connection and then add the rows in the loop? Or am I supposed to do everything in the callback of the connection?

[2021-09-28 09:32] arthurschreiber commented on #1349
You're right, you need to do all your work inside the callback. It's also not a workaround in that case, but the "proper way of doing things". 😅

That's nothing specific to `tedious` really, but a fundamental part of the callback style programming in Node.js. Whether you open a file, a network socket or perform any other asynchronous task, you need to wait for the results to be communicated via th

[2021-09-28 09:33] frandominguez03 commented on #1349
Got it. Thanks for your help!

[2021-09-28 09:33] #1349 closed

[2021-09-28 09:34] arthurschreiber commented on #1349
Thanks for being so helpful in getting down to the root cause of this issue! I'll make sure that we really highlight this better in our documentation that the connection is in a half-baked state if you don't wait for the `.connect` callback to fire. 🙇‍♂️

[2021-10-04 06:28] naushadck opened #1354 "Connection error - Connect.js"
By referring this https://www.microsoft.com/en-us/sql-server/developer-get-started/node/windows/step/2.html,
the connection.js giving error.

Error screen shot.
![image](https://user-images.githubusercontent.com/70026286/135803433-59762280-5a79-40ca-a5bd-b70bda028f06.png)

[2021-10-04 07:26] arthurschreiber commented on #1354
I don't think this error has anything to do with `tedious`. It looks like the `uuid` module you're using uses `import`/`export` statements, but your Node.js version does not support those.

[2021-10-04 07:26] #1354 closed

[2021-10-04 17:41] arthurschreiber commented on #1354
The sample you posted here includes no reference to `uuid`. 🤔

Which version of Node.js are you using? You need to be using at least version 12.x for the latest version of `tedious`.

[2021-10-05 03:12] naushadck commented on #1354
1. The sample you posted here includes no reference to uuid.

         The sample is refereed in the "Getting Started" Section. (Node.js + Windows) in https://github.com/tediousjs/tedious
               (readme.md)
         How can i include uuid in the sample script similar one ?.

2.  Which version of Node.js are you using? You need to be using at least version 12.x for the latest version of ted

[2021-10-05 09:41] gpetrov commented on #1267
Please add Azure and specially @azure/identity as peer dependency! Otherwise we get indeed tons of modules and a native module that can't be compiled always. So Tedious is no longer light js only connector to MS SQL!

[2021-10-05 11:30] TheThing commented on #1267
@gpetrov I've actually cancelled working on a PR for this project that has over five thousand files and instead just oped to use micrsoft's own driver: node-sqlserver
It's a single dependancy and looks far better on paper. (if you remove that silly binary downloader and have the binary already in the folder, it doesn't depend on anything outside to run).

So I'm closing this issue personally as th

[2021-10-05 21:26] arthurschreiber commented on #1267
Hey @TheThing @gpetrov @kurtinatlanta,

I'm sorry I lost track of this, and I'm sorry that I made you feel ignored. I understand the dependency situation is not great and there's been a few people who've raised concerns about this. Plus, having more direct dependencies means also that there's more code that potentially can contain security issues (see the recent security problem in `node-adal` com

[2021-10-06 12:06] jeremy-w commented on #968
i encountered this working with knex migrations, where i get told in the error to read a previous error message, but i don't get to see the previous error message.

## sketch of suggested change
the immediate issue in that case looks to be the clobbering of the (singular) request.error when an error gets parsed. a "RequestMultiError" that collects the messages in order as received and otherwise de

[2021-10-06 12:24] TheThing commented on #1267
I didn't feel ignored. In fact I'm quite happy I don't have to do this since that would be a ton of work and node-sqlserver is already single-dependency with very few tens of files totals so it was perfect for my need.

It was more of a relief that this dragged on as it gave me time to google and find that package <3

[2021-10-06 12:39] TheThing commented on #1267
that being said, plugin-based architecture for authentication is what makes most sense to me. Not everoyne is gonna be using SSPI and those using that might not use Azure and etc. This would also simply tedious to be basically focus on supporting the features and the authentication can be elsewhere. But then again, I personally loathe plugin-based npm as they always end up requiring me to install

[2021-10-07 01:49] jeremy-w commented on #968
TIL of AggregateError. Yes, that would be much better than duplicating it in a custom class. :)
--
Jeremy W. Sherman
http://jeremywsherman.com/

[2021-10-07 08:57] gpetrov commented on #1267
@arthurschreiber optional dependencies are very common and used in many projects. There is absolutely no problem with them and using them is exactly the reason they exist! To cut down the optional dependencies.

A good example of optional dependencies is https://github.com/knex/knex where they use optional dependencies for each database driver, as you usually need just one driver and not all suppo

[2021-10-07 16:59] naushadck opened #1356 "Connection error using tedious - Unable to connect to SQL Server"
The sample is refereed in the "Getting Started" Section. (Node.js + Windows) in https://github.com/tediousjs/tedious
        (readme.md)

Unable to connect localhost SQLServer.  "Unexpected error".

[2021-10-12 13:15] KAMAELUA commented on #1058
Any updates for now?

[2021-10-12 18:38] MichaelSun90 commented on #678
Hi @KAMAELUA , Unfortunately, there is no progress for now. The task is currently in the backlog and there is no one working on it yet.

[2021-10-21 20:38] devcrev opened #1358 "datetime2 parameter option: precision instead of scale"
SQL Server documentation refers to the precision of the datetime2 data type not the scale. For Tedious the scale option is used when defining a datetime2 parameter. E.g., `options: {scale: 7}`

From: [https://docs.microsoft.com/en-us/sql/t-sql/data-types/datetime2-transact-sql?view=sql-server-2017](url)...
![image](https://user-images.githubusercontent.com/44066444/138352823-69ceb1f9-5b25-4ca9-bb6

[2021-10-22 00:51] devcrev commented on #1358
More information:

Also note querying the INFORMATION_SCHEMA.COLUMNS for a particular table reveals a column named DATETIME_PRECISION.

E.g., Run `SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='SampleTable'` and substitute 'SampleTable' with a table that contains a datetime2 column.

Scale is only related to the Numeric/Decimal type.

Upon fixing this please consider adding to the "Sup

[2021-10-27 15:58] akairyuu1993 opened #1359 "Error ERR_OSSL_EVP_UNSUPPORTED when running with enabled FIPS"
Hi all!

I built node with FIPS compliance and got the above Err. I found in ntlm-payload.js that tedious using hash algorithm md4 and md5 which is not supported FIPS.

I'm using:
- Node : 16.11.0 (built with FIPS enable)
- mssql: 6.3.2
- Openssl 3.0

Any help?

[2021-10-27 19:21] tamusjroyce opened #1360 "@azure/identity 2.0 - removed python dependency & security fixes"
When might this be updated to use https://www.npmjs.com/package/@azure/identity 2.0 (released two days ago)? I'm excited as python isn't supported in all our environments. And this will speed our pipelines up quite a bit. Thank you for this great project!

[2021-10-29 18:30] Android3000 opened #1361 "trustServerCertificate still defaults to true?"
I noticed that a connection I expected to fail was actually working. I realized that Tedious is defaulting trustServerCertificate to true. It seems like that may have originally been due to some issue with re-routing code, but then I saw it was [updated to false here](https://github.com/tediousjs/tedious/pull/1116). However, during [this refactor](https://github.com/tediousjs/tedious/commit/19948e

[2021-10-29 18:57] arthurschreiber commented on #1361
Ugh. This must be a mistake. I'll see if we can get this fixed soon.

[2021-10-29 22:10] MichaelSun90 commented on #1360
We will definitely look into this migration to identity 2.0. Just did a brief check of their changes log, and seems the changes are mainly related to error handling and browser interactive auth. What do you think Arthur @arthurschreiber?  Do you think this is something that we can quickly absorb into tedious?
By the way, @tamusjroyce, just curious, is this the part "Identity v2 no longer includes

[2021-11-01 06:32] tamusjroyce commented on #1360
That is correct

[2021-11-03 14:05] Maferamirezz commented on #1331
I have a similar issue, the message is: **Requests can only be made in the LoggedIn state, not the Connecting state.**
I try every code I see in internet but nothing works, need help!!

PD: The code worked since I begin programmed, but since a week that I continued to work the issue appers.

Tedious Version:  "tedious": "^12.2.0"

Part of my code is:

var express = require('express');
var cors = r

[2021-11-06 13:02] j535158420 opened #1362 "server responded with unknown TDS version"
tdsVersion:"7_1"

[2021-11-09 21:56] v-mabarw commented on #1362
Hi @j535158420, what version of SQL Server are you attempting to connect to?

[2021-11-12 17:30] aangelisc commented on #1284
Hey @architshukla, how did you get this to work? Would you be able to provide a gist?

[2021-11-16 20:52] NamedArray opened #1363 "How do I remove the "JSON_" key in front of responses that were formatted with "FOR JSON PATH""
I'm executing a stored procedure which contains a select statement that uses `for json path, root('error')` and returns info if an error was raised.

I get this: `{JSON_F52E2B61-18A1-11d1-B105-00805F49916B: '{"error":[{"ErrorNumber":50…"`
Instead of this:  `'{"error":[{"ErrorNumber":50…"`

Is there a driver option to remove that exterior "JSON_" wrapper?

[2021-11-17 19:55] MichaelSun90 commented on #1363
Hi @NamedArray, I have never tried a store procedure like this before, can you provide some steps with an example procedure, so I could try to reproduce this behavior locally? See if I can find where the driver has this prefix added to the response or this behavior is actually the expected behavior. To my knowledge, I do not believe I have seen any configuration that could be used to resolve this

[2021-11-18 08:13] terror2012 opened #1364 "Connection to named instance"
I'm trying to connect to a named instance on the VPN network, using hostname\instancename as provided by the documentation, but I'm getting socket hang up. I have this issue with both sequelize and mssql, since both use tedious as their driver.

As a side-note, I can successfully connect to this instance using Heidisql with the TCP/IP MSSQL connection (using the same configuration, server as hostn

[2021-11-18 22:37] MichaelSun90 commented on #1364
Hi @terror2012 ,

I have set a quick test locally, and the connection sees works for me.

this is what my test looks like:
[code]

The only thing I think that I modified is I set " encrypt: false, " in the option.  You can try that, see if it helps.

[2021-11-19 13:27] terror2012 commented on #1364
The solution was encrypt: false
Apparently leaving it empty or setting it to true gives the socket hang up error, setting it to false makes everything work perfectly. Thanks a lot for the help!

[2021-11-19 13:27] #1364 closed

[2021-11-23 02:37] NamedArray commented on #1363
@MichaelSun90

Long story:  I'm using the `knex` query library, which itself is using `tedious`.  `knex` too, receives the `JSON_prefix`.

For context, I'm trying to create a class in JavaScript that interacts with SQL and ultimately represents my "Model".  The problem is, I'm required to use Stored Procedures... I'm not allowed to use an ORM because I would have to grant permissions to tables. :(

[2021-11-23 18:45] MichaelSun90 commented on #1363
Hi @NamedArray,Thank you for all the details.
Just run a query using Sql Server Management Studio with a 'for Json' key word : "select  colname from table for json path" . In my result set, it also has a 'JSON_' prefix. Could this be a common behavior for  this key word, and not caused by tedious?
This is screen shot for my output :
![image](https://user-images.githubusercontent.com/47126816/14308

[2021-11-24 16:04] anton-johansson opened #1366 "Data type of returnValue"
Hi!

I'm using the `mssql` node package, which depends on this package. I'm using TypeScript, and my dependencies look like this:

[code]

I know this is not directly related to this repository. However, since the source property (`returnValue`) comes from this repository, I thought I'd start here. From the `@types/mssql` package, the `returnValue` property is typed as `any`. I would love to treat

[2021-11-24 20:12] MichaelSun90 commented on #1366
Hi @anton-johansson, can you point me to where this returnValue property is?  I have not used mssql, but if you point me where the resurnValue is, I could help you verify whether it is can be restricted to a number type on the tedious side.

[2021-11-25 01:55] guru-singh1 opened #1367 "Error while using mssql"
am using MSSQL in nodejs app,

Below code

const sql = require("mssql");
Is throwing

iisnode encountered an error when processing the request.

HRESULT: 0x2
HTTP status: 500
HTTP subStatus: 1002
HTTP reason: Internal Server Error
You are receiving this HTTP 200 response because system.webServer/iisnode/@devErrorsEnabled configuration setting is 'true'.

In addition to the log of stdout and stderr

[2021-11-25 16:00] anton-johansson commented on #1366
Hey @MichaelSun90!

The TypeScript defintion for `returnValue` can be found here:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/mssql/index.d.ts#L148

I'm assuming it's these lines (mostly guessing here):
https://github.com/tediousjs/node-mssql/blob/master/lib/tedious/request.js#L955-L957

[2021-11-25 18:47] MichaelSun90 commented on #1362
Hi @j535158420 , Can you provide us with a bit more detail on your issue?

[2021-11-25 18:57] MichaelSun90 commented on #1367
Hi @guru-singh1 , from your description, Seems the error message "You are receiving this HTTP 200 response because system.webServer/iisnode/@devErrorsEnabled configuration setting is 'true'." says that some settings on the iisnode affect the request behavior. In addition, you posted that the http status is 500, and this error message says "http 200". Which one is the actual return http status code

[2021-11-26 03:36] GillZhou opened #1368 "HELP:Unable connect to SQL Server 2000;"
1. TCP/IP is enabled and TCP Port 1433
![image](https://user-images.githubusercontent.com/39301697/143522620-6690e1e0-466f-4e98-818f-b6ceb9e0e65e.png)

2. SQL Server is running
![image](https://user-images.githubusercontent.com/39301697/143522796-7ee96efd-0053-41f9-88ae-12f2f83537d0.png)

3. SQL Server Agent is running
![image](https://user-images.githubusercontent.com/39301697/143522832-abe3c4d7-

[2021-11-26 19:01] MichaelSun90 commented on #1368
Hi GillZhou, I do not currently have a SQL server 2000 set up on hand, but I have tried your connection configuration setting, and I can connect to my local server without any problem.  You could try to enable the debug options on tedious side, which can provide more details on what causes that connection problem. There is how to enable the debug option from the connection configration:
[code]

Af

[2021-11-26 19:39] MichaelSun90 commented on #1366
Hi @anton-johansson , just checked. On tedious, there is a "procReturnStatusValue: undefined | any;" which should be corresponding to "returnStatus" here:
[code]
I have searched around and seems "procReturnStatusValue"  is only treated like a "number" type. From this, I think it should be safe to treat it as a number type. However, I can only confirm this from the tedious side, on mssql side, ther

[2021-11-26 19:51] dhensby commented on #1366
It's treated as an int in `node-mssql`

[2021-11-26 22:48] anton-johansson commented on #1366
That's awesome! Thanks a bunch for looking it up. I assume this means that we could change the data type in https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/mssql/index.d.ts#L148.

[2021-11-26 23:08] dhensby commented on #1366
certainly looks that way

[2021-11-26 23:09] dhensby commented on #1366
NB: but if tedious is declaring it as undefined|any then we probably should too

[2021-12-01 19:08] MichaelSun90 commented on #1368
Also, you can try to set the encrypt to false within the connection configuration. See if that helps.
var config = {
  server: '127.0.0.1',
  authentication: {
    type: 'default',
    options: {
      userName: 'sa',
      password: '123456'
    }
  }
  ,options: {
    **encrypt: false,**
    port: 1433,
    database: 'test',
    tdsVersion:'7_1',
    // you do not have to enable all of this opti

[2021-12-01 20:24] arthurschreiber commented on #1367
Hey @guru-singh1,

the current version of `tedious` requires at least Node.js 12 to run, because we're using JavaScript language features that were added in that version. I've no experience with `iisnode`, but it looks like it's running with an outdated version of Node.js.

You could try using older versions of `tedious` (as they supported older versions of Node.js), but you should know that those

[2021-12-01 20:24] #1367 closed

[2021-12-01 20:37] arthurschreiber commented on #1366
👋 @anton-johansson,

`number` is the correct type here. Unforunately, this is not typed correctly in `tedious`, and changing the type information would require us to be a bit more strict about verifying that the server is sending data in the correct order. `tedious` is a bit lax about this right now.

I don't think there's much harm to type this differently than the way it's typed in `tedious` - a

[2021-12-01 20:37] #1366 closed

[2021-12-01 20:42] arthurschreiber commented on #1363
👋 @NamedArray

`JSON_F52E2B61-18A1-11d1-B105-00805F49916B` is the column name that SQL Server uses to send back JSON data, and as you noticed, the data is sent back as a regular string.

If you want to actually use this data in your application, you need to pass the string to `JSON.parse` as part of your query result handling. Automatic handling for this won't be added to `tedious`, because we can

[2021-12-01 20:42] #1363 closed

[2021-12-01 20:42] morningtundra opened #1369 "FOR JSON PATH truncated results"
In SQL Server 2016, it [seems](https://stackoverflow.com/questions/51087037/sql-server-json-truncated-even-when-using-nvarcharmax) [the ](https://stackoverflow.com/questions/54973536/for-json-path-results-in-ssms-truncated-to-2033-characters/54973676) [results ](https://stackoverflow.com/questions/46327765/sql-server-truncates-data-returned-as-json?noredirect=1&lq=1)are being truncated.

What is t

[2021-12-01 20:56] arthurschreiber commented on #1369
Hey @morningtundra,

is this truncation happening in these other libraries / clients because of the value of the `TEXTSIZE` setting? `TEXTSIZE` is used to configure the length of text types (including `nvarchar(max)` that is used for JSON data).

In `tedious`, the `TEXTSIZE` is set to `2147483647` by default - so `nvarchar(max)` values can be up to 2GB in size. This should be large enough that tru

[2021-12-01 20:56] #1369 closed

[2021-12-01 20:59] arthurschreiber commented on #1362
@j535158420 without more details on this issue, there's no way we can provide help. I'm going to close this issue. If you can provide further information, we can re-open this. 🙇‍♂️

[2021-12-01 20:59] #1362 closed

[2021-12-02 05:55] guru-singh1 commented on #1367
yes, with higher version of nodejs i am able to connect,
current version 18.18
many thanks.

[2021-12-02 14:43] vineelgarimella commented on #1360
Hi @MichaelSun90  , do you have an ETA on which can we have the  https://www.npmjs.com/package/@azure/identity dependency updated to 2.x.x as stated above? We are currently waiting for the migration to resolve some of our security issues . Thanks

[2021-12-02 19:27] MichaelSun90 commented on #1360
Hi @vineelgarimella, unfortunately, we do not have an exact ETA yet for this. We are definitely considering making this upgrade soon. If we got an ETA or made this upgrade, we will definitely put an update here.

[2021-12-06 04:14] ramgee-da opened #1370 "Connection failed by logon trigger"
![image](https://user-images.githubusercontent.com/74703845/144786482-8a98d266-ade7-49d0-b1b5-f5842a8c4c1d.png)

I'm testing server trigger on my production server.
tedious connection fails when CRUD command exists on logon tirigger.
here's my logon trigger

USE [master]
GO

/****** Object:  DdlTrigger [block_ipaddress]    Script Date: 2021-12-02 ¿ÀÀü 10:40:45 ******/
SET ANSI_NULLS ON
GO

SET QUO

[2021-12-06 06:35] #1370 closed

[2021-12-06 06:37] ramgee-da opened #1371 "EVENTDATA().value in logon trigger"
error 'logon failed due to logon trigger' occurs when EVENTDATA() exists in logon trigger
ex)
USE [master]
GO
ALTER TRIGGER [block_ipaddress] ON ALL SERVER FOR LOGON
AS
BEGIN
	SET ANSI_NULLS ON
	SET QUOTED_IDENTIFIER ON

			SET ANSI_PADDING ON
			DECLARE @capturedip NVARCHAR(15)
			SET @capturedip = EVENTDATA().value('(/EVENT_INSTANCE/ClientHost)[1]', 'NVARCHAR(15)')
END
GO

error occurs due to 'S

[2021-12-06 16:28] NamedArray commented on #1363
Wow! I had never previously noticed that in SQL Management Studio.

[2021-12-06 19:14] MichaelSun90 commented on #1370
Hi @ramgee-da, I found someone who asked the same question at the Microsoft Q&A: https://docs.microsoft.com/en-us/answers/questions/652299/tedious-cannot-be-authenticated-logon-trigger.html.
I think DanGuzman' s under this link will be helpful to you. Let me know if that helps.

[2021-12-07 20:08] MichaelSun90 commented on #1371
Hi @ramgee-da, is this a repeated question of issue #1370 or do you have some other questions about this topic? If this is a repeated question that was submitted by an accident, can you please close this? Thanks!

[2021-12-08 00:04] ramgee-da commented on #1370
I still need help

[2021-12-08 14:22] Vic-tator opened #1372 "Node 16 getting error "class HttpsProxyAgent extends agent_base_1.Agent" TypeError: Class extends value undefined is not a constructor or null"
Hey,
recently moved to node 16 getting the following message:

/usr/src/app/node_modules/@azure/core-rest-pipeline/node_modules/https-proxy-agent/dist/agent.js:37
class HttpsProxyAgent extends agent_base_1.Agent {
                                           ^

TypeError: Class extends value undefined is not a constructor or null
    at Object.<anonymous> (/usr/src/app/node_modules/@azure/core-rest-

[2021-12-08 19:42] MichaelSun90 commented on #1372
Hi @Vic-tator, not sure how this issue is related to tedious? From you the error log, I did not see any entry is specifically related to tedious. Can you provide a bit more detail on how to reproduce this with tedious?

[2021-12-09 05:25] Vasanthi0205 commented on #799
Hi,
I am connecting to Azure Data Studio server from Node.js using tedious. (not using pool connection of tedious)
I am facing this ESOCKET error randomly.
My Version:
tedious: 12.3.0.

Please provide me a solution to resolve this

[2021-12-09 14:47] edwinspire commented on #799
I find myself with the same novelty, I connect without using pool, I do it to about 1000 different servers and of those 5 they present that message, it is not a TCP issue.
What else could you see?

[2021-12-11 16:42] edwinspire opened #1373 "Error ESOCKET - Could not connect (sequence) on Centos 7"
Kind regards.
I have been using TEDIOUS for a long time on various projects successfully. However now I have an application that connects to about 1000 windows SQL Servers, but my problem is specifically with 5 servers.
On my windows machine it connects perfectly, but when I upload my application to the CENTOS 7 production server it gives me connection problems only on those 5 servers.

The connec

[2021-12-11 18:32] arthurschreiber commented on #1373
Can you try using the same Node.js version on your Windows machine and see what happens? Another thing to try would be to setup a CentOS 7 VM and try to connect from there to one of those SQL Server machines.

The error message means that opening the socket failed (before any data was send from `tedious` to SQL Server). This means this has nothing to do with things like TLS configuration or anythi

[2021-12-12 02:16] edwinspire commented on #1373
Thank you for answering, you did not give me the solution but you indicated the direction to take. I put the logs and when doing the tests I noticed a pattern, all the servers that I cannot connect to are within the 192.168.122.X segment, which makes me suppose that there is some restriction to that segment. I'm going to attack from that side.
Thank you again and I will be telling you what the res

[2021-12-12 02:38] edwinspire commented on #1373
Well, I found that in Centos 7 when restarting the server a network card is raised in that network segment, once deactivated with the command:

![image](https://user-images.githubusercontent.com/3129446/145698181-d30c0fdd-a59a-45c8-a53b-aa7a1e4353d7.png)
sudo ip link set dev virbr0 down

The problem was solved.
I close the case, it was not because of TEDIOUS.

[2021-12-12 02:38] #1373 closed

[2021-12-12 09:02] Vic-tator commented on #1372
Hey, @MichaelSun90  from what i looked in my project tedious is the only package that using @azure/core-rest-pipeline.
tedious dependencies include:
"@azure/identity": "^1.5.2"
@azure/identity dependencies:
"@azure/core-rest-pipeline": "^1.1.0"

When i am trying to create a new connection :

const { Connection, Request } = require('tedious')
.
.
.
connection = new Connection(connectionOptions)

I

[2021-12-12 11:35] Vic-tator commented on #1372
Hey, tried to do simple connection (example from Microsoft site) using tedious got the same error:

const Connection = require('tedious').Connection
const config = {
  server: 'XXXX', // update me
  authentication: {
    type: 'default',
    options: {
      userName: 'user', // update me
      password: 'password' // update me
    }
  },
  options: {
    // If you are on Microsoft Azure, you need

[2021-12-13 10:57] utkarsh22garg commented on #660
Hi,

Checking in here to if support for windows authentication has been added to `node-mssql` yet ?

If not, is there any ETA when it will be added.

[2021-12-13 12:38] renatocamara opened #1374 "ConnectionError: Failed to connect to <azure-server-name>:1433 - Could not connect (sequence)"
I'm trying to run one sample microservices(Nodejs) deployed on **Azure Openshift(4.8.11)** but no success.

The microservices must connect to Azure SQL databases(PaaS).

Locally the microservices works normally.

What could be causing this issue?

You can see the code here:
https://github.com/renatocamara/api-nodejs-mssql

As you can see below. I'm receiving the error "ConnectionError: Failed to c

[2021-12-13 19:20] MichaelSun90 commented on #1372
Hi @Vic-tator, I just did a quick test, and the result is kind of a bit strange. I was on NodeJS 14, so I use the windows installer for NodeJS version 16.13.0 from their website to update the NodeJS to Node16. Then I can run a simple connection test with tedious without a problem. Then I want to double-check my tedious version with npm, and all my npm-related commands were returning me the error:

[2021-12-14 18:03] MichaelSun90 commented on #1374
Hi @renatocamara, I noticed that you are using process.env to pick up the credentials from the system environment variables. This will definitely work within an azure environment like azure VM or app service since they prepare those environment variables ahead among the creation of these environments. You mentioned the term "pod" in your description, not quite sure what is that, but I guess it is

[2021-12-15 19:11] martnjf opened #1375 "`.connect` can not be called on a Connection in `Connecting` state."
Hello everybody, I'm currently working in a Node JS project using Tedious, this is a function, that loops another function to insert data.
## My issue
The issue is that when I run my code for my ```insertOffice()``` just once, it works perfectly, but when I run it in the loop, I get the following error:

[code]
## What I expect
Using the documentation I saw around here, I expect my project to run

[2021-12-15 21:38] MichaelSun90 commented on #1375
Hi @martnjf, If I understand your code correctly, that you want to loop through multiple requests, right?

Something that you can try is:  move your connection-related operations outside of your interoffice(index). Then close the connection after all the requests are finished after functionLooper().  This will only close the connection when all the requests that you want to send are finished, and

[2021-12-16 13:02] renatocamara commented on #1374
Hi @MichaelSun90 in fact I deployed the microservices on ARO - Azure RedHat OpenShift. The connection with the database not works when I using Istio because I need to implements a circuit breaker.

When I deploy the microservices on ARO without use Istio the connection with database works normally.

I changed the type of the database, from MSSQL Server(PaaS) to MySQL(PaaS) and worked perfectly wit

[2021-12-17 15:20] danielhorwitz opened #1376 "socketPath to Google Cloud Platform MS SQL Server database"
I'm trying to connect to a MS SQL Server database residing on the Google Cloud Platform.
The application is running as a service on a Google node, so it does not have a static IP address.
To connect through the firewall, I need to provide the socket path specified by the database setup in Google Cloud Platform.
How do I configure the socket path for the tedious module?

[2021-12-17 15:24] martnjf commented on #1375
It worked @MichaelSun90 Thank you very much!

[2021-12-17 16:29] danielhorwitz commented on #1376
An example socket path is the following:
/cloudsql/horwitz-tapp-app:us-central1:horwitz-tapp-msxdb

[2021-12-17 17:53] MichaelSun90 commented on #1375
No problem. I will close this issue then.

[2021-12-17 17:53] #1375 closed

[2021-12-17 19:26] MichaelSun90 commented on #1374
Thank you for sharing this with me. Is it ok for me to close this one, or do you have some further questions?

[2021-12-17 19:33] MichaelSun90 commented on #1376
Hi @danielhorwitz, I have not used Google Cloud Platform before. I think tedious does not directly work with a socket path, but we can double-check that with Arthur. Just did a brief search online, and find a video that could be related to this. It uses something called sqlproxy to make the server reachable from localhost IP. Not sure if this can help you on this. I will post the link here: [Run W

[2021-12-17 19:51] danielhorwitz commented on #1376
Hi @MichaelSun90. That was a good solution for using Kubernetes. It is essentially the solution to use when running the application on a workstation, but communicating to the GCP database. It relies on starting the proxy on the workstation. Thanks for your suggestion.
Sadly, I'm trying to run the application within a GCP app engine. In that case, we don't explicitly start the proxy, but have to in

[2021-12-20 21:44] marcelodelta opened #1377 "How to use mssql connection using ip/instance?"
I'm trying to connect to a production MSSQL instance but it fails to connect.

Could anyone help?

I'm grateful for the community's attention.

.env
MSSQL_SERVER=ip/instance
MSSQL_PORT=1433
MSSQL_USER=sa
MSSQL_PASSWORD=password
MSSQL_DB_NAME=database

"message": "Failed to connect to ip/instance:1433 - getaddrinfo ENOTFOUND ip/instance",

[2021-12-21 03:16] #1377 closed

[2021-12-21 17:56] MichaelSun90 commented on #1377
Hi @marcelodelta , I saw you have closed the issue. Did you get it resolved on your side?  If you got it resolved, may I ask what was the issue, and how did you get it resolved?

[2021-12-21 20:27] joshberg opened #1378 "Arithmetic overflow for Int appears to validate against smallint Version 14.0.0"
Here is the error I am getting:
`Error: Arithmetic overflow error for data type smallint, value = 9549732.`

I am generating the value by using a random number:
`let randomID = Math.floor(Math.random()*10000000);`

Here is the parameter I am using:
`requestInsert.addParameter('paramEmployeeID', TYPES.Int, EmployeeID);`

I did a search for smallint in my file and did not see any. Let me know if I n

[2021-12-21 21:30] joshberg commented on #1378
It looks like I am actually trying to store to a smallint. Problem is on the database side not Tedious. Sorry about that.

[2021-12-21 21:30] #1378 closed

[2021-12-29 18:06] mShan0 commented on #1331
Hi @Maferamirezz, are you still having this issue?
Can you double check that your server parameter in the config is correct? I'm getting the error message when my server hostname is incorrect since this message indicates that Tedious is still trying to find the SQL server when the request is sent. Your code works when the server hostname is correct so I suspect something with the server hostname c

[2022-01-04 07:14] irzelindo commented on #1251
I had the same issue and this solution worked for me.

[2022-01-06 20:42] imtiyazthange commented on #923
I am still facing this error, do we have any other fix or workaround.

[2022-01-07 17:58] MichaelSun90 commented on #923
Hi @imtiyazthange, I assume you have already tried the fix and configuration settings mentioned in this thread. I am wondering, which version of tedious and node are you currently on?  If possible, can you post your connection configuration here? In this way, we can try to reproduce the behavior with the same setup. Thanks!

[2022-01-07 19:22] imtiyazthange commented on #923
I am using node-mssql version (7.1.4) not tedious, but node-mssql reference tedious internally (version 4.0.0)
And my application is running under Node.js 14 LTS.

` {
   user: process.env.DB_USER,
   password: process.env.DB_PASS,
   database: process.env.DB_NAME,
   server: process.env.DB_SERVER!,
   requestTimeout: Number(process.env.DB_REQUEST_TIMEOUT || 30000),
   stream: false,
   pool: {

[2022-01-07 22:08] mShan0 commented on #923
@imtiyazthange Can you try upgrading Tedious to a version that is at least 6.2.1?

[2022-01-12 23:37] weatherangel commented on #923
Requiring tedious 6.2.1 in my project rather than depending on mssql's minimum version fixed the issue for me.  Even though I had updated mssql, the version of tedious was still an issue.

`{
...
  "engines": {
    "node": ">=16.13.0"
  },
  "scripts": {
    "start": "node server.js"
  },
  "dependencies": {
    "body-parser": "^1.19.0",
    "express": "^4.17.2",
    "fs": "0.0.2",
    "mssql": "^

[2022-01-12 23:44] mShan0 commented on #923
Awesome! Glad it worked out.

[2022-01-22 14:08] thomasholknielsen opened #1387 "Login failed for user '<token-identified principal>' when using authentication.type = 'azure-active-directory-service-principal-secret'"
I'm trying to connect to an Azure SQL DB with the following config object

[code]

When using the default authentication type supplied with userName and password option, connectivity works as expected.
However,  when using type= 'azure-active-directory-service-principal-secret' I get an error stating that: Login failed for user token-identified principal

At first, I thought the issue was related

[2022-01-24 18:20] MichaelSun90 commented on #1387
Hi @thomasholknielsen, Thank you for bring this up, and the detail explanation. We will try to reproduce this on our side, and will get back to you if we found the issue or we have a solution.

[2022-01-24 19:44] jsimonweb opened #1388 "Encrypted connection fails to connect when using SQL Server instance's IP address and custom Common Name (CN) in server certificate."
## Expected behavior:

Secure connection should succeed if a valid server certificate is provided along with a custom Common Name (CN) which matches a Common Name (CN) present in the server certificate.

## Actual behavior:
Google Cloud SQL for SQL Server generated SSL server certificates include a Common Name (CN) formatted as: `project-id:instance-id`

Example snippet from a generated SSL server

[2022-01-25 20:19] MichaelSun90 commented on #1388
Hi @jsimonweb, can you try to set the encrypt=false if this is not a hard restriction for you server? See if that works.  I found a thread that may related to why "encrypt = true" may not works here: https://github.com/tediousjs/tedious/issues/903#issuecomment-614597523.
Hi @arthurschreiber , is there anything else based on the information provided here could cause this error?

[2022-01-27 14:28] martnjf opened #1391 "Error: Requests can only be made in the LoggedIn state, not the LoggedInSendingInitialSql state . Error: Requests can only be made in the LoggedIn state, not the SentLogin7WithStandardLogin state."
Hello everyone, a few days ago I asked about an issue, that wasn't really an issue, but I was helped by MichaelSun90, [here it is](https://github.com/tediousjs/tedious/issues/1375).
To resume the problem is that, I need to insert multiple objects into a DB in SQLServer, so I was told here that I needed to change my code to make multiple request, so I did it.

## My issue
The issue is that when I r

[2022-01-27 19:12] MichaelSun90 commented on #1391
Hi @martnjf , we have discuses within the teams. From what you have provided. it seems you are trying to send request when the corresponding connection has not been full formed. Your code works for you own PC but not work PC could because that these two PCs has different performances. The performance difference may cause a delay during the run time which allows the connection to be fully formed be

[2022-01-27 21:29] mShan0 commented on #1387
Hi @thomasholknielsen, we've been looking into this and it seems like it could be a permissions issue on the SQL server side. That error message is from the DB server side, usually indicating that the client trying to connect does not have permission to connect to the DB it's trying to connect to. Tedious actually does use the same "https://database.windows.net/.default" scope internally so we don

[2022-01-28 14:38] martnjf commented on #1391
Once again, thank you so much for your answer and your time @MichaelSun90! It helped me alot :)

[2022-01-28 14:39] #1391 closed

[2022-01-30 10:47] akc42 opened #1392 "Github reporting a high severity security issue with simple-get"
I am getting a high severity security issue from `simple-get`.  As far as I can work out it comes from tedious use of @azure/identity which is currently shown in your package.json as v 1.5.2

npm does show a v2 of this package, although it appears to have breaking changes,

[2022-01-30 15:34] clshortfuse commented on #1392
[code]

[2022-01-30 17:18] #1392 closed

[2022-01-31 14:17] akc42 opened #1395 "Warning for not setting config.options.trustServerCertificate when config.options.encrypt set to false"
My options config specifically says `config.options.encrypt` set to false, but I am still getting node warnings in my log about not explicitly setting`config.options.trustServerCertificate`  surely it should need to have been set if I am not encrypting the connection

[2022-01-31 18:31] michaelpinnell commented on #1392
curious as to the timeline of releasing a new version of tedious with this bump in it

[2022-01-31 19:14] mShan0 commented on #1395
HI @akc42, the warning message is related to #1361. Currently, the `config.options.trustServerCertificate` option defaults to `true`, but is going to be changed to `false` in the future. If you explicitly set a value for `config.options.trustServerCertificate` it will stop emitting that warning message. The warning will emit for any config without it set, regardless of what the other config option

[2022-02-01 00:01] akc42 commented on #1395
Yes but if `config.options.encrypt` is set to false then the actual value of `config.options.trustServerCertificate` is mute because what ever setting it has is irrelevant.  So the warning message doesn't make sense in this scenario.

[2022-02-01 02:05] ANTGOMEZ opened #1397 "RequestError: Requests can only be made in the LoggedIn state, not the Connecting state"
I see this error was talked about here: [https://github.com/tediousjs/tedious/issues/458](url) and I tried the suggested solution, but it didn't work for me.

Here is my code:

`

        exports.exec_sql_cmd = async function(cmd)

        {

        var config = {

            server: 'xx.xx.xx.xx',

            authentication: {

                type: 'ntlm',

                options: {

[2022-02-01 07:53] thomasholknielsen commented on #1387
Hi @MichaelSun90 and @mShan0, thanks for taking the time to look at this.

### I figured out what the problem was - the tedious library was not the issue.
I was using the package node-mssql, which utilizes tedious behind the scenes. However, node-mssql holds the database property at the root of the config object, whereas tedious has it placed under root.options.database. Since my original config d

[2022-02-01 18:39] mShan0 commented on #1397
Hi @ANTGOMEZ,

I've noticed that `connection.on` is not handling the error parameter in the callback function. Could you try handling it in a similar fashion to `executeStatement`? I.e. print the error if it exists. The connection function could be missing an error coming from the database side with more details.

[2022-02-01 18:41] mShan0 commented on #1387
Hi @thomasholknielsen,

Thanks so much for getting back to us with such a detailed solution. I'm glad you got it figured out.

[2022-02-01 18:41] #1387 closed

[2022-02-01 23:26] ANTGOMEZ commented on #1397
Hi,

This is the code I am using now, below. When I run it, it doesn't throw any errors, but it doesn't do anything.

The function lives in a separate file. But that's not an issue, it does get called and the method is invoked. Now I'm getting the config from ParamStore in AWS, I have verified that that's good. It's the same as the prior code I submitted, so that's not an issue.

I put the error c

[2022-02-01 23:36] mShan0 commented on #1397
I've noticed that your new code block is missing a `connection.connect()` call. Could you add that in and try it again?

[2022-02-02 00:02] ANTGOMEZ commented on #1397
Oops, missed that, but after adding that back in, now I'm back to this error:

CONNECTION ERROR: Error: Failed to connect to xx.xx.xx.xx:1433 in 15000ms
Connected
REQUEST ERROR: Error: Requests can only be made in the LoggedIn state, not the Connecting state

So the Connection event is at least fired, but ...

From: mShan0 ***@***.***>
Sent: Tuesday, February 1, 2022 6:37 PM
To: tediousjs/tedious

[2022-02-02 00:20] mShan0 commented on #1395
I agree that tedious probably should skip the deprecation warning in your scenario. Given the ease of modifying the config file to include the option to get rid of the warning, I think making this change is a pretty low priority. However, if you want to submit a code change for it, feel free.

[2022-02-02 00:38] mShan0 commented on #1397
Thanks for doing that. Will take a look into this. Can I get the Node version and Tedious version you are using?

[2022-02-02 00:48] ANTGOMEZ commented on #1397
Thanks for your kind help.

Node: v17.1.0
Tedious: 14.1.0

[2022-02-02 16:06] debasis-mondal commented on #1392
@pekim Can we please have the new version of tedious with bumped up @azure/identity soon?

[2022-02-02 19:02] mShan0 commented on #1397
I'm not 100% sure if this is the same issue you have, but there has been an issue with NTLM authentication when using Node 17 (as Tedious does not officially support Node 17 currently). If you throw the error inside of this block:
[code]
and you see an error message similar to this one: [https://stackoverflow.com/questions/69692842/error-message-error0308010cdigital-envelope-routinesunsupported](u

[2022-02-02 19:26] debasis-mondal commented on #1392
thanks @clshortfuse, your suggestion is working for me. But, as you mention we only need the dependency on certain condition, can we mark that as peer dependency?

[2022-02-02 19:37] clshortfuse commented on #1392
@debasis-mondal I'm not sure of the consequences in using `peer-dependency`, but I know `override` was specifically created for this situation:

Using a `peer-dependency` makes all packages use that version. We know forcing `tedious` to use `@azure/identity@2.0.1` is safe without any code changes, but if you had another package that also uses `@azure/identity` v1, it might crash when forcing it to

[2022-02-03 17:49] joelvarty opened #1398 "azure-active-directory-password not working passed v12.3.0"
When I attempt to use tedious greater than v12.3.0 with azure active directory password, I get a weird warning, and an error.

Warning is this:
[code]

Error is this:
[code]

When I run the code with v12.3.0, it works just fine.

Here's my example code (based on a tutorial from Microsoft Docs...)
[code]

[2022-02-03 18:07] MichaelSun90 commented on #1388
Hi @jsimonweb, we did a bit more digging, and find that we do have a serverName. However, it is not really handled properly.  We will make a fix for this and will let you know when the change is ready.

[2022-02-03 20:29] MichaelSun90 commented on #1398
Hi @joelvarty , for using 'azure-active-directory-password' an azure registered application client id is required. In tedious, we used to provide a clientId within the driver internally which is not really good practice. The proper way to do this is to allow users to pass in their clients. That's is why we rise the warning here. Here is a [link ](https://docs.microsoft.com/en-us/graph/auth-registe

[2022-02-03 20:54] joelvarty commented on #1398
Thanks so much for the clarification, @MichaelSun90 !

I already had an Azure Enterprise Application setup, and when I plugged in those values, it worked perfectly!

[2022-02-03 20:54] #1398 closed

[2022-02-06 08:47] EG-DEV5 commented on #1052
I used the windows login for the database, and i couldn't connect using tedious on NodeJS app!! what should I do ?

[2022-02-07 17:49] MichaelSun90 commented on #1052
Hi @EG-DEV5, if you do not own the data base and you are not on NodeJS 17, then you can use out NTLM authentication type wich allows you to provide you window credential for logging in.
[code]
If you own the SQL Server instance, then you can easily create a user using SQL Server Management Studio, then use that user for logging via tedious default authentication.

[2022-02-11 03:59] ANTGOMEZ commented on #1397
Sorry for the late response. But I did switch back to Node 16 and it worked.

Thank you for your help!

[2022-02-11 03:59] #1397 closed

[2022-02-11 04:23] ANTGOMEZ opened #1401 "Tedious connector to SQL DB works when called locally, but when deployed to AWS Lambda, it does not work."
Originally, I was using the example code that's "out there" in the wild to connect to SQL with NodeJS, and that worked fine.

However, I had to write unit tests for it with Jest and I could not do it in that form, so I re-wrote the function by breaking it up into pieces to make it easier to write tests for. I was then able to write and run tests, and the code also works when I run it from my local

[2022-02-11 13:34] gigi2021jl opened #1402 "package.json"
N

[2022-02-11 15:43] ANTGOMEZ commented on #1401
UPDATE:

Set type to default and removed the domain, then also called the main function `exports.execSQLCmd`  with `await`. Now it works as expected!

[2022-02-11 16:10] mShan0 commented on #1402
Hi @gigi2021jl, did you have an issue with Tedious?

[2022-02-11 16:13] mShan0 commented on #1401
Hi @ANTGOMEZ, glad you got it working. If you aren't using NTLM anymore, you can feel free to use Node 17 with your project.

[2022-02-14 18:18] MichaelSun90 commented on #1402
Hi @gigi2021jl, if you got a question or issues just open a new one here. I will close this one for now.

[2022-02-14 18:18] #1402 closed

[2022-02-14 18:19] #1401 closed

[2022-02-15 19:37] KrisLau opened #1405 "Tedious equivalent for pg's `setTypeParser` for tedious"
I'm trying to move my database from postgres to mssql and I'm having trouble with some parts like parsing the date like this:
[code]

How do I recreate this with tedious? Is this even possible?

[2022-02-15 21:44] #1405 closed

[2022-02-16 18:12] rzhao271 opened #1406 "Authentication type parameter seems to accept too many values"
I noticed the allowed values for the authentication type parameter are being filtered down during runtime, but the type itself seems to accept string values, and even `undefined`.

I'm wondering whether the type of the `authentication.type` parameter can instead be set to something like
[code]

This way, users would know exactly which values are valid for a given version of tedious.

![A screensho

[2022-02-16 20:10] MichaelSun90 commented on #1406
Hi @rzhao271, I am wondering which version of tedious driver are you on? I just checked our latest code and seems we already handled it. You can check the latest source at line 477 code [here](https://github.com/tediousjs/tedious/blob/master/src/connection.ts#:~:text=type%3F%3A%20AuthenticationType%3B). From there you can check the definition of the auth type and corresponding type handlings.

[2022-02-16 20:25] rzhao271 commented on #1406
Looks like I missed those lines. I'm using https://www.npmjs.com/package/@types/tedious because I noticed https://www.npmjs.com/package/tedious had a `DT` annotation.

[2022-02-16 20:53] MichaelSun90 commented on #1406
I do not think you have to use that since we do support our own types within tedious.  You can give it a try, see if it meet your needs. Our project is [here](https://github.com/tediousjs/tedious). Also, you can try to post this issue on their [board](https://github.com/DefinitelyTyped/DefinitelyTyped/issues), see if they can help you on this.
Hi @arthurschreiber, I am not sure why there is a DT m

[2022-02-17 07:27] 57r31 commented on #375
yep just run into same problem, seems tedious still dont support FETCH NEXT FROM BatchCursor
without INTO

[2022-02-20 14:53] RSS1102 commented on #923
can you help me for this? i also  get this fail.

[2022-02-22 07:49] komtalekar opened #1407 "SSL routines:ssl_choose_client_version:unsupported protocol"
I ma facing below issue when connecting to  SQL 2008R2 SP3 GDR

code:'ESOCKET'
message:'Failed to connect to testsqlserver:undefined - 30128:error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol:c:\ws\deps\openssl\openssl\ssl\statem\statem_lib.c:1947:\n'
name:'ConnectionError'
originalError:ConnectionError {message: 'Failed to connect to testsqlserver.…enssl\openssl\ssl\statem

[2022-02-22 09:06] arthurschreiber commented on #1407
Which version of Node.js are you using?

[2022-02-22 11:54] komtalekar commented on #1407
v14.15.5

[2022-02-22 14:07] abdulhadi-tcp commented on #799
This did the trick for me after trying 99% of the solutions I found online:
https://stackoverflow.com/questions/61484005/timeout-error-while-connecting-to-sql-server-connection-error-failed-to-connec

[2022-02-23 07:22] komtalekar commented on #1407
hi @MichaelSun90  Thanks a lot . It worked for me with TypeOrmModule.forRoot({ but I am struggling to put cryptoCredentialsDetails options in TypeOrmModule.forRootAsync(

[2022-02-23 14:56] jamesderrick opened #1408 "Unable to connect to Azure SQL using Azure AD Credentials"
I have followed every guide I can find but cannot connect to my company's Azure SQL DB. I believe everything in the cloud is working fine as I'm able to connect to the database using Azure Data Studio without issue.

I'm using the latest version of tedious v14.3
And using Node v16.13

My config looks like this...
[code]

I'm getting a deprecation warning regarding not having a clientId, but I shou

[2022-02-23 17:47] mShan0 commented on #923
Hi @RSS1102, what Tedious version are you using?

[2022-02-23 17:53] MichaelSun90 commented on #1408
Hi @jamesderrick, for the clientId, on the tedious side, we used to hardcode a client from a registered application that we set up internally. We recently found out that is not a good practice to do it this way, the best practice should be: users set up their own registered applications and grab their own client id and pass that into tedious via a connection config we provided call clinetId. That

[2022-02-23 18:03] MichaelSun90 commented on #1407
Hi @komtalekar , is TypeOrmModule a nestjs side function. I am not really fimilar with this function. You may need to consult with their side.  Also, I have a link to a [doc](https://nodejs.org/docs/latest/api/tls.html#tls_tls_createsecurepair_credentials_isserver_requestcert_rejectunauthorized) for cryptoCredentialsDetails, hope that helps.

[2022-02-23 18:15] jamesderrick commented on #1408
I can confirm `mssql` does accept `tenantId`, however using the latest version of that (v8.0.2), authentication is unsuccessful. I get the same "Security token could not be authenticated or authorized" error. Just let me know if I should raise another issue on the mssql GitHub page, though it seems like I'm missing things rather than it being a bug

[2022-02-23 18:22] MichaelSun90 commented on #1408
I also checked mssql is still on tedious 14.0.0, and the tenantId change is in 14.3.0. However, during the mean time, you can try change the key name from tenantId to domain. That is the old name for accepting tenantId in the past, but we will that is kind misleading for users, so we made a change in tedious version 14.3.0.
[code]
Also, it will be great if you could also post an issue on mssql sid

[2022-02-23 18:34] jamesderrick commented on #1408
Testing tenantId in tedious will have to be a task for tomorrow as I can't get back into my work vm today. However, I've tried using the latest mssql with tenantId and domain (I get a deprecation warning if I use domain) and neither one works, both give the same authorisation error as tedious. I have to go back to mssql v7.1 for Azure AD auth to work for me with my current config (with tenantId in

[2022-02-24 06:16] komtalekar commented on #1407
Thanks a lot @MichaelSun90 . I changed my nodejs version from 14 to 10 then it worked as per below comments in issue [#914 ]

For those that run into a similar error, this is because since Node.js 12, the default TLS settings were tightened. Most likely your SQL Server does not support TLS 1.2, but it's required by default in Node.js 12. You can change this either via a command line flag when star