[2016-02-05 22:15] closedstack opened #360 "SQL AlwaysOn Availability Groups - MultiSubnetFailover"
SQL Server 2012 onwards has the concept of Availability groups and  to provide high availability locally as well as at remote sites. It also allows you to load balance connections that are only running readonly workloads to secondary replicas.

If a site becomes unavailable - you can have the instance at a remote site take over the workload - but to make this possible, you have to put 2 (or more)

[2016-02-07 01:07] neverfox commented on #304
I'm having the same issue on 1.13.2. I'm having to rely on the Request callback at the moment.

[2016-02-09 21:02] arthurschreiber commented on #360
Please see #362 for a correct implementation of availability groups via DNS.

[2016-02-09 21:02] #360 closed

[2016-02-11 14:08] arthurschreiber commented on #359
I don't think `tedious` supports this out-of-the box. I'm also not sure if that's a good idea. Connections to SQLServer carry state, like connection level settings or transactions. Automatically reconnecting will lose this state, which might be **extremely** bad if you have subsequent queries which assume they're being executed in a transaction.

In redis, there is no such thing, so reconnecting a

[2016-02-11 14:08] #359 closed

[2016-02-11 14:10] arthurschreiber commented on #358
I'm assuming your mean that you can't mock the constructor? You can try mocking the `initialiseConnection` method on the `Connection.prototype` instead.

Feel free to reopen this if I misunderstood your question. :smile:

[2016-02-11 14:10] #358 closed

[2016-02-11 14:14] arthurschreiber commented on #356
Tedious currently modifies the `config` object that you pass to the `Connection` constructor. The exception here is complaining that it can't set the `tdsVersion` property. How does your `config` object look like?

[2016-02-11 14:17] arthurschreiber commented on #352
@yossazou There is not enough information here to understand what's going on. The error you see means you try to execute a request while tedious is no longer connected to the DB.

@austincap You're executing a request on the connection before the connection was established. That's why you get the `Requests can only be made in the LoggedIn state, not the Connecting state` error.

[2016-02-11 14:19] arthurschreiber commented on #345
Once #362 gets merged and released, `tedious` will support multi subnet failover.

[2016-02-11 14:19] #345 closed

[2016-02-11 14:21] arthurschreiber commented on #306
I'm closing this for now, as it's not something that I believe we can implement with reasanoble effort. Feel free to re-open if you feel otherwise.

[2016-02-11 14:21] #306 closed

[2016-02-11 14:22] arthurschreiber commented on #247
I'm closing this now, as I believe this was related to nodejs/node#2457 and is not something `tedious` specific.

Feel free to re-open if you still see this issue on recent Node.js versions.

[2016-02-11 14:22] #247 closed

[2016-02-11 14:32] dachev commented on #356
@arthurschreiber We use https://github.com/lorenwest/node-config. It looks like this module might be creating immutable config objects. Thanks for your help. I think it's save to close this ticket.

[2016-02-11 14:32] #356 closed

[2016-02-11 14:49] mithun-daa commented on #345
:+1:

[2016-02-11 14:53] arthurschreiber opened #363 "Tedious modifies passed in `config` object"
Tedious currently modifies the `config` object that is passed into the `Connection` constructor. This is bad practice and causes a lot of problems, as this is quite unexpected.

See #356 for one such problem.

The simplest fix for this would be if `tedious` would create a deep copy of the passed in `config` object.

[2016-02-13 10:18] akc42 opened #364 "Debug messages emitted despite connection config having them off"
A short while ago I turned on debugging to find out what was happening with a problem I was having (its a connection pool problem).  This involved be switching debugging on in the connection config and creating a listener elsewhere in my code for the emitted debug event on the connection.

I turned debugging off again but forgot I had left the listener in my code.  I was still getting token debug

[2016-02-13 10:36] akc42 opened #365 "Connection end not emitted after a reset."
I have raised issue #29 on the connection pool repository because I am seeing idle connections timing out and then giving me an error when I try and use them.  I have patched the code so that it changes state to pending when the timeout occurs, so that the connection is not re-used until the end event is emitted.

But on a used connection the end event is not emitted. Here is the section of my log

[2016-02-13 13:27] akc42 commented on #365
Apologies this was my bug.  I was removing all listeners from the connection when I completed a request.  Obviously it got released back into the pull, but the connection end would no longer fire on it.

[2016-02-13 13:27] #365 closed

[2016-02-13 17:35] arthurschreiber commented on #364
Hey @akc42

Thank you for your issue. :heart: Can you provide a simple reproducible test case for this issue you're seeing?

[2016-02-13 18:44] akc42 commented on #364
@arthurschreiber  I am not sure what form you want this in. The way I am using it is in a library I built which wraps round some of the connection and request functions, and its way too complicated to give you that.

I'll try and mock up a simple node file that does what I am doing and see if I can reproduce it with that.  They we can discuss how you want to see given the database I am using here.

[2016-02-13 19:16] akc42 commented on #364
The following is a simple node file that I created which demonstrates the problem.
[code]
The following is the output from running that.  You will see I get debug messages but nothing sets debug on.

[code]

[2016-02-17 21:59] kjvalencik commented on #303
@arthurschreiber Was this regression resolved?

[2016-02-19 04:20] diginfo opened #368 "unknown type 0 error with sqlserver 2000"
I have just upgrade from version 0.2.4 to the latest on the understanding that it now supports the older SQL2000 which I don't believe was supported previously.

I can connect to 2008 no problem, but as soon as I try and connect to 2000 it crashes the engine with a 'unknown type: 0' error, this error is not caught by the error handler.

here's the connection info and the error, the engine and sour

[2016-02-19 05:31] diginfo commented on #368
OK, I have found the cause, it seems that auto negociation is not working on 2000 (it selected 7.4 instead of 7.1) and it is therefore necessary to specify the version in the connection.

Once I did this it connected no problem, I think this may be a bug ?

[2016-02-19 21:29] deanvlue commented on #61
same problem here, i'm using execSql, although  doneProc and doneInProc get triggered i'm not getting any data from rows even when rowsCount is greater that 0 (in my case only one row)

[2016-02-20 14:13] arthurschreiber commented on #61
@deanvlue I really can not reproduce this issue. What version of SQL Server are your running against? Which version of `tedious`? Can you come up with a minimal reproducible test case?

I believe that people misunderstand how and when the `done`, `doneProc` and `doneInProc` events fire, so understanding your issues will allow me to clarify the docs.

[2016-02-20 14:14] arthurschreiber commented on #368
Yeah, this must a bug in the version negotiation / detection code. We don't run unit / integration tests against SQLServer 2000 (only 2008 and later), so I'll have to set it up on my machine somehow to test this.

[2016-02-20 14:16] arthurschreiber commented on #303
@kjvalencik Partially, yes. The parser was changed to not use any generator functions anymore. There's still a few areas left where performance can be improved, but that work is not finished yet. Overall, performance will largely depend on your use cases.

[2016-02-20 14:43] arthurschreiber commented on #304
@neverfox Can you provide a reproducible test case? It's really hard for me to understand how people encounter this issue, as tedious comes with a bunch of unit and integration tests which specifically check that the `done` token is fired correctly.

[2016-02-23 22:56] himion0 opened #369 "Does the addParameter method for request have SQL Injection protection"
Hi I just wanted to know if this is the case. I.e. does the method remove/escape the '/" characters for example?

[2016-02-23 23:03] bretcope commented on #369
Simply answer: yes.

More correct answer: Parameters are part of the TDS protocol. They're not inlined into the SQL itself, and therefore don't need to be escaped. Parameters are not only safer than inlining, they also allow SQL Server to cache query plans, which makes your queries run more efficiently.

[2016-02-23 23:03] #369 closed

[2016-02-25 02:22] neverfox commented on #304
Let me give it a shot.

[2016-02-28 21:57] mhingston opened #370 "Performance issue?"
SQL Server 2008 R2, Node 5.7.0, TDS 7.4 (default configuration, only custom config is for increased requestTimeout).

I've noticed when calling a particular parameterized stored procedure within a database that tedious is taking an exceptionally long time for the request to complete. I've setup a test case on the database server itself to rule out any network latency and it still takes the same am

[2016-02-29 09:11] arthurschreiber commented on #370
Hey @mhingston.

Is this just happening with one specific stored procedure? How much data is returned by it? Can you share the code of the stored procedure and the data?

[2016-02-29 17:46] mhingston commented on #370
I've only noticed it on [this particular stored procedure](https://github.com/pekim/tedious/files/151362/email_clicks.sql.txt), it's bringing back 17 rows with 13 columns, the data types are just Int, DateTime and NVarChar.

I've copied the database tables used by the stored procedure to a new database, have re-indexed them and truncated the database to less than 200MB as well as taking out the se

[2016-02-29 17:46] #370 closed

[2016-03-02 18:48] bretcope commented on #370
@mhingston it could have been a very bad query plan cached for calling the SP. When you called an identical SP except for name, it would also create a new plan, which was perhaps much better. Did you try using [DBCC FREEPROCCACHE](https://msdn.microsoft.com/en-us/library/ms174283.aspx) to clear the plan cache and see if the original SP performance improved? Perhaps irrelevant now, but something to

[2016-03-03 21:52] yosiasz commented on #370
that is a scary sproc. you got a lot going on in that sproc. the issue is more with the sproc and tedious is exposing it
for example #EmailClick. no index.
create table #EmailClick
insert into #EmailClick
create index you will be joining to it with
way outside of tedious' scope..sorry

[2016-03-11 15:33] lee-houghton commented on #238
Interesting. I'm still seeing this issue in 1.13.2 (if it is even the same -- I'll create a new issue if necessary), with the `secure` event unbound. If I change the cipher suite to RC4-MD5, it works. If not, I get stuck at SentLogin7WithStandardLogin. It's not an Azure instance. Unfortunately I don't have admin access to the server.

There doesn't seem to be a workaround which will work for all s

[2016-03-13 02:24] #320 closed

[2016-03-14 01:13] luiey opened #371 "[ECONNREFUSED] running on node-red chrome"
Hi,

I was just playing with node-red. Very new to write java. How to connect to mssql database?
Database installed: MSSQL 2008 Express.
Browser:Google Chrome

I already trying connect using Function and MSSQL nodes separately but both failed.
Function code:-
[code]

Nodes:-
![mssqlcn](https://cloud.githubusercontent.com/assets/17740673/13732717/f57892ce-e9c3-11e5-9b9b-2a83bdbedace.png)

Nodejs:-

[2016-03-14 05:42] bretcope commented on #371
It looks like you're using [node-sqlserver](https://github.com/Azure/node-sqlserver). Tedious has nothing to do with that project.

[2016-03-14 05:42] #371 closed

[2016-03-14 07:43] luiey commented on #371
Hi @bretcope

I was new in Github and node and java. Thought I might sending wrong issue to your site. My apologies for that. I will pass the question to the link. Thanks

[2016-03-16 12:50] bergi9 opened #372 "Performance issue with too many columns"
SQLServer 2012, Node 5.7, Default Configuration
I have a table with 79 columns.
If i query with `SELECT * FROM table WHERE Num = @Num`, which returns only single row, it takes ~420ms.
If i query with `SELECT Num FROM table WHERE Num = @Num`, which returns one column and one row, it takes ~2ms.
I have test it with concurrent connections (tedious-connection-pool), which returns the same times on sam

[2016-03-16 13:23] lee-houghton commented on #372
Are there any large text/binary columns in this table?

How long does it take using another library such as ADO.NET or ODBC, or tool such as sqlcmd or SQL Server Management Studio?

[2016-03-16 15:23] bergi9 commented on #372
It turns out the delay was from the VPN connection. I'm sorry to created the issue.
After testing via ADO.NET it has the same issue too until i moved to localhost.

[2016-03-16 15:23] #372 closed

[2016-03-22 13:33] gkorland commented on #300
We're getting the following error tens of times a day (we're using tedious-connection-pool)

`database connection error:  {\"message\":\"Connection lost - read ECONNRESET\",\"code\":\"ESOCKET\"}`

[2016-03-22 14:33] seanlindo commented on #300
@gkorland I'm using the same with an Azure SQL Instance, and we get buried in these every day. I've never seen anything like it.

[2016-03-23 22:02] jcollum opened #373 "Failed to connect message doesn't take into account default port"
src/connection.js line 430

`const message = 'Failed to connect to ' + this.config.server + ':' + this.config.options.port + ' in ' + this.config.options.connectTimeout + 'ms';`

I'm using the default port, which doesn't seem to have made it into to the config.options. Results in an error that is misleading: `Failed to connect to DEF.abc.xyz.com:undefined in 15000ms (err.code=ETIMEOUT)` -- note th

[2016-03-25 09:30] Hertattack opened #374 "Datetime2 precision higher then Date object precision, losing information"
Hi,

We are using fields of type datetime2(7), that means time at 100ns precision. The JavaScript Date object had a precision that equals datetime2(3), this is 1ms precision.

When you select from a table with datetime2(7) fields that data is put in JS Date objects, losing information in the process. Depending on the precision of the field a JS Date object can be used, but when the precicion is hi

[2016-03-25 10:06] Hertattack commented on #374
I have just looked at the code and saw the nanosecondsDelta property. That should be what I need I think.

[2016-03-27 18:05] #374 closed

[2016-03-30 15:49] mhingston opened #375 "Unknown type: 164"
Hi, I'm getting `Unknown type: 164` when calling a sproc that uses a cursor. Tedious 1.13.2, SQL Server 2008, default connection options.

	CREATE PROCEDURE [dbo].[UnknownType164Test]
	AS

	DECLARE BatchCursor CURSOR FOR
	SELECT TOP 10 ID
	FROM MyTable

	DECLARE @ID int
	OPEN BatchCursor
	FETCH NEXT FROM BatchCursor
	WHILE @@FETCH_STATUS = 0
	BEGIN
		FETCH NEXT FROM BatchCursor
		INTO @ID
		SELECT

[2016-03-30 15:58] mhingston commented on #375
I resolved the issue by changing to:

	CREATE PROCEDURE [dbo].[UnknownType164Test]
	AS

	DECLARE BatchCursor CURSOR FOR
	SELECT TOP 10 ID
	FROM MyTable

	DECLARE @ID int
	OPEN BatchCursor
	FETCH NEXT FROM BatchCursor
    INTO @ID
	WHILE @@FETCH_STATUS = 0
	BEGIN
	    SELECT @ID
	    FETCH NEXT FROM BatchCursor
	    INTO @ID
	END
	CLOSE BatchCursor
	DEALLOCATE BatchCursor

[2016-03-30 15:58] #375 closed

[2016-04-08 10:25] quazzie commented on #303
I have a problem when fetching a Image type from sql.
Single row, 2 columns (int, image)
image is about 5.5mb

On node-mssql@3.1.2 / tedious@1.13.2 it takes around 5sec.
On node-mssql@2.1.7 / tedious@1.11.4 it takes about 400ms

Anything i can do about this ?

[2016-04-10 19:06] fantasywind opened #377 "No event 'socketConnect' in state 'SentPrelogin'"
Try to initial connection will throw error `No event 'socketConnect' in state 'SentPrelogin'` on SQL Server 2000

I already try to set tdsVersion to **7_1**, but still not work.

Node.js Environment:
v5.10.1 on Windows Server 2008 32bit

tedious@1.13.2

Thank you for help

[2016-04-12 08:37] raboschs commented on #246
Indeed, capitalizing the domain does solve the issue!

[2016-04-15 18:02] francolaiuppa commented on #300
I'm also getting the ECONNRESET error, output below:

[code]
As you can see, the script restarted 175 times _in less than 48 hours..._ (approximately once every 16 minutes).

We also have this problem in production (which doesn't use Azure but an internal MSSQL farm)
I'll keep researching to see if I can fix it, so far I thought in forcing a reconnect every 5 minutes but I don't think that will so

[2016-04-18 07:43] hasan3ysf commented on #19
Hi,
I understood the above clearly, and tried to stick to it in my application.
The code below, do the following:
1. Every 1 second, fetsh the data from the server (fetchStock function) and save it in temporary array,
2. Every 1 second, send the data saved in the temporary array to the client using the Server-Sent Events (SSE) API.

It looks the 1 second, is not enough, so I got getting the error

[2016-04-19 09:20] hasan3ysf opened #379 "request.on('done', ) Not working"
Hi,
I wrote the below statement to be executed once the SQlexec is DONe, but got nothing!

`request.on('done', function (rowCount, more, rows) {console.log(rowCount + ' rows final'); });`

my configuration is defined as:

[code]

[2016-04-21 14:16] mcrummey commented on #246
https://github.com/pekim/tedious/pull/367  Is a fix for the NTLM auth not working with encryption.

[2016-04-21 22:12] cdmcnamara commented on #163
I currently have a solution that just returns any number with > 53 bits of data as a String but not sure this is the most elegant solution. I'm more than willing to implemented the elegant solution, would just like some advisement on the best way to do so.

[2016-05-02 17:39] seanpoulter commented on #379
I can recreate this problem running the [minimal example](https://github.com/pekim/tedious/blob/master/examples/minimal.js#L58) connecting to SQL Server 2012.

[2016-05-03 17:26] francolaiuppa commented on #300
Guys I don't know if this is the right fix/hack or not, but I've been reading around and it seems the Azure SQL Databases are behind a load balancer (which does not surprise me at all).
Some load balancers reset the connection rather than closing it (hence why we get the `ECONNRESET`). Since we had no `error` handler defined, it threw an `Exception` which in turn made the whole app crash!

To fix

[2016-05-03 19:55] pisees commented on #246
Is this discussion referring to using Windows Authentication from Linux? For Example RedHat?

[2016-05-04 01:42] Reubend commented on #300
Franco, wouldn't that have been solved by the connection idle timeout? For instance, if each connection lasts for only 30 seconds, then it seems that the load balancer should not reset a connection that quickly.

[2016-05-04 02:03] seanlindo commented on #300
@Reubend Did you ever share your code you used when positing your comment a few messages above?

[2016-05-04 08:19] Reubend commented on #300
The code I used was very simple, it just used the built in error callback of a request to close the connection and then open it again before retrying the request.

[2016-05-04 10:32] harshithkashyap opened #380 "Socket ended when using with Azure SQL"
I'm using sequelizejs which uses tedious to handle the sql server interactions. After going through the sequelize [source code](https://github.com/sequelize/sequelize/blob/master/lib/dialects/mssql/connection-manager.js#L68), i've enabled debug on tedious and here's the following output.

[code]

The above log is from a CentOS 7.2 VM on Azure. The connect event is also never fired. I've enabled al

[2016-05-04 13:47] mcrummey commented on #246
@pisees Yes, I am connecting from Fedora 22 to SQL server with the fix.

[2016-05-04 13:50] francolaiuppa commented on #300
@Reubend could you paste some code so I understand what are you referring to when you say the connection idle timeout? I'm using Tedious with Sequelize and I'm managing the connection idle timeouts using a pool from within sequelize (let me know if you want the full example).

[2016-05-05 15:43] rogerhall68 opened #381 "TypeError: Cannot read property 'hasPrecision'"
I was getting this error using the mssql module so I switched to just tedious code, and I am getting the same error using minimal.js. I am guessing that there is a SQL Server setting that I need here. My DB is SQL Server 12.0.4422. I just upgraded node to v4.4.3 and upgraded all packages.

The query produces 10 records. Using mssql, it just bombs. Using the minimal.js code, it bombs _after the fir

[2016-05-05 16:43] rogerhall68 commented on #381
Using tedious straight:

c:\Users\hallrogera\Documents\Projects\workbench\node_modules\tedious\lib\metada
ta-parser.js:45
  if (type.hasPrecision) {
          ^

TypeError: Cannot read property 'hasPrecision' of undefined
    at readPrecision (c:\Users\hallrogera\Documents\Projects\workbench\node_modu
les\tedious\lib\metadata-parser.js:45:11)
    at c:\Users\hallrogera\Documents\Projects\workbench

[2016-05-05 16:55] bretcope commented on #381
You should include a complete code example which demonstrates this error.

[2016-05-05 17:13] rogerhall68 commented on #381
I am using minimal.js.

var Connection = require('tedious').Connection;
var Request = require('tedious').Request;

var config = {
  server: 'DMIRT108',
  userName: 'xxx',
  password: 'yyy',
  options: {
    debug: {
      packet: true,
      data: true,
      payload: true,
      token: false,
      log: true
    },
    database: 'zzz'
    // ,encrypt: true // for Azure
  }
};

var q = "SELECT * F

[2016-05-05 17:18] rogerhall68 commented on #381
BTW, mssql works fine for a string query, but gives this error using inputs on queries

[2016-05-05 17:19] bretcope commented on #381
I reformatted your posts for you, but in the future, please use proper markdown so the code is actually readable. If you're not familiar, see https://guides.github.com/features/mastering-markdown/

[2016-05-05 17:21] rogerhall68 commented on #381
I was not aware, thanks. :}

[2016-05-05 17:23] rogerhall68 commented on #381
For sake of completeness, here is MSSQL code:

[code]

[2016-05-05 17:35] Reubend commented on #300
@francolaiuppa Sure! I'm using the node-mssql with tedious, so the code will look a little bit different from yours, but the idea is the same.

[code]

[2016-05-05 17:48] bretcope commented on #381
What's the schema of `VU_TABLE_INFO`?

[2016-05-05 18:32] rogerhall68 commented on #381
I don't have the creation script, and I got an error when I tried to script the CREATE. Attached are screen shots of the error and the schema in MSSMS tree view. The minimal.js script does output all of the columns of the first record.

![issue_160505](https://cloud.githubusercontent.com/assets/4870279/15052889/7cc9cc28-12c5-11e6-8115-3b251f8c358d.PNG)
![issue_160505_schema](https://cloud.githubus

[2016-05-05 18:40] patriksimek commented on #381
What version of mssql/tedious do you use?

[2016-05-05 18:53] rogerhall68 commented on #381
mssql@3.2.1
 tedious@1.14.0

[2016-05-05 19:55] rogerhall68 commented on #381
This query works fine against a different table. Maybe it's the `SQL_VARIANT` type?

[code]

![schema_storage_item_160505](https://cloud.githubusercontent.com/assets/4870279/15055271/353e6f10-12d1-11e6-96f6-8da766ccd199.PNG)

[2016-05-05 20:43] bretcope commented on #381
You are correct, `SQL_VARIANT` is not supported by Tedious. Its usage is discouraged in SQL Server, so no one has ever written support for it. You may be able to use [CONVERT()](https://msdn.microsoft.com/en-us/library/ms187928.aspx) in your queries as a work around unless you want to create pull request adding `SQL_VARIANT` support to Tedious.

[2016-05-05 20:48] patriksimek commented on #381
Actually the support was added in 1.14 ([PR](https://github.com/pekim/tedious/pull/350)). I need to figure out which value causes this exception.

[2016-05-05 20:51] bretcope commented on #381
@patriksimek if it's supported, it should be added to https://pekim.github.io/tedious/api-datatypes.html

[2016-05-05 21:04] patriksimek commented on #381
I agree, fixed.

[2016-05-06 08:21] gkorland commented on #300
@francolaiuppa you're right about your analysis (I confirmed it with the Azure team)
The only real solution to make sure their LB won't shutdown the connection after 30min is to "ping" the connection. We're doing it by firing a lightweight query on idle connections every 5min (select 1)

[2016-05-06 15:16] spanditcaa commented on #317
Since it seems to be a popular platform for tedious users, just wanted to note that FOR JSON is available in SQL Azure as well.  https://azure.microsoft.com/en-us/blog/json-functionalities-in-azure-sql-database-public-preview/

Built in handling for tedious would be a great addition.

[2016-05-06 17:36] JocaPC commented on #317
Interesting thing is that node-mssql has JSON support only if it is used with tedious: http://patriksimek.github.io/node-mssql/#json

[2016-05-06 23:30] patriksimek commented on #317
JSON support was limited to Tedious due to experimental phase. I was curious about the feedback on the implementation. All the logic behind this lays in node-mssql so I added support for additional drivers in 3.3.0.

[2016-05-07 03:17] jtmilne commented on #300
@gkorland Shouldn't the idleTimeoutMillis setting on the pool prevent resetting the connection before the LB times out? I wouldn't think that a ping query is necessary as long as you set the idleTimeoutMillis to an appropriate value.

[2016-05-07 07:14] s-a opened #382 "Question: How to close a open connection?"

[2016-05-07 21:43] harshithkashyap commented on #380
Just verified that this error is happening only on the latest V12 server. Is this a bug or something specific to my instance? I see there are similar issues to this but already closed & patched.

[2016-05-09 10:44] francolaiuppa commented on #300
@Reubend thanks for sharing the code. I've the same config for `pool` but I was still getting the `ECONNRESET`.
Regarding the connection retry, I've a very similar code, but that's a different issue.

@gkorland Glad to hear you could confirm it with the Azure team, thanks for taking time to do so!
I also thought of making the `SELECT 1` query on a timer but it seemed hacky... guess we'll have to d

[2016-05-11 15:21] gingters commented on #377
I have the exact same issue when trying to connect to a SQL Azure db.

[2016-05-11 15:22] codyaweber opened #383 "Unclear connection failure error"
I'm running a local node server on my mac, through which I'm trying to connect to my Microsoft Azure SQL database. But all I get is this error, which doesn't seem terribly helpful:

{ ConnectionError: Login failed for user 'cweber105'.
    at ConnectionError (/file/node_modules/tedious/lib/errors.js:12:12)
    at Parser.<anonymous> (/file/node_modules/tedious/lib/connection.js:216:38)
    at emitO

[2016-05-12 19:01] WolfieWerewolf opened #384 "Notification of update query"
I'm sorry to ask such a basic question but I can't find this.  If I listen for request.on('row')... I get the results for select queries however when I do an update query I haven't been able to figure out how to listen for confirmation / error when the operation is complete.  I'm sure this is a simple one and again I'm sorry for such a basic question.  Any advice is greatly appreciated.
Thanks
/W

[2016-05-16 19:35] aspaiva commented on #101
Is there any way to avoid showing it in SS profiler while tracking actions? Or do something to avoi the changing without reinstalling the server in the user language when is different from us_english?

[2016-05-16 20:26] seanlindo commented on #300
@francolaiuppa It looks like there's two different solutions in play, can you confirm?

* Catch the ECONNRESET error for those of us who are not; Everything with the app is actually fine.

* Ping the database at some internal to prevent it from being reset by the LB

[2016-05-16 20:45] csucla2015 opened #385 "tedious vs msnodesqlv8 perf comparison"
Hello @pekim
Thanks for all your work on tedious. We truly appreciate it. We are doing some investigation around the performance and stress comparisons between [tedious](https://github.com/pekim/tedious) and [msnodesqlv8](https://github.com/TimelordUK/node-sqlserver-v8). What are your thoughts around it? Have you done any testing?

Thanks!

[2016-05-16 21:06] francolaiuppa commented on #300
@seanlindo I can confirm the `ECONNRESET` solution.
Regarding the ping database solution (i.e running a `SELECT 1` query), it should work too, although I haven't tested it.
I can try this approach next week if I get some time at work, but in the meantime, maybe you can run that test and let us know?

If we can confirm that the ping database solution works, I can create a PR to enable this feature

[2016-05-17 02:03] seanlindo commented on #300
@francolaiuppa Like you, I'm also using `node-mssql`

Is there a better way to "recover" the connection when an error occurs? Is that a cleaner way of dealing with this issue?

I followed it's documentation by attaching a listener and added this bit of code to my factory function (I should be checking the error in a better way, bear with me!):

    sql.on('error', function (err) {
        if(err.m

[2016-05-17 03:17] Reubend commented on #300
I will do a test using the `SELECT 1` query on a timer. If it ends up working, I'll post back here. I still haven't found any testing procedure that forces this bug to appear, so it's hard for me to test properly.

[2016-05-17 17:17] kcsampson opened #386 "Adding a function to Object.prototype breaks Request.validateParameters"
I created a simple function and added it to Object.prototype.myFunc = function(){...}

Now I get a "TypeError: unkn..." in the middle of validateParameters.   For some reason, an extra "empty" parameter gets added to "this.parameters".  Here is some code I tried as a workaround that fixes my problem.

`

[code]

  }]);

`

[2016-05-17 17:25] lee-houghton commented on #386
What you're doing is called duck punching and is bad for many reasons. The
best way to fix this is just don't do it.

If that's really not an option, you may need to use Object.defineProperty
to make the property non-enumerable. That way, when tedious does its for-in
loop or Object.keys() or whatever it does, it won't see your property.

On Tue, 17 May 2016 18:17 kcsampson, <notifications@github.c

[2016-05-17 19:56] duwoodaes commented on #348
Thanks for the information posted here. I too am looking to implement a solution where I would need to connect to localdb.

[2016-05-19 17:14] #380 closed

[2016-05-19 19:33] rogerhall68 commented on #381
Well, I don't have a good recommendation on where to fix it yet, but it is most definitely `NULL` values that cause this. I can predict the crash location (and the number of times `readPrecision()` is called before it does) by shaping the SQL query; everytime a `NULL` is due it bombs. TIA!

[2016-05-19 20:54] rogerhall68 commented on #381
In `value-parser.js`, in `case 'Variant'`, the `baseType` for `NULL` is 26.

[2016-05-21 13:33] sarus commented on #181
Is there anyway to do this in the latest Tedious which appears to use streams?  Can it be implemented using cursors with the existing release?

[2016-05-23 08:43] pradeep250 opened #387 "multisubnetfailover support for tedious"
Hi,
I am new to node js, I recently started an application to develop web service for the MSSQL database.
I am using tedious driver to connect to database, i came to know that multisubnetfailover feature supports in tedious but not yet merged into master.
May i know by when can this change be submitted into master?
Is there any way by which I test multisubnetfailover option by installing through n

[2016-05-23 16:45] sarus opened #388 "Connecting using "Domain" credentials when running in a workgroup"
I can connect to our SQL Server fine with SQL Server Authentication however when I attempt to use windows authentication by setting the domain config value to my workgroup I get the error:

[code]
and

[code]

I'm not currently part of a domain (this is a home computer) and it's just part of a Workgroup (WORKGROUP).  When using SQL Server Management Studio I can connect to the database using Windo

[2016-05-23 19:29] sarus commented on #388
Changing username from `WORK-DESKTOP\\Sarus` to just `Sarus` appears to have fixed the issue.

Thanks!

[2016-05-23 19:29] #388 closed

[2016-05-24 01:31] sandorfr opened #389 "Question : bigint as number support might be extended"
Currently bigint must be passed as string if they are outside of this range [[-214748.3648, 214748.3647]](https://github.com/pekim/tedious/blob/50e76efdcd87f687106c722d54c6ea4096f0a127/src/data-type.js#L573).

According to [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MIN_SAFE_INTEGER) this could be extended to [-9007199254740991, 90071

[2016-05-24 08:29] lee-houghton commented on #389
You're looking at the validation code for SmallMoney there - those limits
for SmallMoney look correct to me. BigInt seems to do very little in its
validation function.

[2016-05-24 09:32] sandorfr commented on #389
yes my bad :).

The error I get is actually `Unhandled rejection RequestError: Validation failed for parameter 'p0'. Value must be between -2147483648 and 2147483647.`.

It seems to come from [int4](https://github.com/pekim/tedious/blob/50e76efdcd87f687106c722d54c6ea4096f0a127/src/data-type.js#L158).

So, I think number as js type defaults to int4 which is indeed limited to that range.

[2016-05-24 20:03] sandorfr commented on #389
Thanks @lee-houghton  pointed me in the right direction.

[2016-05-24 20:03] #389 closed

[2016-05-25 02:13] PeterNierop opened #390 "Failed to connect"
On one of my customers I have this odd behavior.
Most of the day the Node app communicates just fine with the SQL server. But sometimes I get this

events.js:154
      throw er; // Unhandled 'error' event
      ^
 ConnectionError: Failed to connect to 172.16.252.11:1433 in 15000ms
    at ConnectionError (C:\ExosMobile\node_modules\tedious\lib\errors.js:12:12)
    at Connection.connectTimeout (C:\E

[2016-05-28 22:27] symi opened #391 "DateTime millisecond precision"
I've noticed the DateTime millisecond precision seems to be losing the thousandth of a second figure. If I create a param (for a stored sproc request), with type DateTime and set the value to be 2016-05-27 11:05:06.763 (as a JS Date object). The actual value present in sqlserver seems to be 2016-05-27 11:05:06.760.

I've tracked it down to this code in data-type.js

[code]

I assume this has somet

[2016-05-30 13:41] Natrajann opened #392 "Unsupported parameter type found while parsing RPC request. The request has been terminated."
We are getting "Unsupported parameter type found while parsing RPC request. The request has been terminated." when calling a stored procedure in Azure Sql data warehouse  from java

[2016-05-31 15:12] papasnippy opened #393 "ConnectionError: Failed to connect to localhost:undefined in 15000ms"
I get this error time from time. Sometime all works fine, sometime it cannot connect with this error. - That is a big issue. There is no changes if I set instanceName or not. TCP is enabled, sql server browser is running, all ports are set.

[2016-05-31 16:21] codyaweber commented on #379
I'm fairly new to tedious, so forgive me if this is way off. But I think this (from [docs](http://pekim.github.io/tedious/api-connection.html#function_execSql)) could be causing a problem:

"As `sp_executesql` is used to execute the SQL, if the same SQL is executed multiples times using this function, the SQL Server query optimizer is likely to reuse the execution plan it generates for the first e

[2016-05-31 16:44] papasnippy commented on #393
That was weird windows firewall issue, configuring it did not help. Only solution that I found is completely turn it off. Few days ago it worked fine.

[2016-05-31 16:44] #393 closed

[2016-05-31 23:13] PeterNierop commented on #390
Bump

[2016-06-01 12:03] peteoconnell opened #394 "Can't query MSSQL database"
I've got a very basic test and when I comment out the function to query the database I get a connection to the database but as soon as I try and query it I get the following error:

[code]

On the basis I get connected, I'd assume this should be working fine as I am doing the query after I'm connected. Any help would be appreciated!

[2016-06-03 18:56] RaduGrama commented on #379
@codyaweber, you are correct and all workarounds you suggested address the issue, with `doneProc` or `doneInProc` probably being the better workarounds. This should probably be considered a documentation bug.

[2016-06-05 06:24] vanlee1987 commented on #392
Are you passing a parameter that is not supported by Azure SQL Data Warehouse, such as TEXT type parameter?  I ran into this recently when passing a VARCHAR that was greater than the limit of 8000, NVARCHAR has a limit of 4000.  I solved it by passing multiple parameters and concatenating after on the SQL side.

[2016-06-05 07:04] PeterNierop commented on #394
It seems you already closed the connection in the execute statement, hence the request.on('done' is not required or even invalid.

On side note, I think it is best to use stored procedures. Tedious is very fast, but you would lose much of that on the server side by forcing SQL server to compile again and again and again and again the same statements. Better put it in a procedure and tune it to the

[2016-06-09 06:16] bretcope commented on #394
@PeterNierop if you send SQL Server the same query text a thousand times, it's not going to compile it a thousand times. It caches query plans and reuses them. It doesn't even have to parse the statement if it's in cache. That's one reason why using real parameters (as opposed to inlining them into the query) is important. You may still choose to use stored procedures if that's your preference or

[2016-06-10 03:34] PeterNierop commented on #394
I fear we disagree.

SQL statement arrives as a string. This string needs to be normalized, bound and checked for syntax errors. It then is compiled. I am open for any evidence that nowadays SQL somehow caches strings and match those in some miraculous way with strings of before. However without such evidence I go with my 52 year old historical knowledge that this is not the case.

A second reason

[2016-06-11 04:14] bretcope commented on #394
@PeterNierop well, [in Microsoft's own words](https://technet.microsoft.com/en-us/library/ms181055), since _at least_ SQL Server 2008:

It doesn't explicitly specify the way they do the matching, other than it's "an efficient algorithm", but given the fact that changing a piece of text usually causes it to recompile, I wouldn't be surprised if it starts with something as simple as a hashtable look

[2016-06-11 09:11] PeterNierop commented on #394
Bret, 
interesting quote. I will research that. If true I stand corrected. 
You speak of fantastic performance. Any indication of what sort of speed you are talking about? I wrote an interface on node using tedious that verifies a detected car number plate. It does 5882 calls a second using stored procedures. The previous implementation that I also wrote using IIS ASP and the latest dotNet rubbish

[2016-06-11 15:32] bretcope commented on #394
@PeterNierop for the record, we don't use node.js or Tedious at Stack Overflow. We did have a project which used it for a little while, but we've since converted it to C# .NET like the rest of our code.

Allow me to demonstrate what I was talking about with an example. You can _force_ SQL Server to recompile the statement every time with `OPTION(RECOMPILE)`, so I wrote a [Linqpad](https://www.linq

[2016-06-13 06:19] otopsy commented on #181
:+1:

[2016-06-15 12:18] nvsoares opened #395 "Requests with multiple statements"
HI.
I'm trying to execute a set of instructions cycle. the probelma is that whenever I get the following error: Requests can only be made in the LoggedIn state, not the SentClientRequest state.
Here is a small example:

[code]

How to overcome?

[2016-06-15 18:30] #394 closed

[2016-06-17 13:42] JulianLaNeve commented on #181
@bretcope any updates on this?

[2016-06-18 00:10] jblaketc opened #396 "Can't connect to DB that has Cluster setup; Need workaround for MultiSubnetFailover non-support."
Apparently the only way to connect to this database we have no control over is by supplying the MultiSubnetFailover flag, otherwise the connection times out. I increased the connectTimeout and requestTimeout, but I get an ESOCKET code with a ultimate timeout.

How do I go about connecting with tedious in this situation if the MultiSubnetFailover flag isn't supported. Anyone know a workaround?

Tha

[2016-06-18 16:13] GISDev01 commented on #130
I had a similar issue and this is how I solved it if anyone wants a starting place for how to implement this in a quick and dirty way (anything is better than allowing SQL Injection). It does require looping through an array twice due to how my code is set up (this code is truncated), but in my use case the arrays are quite small so it's no big deal.

`
//this input Ids string is something like 10

[2016-06-19 20:25] GISDev01 commented on #300
We are also experiencing this issue as well. This app is a typical NodeJS/Express API that queries data out of a large AzureSQL Database using this Tedious driver.
Our workaround fix for now is catching the error as mentioned above, but it would be great if this was built in to the library. I'll see if I can find time to dig into this repo and put a patch in.

[2016-06-21 19:10] bretcope commented on #181
@JulianLaNeve, @arthurschreiber would be the one to talk to about it at this point. I'm not very involved in Tedious these days.

[2016-06-23 04:54] Reubend commented on #300
Hey everybody, apologies for the huge delay since my last post. I tested the `SELECT 1` query pinger as a way of avoiding this issue, and I can confirm that it does *not* work for me. I've tried catching the error before without much success, but based on the post by @GISDev01 maybe I will try again with some different code.

[2016-06-23 18:23] benzhou commented on #246
I had the exact same issue with @NamTThai , and it is working now after I read this and changed the domain as described. (All Cap and only the first part of the domain, omit the part after the dot)

[2016-06-24 13:27] SimonHooker commented on #135
This looks like it has since been deprecated according to the
https://nodejs.org/api/tls.html#tls_tls_createsecurepair_context_isserver_requestcert_rejectunauthorized_options

Referenced in this commit in node 6.0 ( so not LTS yet ) - the favoured tls.tlsSocket is present in 4.x
https://github.com/nodejs/node/pull/6063

And referenced in these meeting minutes from May 2016
https://github.com/nodej

[2016-06-24 13:32] SimonHooker opened #397 "Unable to verify certificate/ca from server are valid"
With encrypted=true I expect connection to a server with a self-signed certificate to fail due to the CA not being trusted.  Connecting though silently accepts the certificates.

Digging through the tls source this looks to be functionality supported by `tls.tlsSocket()` but not by `tls.createSecurePair()`

`tls.createSecurePair()` is deprecated as of node 6.x ( previously reported in https://gith

[2016-06-24 15:34] mhingston opened #398 "Unsupported dataLength 18 for IntN"
Hi,

Just got the following uncaught exception (SQL Server 2008/TDS 7.4/Tedious 1.14.0):

    MyProject\node_modules\tedious\lib\token\stream-parser.js:121

            callback();
            ^
    Error: Unsupported dataLength 18 for IntN
        at MyProject\node_modules\tedious\lib\value-parser.js:125:43
        at MyProject\node_modules\tedious\lib\token\stream-parser.js:147:9
        at Pars

[2016-06-24 15:59] SimonHooker commented on #397
Have started work on what will hopefully work to allow this functionality - just needs a bit more work and hopefully some tests around it

https://github.com/SimonHooker/tedious/commit/d691dac2d54c244e93529ebe54fdc00fec0351b6

[2016-06-27 08:26] SimonHooker commented on #397
Have submitted a pull request

https://github.com/pekim/tedious/pull/399

[2016-06-29 19:19] Reubend commented on #300
My error catching code didn't seem to work either. Am I catching them incorrectly? Here's my code, based on the last few suggestions:

[code]

[2016-07-02 14:38] arthurschreiber commented on #392
@Natrajann Unfortunately, without more information, it's next to impossible for me to help you on this issue. Can you provide more details, or even a set of steps for me to reproduce this issue?

[2016-07-02 14:41] arthurschreiber commented on #377
Looks like this is specific to SQL Server 2000. We don't run SQL Server 2000 during our CI builds on AppVeyor (it's not available by default), so this issue must have been introduced without anyone noticing.

[2016-07-02 15:21] arthurschreiber commented on #379
Yes, this is a documentation bug. The `done` event is not always fired. There's been quite a few issues regarding this. Patches for fixing the documentation would be very welcome.

[2016-07-05 09:11] francolaiuppa commented on #300
@Reubend you can try to `console.log(err)` and then see what _exact_ string you get for `err.message`.

Also note that you don't need to manually reconnect (tedious *should* do it for you) only catching the error and doing nothing (i.e console logging) prevents `tedious` from breaking your app.
Again... it is not a solution but a hack...

Something that I haven't tested is whether the SQL query ge

[2016-07-05 20:22] Reubend commented on #300
Thanks @francolaiuppa for the tip! I'm going to remove the reconnection code and see if that helps.

[2016-07-07 17:07] johnwrightsman commented on #352
I'm a newb at all of this but I found adding a handler for the connection debug event helped me with this exact error. I found out that my connection was being refused by the sql server.
connection.on('debug', function(err) { console.log('debug:', err);});

[2016-07-08 01:32] ben-page opened #404 "the future of `tedious-connection-pool`"
Hi,

I'm the maintainer of the `tedious-connection-pool` library. I took over from pekim in January of 2015. However, late last year I stopped actively using SQL Server with Node.js, though I still use it with C#. I don't indend to abandon the project, but I'd like to see more collaboration between the two projects. It may even make sense to merge the connection pool features directly into `tediou

[2016-07-09 15:56] arthurschreiber commented on #404
@ben-page A ´tedious´ organization would be a great start. I'd like to welcome additional contributors here, but I'm not an admin of the repository here.

I just created a new organization, called ´node-tedious´ (´tedious´ and ´tediousjs´ were already taken). If you can come up with a better name, we can change this.

Pinging @pekim to see if he would be open on transferring the repository to that

[2016-07-09 16:09] pekim commented on #404
Sure, I'd be happy with that.

[2016-07-09 18:36] ben-page commented on #404
That's great!
I actually created `tediousjs` the other day. I just invited you both to be owners of the organization.

[2016-07-09 19:16] mitant commented on #396
see #362 for a contributor's attempt to get it to work.  Let's try and help Arthur test his change and get it working and merged!

[2016-07-09 19:17] mitant commented on #387
See #362
When I tested that PR, I still get occasional timeouts unfortunately.  You can test that PR by fetching from it directly into your node_modules or by using shrinkwrap

[2016-07-11 16:10] jblaketc commented on #396
@mitant Actually ya I ended up switching to that branch and putting that code in the server modules. It connects fine with cluster and localhost dbs. I haven't run into any issues with it so far. Anything else I need to test to make it ready for merging?

[2016-07-12 01:06] mitant commented on #396
I recommend supplying the same positive feedback in #362 .  I'm not sure why it didn't work for me.  Not sure if my DB setup is different or maybe I didn't load the pull request correctly.  For me constant activity would lead to occasional timeouts for some calls.  Maybe some sort of prolonged stress test would be good to try

[2016-07-12 06:42] arthurschreiber commented on #404
Thanks for setting that up! @pekim Would you mind transferring this repo to the `tediousjs` organization?

[2016-07-12 15:37] #396 closed

[2016-07-12 19:10] chuck-knox opened #406 "Tedious headline should point to the updated GitHub Pages site"
Hey guys, it looks like you started migrating to an organization for Tedious. Good move!

I wanted to point out that the headline for the Tedious repo needs to be updated to include a link to the new GitHub pages URL: http://tediousjs.github.io/tedious/

![tedious_outofdate](https://cloud.githubusercontent.com/assets/8022749/16779995/7ec37562-4829-11e6-8a56-c4912b38bfec.png)

This should be a supe

[2016-07-12 20:26] ben-page commented on #404
@pekim, will you transfer `tedious-connection-pool` as well, please?

[2016-07-12 20:33] arthurschreiber commented on #406
Done and thanks for the report! ❤️

[2016-07-12 20:33] #406 closed

[2016-07-12 20:33] arthurschreiber commented on #404
@pekim Thank you for transferring the repo!

[2016-07-12 20:33] chuck-knox commented on #406
You're welcome,  thanks for taking care of it so quickly!

[2016-07-19 17:51] tvrprasad commented on #246
I'm with Microsoft and looking to help out with some contributions to tedious.
Anything still outstanding with this issue or is it all resolved?

[2016-07-19 19:13] benzhou commented on #246
@tvrprasad I think there is a work around, I am not sure we all understand why the workaround works. :)

[2016-07-19 20:22] tvrprasad commented on #246
@benzou Is the work-around the one described by @arobson in this thread on 8/15?
What's blocking this issue from being closed? May be I can help close this... somehow :)

[2016-07-20 20:04] p-rahul commented on #139
Is supporting Promises still being looked into?

Also, would anyone consider node-mssql a better alt to Tedious? Just curious. TIA.

[2016-07-21 22:21] n3rd253 opened #410 "Token parser for TABNAME (0xA4) non-existent"
I'm trying to run a stored proc utilizing NO_BROWSETABLE and FMTONLY

SET NO_BROWSETABLE ON;
SET FMTONLY ON;
EXEC {0};
SET FMTONLY OFF;
SET NO_BROWSETABLE OFF

And receive the following:

[1] events.js:160
[1]       throw er; // Unhandled 'error' event
[1]       ^
[1]
[1] Error: Unknown type: 164
[1]     at Parser.parseTokens (C:\Development\Angular Seed\angular2-seed\node_modules\tedious\lib\toke

[2016-07-25 17:33] SteveyPugs commented on #303
Was this ever resolved? I've noticed sequelize has upgraded to 1.13.x which this still causes a major performance issue. https://github.com/sequelize/sequelize/commit/80e2b77c673c47c4f049ed1219fa2a17123dfff4

[2016-07-27 13:17] akc42 opened #412 "How Should I be using connection.transaction"
The documentation for connection.transactions says that I can just use the callback parameter

So I call called back to my function with 'err' and 'done' as twp parameters.  What it says is when I have completed by transaction I should then call done with either an error or null as its only parameter.

Looking at the code (I'll refer to line numbers in the repository - not the same on my working s

[2016-07-27 15:32] akc42 opened #413 "request emits two undocumented events"
Trying to find out how to know that a `connection.prepare(request)` had completed I have been looking at the request.callback code.

Firstly, when preparing a request the request callback is NOT called, but also 'prepared' event is emitted (at least when the preparation is succesfull).. I am not sure, but I think an error in the prepared statement (such as parameters not defined) does call the cal

[2016-07-27 20:05] mhingston commented on #398
This is still happening occasionally.

Most recent stack trace:

`MyProject\node_modules\tedious\lib\token\stream-parser.js:121

        callback();
        ^
Error: Unsupported dataLength 10 for IntN
    at MyProject\node_modules\tedious\lib\value-parser.js:125:43
    at MyProject\node_modules\tedious\lib\token\stream-parser.js:147:9
    at Parser.awaitData (MyProject\node_modules\tedious\lib\tok

[2016-07-28 07:57] akc42 commented on #412
Having worked it through and tested it a bit, I think I now understand what I should call "done" with.  It takes (at least) two parameters.  The first is null or error dependent on whether you want to commit or rollback the transaction.  The second is a callback which is called back with at least one parameter - but could have more if there were more than two in the done call above.  The one param

[2016-07-29 09:46] arthurschreiber commented on #246
@tvrprasad I think we need better documentation around this.

We have our documentation stored in the `gh-pages` branch of this repo, but as it is maintained outside of the code base, it gets outdated quite easily and maintenance is a drag. 😞

[2016-07-29 13:09] arobson commented on #246
@tvrprasad - the issues that have been reported to tedious and to our repo [seriate](https://github.com/leankit-labs/seriate) since I added NTLM support, have consistently been due to the domain being spec'd lowercase and/or as FQDN. One solution for this might be following up with a PR that:
 1. converts the domain to uppercase (I should have just done that to begin with)
 1. splits the domain on

[2016-07-31 15:30] ThomasDelteil commented on #328
I have the same issue @amyspark , did you manage to fix it in the end?

[2016-08-01 19:02] tvrprasad opened #414 "Windows authentication requires domain to be upper case and won't accept FQDN"
This is related to https://github.com/tediousjs/tedious/issues/246. Teasing this out as a separate issue for easy tracking.

Domain name in connection config only works with upper case.

// Works
domain: REDMOND
domain: REDMOND.CORP.MICROSOFT.COM

// Does not work
domain: redmond
domain: redmond.corp.microsoft.com

@arobson - FDQN seems to work for me.

Proposed Fix:
=========
Convert domain to up

[2016-08-01 19:15] tvrprasad opened #415 "Windows Authentication requires specifying username/password"
Tedious requires me to specify username/password for Windows Authentication even though I'm on the same domain. I don't need to specify username/password in this scenario with ADO.NET. I assume that driver is getting the Kerberos token from Credential store.

Is this capability not currently available with Tedious? Or is there some config that would make Windows Authentication work without having

[2016-08-01 19:18] tvrprasad opened #416 "Tedious does not support Active Directory Password Authentication"
Azure SQL DB supports two new modes of authentication:
Active Directory Password Authentication
Active Directory Integrated Authentication

I tried getting Tedious to work with Active Directory Password Authentication but couldn't make it work. Is there config to support this mode of authentication or is this a missing feature in Tedious?

@arthurschreiber @arobson  - Thoughts please.

[2016-08-01 19:20] tvrprasad commented on #246
@arobson - FDQN seems to work for me, still only upper case though. I created a separate issue to convert to upper case for easy tracking - https://github.com/tediousjs/tedious/issues/414. I'll put together a PR for that. I'll try to learn why lower case doesn't work.

@arthurschreiber - I'll try to help out with getting documentation up to date once I'm able to get at least one PR through on this

[2016-08-02 14:27] frikkievb commented on #391
I've tried your suggestion but with no success.  Also struggling with this problem.

[2016-08-04 19:05] ScottBeeson opened #418 "No console output with minimal.js sample?"
I copied the contents of https://github.com/tediousjs/tedious/blob/master/examples/minimal.js and changed the connection information.  At first I was getting console output that said "Failed to connect..." until I realized that the port has to be specified in the options object.  Now that I have the proper port, I'm not getting _any_ output.

I'm trying to access an Intersystems Cache.  Is this a

[2016-08-08 07:42] #397 closed

[2016-08-08 11:29] Llorx opened #421 "BulkLoad do not validateParameters()"
Simple as that. If I add a 1234123 value to a SmallInt, I receive this error:

`TypeError: value is out of bounds
    at checkInt (buffer.js:716:11)
    at Buffer.writeInt16LE (buffer.js:874:5)
    at WritableTrackingBuffer.writeInt16LE (lib\mssql\node_modules\tedious\lib\tracking-buffer\writable-tracking-buffer.js:165:19)
    at Object.writeParameterData (lib\mssql\node_modules\tedious\lib\data-t

[2016-08-10 13:26] swapnilkadu commented on #19
I am still getting the same issue, please look at the code below:
[code]

[2016-08-10 14:57] arthurschreiber commented on #19
@swapnilkadu What error are you seeing exactly? Do you see any of the `console.log` statements?

[2016-08-11 08:43] SimonHooker opened #422 "npm install from tedious git repo does not return a usable version"
When doing `npm install git+https://github.com/tediousjs/tedious.git#master` I am left with a folder which contains the following:
- benchmarks/
- appveyor.yml
- LICENSE
- package.json
- README.md

This is not a usable dependency as it is missing the lib folder entirely.  Reproduction steps are as follows:

[code]

My various versions appear to be as follows:
- Windows 10
- node 4.3.1
- npm 3.7.1

[2016-08-11 11:26] SimonHooker commented on #422
Here's the verbose install log as follows

[code]

[2016-08-11 11:45] SimonHooker commented on #422
When publishing to npm, the prepublish script is run.  This generates the src folder. The other folders are then ignored which is fine.

When trying to install directly from a git repository the src/scripts folders are ignored and so no generation can occur.

[2016-08-11 14:25] SimonHooker commented on #422
I have made some changes on https://github.com/SimonHooker/tedious/tree/issue-422 that allow me to do an npm install `git+https://github.com/SimonHooker/tedious.git#issue-422` to get the current tedious master and have it build.

I am not very happy with this for various reasons, primarily that this method results in both babel and coffeescript becoming dependencies instead of dev-dependencies, an

[2016-08-11 21:28] arthurschreiber commented on #422
Hey @SimonHooker!

I suggested using `npm install git+https://github.com/tediousjs/tedious.git#master` as I've seen it being suggested in some other issue. Unfortunately, the project structure of tedious does not work with the way `npm install` installs from a git source.

Long term, I want automatic releases of the master branch to be published to an "unstable" channel on npm after each push, but

[2016-08-11 21:33] SimonHooker commented on #422
Hi @arthurschreiber ,

No worries - I can see now where this one comes about.  It's just that I saw that there hadn't been a version bump in 4 months, and someone else in the google group was asking the same thing.

Seeing as the project wasn't set up to do `npm install` from git, I've now sorted out enough to satisfy my needs however a more suitable method overall is probably needed, especially i

[2016-08-12 07:27] SimonHooker opened #423 "When trustServerCertificate=false, verification failures silently die"
In message-io.js when @arthurschreiber  rolled up changes he replaced

[code]

with

[code]

However this has the effect that a verification error fails without triggering any promise

[2016-08-12 07:54] SimonHooker commented on #423
On further investigation, not sure my initial impression was correct - reverting

[2016-08-12 07:54] #423 closed

[2016-08-12 08:04] SimonHooker opened #426 "verifyError emits error code ESOCKET which node-mssql silently ignores"
Relating to issue #423 it turns out the actual issue is that if the error emitted is of type code === ESOCKET, node-mssql then mostly sidesteps it instead of reporting the issue.

As such will adapt the error code to be something different for verify errors.

[2016-08-15 10:37] frikkievb opened #428 "DateTime Millisecond Precision not correct"
I am trying to get a DATETIME (not DATETIME2) from a MSSQL database. We need this accuracy for our concurrency checks.

I wanted what was in the database. The value is =2016-08-02 12:42:11.087
But I am getting: 2016-08-02T12:42:11.086Z

[2016-08-15 13:41] jdanyow opened #429 "why does arrayToGuid use toUpperCase?"
Code:  https://github.com/tediousjs/tedious/blob/master/src/guid-parser.js#L12-L35

Excerpt from [RFC 4122](https://tools.ietf.org/html/rfc4122#section-3) (emphasis mine):

  A UUID is an identifier that is unique across both space and time,
  with respect to the space of all UUIDs.  Since a UUID is a fixed
  size and contains a time field, it is possible for values to
  rollover (around A.D. 3400

[2016-08-15 20:27] jdanyow commented on #429
faster formatHex/arrayToGuid: https://gist.run/?id=d568ef501492644130ef3ba30a9d8274

[2016-08-17 03:57] waterfallbay commented on #61
I have exactlty the same issue.

[code]
The done event cannot be fired in execSql, doneProc could be fired, however, rowCount returns as undefined.

I am on the latest Azure V12 sql server DB.

[2016-08-17 21:17] spanditcaa opened #431 "NodeJS 6.4.0 Empty String Range Error"
We are seeing errors (stack below) from tedious in our API under node 6.4 due to this new bug:

https://github.com/nodejs/node/issues/8127

It sounds like this will be fixed in node, a fix isn't necessary in tedious but I wanted to share the finding.

[code]

[2016-08-19 13:55] mkraft commented on #431
I'm experiencing the same bug.

[2016-08-22 17:30] justinschuldt commented on #431
Just updated to node 6.4.0, am getting this too

[2016-08-22 17:47] spanditcaa commented on #431
https://github.com/nodejs/node/pull/8154 is the fix and should be in node 6.4.1

[2016-08-23 09:12] Beniy commented on #65
Dear Experts,
I have faced same error but the problem is my error is happenning after a connection is established and it's inserting big files to database, I do not have any issue with small files:

adding data to databse
getting columns from db
got table columns successfully
adding rows to DB
rows inserted succesffuly
adding data to databse
getting columns from db
got table columns successfully
a

[2016-08-23 09:13] arthurschreiber commented on #65
@Beniy Do you have example code that we can use to reproduce this?

[2016-08-23 10:42] Beniy commented on #65
Dear Arthurschreiber,
Actually the problem cannot be related to code because sometimes it is parsing text file and inserting to db but sometimes it's showing that error, even with same file and same condition but in different time.
I want to know any other dependencies to this task?

Thanks

[2016-08-26 07:23] Drakim opened #433 "Tedious times out on UNION ALL + COUNT"
I can't provide a reproducible example of this since it relies on our company database, but Tedious has some extremely odd behavior when it comes to using UNION and COUNT together to figure out the amount of rows across several tables.

SELECT SUM(Temp)
FROM (
  SELECT COUNT(Foo1.Id) AS Temp FROM Foo1 WHERE Type = 'apple'
  UNION ALL
  SELECT COUNT(Foo2.Id) AS Temp FROM Foo2 WHERE Type = 'tomato'

[2016-08-26 15:11] arthurschreiber commented on #431
It looks like there won't be any 6.4.1 release, but 6.5.0 will get released soon and contains the fix for this issue. See https://github.com/nodejs/node/pull/8253

[2016-08-26 17:56] tvrprasad opened #435 "Protecting config parameter being passed in to Connection constructor"
@arthurschreiber Opening this issue to track protecting config parameter being passed in to Connection constructor, we touch on as part of the PR https://github.com/tediousjs/tedious/pull/417.

What would be the right way to do this in JavaScript? If you have thoughts, I can put together a PR for that. Thanks.

[2016-08-27 09:15] arthurschreiber commented on #412
@akc42 Any suggestions on how we can improve the documentation to be a bit clearer on how this works?

[2016-08-27 10:28] akc42 commented on #412
In the heading `connection.transaction(callback, name, isolationLevel)` where it says `done` I would change the text to something like

[code]

[2016-08-27 10:32] Drakim commented on #433
Ah, I apologize, it appears this was a problem with our SQL provider, and it only appeared Tedious was responsible. Tedious might want to give out a more descriptive error message than "Error: no data in state final" when the SQL server is taking too long to hand out the results.

[2016-08-27 10:32] #433 closed

[2016-08-29 15:31] spanditcaa commented on #431
Working normally with node 6.5.0.

[2016-08-29 15:31] #431 closed

[2016-08-30 20:59] SaloniSonpal commented on #387
@arthurschreiber and @tvrprasad are working toward fixing the issues of #362 (#346 has been merged). Have you tried the latest PR, @pradeep250 ?

[2016-08-31 00:41] tvrprasad commented on #415
I investigated this some. What I've learnt so far is that support for Windows Integrated Authentication uses SSPI and NodeJS currently does not support SSPI. There is a node-sspi npm package but that only has support for server side. And it's a native implementation with JavaScript binding. Client side SSPI implementation would also need to be native code with JavaScript bindings.

My proposal is

[2016-08-31 21:19] w1nk opened #438 "Bulkload interface doesn't support FIRE_TRIGGERS, etc"
Currently, bulk loading doesn't have the ability to issue these optional statements as part of the bulk load interface.  I've located mono's implementation:

https://github.com/mono/mono/blob/master/mcs/class/System.Data/System.Data.SqlClient/SqlBulkCopy.cs#L446

and in tedious:

https://github.com/tediousjs/tedious/blob/master/src/bulk-load.js#L120

Thanks!

ps - I can send a PR if interested

[2016-09-02 02:54] SteveShe commented on #61
Same problem here as well on Azure v12 DB. 'done' event never fires but 'doneproc' and 'doneInProc' both fire. 'doneInProc' seems to be the one handling the actual results as evidenced by the output at the bottom of this post. The other weird, and more annoying thing that may or may not be related, is that my script never stop executing. I have to kill it. This makes me think that Node is still do

[2016-09-02 04:45] SteveShe commented on #328
Key information here is that you are connecting to an azureDB from an azure vm, which requires special firewall rules (compared to connecting from the internet). I think this may help: https://azure.microsoft.com/en-us/documentation/articles/sql-database-configure-firewall-settings/

**---- excerpt  ----**
Important:
To allow applications from Azure to connect to your Azure SQL server, Azure conne

[2016-09-02 05:02] SteveShe opened #439 "Node hangs on Windows 10 when executing the example code"
I have been trying for several hours to get to the bottom of this and I just can't get there. Whenever I run a script that uses tedious, it does everything it is supposed to do, but node never returns to the command prompt. For completeness I will give you the entire command line session and the code I executed to reproduce this problem:

[code]

From this point onward the command prompt just sits

[2016-09-02 06:59] ThomasDelteil commented on #328
Thanks, I actually managed to get it to work. The issue was with sails-mssql server rather than tedious.

[2016-09-04 15:30] arthurschreiber commented on #439
Hey @SteveShe,

I went through your comment and re-formatted it to be a bit more readable, I hope that's ok! 😄

Node seems to be "hanging" because the connection to the sql server is still open. I put that in quotation marks because that's the expected behaviour - whenever you still have a something that keeps the event loop of Node.JS alive, the process won't shut down but will keep running.

In

[2016-09-04 15:30] #439 closed

[2016-09-04 19:23] #429 closed

[2016-09-04 19:24] arthurschreiber commented on #429
I just merged a patch for this based on your suggestion! Many thanks! ❤️

[2016-09-05 01:24] SteveShe commented on #439
Thanks Arthur. I tried that and thought it didn't work. I suspect that is because early on I validated that I got the  same result sunder VSCode as I did from the command line and must have assumed that would always be the case. As it strands now, when I run it from the command line with the connection close(), it exits as expected. However, when I run it under VSCode it does not. I'll open a bug

[2016-09-05 01:26] SteveShe commented on #439
Also, thanks for the example of the formatting. It was not clear that it takes three ticks (') to get it to recognize a code block. I'll do a better job in the future.

[2016-09-05 20:26] jdanyow commented on #429
@arthurschreiber nice! glad it was helpful.

Any chance this issue could be re-opened- still wondering why the Guids are uppercased.

If no one knows or there's no reason, it's totally fine, just wondering if there was a reason because I was hoping they'd be lowercased and the code deliberately uppercases them for some reason.

[2016-09-05 21:20] jdanyow opened #441 "guidToArray performance tuning"
@arthurschreiber this is the counterpart to https://github.com/tediousjs/tedious/pull/440

https://gist.run/?id=72ba5c3588d6375fee052fc8358a4606

I can send a PR if it looks good.

[2016-09-06 20:49] grzegorzkozlowski opened #442 "RangeError: Offset is out of bounds"
Hi Everyone. This is my first post on Github, so please excuse me for any mistakes.
I'm trying to connect to my azure MS SQL database using node.js.
Since 2 days I'm fighting with a problem for which I cannot find any answers on the internet.
I'm experienced .NET/MS SQL developer, but really a newbie in Node.JS :) But I'm progressing.

**My code is:**

var Connection = require('tedious').Connectio

[2016-09-06 20:55] spanditcaa commented on #442
@grzegorzkozlowski there was a bug with node 6.4.0 -- try 6.5 or go back to 6.3.x

https://github.com/tediousjs/tedious/issues/431

[2016-09-08 01:18] tvrprasad commented on #428
How did you verify what's in the database? Does SSMS give you the right answer on the query?
If you can share your code, I'd be curious to take a look.

[2016-09-08 18:22] tvrprasad commented on #435
I see this is duplicate of https://github.com/tediousjs/tedious/issues/363

[2016-09-08 18:22] #435 closed

[2016-09-08 18:26] tvrprasad commented on #414
Fix merged to master.

[2016-09-08 18:26] #414 closed

[2016-09-08 18:34] tvrprasad commented on #373
Can you share the full script where you're running into the issue?

[2016-09-08 21:46] arthurschreiber commented on #415
Yup, that sounds reasonable. I don't think the binary module should be part of tedious, so 👍 on the idea of having it a separate npm module.

[2016-09-08 21:49] arthurschreiber commented on #441
These numbers look great! If you can create a PR for this, I'd be happy to merge it! Thanks! :heart:

[2016-09-08 21:52] jdanyow commented on #441
cool- will do

[2016-09-08 21:54] arthurschreiber commented on #363
@tvrprasad The "correct" way to fix this would be to create a copy of the config object (and any nested objects) using `Object.create`. This is also the pattern that Node.js core code is using as a solution for the same problem.

[2016-09-09 16:00] tvrprasad commented on #415
Cool. First cut will likely have support only for Windows. Are we ok with a Windows only feature to start with?

Windows and Linux have different API for supporting Windows Integrated Authentication. We should be able to build support for both platforms into one package. But wondering if there is precedent for dependencies on different packages for Windows vs Linux.

[2016-09-14 00:28] wangzhiqiang1975 commented on #412
@akc42
     can you write example used connection.transaction(callback, name, isolationLevel)

[2016-09-14 04:40] tvrprasad commented on #363
@arthurschreiber Submitted pull request - https://github.com/tediousjs/tedious/pull/445.

[2016-09-14 06:16] akc42 commented on #412
@wangzhiqiang1975
Unfortunately I don't have something simple that I can show you and it would take a while to generate it.  I have wrapped the whole tedious library in function generators so as to make it easier to code up stuff.

Here is an example of using the library .  Its a method in another class.  db is the main class and the exec method on it requires a function*() call which it iterates

[2016-09-16 16:59] wangzhiqiang1975 commented on #412
@akc42
    my project will be build in Docker   used Tedious connect SQL SERVER, Transaction must used ,Tedious support  Linux and lots people told me it  good use in project ,I'll study and try  use it
         Thanks a lots
     have nice day

[2016-09-16 19:21] wangzhiqiang1975 commented on #412
@akc42
  I try node.js connect SQL SERVER database Transaction successful ,at last used npm mssql package (this package  use Tedious driver) and test pass in docker , I'm study nodejs no  more than three month ,thanks
you give me help ,I'll study hard  thank you

   have nice day

[2016-09-19 02:39] sant123 opened #446 "Is this repository really maintained?"
Hi, I've done a pull request some time ago and I have not received any answer from it.... The pull request is here:

https://github.com/tediousjs/tedious/pull/403

[2016-09-19 17:46] arthurschreiber commented on #446
Tedious is still maintained.

At my previous company we used tedious extensively as a core component of the application that we built, and I was allowed to spend time maintaining it. I was able to add a lot of useful functionality like transactions and fix some other bugs and performance bottlenecks.

I moved to another company, where I don't use tedious nor do any Node.js development at all, so m

[2016-09-19 17:46] #446 closed

[2016-09-19 19:33] sant123 commented on #446
I really appreciate ur answer @arthurschreiber, for a moment a thought I should research for another library, but Tedious is the most stable I know. Now that I know the story, I'll be more patient in order to make PR. :smile:

Thank you!!!

[2016-09-19 22:53] SaloniSonpal opened #447 "Always Encrypted Feature"
Recently [Always Encrypted ](https://msdn.microsoft.com/en-us/library/mt163865.aspx) feature was released in SQL Server 2016. This ensures SQL Server will only handle the encrypted data and not plaintext values. This seems like a great security feature. Thoughts?

[2016-09-19 23:05] SaloniSonpal opened #448 "Internationalized Domain Names for server names"
How do I leverage internationalization and localization features for SQL Server? Can you please point me as to how I can handle international domain names? Can someone please help me with documentation pointers if this is supported?

[2016-09-20 01:22] SaloniSonpal opened #449 "Redirection logic not implemented"
This doc https://blogs.msdn.microsoft.com/sqlcat/2016/09/08/connect-to-azure-sql-database-v12-via-redirection/ specifically calls out that Tedious for Node.js does not implement redirection. @arthurschreiber, @pekim, @ben-page, other committers and active members - is this something that should be looked into?

Scanning through the code I do see some re-routing/ redirection logic in connection.js.

[2016-09-20 02:16] SaloniSonpal opened #450 "Using Sparse Columns"
I do notice a sparseColumnSet flag, but don't see it being used anywhere. Correct me if I'm wrong? What's a good way to use this feature in Tedious?

[2016-09-20 02:28] SaloniSonpal opened #451 "Add support for Extended Events Log"
To be able to access diagnostic information in the server's extended events log will be really helpful to trace driver operations and understand connection failures. Thank you!

[2016-09-20 11:15] arthurschreiber commented on #448
Can you be a bit more specific on what these features are?

I've not tried this, but the way it's implemented right now depends on whether the Node.js core components handle international domain names automatically or not (and I believe they do not).

For users, the simplest "fix" would be to specify the punycode variant of their server domain name in the configuration they pass to tedious.

As me

[2016-09-20 11:17] arthurschreiber commented on #451
I'm not exactly sure what you are referring to, and I could not find "Extended Events Log" specified anywhere in the latest `MS-TDS` specification. Could you provide a bit more context for this?

[2016-09-20 11:26] arthurschreiber commented on #450
You're right, this is not wired up in Tedious, at all! 😄

I've never used this feature before, but from reading the [MSDN-ColSets](https://msdn.microsoft.com/en-us/library/cc280521.aspx) Documentation page, I believe this will work out-of-the box. If the full sparse column set is specified in a SELECT statement, all column set values will be returned as a single XML column. When requesting specifi

[2016-09-20 11:29] arthurschreiber commented on #449
I believe this is supported, and support for this was added quite a while ago! (I think for v1.8.0).

I have not tested this feature specifically - @SaloniSonpal @tvrprasad can you verify whether this works as supposed on the Azure Platform?

[2016-09-20 11:33] arthurschreiber commented on #415
Yes, that's fine. I imagine this will be an optional feature, so only supporting Windows at first is fine. 👍

[2016-09-20 19:30] SaloniSonpal commented on #448
Agree @arthurschreiber. Most software written for non-Windows platforms follows the Internet DSN standards and most likely uses the Punycode format for IDNs, while a Windows-based DNS Server on a private network can be configured to allow the use of UTF-8 characters. It'll be good to convert a Unicode serverName to ASCII compatible encoding (Punycode) when required during a connection.

Some more

[2016-09-20 19:46] arthurschreiber commented on #448
That's okay. We can use the punycode library to do this automatically when doing the dns lookup. 👍🏻

[2016-09-20 21:49] SteveShe opened #453 "Potential bug when encoding password"
I was having trouble logging into my Azure DB and I think I have tracked it down to the password being misinterpreted by Tedious. I use a password generator for my passwords and they contain special characters, all of which are support by Azure SQL. I have found that when I login using Tedious with this password configuration the login fails:

[code]

Even when I encode the backslash character ()

[2016-09-22 21:24] tvrprasad opened #454 "Add tests, documentation and sample for nanosecondDelta"
Tedious allows for 'nanosecondDelta' to be the specified on 'value' of type 'Date' passed in to Request.addParameter() method. This is not currently tested or documented.

[2016-09-23 12:18] #441 closed

[2016-09-25 20:35] tvrprasad opened #455 "Tedious releases"
@arthurschreiber @pekim  I see on https://www.npmjs.com/package/tedious that last release for Tedious was 6 months back. Any thoughts on if we should do a new release?

[2016-09-25 21:02] tvrprasad commented on #455
@patriksimek @bretcope
For more thoughts.

[2016-09-26 17:12] tvrprasad opened #456 "Retries on transient failures"
@arthurschreiber
The link below calls out certain error codes as transient and recommends that the application does retries when this happens. These are all TDS level errors, not TCP errors.
https://azure.microsoft.com/en-us/documentation/articles/sql-database-develop-error-messages/

Microsoft C# driver currently has code that implements retries on transient errors for two reasons:
1) Existing ap

[2016-09-27 06:21] venkatavijay opened #457 "Connection issue connecting to sql server"
Hi all,

I am facing below connectivity issue when connecting to my sql instance.
Any pointers highly appreciated!

app.get('/getpackages', function (req, res) {
    var retval;
    var conn = new TDS.Connection({
        domain: 'mydomain', userName: 'username', password: 'password', server: 'server.mydomain.com',
        options: { database: 'test', requestTimeout: 0, connectTimeout: 30000, rowC

[2016-09-28 04:56] SaloniSonpal opened #458 "Requests can only be made in the LoggedIn state, not the SentClientRequest state (code: 'EINVALIDSTATE')"
In my example below, I'm trying to serially execute an array of functions. But the Requests can only be made in the LoggedIn state, so I had to check for that `connection.state !== connection.STATE.LOGGED_IN`. And as you can see in the **Read** function below had to put the request back in queue in order to get rid of the error.

[code]

Is there a better way of achieving this?  I see that a simil

[2016-09-28 05:14] SaloniSonpal commented on #61
I'm seeing the same issue. For my `execSql` request:

- `done` doesn't fire,
- `doneProc` fires but `rowCount` is returned as undefined,
- `doneInProc` fires first with correct `rowCount`.

Is that expected? Should we be updating the docs to reflect this? @arthurschreiber @pekim, can you please help confirm this?

Repro code:

[code]

Here's the output:
[code]

[2016-09-28 17:32] tvrprasad commented on #457
@venkatavijay I'm able to repro your error when I specify 'domain' in config and my 'username'/'password' are Database users. I suspect that's what's happening in your case.

Specifying 'domain' triggers NTLM code path and I suspect your user is a Database user. Remove 'domain' setting from your connection config and see if that fixes the issue.

Couple of other things:
1) In your 'connect' listen

[2016-09-28 18:14] tvrprasad commented on #458
There is a 'callback' property you can set on Request and there is a 'requestCompleted' event on Request, both seem work. And those are the two things we didn't try :)

There may be some cleanup and documentation needed on this.

Try these and see if it works.

Using 'callback':
[code]
Using 'requestCompleted':
[code]

[2016-09-28 18:17] tvrprasad commented on #458
I'll actually put this notes in https://github.com/tediousjs/tedious/issues/61 and close this one as it's the same issue.

[2016-09-28 18:17] tvrprasad commented on #61
There is a 'callback' property you can set on Request and there is a 'requestCompleted' event on Request, both seem work. And those are the two things we didn't try :)

There may be some cleanup and documentation needed on this.

Try these and see if it works.

Using 'callback':
[code]
Using 'requestCompleted':
[code]

[2016-09-28 20:11] SaloniSonpal commented on #61
@tvrprasad - Not sure I understand the response. All I'm saying is that `done`, `doneProc` and `doneInProc` are behaving differently than stated in the [documentation](http://tediousjs.github.io/tedious/api-request.html#event_done) :)

[2016-09-28 20:58] tvrprasad commented on #458
Re-opening the issue. https://github.com/tediousjs/tedious/issues/61 is entirely unrelated. The issues referred to by @SaloniSonpal are actually closed. So reopening this for tracking.

This needs some cleanup and documentation.

[2016-09-28 21:01] tvrprasad commented on #61
oops. I mixed up issues there :-(
Sorry about that. Ignore my comment please.

[2016-09-28 23:22] SaloniSonpal commented on #61
No worries! @tvrprasad - do you have permissions to fix the documentation?

[2016-09-28 23:22] SaloniSonpal commented on #458
Thanks @tvrprasad. Both these worked, and are way cleaner. `callback` approach does give the advantage of handling the error. `Event: 'prepared'` definitely needs to be documented.

[2016-09-29 10:39] arthurschreiber commented on #458
(Sending from my phone, excuse the terseness).

Setting the callback property will overwrite the callback that you passed
to the Request constructor. Instead, you should call the callback from
async inside the callback passed to The Request constructor. This way you
can also forward errors correctly to async.

[2016-09-29 16:34] tvrprasad commented on #458
Ah, missed that callback is set to the callback passed in. So the right way would be:

[code]

@arthurschreiber Any reason for the 'requestCompleted' event? Seems redundant. Another thing I notice is rows parameter passed in to the callback is always empty. Is there a scenario where it'll have valid data? I'll update documentation.

[2016-09-29 22:54] arthurschreiber commented on #458
There is the `rowCollectionOnRequestCompletion` option that can be specified when connecting. Having it as a global option is a bit weird, I think it would make more sense to have this per-request.

The main idea behind this is the following: If the `rowCollectionOnRequestCompletion` option is enabled rows are stored in memory until the corresponding `Request` is completed (and currently, I think

[2016-09-29 22:55] arthurschreiber commented on #458
I'm not sure - this was added before I started working on tedious.

[2016-09-29 22:57] arthurschreiber commented on #455
Let's plan for a release soon. There is still the issue highlighted by https://github.com/tediousjs/tedious/pull/420, where connecting to SQLServer using older versions of the TDS protocol is basically completely broken (this mainly affects people trying to use tedious with older SQL Server versions).

[2016-09-29 23:35] tvrprasad opened #459 "rowCollectionOnRequestCompletion should be a per Request configuration"
Currently rowCollectionOnRequestCompletion is a per Connection configuration. This is sub-optimal and should be a per Request configuration.

More detailed note on this from @arthurschreiber may be found here:
https://github.com/tediousjs/tedious/issues/458#issuecomment-250615261

[2016-09-29 23:38] tvrprasad commented on #458
Opened https://github.com/tediousjs/tedious/issues/459 to track the
rowCollectionOnRequestCompletion issue. I'm sure we can add and handle that
in a backward compatible way.

On Thu, Sep 29, 2016 at 3:55 PM, Arthur Schreiber <notifications@github.com>
wrote:

[2016-09-29 23:50] tvrprasad commented on #455
I looked into #420 a bit. I'll update the issue with findings and we can discuss how to move forward there. I'll try and squeeze in some time to spend on the issue.

[2016-09-29 23:51] tvrprasad commented on #458
Opened #459 to track the rowCollectionOnRequestCompletion issue. I'm sure we can add and handle that
in a backward compatible way.

[2016-09-30 16:25] tvrprasad commented on #455
We should also close https://github.com/tediousjs/tedious/pull/362 for the release. Hopefully we're pretty close on that one.

[2016-10-03 14:58] Nokel81 opened #462 "Socket is not a constructor"
Hello, I am trying to connect to a SQL database on the same network as I but when I try and create a connection object I get a `Socket is not a constructor: TypeError` error.

This is practically my code:

[code]

I get the error on the `new Connection` line and my config looks something like this, the values have been changed.

[code]

Version of Tedious: 1.14.0

[2016-10-03 15:19] Nokel81 commented on #462
Some more information, this connection is being made in an Angular 1 Controller. I do not get that error when in a test file.

[2016-10-03 15:27] arthurschreiber commented on #462
Are you trying to connect from a browser to your SQL Server? I don't think that will work. Tedious is written for Node.JS.

[2016-10-03 15:29] Nokel81 commented on #462
Ok, thanks. I will then create a backend services using node for the connections to the SQL server.

[2016-10-03 15:29] #462 closed

[2016-10-03 15:33] arthurschreiber commented on #462
👍 Cool! Let us know if you run into any other issues with tedious.

[2016-10-04 00:58] SaloniSonpal commented on #61
@arthurschreiber can we please update the docs for `done`, `doneProc` and `doneInProc`. They are behaving differently than stated in the [documentation](http://tediousjs.github.io/tedious/api-request.html#event_done)

[2016-10-04 01:00] SaloniSonpal commented on #458
to the Request constructor. Instead, you should call the callback from
async inside the callback passed to The Request constructor. This way you
can also forward errors correctly to async.

@arthurschreiber You're right. That is the right way to not override the results/ errors. Works like a charm :-)

[2016-10-04 01:04] SaloniSonpal opened #464 "Documentation missing for Event: 'requestCompleted'"
`Event: 'requestCompleted'` isn't documented but is available via code. It would be great to have it documented, @arthurschreiber.

[code]

[2016-10-04 01:05] SaloniSonpal commented on #458
Created #464 to improve documentation on `Event: 'requestCompleted'`

[2016-10-04 01:27] tvrprasad commented on #415
I'm sharing a short snippet using the ClientSspi class interface I have in mind. Please share any feedback on the shape of the API.

[code]

[2016-10-05 00:44] TheFarmer1 commented on #163
I would like to get a number back instead of a string.

[2016-10-06 23:06] arthurschreiber commented on #382
You can call the `.close()` method on the connection object to close it.

[2016-10-06 23:06] #382 closed

[2016-10-06 23:15] arthurschreiber commented on #338
This was fixed with #367.

[2016-10-06 23:15] #338 closed

[2016-10-06 23:33] arthurschreiber commented on #449
@SaloniSonpal @tvrprasad ping?

[2016-10-07 15:45] tvrprasad commented on #449
I'll take a look at this and let you know.

[2016-10-10 06:19] tvrprasad commented on #449
@arthurschreiber You're right. Redirection works as it's supposed to. Here is what I did to verify:

- Created a Azure Windows VM and Azure SQL DB.
- Added some logging to tedious and ran a simple query from the VM.
- I see the following:
  1. Create Socket.
  2. Routing Change.
  3. Destroy Socket.
  4. Create Socket.
  5. Logged In.
  6. Destroy Socket.

From a non-Azure Windows VM where Redirec

[2016-10-10 06:19] #449 closed

[2016-10-10 17:40] arvindshmicrosoft commented on #447
Many customers are using [Always Encrypted with web apps](https://blogs.msdn.microsoft.com/sqlcat/2016/09/15/using-sql-always-encrypted-with-azure-web-app-service/). Node.js support has been asked as well. It would be great if tedious can support Always Encrypted.

[2016-10-10 20:14] tvrprasad commented on #455
We're now closed on #420.

I have a PR out https://github.com/tediousjs/tedious/pull/444 waiting to help close #362.

You think we can close #362 (Multi Subnet Failover) and do a release?

[2016-10-11 17:30] Nokel81 commented on #163
A question about implementation, we know that BIGINTs can be >53 bits of data but is there a max number of bits or is it like Python's long type? It could be that BIGINTS are returned as a LONG (an npm module for 64 bit integers) or another similar type.

[2016-10-11 17:45] Nokel81 opened #466 "connection.execSQL is not a function"
If I have the following code:

[code]

I get the error:  `connection.execSQL is not a function`. I believe that this is an error as I should be able to send a request as soon as the connection has been opened.

[2016-10-11 19:46] tvrprasad commented on #466
It's execSql, not execSQL.

[2016-10-11 19:46] #466 closed

[2016-10-17 15:58] ankurgupta4891 opened #467 "performance issue with tedious"
I ran few queries that return large datasets using tedious as well as jdbc sqlserver. I got very low performance with tedious compared to jdbc. Here are the results.
Queries                       JDBC      Node Tedious
1000000 from tbl1   1.135 s   72.359 s
1000000 from tbl2   7.109 s   450.915 s
1000000 from tbl3   1.761 s   122.01 s
1000000 from tbl4   1.409 s   68.083 s
1000000 from tbl5   1.55

[2016-10-17 20:15] arthurschreiber commented on #467
Can you post the setup instructions for these benchmarks so I can try and
reproduce?

I started work on improving the performance of tedious all over the board,
but that is not really in any usable state yet - but should improve the
performance of tedious many times.

[2016-10-18 06:58] ankurgupta4891 commented on #467
I'm not sure exactly what you need. But here is the code I used:

**NodeJS**

[code]

**Java**

[code]
**DBConnection.java**

[code]

**V8 Profiler log**
[processed.txt](https://github.com/tediousjs/tedious/files/535449/processed.txt)

Please let me know if you need any other details.

[2016-10-18 10:08] arthurschreiber commented on #467
Thanks! Looking at the profiler output, most of the time is spent in the token parsing code, most specifically in the row token and value parsing code. This should get a lot better with the new parsing code, but I don't have an ETA on when it will land in tedious. I'll let you know!

[2016-10-19 02:48] ankurgupta4891 commented on #467
Thank you for looking into it.

[2016-10-21 14:33] zeg-io opened #468 "Bad link on npm"
The link to the changelog is broken on npm page.

The current (broken) one is: `http://pekim.github.io/tedious/changelog.html`

This one works: `http://tediousjs.github.io/tedious/changelog.html`

[2016-10-21 19:01] jcollum opened #469 "hundreds of "Error: Unknown type: xx" errors when switching between two slightly different versions of SQL 2008 R2"
[code]

Typical call stack:

[code]

Sample of errors:

[code]

and so on. This is happening when I change from a known working server with this `@@Version`:

[code]

to this one:

[code]

Upgrading the database (in any way) is probably a non-starter.

Any help appreciated. This kills a project that I've been working on for two months. I'm concerned.

[2016-10-23 18:33] arthurschreiber commented on #469
This should be fixed with the latest code in master, or in the next release.

[2016-10-23 19:42] jcollum commented on #469
I forgot to update: one of the columns in the view was a sql_variant type (an ipaddress from @@serverproperties or something like that, I don't have it in front of me). I edited the view to turn that into a varchar and the problem went away.

[2016-10-24 21:28] mcrummey opened #470 "No event 'data' in state 'Final'"
I get this error intermittently when running.  I am using tedious-connection-pool if that matters.  (If I release on process.nextTick() I get memory leak errors on the event emitter.)

Here is my code.  Attached it the stacktrace

[code]

error: Connection Pool error: Error: No event 'data' in state 'Final'
error:    Server Error {"message":"No event 'data' in state 'Final'","stack":"Error: No eve

[2016-10-24 21:31] mcrummey commented on #470
#260 Similar error but different event.

[2016-10-25 06:23] arthurschreiber commented on #470
I checked your example and it looks like you are releasing the connection while it's still in use. If you move `mscon.release();` to the end of the callback passed to `new Request`, this issue should get fixed.

Closing a connection while still in use causes undefined behaviour in tedious right now, we might fix this in the future (cc @tvrprasad).

[2016-10-25 06:31] arthurschreiber opened #471 "Generate documentation using `documentation.js`"
Currently, documentation for tedious is maintained in a seperate `gh-pages` (see https://github.com/tediousjs/tedious/tree/gh-pages) branch.

This makes maintenance of the documentation a lot more complex than it should be. Documentation often becomes outdated because we need to ask contributors to open a second PR to add documentation for any feature they propose. Also, it causes a lot of drift i

[2016-10-25 06:41] arthurschreiber opened #472 "Make use of `semantic-release` to automate new releases"
Releasing a new version of tedious is currently quite a bit of work, and I'd ❤️ to streamline this - for the sake of me (not a lot of time) and other contributors (want to see their contributions get released quickly).

I propose to switch to implement automatic releases via https://github.com/semantic-release/semantic-release

I have it setup on another project of mine, and so far the experience

[2016-10-25 12:50] mcrummey commented on #470
That was the issue.  Thanks for your help.

[2016-10-25 12:50] #470 closed

[2016-10-31 10:46] ColinMc opened #474 "Value out of bounds for Numeric types"
I'm running into an issue where a valid numerical value is blocking my insert statement with tedious. A manual SQL insert into the database with the same numerical value works.

Manual SQL Insert:
[code]

Here's my code:
[code]

The tedious code seems to convert 66666.55 to an integer with a value of 66666550000000000000. It then tries to take the remainder and quotient of that value and write it

[2016-10-31 20:53] pekim commented on #474
Because that's what the TDS protocol mandates for Numeric values.
[2.2.5.5.1.6 Decimal/Numeric](https://msdn.microsoft.com/en-us/library/ee780893.aspx)

For `sql.Numeric(30, 15)`, _p_ is 30, and _s_ is 15. So the integer will be 66666550000000000000 (66666.55 * 10^15), and should be represented in 16 bytes.

https://github.com/tediousjs/tedious/blob/3cb8586c2be217d9b31ef72f866986d85614920d/src/dat

[2016-10-31 20:55] pekim commented on #474
As a workaround, using a smaller scale would probably work.

[2016-11-01 10:42] ColinMc commented on #474
@pekim Thanks for answering my question and providing the information! I decided to write it in Python instead of Node.js to move forward. I'll still be using this library for other work, but it won't involve numeric types. Hopefully a solution can be found so no one else runs into this issue.

[2016-11-03 03:10] andymac4182 commented on #467
@arthurschreiber Do you think the new parsing code is far off?

[2016-11-04 05:59] RajatBanerjee opened #475 "tedious TVP, is a becoming blocking operation for large data"
I am trying to do a call a stored procedure with a TVP as a parameter . This TVP is built from a CSV, with ~ 30000 rows . When the request begins, the thread gets blocked and any request into the application is not handled .

I have tried calling a sp whihc internally sends the response back after a 5 mins delay, but in that case the operayionn is Async . This leads  me to believe that the Sp call

[2016-11-07 22:34] MarkHerhold commented on #467
I am also seeing serious performance issues with a real dataset that has 19 columns x ~6500 rows.

With tedious, the query takes anywhere from 10 - 19 seconds (Linux).
The same query takes 1 - 3 seconds in the MSSQL Management Studio (Windows).

My data consists of mostly VARCHARS and numbers. Please let me know if I can assist.

[2016-11-11 17:29] arthurschreiber commented on #475
Yes, you're right, writing large TVP is currently a blocking operation.

The main issue here is that before `tedious` sends the request off to the database, it builds an internal buffer containing the full request data. If you have a TVP with many, many rows as you described, building this request is going to take quite some time and will also use up a considerable amount of memory. And later, whe

[2016-11-11 18:40] RajatBanerjee commented on #475
:)  Does a Bulk upload work in a similar fashion ? I basically need to send a large chunk of data to my SP. I am open to modify the working's if a Bulk upload would solve the problem

[2016-11-12 10:23] arthurschreiber commented on #475
Yeah, looks like bulk inserts work in a similar fashion. :(

[2016-11-12 10:26] arthurschreiber commented on #475
Making different aspects of tedious less blocking and more stream-oriented is one of my long term goals for `tedious`. Currently, I'm working on the receiving and parsing side of things, as that is where most users of `tedious` will feel the biggest impact. Once that is tackled, we'll also look at the parts that write to the database as well.

[2016-11-12 10:32] arthurschreiber commented on #467
The main goal of the new parsing code is to avoid closures at all cost.

If you look at some of the current code (https://github.com/tediousjs/tedious/blob/8c5932371f66befca06c372c1db16c5f3a740e9c/src/token/loginack-token-parser.js#L10-L43) you can see that the code makes heavy use of closures - and parsing a LOGINACK token is still one of the simpler tokens!

This is problematic in a few ways, th

[2016-11-12 10:33] arthurschreiber commented on #467
@andymac4182 I'll try to push the work I've done so far to the repo here as soon as possible. Unfortunately, it's an all-or-nothing change, meaning all the parsing code has to be modified in one go, and we can't modify the parsing code in small steps.

[2016-11-12 10:33] arthurschreiber commented on #467
If you could take a look at the existing benchmarks and maybe create a new one that roughly reflects your use case, that'd be awesome!

[2016-11-12 13:40] MarkHerhold commented on #467
Hi @arthurschreiber
I went in an profiled the code and it turns out that my own code was causing the slowdown. The parsing code didn't even show up in the profiler as a trouble spot and does not take long to run at all, so my apologies for the confusion and misinformation!

[2016-11-12 17:45] arthurschreiber opened #477 "Release 1.15.0"
I plan to release the next version of `tedious`, `1.15.0` "Alive and Kicking" soon.

Here's the changelog so far:

---

### What's New

* #362 `tedious` now has better support for SQLServer instances configured for High Availability! If the DNS name for the SQLServer instance you're connecting to resolves to multiple IP addresses, `tedious` will now sequentially try to connect to each of them, and

[2016-11-12 18:30] RajatBanerjee commented on #475
Appreciate the effort, Arthur. Thanks

[2016-11-12 20:22] patriksimek commented on #477
Great contributions! Thanks for all your efforts.

[2016-11-13 17:19] arthurschreiber commented on #455
I've opened #477 for the upcoming 1.15.0 release. I'll close this now!

[2016-11-13 17:19] #455 closed

[2016-11-13 17:23] arthurschreiber commented on #442
Closing this as this was a bug in Node.js 6.4.0 and not in `tedious`.

[2016-11-13 17:23] #442 closed

[2016-11-14 16:45] #363 closed

[2016-11-14 16:48] tvrprasad commented on #477
This is great @arthurschreiber!

Can we merge the unit tests for Multi Subnet Failover Feature (#362)
https://github.com/tediousjs/tedious/pull/444

[2016-11-18 09:54] cshettar commented on #453
Not only for backslash. Log in does not work for passwords with other special characters such as % and # as well. This is indeed a bug and needs to be solved or atleast mentioned in the documentation.

[2016-11-18 09:56] arthurschreiber commented on #453
@cshettar Thanks for confirming the issue!

@tvrprasad Is this something you could look into?

[2016-11-18 22:33] tvrprasad commented on #453
I'll take a look at this.

[2016-11-18 23:51] tvrprasad commented on #453
@SteveShe This is odd. I tried the exact password you got, "\\3sYAU{YH88u4i^", and it worked fine for me!
@cshettar I tried a password with all special characters !@#$%^&*()\1Aa (with escaping in JS it'll be "!@#$%^&*()\\1Aa" and that worked too.

Can you try with the current bits of Tedious and latest version of node?

[2016-11-19 00:21] tvrprasad opened #482 "Closing connection while still in use causes undefined behavior"
@arthurschreiber You mentioned this in https://github.com/tediousjs/tedious/issues/470#issuecomment-255947375. Do you have a fix in mind? I can take a crack at it some time.

[2016-11-21 18:11] tvrprasad commented on #415
I have a stub implementation of the API at https://github.com/tvrprasad/sspi-client.

@arthurschreiber Please make a quick pass when you get a chance. Send me any feedback or open issues against the repository. Once I fill in the implementation, I plan to use that to implement Windows Integrated Authentication in Tedious.

[2016-11-23 17:45] trevorfrese commented on #300
@Reubend did you end up solving this?

[2016-11-29 02:09] nicholaswmin commented on #318
Hi people, reviving this since it might be connected to an issue I have with the mssql driver for Node.
I'm wondering, does the transaction queue wait for each query to respond before sending the next one?

Would this [comment made here][1] apply for tedious for example?

[1]: https://github.com/tgriesser/knex/issues/1806#issuecomment-263315348

[2016-11-29 17:02] tvrprasad commented on #453
Closing the issue as everything seems to work as expected. Re-open if you still notice problems.

[2016-11-29 17:02] #453 closed

[2016-11-29 18:40] jjg1914 commented on #477
@arthurschreiber Is there any ETA on this being released? Would love to have the multiSubnetFailover feature!

[2016-11-30 00:27] TheFarmer1 commented on #390
When I see this problem, the application crashes.  Is that normal?

[2016-11-30 04:30] PeterNierop commented on #390
Sadly yes, indeed the app crashes. I keep it alive by using Respawn to start and restart my app. It does crash about once every week. 
Best regards,
Peter Nierop

    On Wednesday, November 30, 2016 4:28 AM, TheFarmer1 <notifications@github.com> wrote:

 When I see this problem, the application crashes. Is that normal?—
You are receiving this because you modified the open/close state.
Reply to thi

[2016-12-04 12:05] arthurschreiber commented on #482
I think closing a connection with open requests should pass down some sort of error down the request's callback, so that user-defined code can take the appropriate steps of handling it.

[2016-12-04 12:07] arthurschreiber commented on #477
There is one last thing missing before we can push out a release, and that's compatibility between `multiSubnetFailover` and connecting via a instance lookup (https://github.com/tediousjs/tedious/blob/master/src/instance-lookup.js).

Once that is resolved, I#ll push the new tedious release ASAP.

[2016-12-07 20:05] MrJoeXu opened #484 "Windows authentication recognized as SQL auth by sql server"
I am trying to get windows auth working on SQL Server 2008 with Tedious, Here is config:
[code]

But all I get is the "Unable to login in for user " error. I checked the error log of SQL server and getting this:
[code]

I only want to authentication through windows instead of sql server so I did not turn on the mix mode for authentication in SQL Server. Why is sql server recognized my login attemp

[2016-12-07 21:10] tvrprasad commented on #484
I copied pasted your config and tweaked values and I'm able to connect using my windows account.
Can you share what the complete error output you're getting on the client?

Also, check if the version of Tedious you're using is very old. You would get this behavior if your version of Tedious does not have support for NTLM. You can check that by seeing if you have the file ntlm-payload.js in your Te

[2016-12-07 21:31] MrJoeXu commented on #484
I turned on the debug node and found out the problem is from my SQL server settings. I changed my port number of server and it connected now.
THANKS!!!

[2016-12-07 22:13] tvrprasad commented on #484
That's great :-)

[2016-12-07 22:13] #484 closed

[2016-12-09 01:14] tvrprasad commented on #415
I threw something together to integrate sspi-client to tedious and see if it works and it does! I was able to connect using ntlm, kerberos and negotiate security packages without specifying password!

@arthurschreiber you can find the hack here. This is not ready for PR by any means, but let me know if you see issues at a high level.
https://github.com/tvrprasad/tedious/tree/windows-integrated-aut

[2016-12-11 19:55] leerlemoniii opened #485 "BulkLoad documentation error"
in the example on http://tediousjs.github.io/tedious/bulk-load.html

// instantiate - provide the table where you'll be inserting to, and a callback
var bulkLoad = connection.newBulkLoad('MyTable', function (error, rowCount) {
  console.log('inserted %d rows', rowCount);
});

// setup your columns - always indicate whether the column is nullable
bulk.addColumn('myInt', TYPES.Int, { nullable: false

[2016-12-19 21:30] jwoyame opened #487 "UDT parameter for requests"
Hello!

I see that `request.js` has a function `validateParameters` which goes through all of the request parameters and calls `validate` on each one's type, passing the parameter's value to check.

The UDT type does not have a `validate` function defined in `data-type.js`. This is a problem if you create a request with a UDT parameter and initiate `callProcedure` on it, because it tries to valida

[2017-01-04 00:53] tvrprasad commented on #468
This has been fixed -https://github.com/tediousjs/tedious/commit/50c8001ad3fb98bf052a39248215cb649cc2b6fc

This'll show up when we do the next release.

[2017-01-04 00:53] #468 closed

[2017-01-04 04:16] z6tanker opened #488 "request.transformIntoExecuteSqlRpc(); error when inserting row"
Hey so whenever I try to insert a row with the following SQL it seems to be throwing an error saying:

I'm not sure if this is an SQL issue or a Tedious issue but I thought I'd just post it here. I'm a bit of a novice to thanks in advance!

[code]
Here is my code:
[code]

[2017-01-04 17:56] tvrprasad commented on #488
User error :-)

This:

Should be:

[2017-01-04 17:56] #488 closed

[2017-01-04 18:23] tvrprasad commented on #487
UDT is not the only type that does not have 'validate' function. This is the full list of types that don't seem to have 'validate' :
INTN, NTEXT, BITN, DECIMALN, NUMERICN, FLTN, MONEYN, DATETIMN, XML, UDTTYPE, SSVARIANTTYPE

I think there is more work to support these parameter types than just adding a dummy 'validate'. If you see the constructor for RpcRequestPayload in rpcrequest-payload.js, it

[2017-01-04 22:17] tvrprasad commented on #469
This should be fixed by https://github.com/tediousjs/tedious/commit/4a0b5dadf5d17d7ad91d4817356dd1cff8887fb0

[2017-01-04 22:17] #469 closed

[2017-01-09 23:42] beautifulcoder opened #490 "BigInt as Parameter works, but does this look right?"
Hello, when I add a BigInt type as a parameter I get weird behavior.

Say:

`commandBigInt.addParameter('Id', TYPES.BigInt, '9223372036854775807');`

SQL Server tells me that a -9223372036854775808 was put in this parameter. This seems weird because it is a string type in JavaScript.

But, when I do this instead:

`commandBigInt.addParameter('Id', TYPES.VarChar, '9223372036854775806');`

It works!

[2017-01-10 21:50] tvrprasad commented on #490
Can you please put together a complete script? I can take a look. Thanks.

[2017-01-10 22:42] beautifulcoder commented on #490
You bet.

Create a basic table with a BitInt.

`CREATE DATABASE FunWithBigIntInNode;
GO

USE FunWithBigIntInNode;
GO

CREATE TABLE dbo.BigIntInNodeTest (
  Id BIGINT NOT NULL,
  IsAtMax BIT NOT NULL,
  CONSTRAINT PK_BigIntInNodeTest_Id PRIMARY KEY(Id));
GO`

Then, use this script:

`var Connection = require('tedious').Connection;
var Request = require('tedious').Request;
var TYPES = require('tedio

[2017-01-11 00:05] tvrprasad commented on #457
Closing the issue as there is nothing here to fix in Tedious. Please re-open if there is still an issue.

[2017-01-11 00:05] #457 closed

[2017-01-13 08:15] safakseyrek opened #491 "How can i multiple request ?"
Hi,
How can i multiple request for tediousjs?

[2017-01-19 01:05] max-vogler opened #492 "Returns null for empty aggregate"
When executing the aggregate function `COUNT` in a query that would return no rows (because of a `WHERE` block without matching rows), the returned value is `null` instead of an expected `0`.

Example query:
[code]

Response:
[code]

Expected response:
[code]

Using tedious 1.14.0 and SQL Server V12 on Azure.

[2017-01-19 19:22] LuisBosquez commented on #454
@arthurschreiber hello! I am a Program Manager in Microsoft now working with @tvrprasad to contribute to tediousjs. I wanted to start helping right away with some of the docs issues. Is there a public GitHub repository for the documentation where I can submit PRs to?

[2017-01-21 00:40] max-vogler commented on #458
For people coming here from Google (like I did): [tedious-connection-pool](https://github.com/tediousjs/tedious-connection-pool) offers a great way of combatting this problem. Using `pool.acquire((err, connection) => ...)` and `connection.release()` is an easy way to prevent concurrency issues. If you don't want multiple connections, configure the pool with `{min: 1, max: 1}` to effectively serial

[2017-01-26 20:26] manu-silicon commented on #317
Any update on the JSON support from SQL Server 2016?

[2017-01-31 18:40] z6tanker opened #494 "SQL count not returning properly with .on('row')"
Hi guys, so I'm trying verify that now duplicates are being created in this web app I'm making and for some reason it's not returning at intended. I'm not sure if there's a better way to do this. When I tested it as SQL query it returned correctly.

Thanks,
Z

Here's the Code
[code]

[2017-02-01 18:34] glenjamin commented on #459
I'd like to add that we noticed this today, and would like an option to set this per-request.

I might be able to put together a PR for this if it's still something desirable.

[2017-02-01 18:39] tvrprasad commented on #459
@glenjamin Nothing changed in this regard, so yes, a PR would be welcome. Thanks!

[2017-02-01 22:21] tvrprasad opened #495 "Drop support for nodejs versions that fell out of maintenance."
That would be v0.10, v0.12 and v5 per:
https://github.com/nodejs/LTS

[2017-02-01 22:23] tvrprasad commented on #495
PR: https://github.com/tediousjs/tedious/pull/496

[2017-02-02 23:32] tvrprasad commented on #246
Folks - I have a PR out for implementation of Windows Integrated Authentication - https://github.com/tediousjs/tedious/pull/497. This does not require username or password and uses the login credentials of the user.

If you're able to try it and give feedback, I'll very much appreciate it. I'm looking forward to working with the community to land the feature.

[2017-02-10 09:45] geskill opened #499 "Connecting to remote Sql Server with backslash in password"
The password of the remote Sql Server contains a backslash. However, to connect with tedious i had to type every backslash twice (escape the backslash).

i.e. password: `test\123` must be `test\\123` in order to connect

using tedious 1.14.0

[2017-02-10 10:31] arthurschreiber commented on #499
Backslashes in JavaScript strings need to be escaped, I don't think this is specific to tedious in any way. Maybe I'm misunderstanding your issue?

[2017-02-10 10:33] geskill commented on #499
you're correct, sorry

[2017-02-10 10:33] #499 closed

[2017-02-10 10:52] arthurschreiber commented on #499
No worries! 👍

[2017-02-13 12:41] jjg1914 commented on #477
@arthurschreiber Just want to check up on this again, real excited for this feature!

Is there anything I could do to help move this along?

[2017-02-13 16:14] carlosman commented on #477
@arthurschreiber Please, consider reviewing #501 for this release. It is simple. It works and should be an available option.

[2017-02-14 23:15] tvrprasad commented on #477
@jjg1914 PR is in code review - https://github.com/tediousjs/tedious/pull/502. Any time now :-)

[2017-02-14 23:52] tvrprasad commented on #494
@z6tanker This is a code bug. You need to change

[code]

to
[code]

To access values, you need something like this:
[code]

[2017-02-14 23:52] #494 closed

[2017-02-15 00:48] tvrprasad commented on #492
I get NULL in SSMS also, that's the expected behavior. If you change SUM to COUNT, you'll get 0.

[2017-02-15 00:48] #492 closed

[2017-02-15 18:32] tvrprasad commented on #490
@beautifulcoder Got around to checking this out. This is essentially a JavaScript Numeric range limitation. You lose precision outside the range -(2**53 - 1) and (2**53 - 1). Using VarChar for values outside this range is the right behavior.

I sent a PR to validate range on BigInt - https://github.com/tediousjs/tedious/pull/504.

[2017-02-15 19:14] tvrprasad commented on #163
I thought about this a bit in the context of https://github.com/tediousjs/tedious/issues/490
@cdmcnamara We don't want to return different data types depending on the value, that just makes it more difficult to code against.

@Nokel81 Using a npm module like bignum seems reasonable but it'll break all existing code. So it'll need to be config option, not turned on by default.

If this sounds like

[2017-02-15 22:34] tvrprasad commented on #482
@arthurschreiber Sent PR to address this - https://github.com/tediousjs/tedious/pull/505

[2017-02-16 20:14] ariskemper opened #506 "Impossible to set connection language with config. Language overwriten with us_english."
There is issue with default language. If login user on database server has for example German, connection still uses us_english.

[2017-02-16 20:32] ariskemper opened #507 "Dateformat mdy is forced on connection."
Dateformat mdy is forced on connection, which introduces errors like:

RequestError: The conversion of a varchar data type to a datetime data type resulted in an out-of-range value.

if there is different dateformat setled for login user. I recommend dateFormat config option.

[2017-02-17 17:10] ariskemper commented on #477
Any progress on new release ?

[2017-02-21 17:01] tvrprasad commented on #490
@beautifulcoder  This change is now merged. Happy coding :-)

[2017-02-21 17:01] #490 closed

[2017-02-21 17:18] tvrprasad opened #509 "Change default value for 'arithabort' to ON in v2.0"
Based on the recommendation on MSDN page, perhaps we should change the default value for 'arithabort' to 'on' for 2.0 release. It'll be a breaking change. From the MSDN link https://msdn.microsoft.com/en-us/library/ms190306.aspx:
"
The default ARITHABORT setting for SQL Server Management Studio is ON. Client applications setting ARITHABORT to OFF can receive different query plans making it difficu

[2017-02-21 19:09] tvrprasad opened #510 "Validate isolationLevel value passed by the user."
There are four places where this validation needs to be done:

Connection.config.options.connectionIsolationLevel
Connection.config.options.isolationLevel
Connection.transaction()
Connection.beginTransaction()

@arthurschreiber Why do we have two different config options on Connection - isolationLevel and connectionIsolationLevel? As I read the code, it seems like isolationLevel always overrides c

[2017-02-23 03:54] chdh commented on #181
In the past 3 years, there have been many requests for the missing pause/resume/back-pressure functionality in Tedious:
#149, #186, #257, #271

And there have been similar requests for the upper level driver node-mssql:
patriksimek/node-mssql#67, patriksimek/node-mssql#225, patriksimek/node-mssql#363

Back in 2015, the expectation was that #225, which uses Dissolve to parse the TDS stream, would s

[2017-02-23 08:27] arthurschreiber opened #512 "Future Roadmap / Ideas"
Since the development on tedious has slowed down quite a bit in recent times, I want us (the tedious community) to put down a more or less formal roadmap of areas in tedious that need attention and should be worked on. This will help us maintainers to focus on these topics, while giving new contributors an idea of what they could be working on.

These topics don't have to necessarily be focusing o

[2017-02-23 14:01] lloydcotten commented on #512
For test framework / runner... might I suggest a couple of more possibilities:

* [node-tap](http://www.node-tap.org/)
* [tape](https://github.com/substack/tape)
* [ava](https://github.com/avajs/ava)

This is just coming from my own experience of using mocha and finding that my tests tend to run faster and are cleaner with a TAP-style test framework (and supports concurrent test running).  I've pe

[2017-02-23 16:19] spanditcaa commented on #512
An alternative approach to the parser performance issue could come from FOR JSON support, as discussed in https://github.com/tediousjs/tedious/issues/317.

[2017-02-23 16:39] arthurschreiber commented on #512
I don't think "native" JSON support in tedious will help here at all. The JSON support from SQL Server works by sending back one result row containing a single column containing all the JSON data. We'd have to parse this using `JSON.parse`, which is a blocking operation. So the parser is still used, and focus should be on making it fast even with native JSON support. :)

[2017-02-23 16:41] #482 closed

[2017-02-23 16:51] tvrprasad commented on #512
Thanks for putting this together @arthurschreiber !

Can you please clarify what exactly this would mean in practice?

Features missing that I can think of:
- Integrated Authentication.
- Retries on Transient Failures.
   o More hardening than a feature but valuable I believe - https://github.com/tediousjs/tedious/issues/456
- All the flavors of Active Directory Authentication.
- Unsupported Types

[2017-02-23 16:59] arthurschreiber commented on #512
I want to grant every person that contributes a PR (and has that PR accepted) with commit access to the repo. We can enable required code review to ensure people don't push random things to the master branch, but I've worked on other open source projects that followed a similar policy and we never had any issues.

[2017-02-23 17:19] tvrprasad commented on #512
Would there be a smaller code reviewers group that can approve changes? WebKit follows that model and seems to work well for them - https://webkit.org/commit-and-review-policy/.

I'd be curious to know what those projects are. Intuitively a single PR seems a bit lax for giving commit access but you certainly have lot more experience than me with open source :-)

[2017-02-23 17:22] arthurschreiber commented on #512
@tvrprasad See http://felixge.de/2013/03/11/the-pull-request-hack.html and more ideas over at https://opensource.guide/building-community/

Previously, I worked on Rubinius, an alternative Ruby VM, and they employed the same policy back in 2008 (and might still do, I haven't checked 😄).

[2017-02-23 19:58] tvrprasad commented on #512
Thanks @arthurschreiber - interesting reading. Especially the pull-request-hack experience is fascinating.

There are a few checks mentioned though beyond an accepted PR. Specifically these are listed in http://felixge.de/2013/03/11/the-pull-request-hack.html:
- Github profile: Does this user stand to lose a reputation by doing something stupid?
- Skill: Based on the patch, do I think the user cou

[2017-02-23 21:17] MatthewPhinney opened #513 "No error emitted on failed connection"
If a SQL Server database is configured to use encrypted connections, the client must specify `encrypt: true` in the tedious connection config. If the client does not specify `encrypt: true`, the connection to the database fails, but the connection object does not emit an error event.
The connection should emit an error, so the client can handle it appropriately.

Here is sample output from a conne

[2017-02-23 22:06] tvrprasad commented on #513
Thanks for reporting.
Sent pull request to address this: https://github.com/tediousjs/tedious/pull/514

[2017-02-23 22:15] tvrprasad commented on #513
About the deprecated createSecurePair, there is a open issue for that - https://github.com/tediousjs/tedious/issues/135. Need someone inspired to take it on :-)

[2017-02-23 22:25] MatthewPhinney commented on #513
Thanks for the quick response -- please let me know when a new version (including the changes in #514) is published on npm.

[2017-02-23 22:43] tvrprasad commented on #513
Stay tuned :-)

[2017-02-25 03:59] chdh commented on #181
I have analyzed the data flow of the query result data:
[code]

There are 3 points where the data flow could be temporarily suspended and back pressure applied:

1. Return false from MessageIO.ReadablePacketStream.write().
  The pipe logic would call Socket.pause() and the pipe would stop.
  To resume, a 'drain' event must be emitted by the ReadablePacketStream.
2. Call MessageIO.ReadablePacketStr

[2017-02-26 11:43] ChALkeR opened #515 "tls.createSecurePair is being runtime-deprecated"
Ref: https://github.com/nodejs/node/pull/11349

Used in:
[code]

See also #135.
See e.g. https://github.com/sidorares/node-mysql2/pull/367 for a feature detection example.

[2017-02-27 10:47] gauravgupta0305 opened #516 "Unable to use tedious with Azure database."
I've a node application which do have a connection to SQL Server.
Also, I'm using database as a service from Azure.

Code Snippet :
----------------------------------------------------------------------------------
import { Connection } from 'tedious';
import { Request } from 'tedious';

var config = {
    userName: 'dbuser',
    password: 'dbpassword',
    server: 'mydatabase.database.windows.net

[2017-02-28 17:28] tracker1 commented on #181
Tangentially related, I haven't dug in... but is this feature implemented in dealing with cursors with the .Net driver?[1]  As that source is available.

As for any option that doesn't provide back-pressure to the SQL stream, that would be a problem, as memory would fill up, and the node process will blow up, which is already an issue.

[1] https://github.com/dotnet/corefx/tree/master/src/System.D

[2017-02-28 17:32] chdh commented on #512
Features:

- Data flow control for query result rows for export of very large tables, see #181. (I will send a pull request shortly).
- Streaming bulk insert for very large tables, with data flow control.
- Suport for MARS (Multiple Active Result Sets) or another technology to enable multiple active requests on a single connection.

[2017-02-28 22:54] tvrprasad commented on #516
This looks like IIS configuration and/or application level issue. You may have better luck with the question on stackoverflow.com.

[2017-02-28 22:54] #516 closed

[2017-02-28 23:01] tvrprasad commented on #515
@ChALkeR Thanks for the pointer. This will be helpful when we get to this. Feel free to send a PR if you feel inspired :-)

[2017-02-28 23:08] arthurschreiber commented on #515
@tvrprasad: @ChALkeR is part of the Node.js team and this post is mostly intended as a heads-up for us to know that this feature is deprecated. I don't think he actually uses `tedious`. 😄

@ChALkeR: I've known about this deprecation for a while, but the documentation around this deprecation is really sparse. The examples I've seen so far (like the PR for `node-mysql`) focus on "simple" TLS upgrade

[2017-02-28 23:37] tvrprasad commented on #390
@PeterNierop @TheFarmer1  Any chance you may be able to put together a repro? I tried this with small connectTimeout values to force timeout but couldn't repro.

[2017-02-28 23:43] tvrprasad commented on #515
@arthurschreiber Thanks for the info :-)

If this work is on github, please send me a pointer. I'm curious to check it out.

[2017-02-28 23:44] tvrprasad commented on #513
The PR is merged. Closing the issue.

[2017-02-28 23:44] #513 closed

[2017-03-01 00:47] tvrprasad commented on #456
@arthurschreiber I'm interested in tackling this next. Please me know if there are any concerns with the idea. I expect this'll address some of the connectivity issues that are open. Thanks.

[2017-03-02 03:07] chdh opened #519 "Implement options.cancelTimeout"
Options.cancelTimeout is documented in the API docs but has no effect and no test case.
(Or if the cancelTimeout option is not needed, it should be removed from the documentation)

[2017-03-02 07:14] gauravgupta0305 commented on #516
Answered at this link :  http://stackoverflow.com/questions/42505548/unable-to-use-tedious-with-azure-database

[2017-03-02 11:22] nikes opened #520 "Character Set"
Hi, i look all docs and source, but i not found info about how i can change character to utf8.
Or how i can implement this.

[2017-03-02 14:20] chdh commented on #512
After having spent some time extending Tedious (implementing pause/resume), I think that the internal architecture of the TDS protocol driver should be reworked. The current Connection class module is 1,368 lines long and contains a web of events and callbacks. There should be a clear data flow architecture for the incoming and outgoing data streams, and the protocol state machine schould be bette

[2017-03-02 16:31] #391 closed

[2017-03-02 23:25] chdh opened #523 "Streaming BulkLoad for large table imports"
The current BulkLoad implementation requires that all data rows have to be stacked in memory before they can be sent to the database server. This is not suitable for large table imports.

A streaming bulk insert implementation must use data flow control to apply back pressure when the data arrives faster than it can be sent to the database. This could be modeled after the standard Node.js stream.W

[2017-03-03 00:32] tvrprasad commented on #428
Fixed by https://github.com/tediousjs/tedious/pull/517

[2017-03-03 00:32] #428 closed

[2017-03-03 00:46] tvrprasad opened #524 "Upgrade SQL version for integration tests"
Had to disable two tests (dateTimePrecision_9_day_flip and outputDatePrecision_9_day_flip) in PR https://github.com/tediousjs/tedious/pull/521/files due to what seems like a corner case bug in the version of SQL Server running on AppVeyor.

@arthurschreiber How do we upgrade the SQL Server version for the integration tests?

[2017-03-03 00:54] tvrprasad opened #525 "Integration tests should run against Azure SQL DB also"
Currently integration tests only run against local DB. We should have the tests running against Azure SQL DB also as some of the code paths are different and currently not exercised by the current tests.

@arthurschreiber Appreciate any thoughts. I'm happy to help with setting this up.

[2017-03-04 01:29] LuisBosquez commented on #412
@wangzhiqiang1975 I created a Docker image with tedious as well if you'd like to give it a try: https://hub.docker.com/r/lbosqmsft/mssql-nodejs-tedious/

[2017-03-04 01:32] LuisBosquez opened #526 "Docker image with tedious and nodejs"
I created a Docker image that implements tedious in an ubuntu layer with the Node.js runtime: https://hub.docker.com/r/lbosqmsft/mssql-nodejs-tedious/

I would like to know if this is helpful, as we're trying to publish it to the official Microsoft. Is there any feedback on this?

The Dockerfile can be found here: https://github.com/Microsoft/mssql-docker/tree/master/oss-drivers/tedious

[2017-03-08 09:49] navneetccna commented on #416
i am having same issue with Active Directory Password Authentication

[2017-03-08 14:44] aaroncalderon commented on #302
I was having simmilar problem. My solution was to use capital letters for the `domain` and non qualified domain, see https://github.com/tediousjs/tedious/issues/246#issuecomment-131417555

[2017-03-08 16:23] tvrprasad commented on #302
This is fixed in https://github.com/tediousjs/tedious/pull/417
FYI.

[2017-03-08 19:47] arthurschreiber commented on #526
I think this looks good - but I'm not so sure how useful this is. How do you envision people are going to use this?

[2017-03-08 19:48] arthurschreiber commented on #525
@tvrprasad I remember that Meet send me the credentials for quite a large SQL Server instance running inside Azure - but I cant find them. Is he still working at Microsoft? Can we get a new instance?

[2017-03-08 19:49] arthurschreiber commented on #524
This is part of the AppVeyor setup - installing new SQL Server versions on every build is really not feasible. But we could ask them nicely if they could just upgrade their images to contain the latest SQL Server patches.

[2017-03-08 19:50] arthurschreiber commented on #523
I'll take another look soon and will let you know of how I think this would be best implemented.

[2017-03-08 19:51] arthurschreiber commented on #520
I'm not really sure what exactly you're asking for here. Would you mind to explain a bit more what you're trying to do?

[2017-03-08 19:53] arthurschreiber commented on #519
I think this option is supposed to allow specifying the maximum amount of time that we will wait for the server to send an acknowledgement of an attention package before forcefully terminating the connection.

[2017-03-08 19:58] arthurschreiber commented on #512
I don't think we will ever support this. From all what I know about this feature, there is 0 advantage of using MARS over just using a connectionpool and opening multiple connections.

If we wanted to support this, we'd have to implement [MC-SMP](https://msdn.microsoft.com/en-us/library/cc219643.aspx), but not as part of `tedious` but as a separate library that we could then use in tedious.

@tvrp

[2017-03-08 20:52] tvrprasad commented on #512
I'll ask around here to get some insight on value add from MARS and get back. If you have any references that make an argument for why there is no value, please send them my way.

[2017-03-08 20:59] tvrprasad commented on #525
Yes, @meet-Bhagdev still works here. Let's see if he'll responsd :-)
Also, @LuisBosquez will have more time to help with Tedious stuff going forward. Keeping him in the loop.

[2017-03-08 21:01] tvrprasad commented on #524
Would you be sending them mail? Let me know if there is something I can help with.

[2017-03-08 21:04] tvrprasad commented on #516
Oh cool. Didn't notice you didn't have encrypt: true which is required for connection to Azure SQL DB.

[2017-03-09 05:11] chdh commented on #512
It depends on the use case. For a normal web application or web service, you are right. But if you have a complex client side application with multiple large data-bound components that communicates via a WebSocket with a Node backend, the situation is different. And when multiple SQL Server logins are used, you have to use a connection pool per login.

[2017-03-09 16:12] yasen-atanasov opened #532 "Socket creation error on Node version 7.7.2"
Hi,

Upgrading to node v.7.7.2 on Windows results in this error when trying to use Tedious:
[code]

Going to row 429 in tedious/lib/connection.js and adding an empty function as a second parameter to the `socket.connect` call resolves the issue. I'm not sure whether this is a nodejs or tedious problem.

For the time being I've downgraded node to 7.7.1

[2017-03-09 16:19] ElfenLiedGH opened #533 "Requests can only be made in the LoggedIn state, not the SentClientRequest state"
I'm trying unprepared and sometimes i see

when should i do unprepare?

[code]

if i write
[code]
i see it a bit less

=============

sorry, i have done it with

[code]

no problem more

[2017-03-09 17:04] arthurschreiber commented on #532
I think this will be fixed with the upcoming `1.15.0` release.

[2017-03-09 17:16] vhain commented on #532
If it's Node 7.7.2, can be bug of Node. If yes, it should be solved by https://github.com/nodejs/node/pull/11762

[2017-03-09 18:31] tvrprasad opened #534 "Add 'cancel' function on Request class"
Currently 'cancel' is on Connection. This works fine since we only have a single Request per connection right now. It belongs on Request class logically though as it's the Request that's being cancelled.

We should mark the cancel function on Connection class deprecated so we can remove it in a later release.

[2017-03-09 22:31] Anthropic commented on #373
I run the following and get the same error, hope it helps.
node: 5.1.0
npm: 3.3.12
tedious: 1.14.0
tedious-connection-pool: 1.0.5
@jcollum are you using tedious-connection-pool too?

I use **instance name** so port isn't required, if I add port I get a mutual exclusivity error.

There are two separate issues here, the error message could be cleaned up, I have added PR #535 to tackle that issue.

H

[2017-03-09 23:19] tvrprasad opened #536 "Prepend internal members with _ to keep them private"
Per @Congelli501 at https://github.com/tediousjs/tedious/pull/518#issuecomment-285483004
"You can prepend protected methods by an underscore.
This convention is widely used and static code checkers (at least eslint) can check that you only use _ methods with this."

This will help us control what's public API vs what's not.

[2017-03-09 23:55] tvrprasad commented on #373
@Anthropic Your timeout looks like just a case of slow network. You may want to set config.options.connectTimeout to a higher value, say 60000.

@jcollum This works fine in the latest bits of Tedious and will make it in the next release. From a test I ran on my machine where I didn't specify the port:
__ConnectionError: Failed to connect to localhost:1433 in 10ms__

I'm closing this. Feel free to

[2017-03-09 23:55] #373 closed

[2017-03-10 00:20] chdh commented on #536
Another solution would be to use TypeScript, which supports [public/private/protected](https://www.typescriptlang.org/docs/handbook/classes.html#public-private-and-protected-modifiers).

[2017-03-10 00:37] chdh commented on #534
Some additional info to justify this:

-  In the upper level driver node-mssql, the [cancel()](https://github.com/patriksimek/node-mssql#cancel) method is a member of the Request class.
-  In the .NET API, the [Cancel()](https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlcommand.cancel.aspx) method ist a member of the SqlCommand class.

[2017-03-10 00:49] tvrprasad commented on #536
Don't know much about TypeScript. How big an effort would it be to switch to TypeScript?

Sounds like where we want to be eventually with documentation.
@luisbosquez FYI in case you feel inspired to look into this :-)

[2017-03-10 01:17] tvrprasad commented on #512
From what I gather the only advantage is saving some connections which gives two advantages:
1. Resource savings from fewer connections.
2. Performance gains from saving connection setup time.
    o This is only for the case where you don't already have a warm connection in the pool.

But MARS also comes with performance overhead due to managing interleaved query execution. That seems to be the ex

[2017-03-10 03:32] chdh commented on #536
TypeScript is a strict superset of ECMAScript 2015, so it should be possible to switch to TypeScript without having to modify any existing source code.

[2017-03-10 03:35] jcollum commented on #373
Good deal, fhanks

On Thu, Mar 9, 2017, 3:55 PM tvrprasad <notifications@github.com> wrote:

[2017-03-10 08:50] arthurschreiber commented on #536
I'm okay with prepending `_`, or simply not documenting these features.

I'm not okay with moving to TypeScript. We've made this decision once (with CoffeeScript), and I'm not willing to do that mistake again. Yes, I know, there's a bunch of benefits of using TypeScript over plain JavaScript, but since ES2015/2016/2017 these are pretty marginal.

The only big one that is useful in my eyes is the t

[2017-03-10 08:52] arthurschreiber commented on #534
Yeah, this definately feels like it should be on the Request and not the Connection, long term.

We can deprecate this somewhere in the 2.x releases and drop it in 3.0.

[2017-03-10 17:22] tvrprasad commented on #536
@arthurschreiber Static type checking sounds greatt! I assume you're referring to this - https://flowtype.org/

And what are your thoughts on JSDoc for API documentation?

[2017-03-10 21:04] arthurschreiber commented on #536
Yup, that's right.

I think that makes sense. I really don't like the current approach of having the documentation separate from the code. I think the JSDoc format is a good approach, the JSDoc tool itself is not that great. 😞

http://documentation.js.org/ does support JSDoc comments and even Flow annotations, IIRC.

[2017-03-10 21:37] chdh commented on #536
I can't find an [ESLint rule](http://eslint.org/docs/rules/) for private class members. There is a rule to [disallow dangling underscores in identifiers](http://eslint.org/docs/rules/no-underscore-dangle), but that's not what we need.

There is an ESLint plugin for [private variables](https://www.npmjs.com/package/eslint-plugin-private-variables), but it's not used frequently, it's version number

[2017-03-10 21:45] #495 closed

[2017-03-11 01:22] tvrprasad opened #544 "Are there any places we use SHA-1 for crypto?"
@arthurschreiber @chdh I see some news flying around SHA-1 being broken - https://shattered.io/. The only crypto operation I see in the code is tls.createSecureContext() and the documentation does not mention SHA-1 in that context. Just sharing to ask if there is any vulnerability in Tedious that we need to fix. Thanks!

[2017-03-11 02:08] Congelli501 commented on #536
The rule [no-underscore-dangle](http://eslint.org/docs/rules/no-underscore-dangle) should work here. You can forbid the use of a leading underscore expect for this and super.

I have used flow with success for another project. It's incredibly fast to analyze the code (it's much faster than eslint static analysis for exemple).

[2017-03-11 22:05] jovanpop-msft commented on #317
In SQL Server GitHub samples you can find example RESP API that has some wrapper around tediuos that leverages FOR JSON: https://github.com/Microsoft/sql-server-samples/tree/master/samples/features/json/todo-app/nodejs-express4-rest-api The biggest missing piece is a function that streams results from sql query into some output stream. In this sample is added wrapper function on top of tedious tha

[2017-03-12 19:49] tvrprasad opened #545 "Calling cancel in SENT_ATTENTION returns false and writes debug error"
This should not be an error and we should return true. User has no way to know that the connection is in SENT_ATTENTION state and even otherwise it should not be error.

[2017-03-13 07:09] ElfenLiedGH commented on #545
@tvrprasad i saw it when "requestTimeout" was end.

[2017-03-13 16:18] tvrprasad commented on #545
@ElfenLiedGH I don't quite follow. Can you please elaborate? Thanks.

[2017-03-14 11:04] BarryCarlyon commented on #532
I have the some problen with node 7.7.0 and 7.7.2 and it's affecting a LOT of modules…

(Redis for example)

[2017-03-14 11:44] ariskemper commented on #509
#508 I think this don't need to be setled to ON for production environments?. If you want to troubleshoot you could turn it on via options.

[2017-03-14 15:44] ariskemper commented on #544
Crypto is used for NTLM in ntlm-payload.js. There are 2 hashes used MD4 and MD5. NTLM doesn't support cryptographic methods like AES or SHA-256. NTLM has many security issues. In tedious crypto is used to generate random name with Crypto randomBytes method, message-io and ntlm.   tls.createSecureContext() doesn't have anything to do with cryptographic has SHA-1 and its used to create secure contex

[2017-03-14 16:12] ariskemper commented on #515
@tvrprasad @arthurschreiber  Here is information on how to replace tls.createSecurePair https://nodejs.org/dist/latest-v6.x/docs/api/tls.html#tls_class_securepair

[2017-03-14 16:32] tvrprasad commented on #509
From the MSDN page https://msdn.microsoft.com/en-us/library/ms190306.aspx:
"You should always set ARITHABORT to ON in your logon sessions. Setting ARITHABORT to OFF can negatively impact query optimization leading to performance issues."

Seems like ON gives better performance. Is there a downside to making it the default? The client can turn it off via options with your PR.

[2017-03-14 16:58] jdanyow commented on #532
For me this is an issue in node v7.7.2. It worked in node v7.7.1.

In connection.js, connectOnPort calls socket.connect with one arg:

![image](https://cloud.githubusercontent.com/assets/1306747/23911909/735c5198-089b-11e7-8248-fca59d8ae590.png)

But socket.connect can't handle the second arg being undefined:

![image](https://cloud.githubusercontent.com/assets/1306747/23912009/c2779008-089b-11e7-

[2017-03-14 17:30] tvrprasad commented on #532
This issue does not exist in Tedious 1.15.0 which got released just a few days back. You may want to upgrade.

[2017-03-14 17:30] #532 closed

[2017-03-15 09:02] ariskemper commented on #509
@tvrprasad i havent read that paper before, i was in doubt because is breaking change, now i agree with you that we could make this default ON.

[2017-03-16 13:13] chdh commented on #545
It's exactly the program logic sequence that I described in a [comment](https://github.com/tediousjs/tedious/pull/518#discussion_r105517228) for #518:

- The application calls connection.execSql() to start a query.

- The query takes longer than expected. A request timeout occurs. The driver sends ATTENTION to the server and enters the SENT_ATTENTION state. The application has no way of knowing th

[2017-03-16 15:35] tvrprasad commented on #545
@chdh I agreed with you on that specific comment, which is why I opened this issue :-)

[2017-03-19 20:58] ManhQLe opened #549 "Add request.hasNext()"
Hi,
Is there a similar function where I can manually control the loop through all records in my code like the one they did in mongodb?

[2017-03-25 09:54] justKC opened #551 "Why does the second request wait for the first to be executed? this is a bug?"
index.js
[code]
index.html
[code]
chrome Developer Tools:
![image](https://cloud.githubusercontent.com/assets/23432090/24321183/7d96e7ec-1181-11e7-820a-37be522df27f.png)

vscode:
![image](https://cloud.githubusercontent.com/assets/23432090/24321272/2749d49c-1183-11e7-935c-a8de542ce9b7.png)

the same request,but a lot of time difference,and second picture shows that the output is short after long,t

[2017-04-01 15:41] ChrisMiami opened #561 "Connect fails for subdivided server spec"
I don't know what this is, exactly, but the server spec I have to work with is as follows:

`devsql.mycom.com\LATINBIN`

Using `/usr/local/bin/mssql`, I am able to connect using that spec.  Both parts of the spec above are required - the server is only listening on the full spec, not on the host itself.  Within Node, tedious doesn't seem to be able to separate the hostname from the subdirectory (I

[2017-04-01 15:46] ChrisMiami opened #562 "Connect requires SQLServer credentials - not Windows auth?"
My database admins have specified that the login to SQLServer utilize Windows authorization, which means the logged-in OS user will connect without supplying additional credentials.  This is a security measure to avoid username/password in connection strings and source code.

I cannot seem to see any possibility of using this connection method with tedious.  There is no options setting that direct

[2017-04-06 14:12] ChrisMiami commented on #561
Actually, the part after the backslash appears to be an "Instance Name" and, looking at the code for connection.js, may be supported if one sets options.instanceName (which basically resolves to a port lookup).  I will give that a try. Assuming it works, I think the issue, then, is that the expected parsing of the format <host>\<instance> is not done, making existing connection strings invalid.

[2017-04-08 12:26] arthurschreiber commented on #561
Hey @ChrisMiami,

as you might have already found out, we don't support the generic server specs as used e.g. by SQL Server Management Studio. When creating a connection via `tedious`, there's a set of options you need to specify instead.

You can find a listing of all available options over at http://tediousjs.github.io/tedious/api-connection.html#function_newConnection

In your case, `devsql.myc

[2017-04-08 12:27] arthurschreiber commented on #562
Integrated Windows authentication is not implemented in `tedious` yet. There is an experimental pull request submitted by @tvrprasad from Microsoft over at https://github.com/tediousjs/tedious/pull/497 that implements integrated Windows authentication which you might want to take a closer look at.

[2017-04-08 12:27] #562 closed

[2017-04-09 12:14] justKC opened #563 "why the query is sync?"
index.js
[code]
index.html
[code]
chrome Developer Tools:
![image](https://cloud.githubusercontent.com/assets/23432090/24837137/ad966244-1d5f-11e7-9588-1d84642b2023.png)

vscode:
![image](https://cloud.githubusercontent.com/assets/23432090/24837172/2f05a0ce-1d60-11e7-953c-45baab2ac5e6.png)
![image](https://cloud.githubusercontent.com/assets/23432090/24837175/40c799ca-1d60-11e7-8829-ad7c7d5348ca.pn

[2017-04-14 05:28] tvrprasad commented on #563
I don't the second request is waiting for the first. I think the first request just completed. Try adding a delay in the first query with _waitfor delay \'00:01:00\';_

The other possibility is that your second HTTP request is getting initiated after the first completed. You can log timestamps at the begin and end of each of the requests to see if that's the case.

Either way this is not a Tedious

[2017-04-14 05:28] #563 closed

[2017-04-14 05:32] tvrprasad commented on #561
Closing this as this is not a Tedious issue, just some house cleaning :-)

[2017-04-14 05:32] #561 closed

[2017-04-14 05:41] tvrprasad commented on #551
@justKC Perhaps there is a delay between btn1 being clicked and btn2 being clicked? This is not a Tedious issue.

[2017-04-14 05:41] #551 closed

[2017-04-14 05:51] tvrprasad opened #568 "Should we have a tediousjs npm org?"
I saw thing about npm orgs - https://www.npmjs.com/docs/orgs/
Is there value to create a tediousjs or tedious org and publish our packages under it? All the packages under GitHub.com/tediiousjs are only relevant to tedious.

I'm not sure if there is value. Just throwing the question out there.

cc @arthurschreiber

[2017-04-14 06:23] tvrprasad commented on #533
@ElfenLiedGH You should call unprepare in user callback passed to Request constructor.

[2017-04-14 06:23] #533 closed

[2017-04-14 06:32] tvrprasad commented on #549
If you set:
config.options.rowCollectionOnRequestCompletion = true

you'll get rowCount, rows as parameters to the user callback passed to Request constructor, like below:

new Request('select 1 as a; select 2 as b;',  function(err, rowCount, rows) {
  // Loop over rows here.
});

This is not particularly memory efficient, especially if your query returns a lot of rows.

[2017-04-14 06:32] #549 closed

[2017-04-14 06:39] tvrprasad commented on #519
https://github.com/tediousjs/tedious/pull/566, in progress, addresses this.

[2017-04-14 11:33] Kamill90 commented on #395
it has been a while, but has anybody dealt with it?

[2017-04-14 11:58] arthurschreiber commented on #395
There can only ever be one request active on a single connection. There's two solutions to the issue encountered with the code above: wait for the current request to finish before executing a new request (e.g via the callback passed to the Request constructor), or open multiple connections (e.g. Via the tedious connection pool library).

Both solutions have different advantages and disadvantages (

[2017-04-14 11:58] #395 closed

[2017-04-16 14:03] SanderPs opened #569 "Improvement for connection script example"
I think it would probably be a good thing if the following line was added to the Connection-script at 'Getting started' [http://tediousjs.github.io/tedious/getting-started.html](http://tediousjs.github.io/tedious/getting-started.html) :

[code]

As proposed by @johnwrightsman in: https://github.com/tediousjs/tedious/issues/352

Because if a connection can not be made, due to SQL Server not being s

[2017-04-17 07:08] justKC commented on #551
@tvrprasad
I was the first click on the btn2, btn2 has not returned to the data before clicking on btn1, and then btn2 returns the data before btn1 returns. It is impossible,because single click btn1 is 36ms,single click btn2 is more than 8s,but click btn2  after  click btn1 is more than 8s too.This is very strange.

[2017-04-18 06:53] justKC commented on #551
@tvrprasad I think I know why,because my sql is a loop,btn2 will always returns data,thus blocking the next request.

[2017-04-18 15:22] tvrprasad commented on #551
Glad you figured out :-)

[2017-04-20 20:38] ltemme opened #570 "Improvement to connection API documention"
API docs:
http://tediousjs.github.io/tedious/api-connection.html

Connection:
There is no mention of the appName config options ... this controls the value in sysprocesses program_name ... helpful when tracing SQL Server side ...

This is a valid connection string for example:
  //Connection string.
  var connectionConfig = {
    userName: config.sqlserver.userName,
    password: config.sqlserver.

[2017-04-25 00:07] jwasserman1 opened #571 "Not connecting to SQL server"
I'm attempting to connect to a database in an instance of SQL Server 2014 using tedious and am getting the following output (I've omitted most of the debug code to make this readable, but let me know if including more would be helpful):
[code]
When I attempt to query the database, I get the following error:

[code]

My connection code is as follows:

[code]

I looked at previous related issues and

[2017-04-26 02:30] chdh commented on #571
Try this:

[code]

[2017-04-26 02:43] jwasserman1 commented on #571
Oh, wow. I had been including that error handling previously, but had removed it because the error message was clogging my terminal and I thought I knew what it was, but turns out I had been using the wrong option for my username. It has to be 'userName' and I was using 'username'. Thanks!

[2017-04-26 02:43] #571 closed

[2017-04-26 21:47] iba-jsykes opened #572 "Type Real returns incorrect value"
If you have a TYPE Real column and a value of say 3.0303  ,  always 4 decimal places.
Tedious driver appears to be parsing the int to 15 decimal places.  Floats are working fine, just Real does this.

[2017-04-27 18:42] chdh commented on #572
As Real and Float data types encode numbers with a binary exponential base, they can only store approximations of some decimal fractional numbers.

[2017-04-27 18:55] arthurschreiber commented on #572
As pointed out by @chdh, not all values that are stored in different SQLServer types can be represented as JavaScript scalar values without a loss of precision.

I'm working on a new parser for `tedious` which will allow you to plug into the value parsing and convert binary tds values into whatever representation is required for your application. This is not ready yet, but hopefully will be some t

[2017-04-27 18:55] #572 closed

[2017-04-27 20:03] chdh commented on #572
The precision is already lost when you store a decimal fractional number as a binary floating point number in the database. It's an inherent problem of binary floating point numbers.

Try e.g. `alert(0.1 * 0.2)` in JavaScript.

[2017-04-27 20:07] iba-jsykes commented on #572
All true.  But A != B when it comes to database value and what I present to the user as the database value.    So when I say incorrect, I mean they do not match.

[2017-04-27 20:19] chdh commented on #572
Try `select cast(cast(3.0303 as real) as float)` in SQL Server Management Studio.

The output is: `3.03029990196228`

[2017-04-27 20:21] iba-jsykes commented on #572
Oh i got around it by using a CONVERT to decimal in my SQL passed.  Just pointing it out, I don't think that's going to hold up to heavy traffic.

[2017-04-27 20:24] chdh commented on #572
You can use e.g. `Number.toFixed(n)` in JavaScript to have the same effect.

[2017-04-27 20:40] iba-jsykes commented on #572
oh really? Can I put that in the data-types for tedious, or would this have to be in my app code?  Not obvious to me looking at source where to try it.

[2017-05-01 22:09] keatz55 commented on #416
So are we

[2017-05-01 23:18] tvrprasad commented on #416
Azure Active Directory Authentication is currently not supported by Tedious.

[2017-05-04 23:45] dexdexdex opened #573 "Tedious FIPS compliance"
Hello friends-
Is there any ODBC configuration stuff you have to do with tedious to make it be FIPS complaint and talk to FIPS enabled SQL Servers? My cursory glance at the codebase seems to indicate we're just using underlying node libraries like crypto and request to do heavy lifting.

Sooo, if the underlying node binary is FIPS complaint is that all that's required?

[2017-05-08 21:29] tvrprasad commented on #456
Submitted PR (https://github.com/tediousjs/tedious/pull/574) to address this.

[2017-05-09 18:06] tvrprasad opened #576 "Code cleanup: Remove unneeded return statements from code"
There are a bunch of return statements across the code base that are artifacts of conversion from CoffeeScript to JavaScript. These should be cleaned up.

[2017-05-10 06:13] hosseinGanjyar opened #577 "NodeJs - Pause/Resume stream request"
I fetch n millions records from SqlServer (streaming) and process over every record. I want call nested functions into **_request.on('row', row => { })_** and pause streaming until end of latest nested functions.

#NodeJs
#SqlServer

#### I want this:
[code]

Notice: I read https://github.com/tediousjs/tedious/issues/181 and other issue about **_pause/pesume stream request_** but I didn't get any

[2017-05-12 15:38] #456 closed

[2017-05-16 17:54] LuisBosquez commented on #526
@arthurschreiber It's used to easily run Node.js app containers with the connectors prepackaged and configured in the environment. This would be a quick example of creating an app Docker image with your Node.js code:

[code]

After that, you can build an image from this template with:
[code]
This will return an image ID.

Assuming that app.js uses `tedious` and that there's a database instance rea

[2017-05-18 00:57] LuisBosquez opened #581 "Developer Survey"
Hello tedious users!

I'd like to learn more about how people use Tedious against SQL Server, so I created this developer survey: https://www.surveybuilder.com/s/eoZzN

This will help us get to know you better and improve our contributions to tedious. I can post the results as well to satisfy your curiosity 😄

[2017-05-18 17:45] LuisBosquez commented on #581
@arthurschreiber @tvrprasad Would adding this link to the README.md be ok?

[2017-05-18 18:16] tvrprasad opened #582 "Incorrect rowCount returned on request callback and doneInProc callback"
The following snippet returns 0 rows but request callback and doneInProc callback both say 1 row is returned. The source of this is the rowCount obtained from parseToken() method in done-token-parser.js.

[code]

Output:
_Connected
doneInProc rows returned:  1
doneProc rows returned:  undefined
Number of rows returned:  1_

[2017-05-18 22:07] darklilium opened #583 "Error with transform-runtime"
Hello,
I have made some code for connecting my ms sql database with mssql lib in a file called server.js
The files i have u can find them here: https://gist.github.com/darklilium/a4dafd836b623488bd0a5085678b4054

When i run
[code]
My code works and i have the response that i want.
If i want to import the "sqlQuery" function that i have made to call it in a React App, at exporting, im having the fo

[2017-05-18 22:53] tvrprasad commented on #581
I like the idea of getting feedback from user community!

On Thu, May 18, 2017 at 10:45 AM, Luis Bosquez <notifications@github.com>
wrote:

[2017-06-09 09:15] jllunell opened #589 "bulkLoad and Foreign Key"
Hi, I'm trying to load data to Azure SQL Server, and when i use bulkLoad non of the Foreign Keys violations are fired, so i'm able to load corrupted data to the database.

When i use Request, the exception is fired and i can't load the same data that BulkLoad can. So Request is working fine with foreign keys, but I don't know why BulkLoad doesn't.

Anybody knows if it's my misconfiguration or some

[2017-06-12 13:44] jstephens7 opened #590 "Hung up in Final state"
To give a quick overview, I'm attempting to insert several hundred records asynchronously into our database using individual calls in the mssql npm. However, while using an older version 3.3.0 of mssql, I was sometimes not getting a callback from the npm. I updated mssql to 4.0.4 and am still not getting callbacks. I tracked it down to this npm.
After processPreLoginResponse it's getting sent to t

[2017-06-12 22:25] chdh commented on #577
It cannot be done with the current Tedious implementation. I have sent a pull request #518, but it has not yet been integrated.

[2017-06-14 07:42] sebwe commented on #507
This config option is a **must have** for users from other countries.
Right now every Data or DataType parameter throws conversion errors.

Is there any workaround to set connection dateformat before executing a procedure?

[2017-06-14 10:23] olange commented on #515
Encoutered the same issue on Node v8.0.1. My app reports following error, after trying to establish an encrypted connexion:

[code]

I am using [`patriksimek/node-mssql`](https://github.com/patriksimek/node-mssql) and the `tedious` driver (the default driver of `node-mssql`) to access our Microsoft SQL Server database.

[2017-06-14 15:20] Shockolate commented on #319
@arthurschreiber Is any work being done with this? It's been a year and a half since last reported "working on it"

[2017-06-15 12:59] techmurphy commented on #61
var Request = require('tedious').Request;
var request = new Request(
        "SELECT * FROM table", function(err, rowCount, rows) {
		....
		response.render('pages/landingPage.ejs', {results: rows}

I read in the tedious API documentation that we need to set the Connection's config.options.rowCollectionOnRequestCompletion is true in order to get rows to fetch the value in the response.render

- Ho

[2017-06-16 09:11] kevinresol opened #591 "Include table name in column's metadata"
Currently it is not distinguishable where the column is from.

In contrast, in mysql, this query `SELECT * FROM tbl1 LEFT JOIN tbl2 ON tbl1.name = tbl2.name`
[with the nestTables option](https://github.com/mysqljs/mysql#joins-with-overlapping-column-names), results in:

[code]

The output format isn't really important, but at least we know the name of the table where a column is from.

Not sure if

[2017-06-16 09:27] Mika83AC commented on #319
I'd also like to know if there is any progress on this topic because this issue is a mayor blocker for writing scaling business applications working with large data.

If the whole app can't accept any new requests because the query() blocks it all, this leads to real worse user experiences.

I'd really appreciate any progress here.

Regards,
Michael

[2017-06-20 16:02] deluxor commented on #515
Same issue as @olange using node-mssql with tedious driver.
[code]
Please don't take me wrong and I really appreciate your efforts keeping this module up but Is there any prediction when it will be fixed?

[2017-06-22 06:34] krishna-velamuri opened #592 "Not able to connect to Azure Sql DB"
var Connection = require('tedious').Connection;
var Request = require('tedious').Request;
var config = {
  userName: 'username',
  password: 'password',
  server: 'test.database.windows.net',
  options: {
	 database: 'mydatabase'
    ,encrypt: true
    ,useUTC: true
    ,connectTimeout: 10000
    ,debug:{
      packet:true
      ,data:true
      ,payload:true
      ,token:true
    }
  }
};

var co

[2017-06-23 15:19] jacargentina opened #593 "SELECT ServerProperty('Edition') not working"
Coming from there https://github.com/patriksimek/node-mssql/issues/496 but it seems a tedious bug (or _missing feature_?)

This query just works

[code]
This doesnt:

[code]

Can it be fixed/added to the library?

[2017-06-24 09:36] egandro commented on #303
I also have a major performance issue using Image columns.

Is this fixed?

[2017-06-24 09:49] egandro opened #594 "Performance Issue using Blobs (Image) Starting with versions >= 1.13.0"
Hello,

I can confirm that "something" happened between the 1.12.x and 1.13.0 Tag that has a massive impact on performance when querying a column with an image colum.

Getting a 10mb image takes 1 sec with 1.12 and 10 sec with 1.13.

I checking this.

[2017-06-26 15:50] egandro opened #595 "Issue with stored procedure / edit - no Issue - Stupidness in escaping ..."
Hello everybody,

I found an issue with a stored procedure.

This works find in the management studio

`
    declare @DefaultBackup nvarchar(512)
    exec master.dbo.xp_instance_regread N'HKEY_LOCAL_MACHINE',
    N'Software\Microsoft\MSSQLServer\MSSQLServer', N'BackupDirectory', @DefaultBackup output
    select @DefaultBackup as DefaultBackup
    -- result is:  C:\Program Files\Microsoft SQL Serve

[2017-06-26 16:10] egandro commented on #595
After investigating this ... this is NOT (!) a bug...

execSql executes this statement:
`
exec sp_executesql @statement=N'declare @DefaultBackup nvarchar(512);
exec master.dbo.xp_instance_regread N''HKEY_LOCAL_MACHINE'', N''SoftwareMicrosoftMSSQLServerMSSQLServer'', N''BackupDirectory'', @DefaultBackup output;
select @DefaultBackup as DefaultBackup';
`

And surprisingly this returns NULL (!)

Howe

[2017-06-26 16:36] egandro commented on #595
SOFTWARE\Microsoft\MSSQLSERVER\Setup needs to be propper excaped with double slashes :(

[2017-06-26 16:36] #595 closed

[2017-06-28 17:47] v-suhame commented on #593
@jacargentina The root cause of failure is, driver isn't properly handling response of type sql_variant with varchar data in it (or in general, data of any variable length type). `SERVERPROPERTY('Edition')` also returns sql_variant. It's fixed in #596.

[2017-06-29 01:29] CunhaGus commented on #515
Using the package 'mssql' and using options:
                {
                encrypt: true
                }

(node:13508) [DEP0064] DeprecationWarning: tls.createSecurePair() is deprecated. Please use tls.Socket instead.

[2017-06-30 12:19] konekred opened #598 "Request timeout error"
im getting this error
[code]

config
[code]

code
[code]

[2017-06-30 21:42] v-suhame commented on #592
Looks like a network delay. I'm able to connect to Azure without error. Does increasing connectionTimeout help?

[2017-07-01 14:52] arthurschreiber commented on #594
I've been working on a new parser over at https://github.com/tediousjs/node-tds-token-stream. The parser is not based on callbacks nor generators, making it extremely fast, with very low memory consumption, which are the two reasons that are causing the abysmal performance you're experiencing.

Unfortunately, I've not had a lot of time to work on it, so it's in a very early stage. Any help would b

[2017-07-02 11:44] egandro commented on #594
You are currently using som Yacc/Lex like grammar for the Parser?

[2017-07-03 13:58] peter-int-veld opened #599 "Rounding error on nanosecondDelta"
NanosecondDelta  is rounded incorrect sometimes for the date/time datatype. For example with this date/time: ‘2017-06-29 17:20:03.5036264’. This is caused multiplication rounding errors.

[2017-07-03 14:16] peter-int-veld commented on #599
I added a pull request with a fix.

[2017-07-04 14:31] jacargentina opened #601 "Connect to an open but invalid port (not an SQL instance) does not emits error"
Using this simple code i was hoping to receive an error, as the port is a web server, not an MSSQL server.

[code]

On the console i simply get: `end undefined`, but i need tedious tells me "hey, this is not an mssql server!"

Any advice?

[2017-07-10 04:13] markgrossnickle commented on #582
You need to add

             rowCollectionOnDone: true

to your options in the config.

[2017-07-10 23:07] #593 closed

[2017-07-11 01:47] tvrprasad commented on #582
Looks like the implementation is returning whatever the server is saying. I'll close this one.

[2017-07-11 01:47] #582 closed

[2017-07-11 02:23] 253936563 opened #602 "connect sql server 2000 has error: unknown type: 0"
[code]

[2017-07-11 02:23] 253936563 commented on #602
`Error: Unknown type: 0
    at Parser.parseTokens (D:\wjh\qixiu\qixiu-new-backage\trunk\node_modules\tedious\lib\token\stream-parser.js:114:30)
    at Parser._transform (D:\wjh\qixiu\qixiu-new-backage\trunk\node_modules\tedious\lib\token\stream-parser.js:87:14)
    at Parser.Transform._read (D:\wjh\qixiu\qixiu-new-backage\trunk\node_modules\tedious\node_modules\readable-stream\lib\_stream_transfor

[2017-07-11 02:25] 253936563 commented on #602
@arthurschreiber

[2017-07-11 02:35] tvrprasad commented on #601
The HTTP server is returning an invalid verb error message which the code is parsing as pre login response. On my machine, the packet length came out as 21584, so the message-io code kept waiting for the complete packet. In the meantime, the web server closed the connection after sending the error message.

In connection.js, the socket end handler, socketEnded, simply transitions to FINAL state wh

[2017-07-12 17:28] LuisBosquez commented on #599
@peter-int-veld, can you open a PR against this project? I think you linked to a commit on your fork and I can't find the request on this project

[2017-07-13 16:33] tvrprasad commented on #599
@LuisBosquez There are actually 2 links. https://github.com/tediousjs/tedious/issues/599 is the link to the PR.

[2017-07-13 16:34] tvrprasad commented on #599
Never mind :-) Here is the link to the PR - https://github.com/tediousjs/tedious/pull/600

[2017-07-14 19:07] moshekarmel1 opened #603 "Timezone offset is used on write, but not on read, for DateTime's"
Firstly, tedious is awesome.

Second, I have my `options.useUTC` set to false.

What I have noticed is that on write's the `writeParameterData` function on line 305 of data-type.js factors in timezones:

[code]

However on the read, there does not seem to be that behavior, see line 640 of value-parser.js

[code]

The result is a date stored in SQL like this : `2017-07-03 15:17:17.680`
Coming back

[2017-07-17 10:39] wayne-o commented on #249
I am getting this now:

NPM 5.0.3
Node v8.1.3

[code]

[2017-07-17 10:41] wayne-o commented on #249
It works on Node v6.11.1

[2017-07-17 18:30] #603 closed

[2017-07-17 18:30] moshekarmel1 commented on #603
Forget it, I figured it out :smile:

[2017-07-18 05:47] Granaat opened #604 "angular 4 issue"
When initializing the connection I get a webpack error stating:

Module not found: Error: Can't resolve 'dns' in ...
same for 'dgram'

anyone knows how to resolve this?

used code:

import { OnInit } from '@angular/core';
import { Connection } from 'tedious';

const DBCONFIG = {
        userName: 'myusr',
        password: 'mypass',
        server: 'myserver',
        options: {
            databa

[2017-07-18 22:32] slmmm opened #605 "Not emitting error when fail to connect to database expecting encrypt = true"
I've not been able to determine why mssql (3.3.0) is not emitting an error event when tedious fails to connect to a database that expects encrypted connect but the options.encrypt = false.  It seems that tedious is not emitting the error.

I've stepped in through mssql main.js down into selection of tedious driver and as far as the tedious call for new Connection (in tedious.js)
                c

[2017-07-19 22:48] v-suhame commented on #591
@kevinresol you are right, it is due to TDS limitation. The TDS response received from Server doesn't have tableName-column mapping for select queries, so it's not possible retrieve origin of column.

[2017-07-27 08:31] realpunk commented on #300
Anyone has a working solution for this ?

[2017-07-31 21:07] ciaranj commented on #605
Fwiw, I've submitted #606 explicitly to auto-escalate the ecnryption when the client configuration doesn't specify encrypt=true, but the server requires it.

[2017-08-02 13:43] #591 closed

[2017-08-07 23:55] parths3an commented on #19
I am wondering how the above issue of @swapnilkadu fixed? I am having the same issue. Any pointers?

[2017-08-16 02:59] veleek commented on #379
Excuse me if this seems like a ridiculous question, but where IS the documentation located?  I was going to try and update this, but I don't know where the update should go.

[2017-08-16 19:07] codyaweber commented on #379
It seems the link I posted earlier has changed.

http://tediousjs.github.io/tedious/api-request.html

[2017-08-18 17:25] jeremyklein commented on #598
I believe I am running into a similar issue. That config option looks like one from Sequelize. Is this the case? One thing that worked for me was upping the max connections. Do you have the same issue if it is set to 100000?

[2017-08-18 22:47] konekred commented on #598
did'nt try yet to set the maxConnection to a large number.. i temporarily use async/await to fix the issue.. cause when running many queries asynchronously hangs my database and throwing a request timeout error... thanks for your answer will try it later..

[2017-08-20 23:14] akanieski commented on #515
When Node team deprecates something like this whats the timeframe for removal in Node? Just curious.

[2017-08-24 11:09] agarstang opened #608 "sql.DateTime data type does not cast as per sql.DateTime2"
Copying [#185](https://github.com/patriksimek/node-mssql/issues/185) from [node-mssql](https://github.com/patriksimek/node-mssql).

[code]
In data-type.js you have missed to convert date string to object as you have done for DateTime2
[code]

[2017-08-29 22:38] victoreich1 opened #609 "object is not a funcion"
When i try to connect, appears an error (object is not a function) because the function Connection is empty, then i printed the connection to saw the functions and parameters,

![image](https://user-images.githubusercontent.com/31457212/29848443-cf639214-8cdd-11e7-83a2-d6747807ee16.png)

And yes, the Connection function is empty

![image](https://user-images.githubusercontent.com/31457212/29848458

[2017-08-30 00:19] v-suhame commented on #609
that is unusual! can you clean the `tedious` package under node_modules and try installing it again?

[2017-08-30 00:21] victoreich1 commented on #609
i will try it tnks

[2017-08-31 17:06] eplowe opened #610 "Cannot connect via encrypted connection to SQL Server 2008 SP2"
My app is trying to connect to SQL Server 2008 SP2. The connections are configured to be encrypted. The connection always times out at the configured connectionTimeout. I've talked to the DBA, and he's seeing the following error:

"The prelogin packet used to open the connection is structurally invalid; the connection has been closed. Please contact the vendor of the client library. [CLIENT: *.*.*

[2017-08-31 17:11] slmmm commented on #610
Have you set your connection options for encrypted before attempting to connect?
**options: {
  encrypt: true
}**

[2017-08-31 17:12] eplowe commented on #610
I have. When it's false I get a fast fail telling me that the server is
configured only to accept encrypted connections.

On Thu, Aug 31, 2017 at 1:11 PM slmmm <notifications@github.com> wrote:

[2017-08-31 18:02] eplowe commented on #610
I made a switch over to mssqlnodev8, it connects fine. But, this locks me to using windows boxes only.

[2017-08-31 20:05] v-suhame commented on #610
@eplowe try enabling the debug log in driver to get more details. If you need assistance, you can share the logs either in github or via email.

[code]

[2017-08-31 21:39] eplowe commented on #610
connected to *.*.*.*:1433

Sent
  type:0x12(PRELOGIN), status:0x01(EOM), length:0x002F, spid:0x0000, packetId:0x
01, window:0x00
  0000  00001A00 06010020 00010200 21000103 00220004 04002600 01FF0000 00010001
 ....... ....!... ."....&. ........
  0020  01000000 000000  .......
  PreLogin - version:0.0.0.1 1, encryption:0x01(ON), instopt:0x00, threadId:0x00
000000, mars:0x00(OFF)
State change: Conn

[2017-08-31 21:41] eplowe commented on #610
Sure thing. See attached.

[debug_output.txt](https://github.com/tediousjs/tedious/files/1268577/debug_output.txt)

[2017-09-02 00:58] chdh commented on #609
In your case, `Connection` is the module exports object and not a function. The console.log() output is perfectly normal.

You probably wanted to write:

     var Connection = require('tedious').Connection;

[2017-09-04 10:24] hirvindev commented on #221
+1

[2017-09-04 14:11] Samvherck opened #611 "Cannot establish a connection to a public SQL Server"
When trying to connect to a SQL Server 2014 database using tedious (and auth0) I receive a timeout error message:

timeout : failed to connect to 192.168.0....:1433 in 15000ms

I've already asked a question on Stackoverflow about this issue and I was informed that the problem hasn't got anything to do with the server or firewall because the server is publicly available on other computers using SSM

[2017-09-05 16:05] tvrprasad commented on #605
This should've been fixed by https://github.com/tediousjs/tedious/pull/514
Can you see if your versions of tedious has this fix?

[2017-09-07 18:46] LuisBosquez commented on #602
Which version of the driver are you using? The TDS version that supports SQL Server 2000 is TDS 2.1, so please make sure you're using the right one.

[2017-09-10 02:10] chdh commented on #611
I assume that the Auth0 sandbox does not allow direct outgoing TCP connections. Did you try your code as a normal Node program?

[2017-09-10 10:11] Samvherck commented on #611
It seems that it establishes a connection when using a normal Node program. The last message 'connectundefined' confuses me but the server and login information seems to be recognized and handled correctly (for example, wrong userName results in an error).

[code]

[2017-09-14 17:59] v-suhame opened #613 "connection-retry-test stuck in Linux"
If login credentials for NTLM auth is invalid, integration/connection-retry-test gets stuck indefinitely on Linux, they fail gracefully in Windows.

[2017-09-15 20:44] #613 closed

[2017-09-15 20:44] v-suhame commented on #613
Couldn't repro in fresh clone.

[2017-09-18 12:26] Blakey commented on #319
Hi @arthurschreiber,

I am encountering the same (I think ?) issue where a stream will block the entire nodeJS app until the stream is complete, however i am struggling to locate the affected block of code as quoted earlier by @luca-moser. Could you please point me in the correct direction as I would like to see i I can fix it for my particular use case. You mentioned that you have a local branch

[2017-09-19 22:48] v-suhame commented on #583
@darklilium this bug is fixed in React, you can follow it in https://github.com/facebook/react-native/issues/14530

[2017-09-19 22:55] #583 closed

[2017-09-19 22:56] #379 closed

[2017-09-19 22:59] v-suhame commented on #61
Documentation updated in #607, thanks to @veleek.

[2017-09-19 22:59] #61 closed

[2017-09-19 23:01] #507 closed

[2017-09-19 23:02] #506 closed

[2017-09-20 16:51] v-suhame commented on #569
@SanderPs If you can update the [documentation](https://github.com/tediousjs/tedious/tree/gh-pages) and submit a PR, I can review it.

[2017-09-20 18:04] v-suhame opened #615 "config.options.rowCollectionOnRequestCompletion not fetching row count"
@techmurphy Opening an issue to track https://github.com/tediousjs/tedious/issues/61#issuecomment-308722245

[2017-09-21 00:47] v-suhame commented on #615
@techmurphy Can you give more details on this issue? What do you get on consoling the rowCount/row from Request callback? I tried with single row of data, it is working, are you trying to fetch huge data?

[2017-09-21 12:50] chdh commented on #615
`rowCollectionOnRequestCompletion` is not about the row count, it's about the row data.

When `rowCollectionOnRequestCompletion` is set, the `row` events are still emitted.
This can be seen in the following code sequence in [connection.js](https://github.com/tediousjs/tedious/blob/master/src/connection.js#L574):

        if (this.config.options.rowCollectionOnRequestCompletion) {
          this.re

[2017-09-26 13:21] walberglez commented on #604
Same thing is happening to me. Any ideas?

[2017-09-26 13:53] bminer commented on #515
Probably will be removed in Node 9 or 10.  The feature has been doc-deprecated for at least 4 years. :-/

[2017-09-26 14:17] arthurschreiber commented on #604
Tedious is not a javascript module for client-side use, it's intended to be used from Node.JS.

[2017-09-26 14:17] #604 closed

[2017-09-26 21:08] cjthompson opened #616 "Deprecation warning: tls.createSecurePair() is deprecated since 0.11.3"
`lib/message-io` uses `tls.createSecurePair()` which has been [deprecated since node v0.11.3](https://nodejs.org/dist/latest-v8.x/docs/api/tls.html#tls_tls_createsecurepair_context_isserver_requestcert_rejectunauthorized_options).

As of node v8, this generates warnings:
[code]

[2017-09-26 23:39] v-suhame commented on #616
Duplicate of #515

[2017-09-26 23:39] #616 closed

[2017-09-27 16:00] TSUDev opened #617 "Azure Illegal Token"
I am using tedious v2.0.0 and hosted my node app on Azure.
Whenever I try to connect to the SQL Server database I keep getting the following error:
this.emit('error', new Error(`No event '${eventName}' in state '${this
                                     ^
SyntaxError: Unexpected token ILLEGAL
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at

[2017-09-28 16:17] stern-shawn commented on #300
Wondering if there is any solution to this besides the previously mentioned logging hacks :)

[2017-09-28 21:13] v-suhame commented on #410
At present there is no implementation to handle the TDS token `TABNAME (0xA4)` in the driver. This token is received only when using browse mode or sp_cursoropen, avoiding them is the only alternative till the token is fully supported.

[2017-09-30 02:34] chdh commented on #617
According to [node.green](http://node.green/#ES2015-syntax-template-literals), template literals (strings between backticks) are supported since Node 4. The current Tedious version requires a Node version >= 4 ("engines"/"node" field in package.json).

What Node version do you have?

[2017-10-02 19:59] v-suhame commented on #617
If your node app runs on local server without issue, it would essentially run on Azure too. Update your node version as @chdh suggested.

[2017-10-06 02:11] chdh opened #619 "Travis fails in "docker pull microsoft/mssql-server-linux""
The error message is: "manifest for microsoft/mssql-server-linux:latest not found"

See:
https://travis-ci.org/tediousjs/tedious/jobs/283991671
https://github.com/Microsoft/mssql-docker/issues/166

[2017-10-06 11:00] boris-marinov opened #621 "Tedious does not accept 01/01/1900 as date input"
When I give tedious the date  01/01/1900 (for example from data which was previously extracted from an SQL table) it gives an error.

![image](https://user-images.githubusercontent.com/4872512/31275031-44d632a8-aa9e-11e7-9e98-a5a6d866af33.png)

I think that this should be equivalent to giving an invalid date.

[2017-10-06 19:23] chdh commented on #621
The problem is that your database field is SmallDateTime, Tedious Options.useUTC is true (the default) and your value is two hours before 01/01/1900.

`console.log( new Date("Mon Jan 01 1900 00:00:00 GMT+0200").toUTCString() );`
==> Sun, 31 Dec 1899 22:00:00 GMT

[2017-10-10 19:38] chdh commented on #619
The problem has been fixed, see https://github.com/Microsoft/mssql-docker/issues/166#issuecomment-335208416

[2017-10-10 19:38] #619 closed

[2017-10-10 23:24] v-suhame commented on #300
Fix for transient failure (#574) submitted by @tvrprasad is already in master. Changes should be out in next npm release.

[2017-10-11 08:55] iamvijaydev commented on #515
Does anyone from collaborators have any timeline on when the change will be released?

[2017-10-13 04:04] Chris-CBD commented on #300
When is this new npm release coming out?  I am struggling with this issue and it looks like it's been a problem for years.

[2017-10-14 19:05] #609 closed

[2017-10-16 21:34] ferm10n commented on #610
I'm also experiencing this exact issue. Any assistance for this would be greatly appreciated.

[2017-10-17 13:00] fer22f opened #625 "Wrong datetime retrieved from database on DST day"
Hello!

I've had a single issue on the day 15, and found out the problem lies in tedious. The issue is repeatable, and predictable, any query in a database on the date 2017-10-15 **in my timezone** returns a datetime with an hour offset (+1). useUTC is disabled.

The issue lies in this line: https://github.com/tediousjs/tedious/blob/d2cf7186c9d8eda4e530f42d5be8072eb6481e85/src/value-parser.js#L519

[2017-10-17 14:49] fer22f commented on #625
While making the tests, I figured out there was more to this, DST doesn't work the same way here in Brazil as it does it the US, and that's one key problem.

On Brazil, 00:00:00 doesn't exist. Only 01:00:00 forward exists in the DST day.
On the US, the change occurs at 02:00:00, so the issue doesn't happen at all, since 00:00:00 exists.

My proposed solution actually still works (the offset is fro

[2017-10-17 17:03] v-suhame commented on #525
@meet-bhagdev Bumping up the issue.

[2017-10-17 17:55] meet-bhagdev commented on #525
@arthurschreiber so sorry for dropping the ball on this thread.
@v-suhame I still have the sub

Can you and @arthurschreiber share your Azure/live email id's? I will add you as admins on the Azure subscription. Then you can login and create Azure resources as you like

[2017-10-18 07:21] jpalo commented on #300
When using "SELECT 1" ping workaround, I get intermittent "ConnectionError: Failed to connect to xyz.database.windows.net:1433 in 10000ms" errors _in the ping_. ECONNRESETs seem to have stopped, though.

[2017-10-18 14:17] jpalo opened #626 "Intermittent "ConnectionError: Failed to connect to XYZ""
As per suggestions in #300, I implemented SELECT 1 polling to workaround ECONNRESET errors. However, looking at the success rate of the polling makes me a bit concerned. There is no clear pattern, but every now and then, the simple SELECT doesn't go through and I get error "ConnectionError: Failed to connect to myazuresql.database.windows.net:1433 in 10000ms" I poll every 5 minutes.

I'd love to b

[2017-10-18 17:05] Hadis-Fard commented on #545
If application calls `connection.cancel()` in row event where all rows have been received before server gets ATTENTION message, it outputs all columns and throws ` RequestError: Canceled.` error, I think it should not throw an error and just ignore.

[2017-10-18 17:36] chdh commented on #545
I disagree. Tedious does not really throw an error, it just passes a `RequestError` object to the callback function. This is in accordance with the TDS protocol specification [3.2.5.8 Sent Attention State](https://msdn.microsoft.com/en-us/library/dd340677.aspx):
"...  indicate the completion of the query to the upper layer together with the cause of the Attention ...".

[2017-10-18 18:57] moedeveloper opened #627 "i cant get the value of fetched data from db"
I am trying to use promises and deferred to return fetched data from db, i do as following:

in the confugration i have  `rowCollectionOnRequestCompletion: true`, and
        `useColumnNames: true`

The problem is that i dont get the return if i use it somewhere else in the js file and when i console.log the result it looks as bellow:

![image](https://user-images.githubusercontent.com/16238332/31

[2017-10-18 20:26] Hadis-Fard commented on #545
in this scenario, after executing the request, state changes to `SentClientRequest`, and application receives all packets. row event is emitted, and then application makes a call to `connection.cancel()` in row event handler. so state changes to `SentClientRequest -> SentAttention`, we output all the results in the row, and then receives ack from server and state changes `SentAttention -> LoggedIn

[2017-10-18 21:53] chdh commented on #545
@Hadis-Fard I don't understand. Could you provide a test case?

[2017-10-19 00:32] Hadis-Fard commented on #545
in https://github.com/tediousjs/tedious/blob/master/src/connection.js#L1667 doesn't make sense to error out if the ack is received and is a valid cancel scenario, why should it throw debug error if the ack is received and request is canceled?  what is the case that calling cancel doesn't throw an error?

[2017-10-19 00:45] v-suhame commented on #545
This is true only in if response received is invalid. Here is the full passage,

And if the response is valid,

And in 3.2.4, the upper-layer mentioned is MARS, so its currently not applicable for tedious.

[2017-10-19 02:40] chdh commented on #545
@v-suhame In the case of Tedious, the "upper layer" is the application program. 3.2.4 is about events triggered by (i.e. received from) the upper layer. In our case this is the `Connection.cancel()` call. The application (upper layer) has called `Connection.cancel()`. In the language of the TDS specification this means that the upper layer has sent a Cancel Request.

3.2.4 **is** relevant for Tedi

[2017-10-19 07:10] arthurschreiber commented on #627
According to your `console.log` output, the promise was `fulfilled` and the value it was fulfilled with was the `rows` result you got back from `tedious`.

It looks like you're having trouble with using your promise library correctly, and this is not an issue with `tedious`? 🤔

Here's an example of using `tedious` with native ES6 promises:

[code]

I'll close this as I don't see anything actionabl

[2017-10-19 07:10] #627 closed

[2017-10-19 07:14] arthurschreiber commented on #626
Heya @jpalo!

Thanks for explaining the issue you're encountering. ❤️

Is there some way you could verify whether this is specific to `tedious` or if other tools also fail to connect to the database in the same time frames? This would help narrow down whether this is an issue with your network or the connection to Azure, or an issue in `tedious` itself.

[2017-10-19 07:20] arthurschreiber commented on #611
I guess this is resolved then?

`connectundefined` seems to be part of the debug log output, I don't think there's anything wrong with it - I think `undefined` here means there was no error passed to the `connect` callback.

I'll go ahead and close this, but let me know if there's still an issue here.

[2017-10-19 07:22] arthurschreiber commented on #594
@egandro No, we don't. 😄 The parser we have is for parsing binary data, and last time I checked Yacc/Lex is not really good at that.

I'm aware that performance is an issue when parsing large sets of data, but there is no "quick" fix here, unfortunately. 😞

I'll close this issue as fixing this is on our roadmap, but it will take some while till we get there.

[2017-10-19 07:22] #594 closed

[2017-10-19 07:24] jpalo commented on #626
I will see how I could rule out some variables. App is running on Azure App Services so if it is network/connection related, it is something inside Azure.

[2017-10-19 07:34] moedeveloper commented on #627
alright, i am new to nodejs, you example helped me but i think we still need to close the connection before we make resolve or am i misstaking it?

[2017-10-19 07:40] arthurschreiber commented on #625
@fer22f Thanks for your bug report! ❤️

According to section [`2.2.5.5.1.8`](https://msdn.microsoft.com/en-us/library/ee780895.aspx) of the `MS-TDS` specification, the calculation as done by Tedious here should be correct.

What might be incorrect here is how we create the `Date` object and/or how we modify it to reflect the data we received.

Could you provide more information around this? What a

[2017-10-19 07:44] arthurschreiber commented on #627
It depends on whether you want to reuse the connection or not. Opening a new connection is quite expensive (in terms of time), so people usually keep the connections open as long as possible.

There's even a library for managing connection pools - see https://github.com/tediousjs/tedious-connection-pool.

[2017-10-19 07:51] moedeveloper commented on #627
i wonder why i dont get the value of each column please see bellow picture
![image](https://user-images.githubusercontent.com/16238332/31759866-0e08b722-b4b3-11e7-8ba7-beabcba31278.png)
and thats how i try to get the data

[2017-10-19 07:54] moedeveloper commented on #627
ohh !! thank you i was really looking for something similar i used this once with mysql but i couldnt find how to do this with tedious.. !! I really appriciate your help!!!

[2017-10-19 08:14] arthurschreiber commented on #608
The way we do type conversion in `tedious` is a mess, and really inconsistent.

I _think_ this here is an actual bug (because it's raising a `TypeError`), and that's bad and needs to be fixed. But I'm not sure what a "good" fix is going to look like.

Long term (in `tedious@3.x` or even later), I want us to move away from doing any type conversion at all - if your application defines a parameter t

[2017-10-19 08:15] arthurschreiber commented on #608
/cc @chdh Because I think he might be interested in this discussion.

[2017-10-19 12:37] fer22f commented on #625
Yea, the date created by the library is always correct, the only problem is the resulting `Date` object. The problem from the spec being:

`One 2-byte unsigned integer that represents the number of minutes elapsed since 12 AM that day.`

Which doesn't happen on my case, since setting the date to the DST date makes 12AM suddenly expire (it jumps to 1AM).

But here it is, I passed a list of days and

[2017-10-19 13:04] chdh commented on #608
@arthurschreiber

This answers my [question]( https://github.com/tediousjs/tedious/pull/623#issuecomment-336662934) in #623.
What do you think about conversion from float to integer (same data type in JS, but not for SQL Server)? I think it's better not to convert at all.

I think it's not such a big change and it's important. I could provide a PR if you like.

[2017-10-19 13:10] arthurschreiber commented on #608
It's a backwards incompatible change if we stop converting these values, so it should be a major version bump. We should not be afraid of major version bumps. 😄

[2017-10-19 13:31] arthurschreiber commented on #625
Nice, awesome work digging into this! ❤️ 😍

The fix for this should be pretty simple to prepare. Do you want to take a stab at it?

[2017-10-19 13:33] arthurschreiber commented on #625
Note: We should also be using `Date.UTC` when creating the UTC date.

[2017-10-19 13:49] fer22f commented on #625
Sure thing! I will submit a PR shortly, but the unit tests for this seem... hard to come by, and sadly that mock library doesn't have this specific use case. But I will submit the PR without them, for now.

[2017-10-19 14:50] rok-star opened #629 "Synchronous mode"
Greetings!

Is it possible and how long it would take to add synchronous mode?

--
Best regards.

[2017-10-19 15:18] arthurschreiber commented on #629
Adding a synchronous mode would be going against any of the design principles of Node.JS. 😞

As this is quite a peculiar request, may I ask what use you would have for a synchronous mode?

[2017-10-19 15:38] rok-star commented on #629
For now in our project we have very complicated backend logic, that consits of kinda several levels of abstraction.
Now we are suppsed to add support of MSSQL, all our logic is sync way, and adding async stuff is not acceptable, or we have to reengineer everything.
Well, if it's impossible we will consider using something like deasync.
Thanks for quick response!

[2017-10-19 18:04] arthurschreiber commented on #629
That sounds interesting.

I agree that moving synchronous code over to be asynchronous is not an easy task. `deasync` sounds like it might be able to help you here. Good luck! 😄

[2017-10-19 18:04] #629 closed

[2017-10-19 18:59] arthurschreiber commented on #617
You need to specify a Node version greater than or equal to version 4 in your application's `package.json` file for Azure to pick up the correct version.

See https://stackoverflow.com/questions/34746480/upgrading-node-on-an-azure-website.

[2017-10-19 18:59] #617 closed

[2017-10-19 19:08] arthurschreiber commented on #621
@chdh seems to be spot on, so I'll go ahead and close this. 😄

[2017-10-19 19:08] #621 closed

[2017-10-23 00:46] chdh commented on #181
#518 implements pause/resume

[2017-10-23 00:46] #181 closed

[2017-10-23 00:48] chdh commented on #577
#518 is now merged.

[2017-10-23 00:48] #577 closed

[2017-10-23 20:21] Hadis-Fard commented on #615
@v-suhame @techmurphy I was not able to reproduce this issue using `rowCollectionOnRequestCompletion` and `rowCollectionOnDone`, both work as expected, could you elaborate more?

[2017-10-23 21:05] v-suhame commented on #615
@Hadis-Fard yes, it works as expected :) I'll close this issue.
@techmurphy please reopen it if you have questions.

[2017-10-23 21:05] #615 closed

[2017-10-25 00:30] v-suhame opened #631 "Connection failure - Azure SQL Data Warehouse"
Connection to Azure SQL Data Warehouse fails with `ERROR: 'CursorCloseOnCommit' is not a recognized option.`
[Cursor_close_on_commit](https://docs.microsoft.com/en-us/sql/t-sql/statements/set-cursor-close-on-commit-transact-sql) is not supported by DW, since this is OFF by default, if user doesn't set it in `config`, avoid sending it in initial SQL.

[2017-10-25 22:03] andrewsensus opened #632 "request emits prepared even on error (sometimes multiple times)"
When connection.prepare(request) encounters an error, the request emits the 'prepared' event rather than emitting an error. If the event-handler responds to the false 'prepared' event by calling connection.execute(request, params) and that also encounters an error, then a second 'prepared' event is emitted rather than calling the request callback (even though connection.prepare(request) was only c

[2017-10-26 00:14] Hadis-Fard commented on #512
@arthurschreiber @tvrprasad We're planning to start stabbing this list, could you shed some light on this feature?

[2017-10-26 17:01] v-suhame commented on #610
SQL Server doesn't respond after successful handshake 😞 One odd thing I noticed while looking at this issue is during Login7, a single packet shows 2 TLS exchange in wireshark, for SQL Server 2008. This would need more investigation.

[2017-10-26 17:14] ferm10n commented on #610
@v-suhame the server not responding after the handshake seemed to be happening to me too. I also saw 2 TLS exchanges in wireshark. This makes me think that's what is causing the "structurally invalid" error, since it's only supposed to be sending a single Login7 packet.

How did you gather this from looking at debug_output.txt referenced above?

I found Microsoft Message Analyzer to be more helpfu

[2017-10-26 21:56] v-suhame commented on #610
@ferm10n I couldn't gather much from the debug_output.txt. I had an instance of SQL Server 2008 in internal test lab, I was able to repro it there 😉
After some digging, I found that cipher suite negotiated during handshake is not supported in SQL Server 2008, possibly for versions < SQL Server 2008 SP4, as they only support TLSv1.0, details [here](
https://support.microsoft.com/en-ca/help/3135244/

[2017-10-26 21:59] v-suhame commented on #610
@eplowe @ferm10n can you test the solution suggested?

[2017-10-26 23:19] tvrprasad commented on #512
@Hadis-Fard I just know that ADO.net supports that. Perhaps this link may provide you a starting point - https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/query-notifications-in-sql-server

[2017-10-27 00:26] v-suhame commented on #525
@arthurschreiber I'm setting up an Azure VM and AAD domain in the Azure subscription for Tedious. We can use it for ad-hoc testing now, and later extended it to run CI.

It should be ideal for testing NTLM, windows int, Kerberos and AAD auth. I've started with the setup, and hope it will help in testing #624 :) We can add you to the subscription if you share your Azure id.

[2017-10-27 16:37] arthurschreiber commented on #512
@Hadis-Fard @tvrprasad

For query notifications, I think what's still missing is the `Query Notifications Header` as specified in `2.2.5.3.1`.

I've no concrete idea how the API for exposing the query notification header options might look like - maybe something like this?

[code]

This could then cause the correct data to be sent via the query notifications header.

Listening to query notificatio

[2017-10-27 18:52] Hadis-Fard commented on #512
looks good to me on setting the options, it also should have getter similar to SQLGetStmtAttr in[ here](https://docs.microsoft.com/en-us/sql/relational-databases/native-client/features/working-with-query-notifications)
 which i think it can be done by adding the notification into callback

Would love to stab this, I am currently working on AzureAD auth, will put this in my list