[2022-02-24 06:17] #1407 closed

[2022-02-24 09:54] jamesderrick commented on #1408
Targeting tedious code directly, using the latest version v14.3, with tenantId included in the config, I still get the error message. The code is 'EFEDAUTH' and message is the same as previously mentioned.
I moved some bits around, so I'll add my config again just to make certain I've not messed that up
[code]

I've tried database in options and outside of it and it doesn't seem to make a differen

[2022-02-24 20:22] MichaelSun90 commented on #1408
Hi @jamesderrick, I have tried your configuration settings and it works for me on my end, so the configuration should be fine. There is one more thing that you could try on your side for additional information related to this error. You could add a console log to the tedious side code which directly logs the original error during the run time. The original error has more detail related to why the

[2022-02-25 08:51] jamesderrick commented on #1408
I've added in the extra log message, and at the moment I'm getting "Error validating credentials due to invalid username or password", which is strange because I'm definitely using the right credentials. These credentials work fine with an older version of Tedious, so I'm confident the creds are correct

[2022-02-25 10:04] jamesderrick commented on #1408
I also got a Trace ID and Correlation ID from the extra console log, so I'm chasing our cloud admin up to see if we can get more information around the error

[2022-02-25 12:24] jamesderrick commented on #1408
I've also checked this document as guide. It doesn't mention Azure AD authentication so I'm finding it quite hard to find an up-to-date document for how to use AAD with NodeJS
[Microsoft Guide](https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-nodejs?tabs=windows)

[2022-02-25 18:54] mShan0 commented on #1408
Tedious migrated from using `adal-node` in Tedious 12.3 to `msal-node` from Tedious 13 onwards.

Not sure if this is the same issue you're running into, but there was an old issue where the user was getting the same error message when migrating to `msal-node` because the user was on an older version of AD FS that is not supported by `msal`.

https://github.com/AzureAD/microsoft-authentication-libr

[2022-02-25 23:17] MichaelSun90 commented on #1408
Just found a [link ](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/troubleshooting/ad-fs-tshoot-azure)for checking AD FS compatibility. @jamesderrick you can take a look as well, see if that helps.

[2022-02-26 00:07] jamesderrick commented on #1408
Think the AD that our company uses is simply Azure AD with a single tenant. Don’t think we use ADFS

[2022-02-28 08:54] jamesderrick commented on #1408
Ok, I take back what I said, we do indeed have federation enabled, however, I don't have the access permissions to find out any more than that. Will ask within my company but information is never quick to get.

[2022-03-01 11:48] kazzi58 commented on #1251
Where exactly do I have to add this?

[2022-03-01 17:51] mShan0 commented on #1251
Hi @kazzi58, this goes in your config object.

[code]

You can find more information here: http://tediousjs.github.io/tedious/api-connection.html

[2022-03-02 10:28] ahmedmoloude opened #1412 "SQL Server Realtime Push Notifications to Node.JS"
hi, I notice in the examples folder that there is a possibility to  send events to Nodejs  when something changes in the DB

`const connection = new Connection(config);

connection.connect(connected);
connection.on('infoMessage', infoError);
connection.on('errorMessage', infoError);
connection.on('end', end);
connection.on('debug', debug);`

but i am wondering how we can do such thing from the SQL

[2022-03-02 18:19] mShan0 commented on #1412
Hi @ahmedmoloude, what are you trying to do specifically? Do you want to emit custom events from the SQL server?

The SQL server does emit events that gets handled by the `connection.on` and `request.on` event handlers. You can see more info on them in our documentation here: http://tediousjs.github.io/tedious/

[2022-03-04 17:45] mShan0 commented on #1408
After further discussion with the team, it may also be the case that MSAL is not escaping special characters in the password correctly. Is it possible to temporarily try a password that avoids most special characters (<>&%', etc) but still meets strong password requirements, e.g. "Just-4-Testing-Tedious"?

[2022-03-04 17:59] jamesderrick commented on #1408
Hi, I appreciate the response, but the password I’ve been trying already does not contain any special characters

[2022-03-08 10:00] Abhishek-Singh-Rana opened #1415 "Security token could not be authenticated or authorized error ( Node JS connectivity with MS SQL Server using Tedious)"
I am trying to connect to SQL Server via ActiveDirectoryPassword authentication mechanism and I am using 'Tedious' for that.

However whenever I run my project I run into the error:

Below is my code sample which I derived after referring to [https://tediousjs.github.io/tedious/api-connection.html](url) and [https://docs.microsoft.com/en-us/sql/connect/node-js/step-3-proof-of-concept-connecting-to

[2022-03-08 20:02] MichaelSun90 commented on #1415
Hi @Abhishek-Singh-Rana
For the "Security token could not be authenticated or authorized" error, it should be caused that you are missing a tenantID from the connection config. If you do not provide a tenant Id here, a default id "common" will be used here, which, may do not work with your current server-side setup. If you search "azure-active-directory-password" from our [GitHub doc](http://tedio

[2022-03-08 20:52] Abhishek-Singh-Rana commented on #1415
Hello @MichaelSun90 ,

Thanks for your response. However, When I searched for 'tenantId' parameter it was mentioned that it's optional.

`"authentication": {
  "type":'azure-active-directory-password',
  ...,
  "options": {
    "userName": value,
    "password": value,
    "tenantId": value (Optional)
  }
}  `

Also, I am not sure where exactly can I find the 'tenantId' value. Is it somewhere on t

[2022-03-09 08:09] Abhishek-Singh-Rana commented on #1415
Hi @MichaelSun90 , I tried with the tenantId as follows:

[code]

However I ran into the error as:

(Use `node --trace-deprecation ...` to show where the warning was created)
(node:13300) Warning: `config.options.trustServerCertificate` will default to false in the future. To silence this message, specify a value explicitly in the config options
C:\Node JS Projects\POC\node_modules\@azure\identity

[2022-03-09 14:10] Abhishek-Singh-Rana commented on #1415
I Even tried passing the tenantId without placeholders as  following:

[code]

and ran into **Security token could not be authenticated or authorized** error again.

[2022-03-09 17:01] Abhishek-Singh-Rana commented on #1415
Installing tedious 12.3.0 version resolved my issue.

[2022-03-09 18:19] nihonjinboy85 commented on #1408
This needs to be added to the docs ASAP. I was struggling for hours yesterday trying to figure out why my credentials worked in SSMS but not in my app, and just adding the tenantId immediately resolved this issue!

[2022-03-09 18:25] MichaelSun90 commented on #1408
Hi @nihonjinboy85 , sorry to hear that this still causing issues for users. the most recent version of our GitHub io [doc](http://tediousjs.github.io/tedious/api-connection.html) already includes this and we are making a PR to explain a bit more on why tenantID is optional but needed in most cases. Hopefully, the doc will help people clear up on AAD password authentication type in the future.
![im

[2022-03-09 18:30] MichaelSun90 commented on #1415
Hi @Abhishek-Singh-Rana ,  just wondering which version of tedious you were on before you change to 12.3? When you got it to work with 12.3, did you use the same configuration with the tenant Id or you do not have to provide the tenant id, and it works?

[2022-03-09 18:54] jamesderrick commented on #1408
Thanks but we’ve already tried using the tenantId but we still get the error

[2022-03-09 19:47] nihonjinboy85 commented on #1408
Great! I was probably looking at some other Microsoft docs that omit that parameter.

On that note, should I consider the [github.io doc](http://tediousjs.github.io/tedious/) as the source of truth when utilizing tedious (via the mssql npm package in my case)? For example, I'm working on implementing managed identity auth for my API using `azure-active-directory-msi-app-service`. When I look at th

[2022-03-09 19:49] nihonjinboy85 commented on #1408
Sorry to hear that. It fixed my issue, but obviously your specific configuration is different than mine. I'll defer to the package contributors to help you out. Good luck!

[2022-03-09 19:56] MichaelSun90 commented on #1408
Hi @nihonjinboy85 , We will always try to keep the github.io page for tedious up to date, so this documentation should be users' first choice for utilizing tedious. In terms of the other question, I remember that we recently merged a change that allows users to use  DefaultAzureCredential provided by the @azure/identity. I will double-check to confirm this, and the documentation will be updated so

[2022-03-09 20:03] MichaelSun90 commented on #1408
@nihonjinboy85 , just checked, the PR is approved, but not merged yet. We will try to get it merged, and I will let you know when it happens. The PR number is #1365.

[2022-03-09 20:03] mShan0 commented on #1412
Closing due to inactivity. Feel free to comment here again and I can reopen the issue or you can also open a new issue.

[2022-03-09 20:03] #1412 closed

[2022-03-09 21:08] #1284 closed

[2022-03-09 23:39] nihonjinboy85 opened #1416 "Azure AD connection timeout on app service only"
When refactoring a Node.js API to use Azure AD instead of SQL Server auth, I've successfully implemented the `azure-active-directory-password` auth locally, but when I deploy it to my web app, I receive an `ETIMEOUT` error stating `Failed to connect to [server-name].database.windows.net:1433 in 15000ms`.

### Things I have checked/tried
- Created managed identity for web app
- Confirmed existence

[2022-03-10 00:53] nihonjinboy85 opened #1417 "What 'clientId' should I provide when using 'azure-active-directory-password'?"
When I connect to my SQL server using the `azure-active-directory-password` method, I get the warning:
[code]
Should I provide the AAD user's object ID or is there some other expected value?

[2022-03-10 05:37] Abhishek-Singh-Rana commented on #1415
@MichaelSun90 , I was using '14.3.0' before.
Tedious >= 13.2.0 now needs a client and tenant id for connection authentication "azure-active-directory-password".

With this version, issue is resolved irrespective of I use tenantid or not.

[2022-03-10 07:03] ubilrodriguez commented on #1251
a mi me sale este error:

ConnectionError: Failed to connect to localhost:1433 - 12864:error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol:c:\ws\deps\openssl\openssl\ssl\statem\statem_lib.c:1994:

[2022-03-10 07:07] ubilrodriguez commented on #914
ConnectionError: Failed to connect to localhost:1433 - 12864:error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol:c:\ws\deps\openssl\openssl\ssl\statem\statem_lib.c:1994:

[2022-03-10 08:58] IanMoroney commented on #1408
I would definitely like to use `DefaultAzureCredential` as soon as possible too, to work around some of these more complicated issues.

[2022-03-10 10:47] jamesderrick commented on #1408
Yeah DefaultAzureCredential would be great. I've actually been using that already but to generate an access token and using the access token to connect to the Azure SQL

[code]

[2022-03-10 11:37] kuldea-franta commented on #1408
@jamesderrick ia `azure-active-directory-access-token` working for you?

[2022-03-10 11:47] jamesderrick commented on #1408
Yeah I believe so. I have to sign in to my azure account in visual studio code using the Microsoft Azure extension then DefaultAzureCredential can authenticate as me and generate a valid token. And that token authenticates with Azure SQL just fine.
Has only helped me locally. The same thing doesn't work in Azure but that could easily be how things have been architected by someone else in my team.

[2022-03-10 11:56] kuldea-franta opened #1418 "Unable to connect to Azure SQL with `azure-active-directory-access-token` with "Login failed for user '<token-identified principal>'. The server is not currently configured to accept this token.""
Hello,
I'm having trouble while connection to Azure SQL database with `azure-active-directory-access-token`. The token is generated with library [@azure/identity](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/identity/identity/README.md). I have tried `InteractiveBrowserCredential`, `DeviceCodeCredential`, `DefaultAzureCredential`.

The error is:

Code to reproduce:

### index.js
[code]

[2022-03-10 11:58] kuldea-franta commented on #1408
@jamesderrick nice, I was asking as I spend two days on this https://github.com/tediousjs/tedious/issues/1418 and still no success

[2022-03-10 12:07] jamesderrick commented on #1418
Major difference between my code and yours is having `encrypt: true` in your config options, that's definitely needed for connecting to Azure SQL but not for a local SQL Server

[2022-03-10 12:10] IanMoroney commented on #1418
Same error when adding `encrypt: true`.
I actually think our scenario is complicated by the fact that our AD users are guest users in the tenant.
Although this scenario works fine in other applications such as SSMS and Azure Data Studio.

Tenant 1 authenticates the user, as the user is natively located there
Tenant 2 is where the Azure SQL server is.
Tenant 2 has the user configured as a guest use

[2022-03-10 12:12] kuldea-franta commented on #1418
@jamesderrick `encrypt` is set to `true` by default

[2022-03-10 12:20] jamesderrick commented on #1418
Fair point, didn't know that was the case

[2022-03-10 12:26] kuldea-franta commented on #1418
Ok, problem fixed. As @IanMoroney explained in his post, we do have two subscription somehow connected together. So I just tried a tenant i of the second subscription and connection is successful. Anyways, thank you @jamesderrick for you time.

[2022-03-10 12:26] #1418 closed

[2022-03-10 12:32] IanMoroney commented on #1418
For anyone experiencing this issue in a multi-tenant or cross-tenant scenario, pay attention to the tenant ID which is associated with the bearer token.
It should be the same as the tenant ID in which your Azure SQL Server is in.

[2022-03-10 16:44] nihonjinboy85 commented on #1408
@jamesderrick Thank you SO much for sharing this hack! It worked for me as well, so now I don't have to check the env to decide whether to use `azure-active-directory-password` or `azure-active-directory-msi-app-service`.

[2022-03-10 17:52] MichaelSun90 commented on #1417
Hi @nihonjinboy85, I actually explained this in another issue that you have commented on as well. Here is that comment:
[Hi @nihonjinboy85 , for clientID, we user to have a hard coded clientID with in the ](https://github.com/tediousjs/tedious/issues/1408#issuecomment-1049051529)

We also have an explanation on our GitHub io page under "azure-active-directory-password". If you want, you can also c

[2022-03-10 17:59] MichaelSun90 commented on #1415
Hi @Abhishek-Singh-Rana , May I ask which version of SQL server you are trying to work with? From this, seems you may be facing the same issue that James has with #1408. We have to migrate to MSAL from ADAL after 12.3 for AAD-related authentication due to Microsoft is dropping support for the ADAL library. Seems, that MSAL may introduce some complexity to the authentication.

[2022-03-10 18:51] mShan0 commented on #1408
We've just merged PR #1365 which adds support for DefaultAzureCredential, but it hasn't been released to NPM yet. In the meantime, you could continue using `azure-active-directory-access-token` as a workaround.

Also, could give [this comment](https://github.com/tediousjs/tedious/issues/1418#issuecomment-1064006663) a look to see if that solves your issue.

[2022-03-10 19:17] MichaelSun90 commented on #1418
Hi Ian, just want to learn a bit more about this. You mentioned," Although this scenario works fine in other applications such as SSMS and Azure Data Studio". Is the scenario here mean that generating a token using Tenant 1 from your example will also work for SSMA and Azure Data Studio but not be tedious? If I am wrong, can you explain a bit more about this scenario? Thanks!:bow:

[2022-03-10 19:47] mShan0 commented on #1416
Hi @nihonjinboy85, we are currently looking into this.
In the meantime, does using `azure-active-directory-access-token` work if you grab the token elsewhere?

[2022-03-10 22:53] nihonjinboy85 commented on #1417
Hi @MichaelSun90 , I did read that explanation which makes sense for applications, but I didn't understand how that fits with individual AAD users. For my use case, I was using my own user account when developing locally and the app service's managed identity when deployed. Therefore, when I was in the dev env, I was using `azure-active-directory-password`, but I was authenticating as myself, not

[2022-03-10 22:58] nihonjinboy85 commented on #1416
Hi @mShan0 , thanks for looking into this so quickly. Great news! I was actually able to resolve this issue. It turns out that the issue was caused by my app service web app somehow using Node.js v10 instead of v16, which is what my local machine was using. Therefore, some of the features that the `mssql` package was expecting weren't available once deployed. Once I set the Node.js and NPM version

[2022-03-10 22:58] #1416 closed

[2022-03-16 23:33] MichaelSun90 commented on #1417
Hi @nihonjinboy85 , sorry for the later responses. I was also doing some investigation, so I will be 100% sure that I am sharing the correct information.

One thing that I want to confirm with you:

This means that you pass your own username and password to tedious connection configuration for logging in and developing your own project.

This means the users have their managed identities and those

[2022-03-18 17:33] mShan0 commented on #1408
`type: azure-active-directory-default` (DefaultAzureCredential) has been released on Tedious version 14.4.0

[2022-03-18 19:55] nihonjinboy85 commented on #1408
That's awesome, @mShan0 ! I'm currently using the mssql package to interact with our SQL server & database, so any idea when that team will be able to incorporate the updated Tedious driver support into their package? The current version of mssql (v8.0.2) uses tedious v14.0.0. If you don't have visibility into that team's roadmap, I'm happy to create an issue on their repo to request support for t

[2022-03-18 20:14] nihonjinboy85 commented on #1417
Hi @MichaelSun90 ,

First of all, thank you so much for taking the time to discuss this with me and provide your guidance and insight. I'm still very new to all of the nuances of Azure authentication (AAD et al), so the community's support has been instrumental in the work I'm currently doing to update my team's project to no longer use SQL server auth or Blob storage connection strings and instea

[2022-03-18 20:14] #1417 closed

[2022-03-18 20:39] mShan0 commented on #1408
Hi @nihonjinboy85, unfortunately I don't know when node-mssql will be updated since we don't do support for it.

[2022-03-18 20:41] nihonjinboy85 commented on #1408
No worries, @mShan0 . Once Tedious v14.4.0 is available on NPM, I'll ask them to implement support for it. Thanks for getting the new feature merged... I'm really excited to be able to start using it once available through mssql!

[2022-03-22 16:53] tamusjroyce commented on #1360
Opps. Forgot to close this after I saw this had been done. Thank you for this!!!

[2022-03-22 16:53] #1360 closed

[2022-03-24 07:13] arch-linux opened #1420 "Nothing happens after execSql"
After confirming that my MSSQL server is functioning using DataGrip & MSSQL Management Studio on Windows, Tedious does not appear to be functioning whatsoever when attempting to query my server.

[code]

When the script executes I get the following response indicating that tedious has actually established a connection with my server, however no other output after this point.

<img width="575" alt=

[2022-03-24 16:18] mShan0 commented on #1420
Hi @arch-linux, try moving the event handlers outside of the new Request callback function, like this:

[code]
Hope this helps!

[2022-03-24 16:21] sdesalas commented on #1246
FYI https://medium.com/p/87b965ad2c8d

[2022-03-24 18:00] arch-linux commented on #1420
@mShan0  This fixed everything, thank you!

[2022-03-24 18:00] #1420 closed

[2022-04-01 21:24] oscartmxpgit commented on #118
Start your SQL Server Browser service, and don´t forget to enable TCP/IP in sql server configuration manager (configure TCP port under IPAll)
Next, I had to do this https://stackoverflow.com/questions/60226370/certificate-error-when-connecting-to-sql-server

[2022-04-04 11:12] raycha1 opened #1422 "Security token could not be authenticated or authorized error for Managed Identity of App Service"
My mobile application uses REST API Service and has 2 environments - One for Dev/Staging and another for Prod. Both Environments use Azure App Services to host the RESTful APIs developed in nodejs. On the backend the application has 2 separate Azure SQL databases, one for Dev/Staging and the other for Prod respectively.
In the nodejs code, tedious version - 14.3.0, is used for establishing connect

[2022-04-04 21:54] mShan0 commented on #1422
Hi @raycha1, a few things you could try. Tedious 14.4.0+ supports DefaultAzureCredential using `type: 'azure-active-directory-default'.

Also, the error message you currently see is hiding the actual error message from the SQL server. We currently have a PR open to address this (#1409) but in the meantime, if you're comfortable with it, you can expose the error message directly from the Tedious so

[2022-04-07 03:25] raycha1 commented on #1422
Hi @mShan0, I can see issue has been resolved in 14.4.0 version of the library.
Thanks

[2022-04-07 13:56] chdh opened #1425 "feat: document the new BulkLoad streaming API"
The old BulkLoad streaming API and its documentation have been removed ([commit](https://github.com/tediousjs/tedious/commit/ca8afd3bd4c4350e8900e9c3bfdeb2bc23a792ff), #1307, #1352), but the new API (#1280) has not yet been properly documented.

[2022-04-08 17:15] MichaelSun90 commented on #1425
Hi @chdh , Thanks for bringing this up. We just did read through the doc again and seems the docs have been updated to the new APIs by changes from #1352
For example: under the bulk load page: under the example, instead of calling add rows, it now uses a rows array:
[code]
Also, the function declaration has been updated from the connection API page as well.

I am kind of wondering which part of th

[2022-04-08 20:05] mShan0 commented on #1422
That's great! Is this issue okay to close?

[2022-04-09 05:33] laurisvan commented on #1267
We have also recently faced this issue when using tedious via Lambda functions. In such cases the number of dependencies matter - both for cold start of the Lambdas (bigger packages take more time to load) and stability of the infrastructure (uploading large Lambda functions fail).

If the azure etc. dependencies are not absolute must haves, it would be great to have them as optional deps, instead

[2022-04-09 12:41] TheThing commented on #1267
@laurisvan you might wanna check out node-sqlserver-v8: https://github.com/TimelordUK/node-sqlserver-v8
It does require ODBC drivers to be installed but if you can get that, then it's a much smaller package. And if you fiddle with it a little bit you can get it reduced to literal zero dependency (which is something I'm working on).

[2022-04-09 13:07] TheThing commented on #1267
Maybe removing this from the README is a good idea? ;)

[2022-04-09 14:39] chdh commented on #1425
1. It's not documented how to use `BulkLoad` with streaming.
  Instead of an array (or another `Iterable`), an `AsyncIterable` (e.g. `stream.Readable`) can be passed in the `rows` parameter of `connection.execBulkLoad()`.
2. The `options` parameter is missing in the function signature of [`connection.newBulkLoad()`](https://tediousjs.github.io/tedious/api-connection.html#function_newBulkLoad).
 Th

[2022-04-10 05:18] raycha1 commented on #1422
Thanks..
Yes, it can be closed..

Thanking again

Chandan
________________________________
From: mShan0 ***@***.***>
Sent: Saturday, April 9, 2022 1:35 AM
To: tediousjs/tedious ***@***.***>
Cc: Ray, Chandan (Contractor) ***@***.***>; Mention ***@***.***>
Subject: Re: [tediousjs/tedious] Security token could not be authenticated or authorized error for Managed Identity of App Service (Issue #1422)

[2022-04-13 17:04] MichaelSun90 commented on #1425
Hi @chdh, we just created a task for adding the missing detail for this new Bulk API. We will also include you in the reviewer list when we actually finish the changes for the doc. Thanks for bringing this up!

[2022-04-23 12:14] laurisvan commented on #1267
@TheThing

Unfortunately I don't have that option. I am using tedious via `knex` package and writing a new knex driver adapter would be a bit overwhelming right now. We changed our infra code to cope with bigger Lambdas, so at least we will now get the big packages through the build pipeline.

[2022-04-25 17:08] mShan0 commented on #1425
Hi @chdh, we've merged #1429. You can take a look and see if there is anything missing.

[2022-04-25 20:48] chdh commented on #1425
Thanks @mShan0, looks fine.

[2022-04-25 20:48] #1425 closed

[2022-04-26 11:08] DeltaRays commented on #923
Hi, I'm encountering the same issue using
`   "mssql": "^8.1.0",
    "tedious": "^14.4.0",`. None of the solutions provided above solved the issue.

[2022-04-26 23:08] mShan0 commented on #923
Hi @DeltaRays, if you're still experiencing this problem, could you open a new issue? We can assist you from there.

[2022-04-29 15:12] DeltaRays commented on #923
I will, thanks!

[2022-04-29 18:09] DeltaRays commented on #923
I will, thanks! Should I make the issue in tediousjs/tedious or in tediousjs/node-mssql?

[2022-04-29 23:53] mShan0 commented on #923
You can open it under tediousjs/tedious

[2022-05-01 10:39] DeltaRays commented on #923
Okay, I was able to find a solution to the issue:
Changing the port from 1434 to 1433.
The worst thing was that only queries that were sent in quick succession or that required big chunks of data encountered issues, everything else was fine. Thanks anyways

[2022-05-02 00:38] gretchunkim commented on #799
I was getting the exact same error message and confirmed it wasn't TCP/IP issue. Mine turned out to be account user setting/policy issue on SQL. I've switced to another account assigned to SQL and it started to connect.

[2022-05-05 13:02] jcroma opened #1431 "[QUESTION] Execute simple SQL query on azure sql"
Hi there, I'm not sure if I'm configuring correctly my connection but I'm unable to execute simple script on my database.
Database on azure:
![image](https://user-images.githubusercontent.com/35994590/166928177-63ffbd7b-d9b9-42b2-8a8c-4f7ebd6d5d00.png)
Code:
[code]

and idk I'm getting error:
**RequestError: Invalid object name 'dbo.Logs'.**
any ideas what I'm doing wrong ?

[2022-05-05 17:26] mShan0 commented on #1431
Hi @jcroma, try moving your database option in your config into the option with the port, as shown here:

[code]
Hope this helps!

[2022-05-06 01:33] chriseaton commented on #1359
I encountered this recently on the newer versions of node - took a bunch of our CI/CD down. To mitigate we found we had to enable the legacy ssl support for the newer node version: `NODE_OPTIONS=--openssl-legacy-provider` or start node with the `--openssl-legacy-provider` argument.

[2022-05-06 03:17] ramses429 commented on #799
![image](https://user-images.githubusercontent.com/33917970/167060202-7e5c31c3-4e1e-450a-beb1-b902e001a646.png)
![image](https://user-images.githubusercontent.com/33917970/167060372-3c85ce8a-e339-4b98-aac8-a21b4b277717.png)
![image](https://user-images.githubusercontent.com/33917970/167060472-dabb7afc-ee40-4c54-b07a-9c27c352b0b1.png)
![image](https://user-images.githubusercontent.com/33917970/1670

[2022-05-06 03:17] ramses429 commented on #1120
![image](https://user-images.githubusercontent.com/33917970/167060202-7e5c31c3-4e1e-450a-beb1-b902e001a646.png)
![image](https://user-images.githubusercontent.com/33917970/167060372-3c85ce8a-e339-4b98-aac8-a21b4b277717.png)
![image](https://user-images.githubusercontent.com/33917970/167060472-dabb7afc-ee40-4c54-b07a-9c27c352b0b1.png)
![image](https://user-images.githubusercontent.com/33917970/1670

[2022-05-06 06:15] jcroma commented on #1431
Hello @mShan0 yes, it solved my issues, thanks for help :)

[2022-05-06 06:15] #1431 closed

[2022-05-07 16:06] jeffmcmahan commented on #782
I experience this issue if I take my dev machine offline to test error handling. It hangs and then the timeout kills the process no matter how I try to catch it.

[2022-05-09 12:10] nickpazfernande commented on #799
After several days with this problem, I found a blog that said to use the dynamic port. And it worked!!!
![Captura de pantalla 2022-05-09 090840](https://user-images.githubusercontent.com/31939425/167407003-602f84de-1c55-453c-8b5f-ac1c20b1153e.png)

[2022-05-18 04:24] Karsenh commented on #58
I'm getting this exact same issue - the working SQL query I copy over from SSMS and send through is returning different data than SSMS and sometimes nothing at all? It's using the correct db but acting as if it's not.

[2022-05-18 17:29] mShan0 commented on #58
Hi @Karsenh, can you open a new issue? We can assist you from there.

[2022-05-19 16:02] nihonjinboy85 commented on #1408
###UPDATE
Since refactoring my API to use `azure-active-directory-access-token` as mentioned in @jamesderrick 's workaround, I'm encountering a new issue. The token I'm creating through `@azure/identity` expires after 24 hours (all docs say 1 hour, but I've logged the `expiresOnTimestamp` prop on server startup and it's definitely 24 hours). The way I've configured my requests are such that the AP

[2022-05-19 19:59] MichaelSun90 commented on #968
Hi @irgijs and @jeremy-w , We have release the new error handling logic in version14.5. If you want, you can take a look.  Also, there are some associated doc provide under our Git IO page . The details can be checked here #1436. Close this for now, and if anything needed, you can open a new issue.

[2022-05-19 19:59] #968 closed

[2022-05-24 18:49] MichaelSun90 commented on #1408
Hi @nihonjinboy85 ,  I think you assumption is correct that existing connection pool is returned instead of a new one being created which causing that token update does not worked as you  expected.  In my opinion, close the exist pool, and open a new one will be a proper solution, but I am not an expert on connection pool. You can try post you question on [mssql side issue board](https://github.co

[2022-05-27 19:31] nihonjinboy85 commented on #1408
Thanks for confirming my assumptions, @MichaelSun90 . Yes, I've updated my API to now completely close the SQL connection, refresh the token, and then re-establish the connection whenever the token has expired and a new request is being processed. Also, I've lined up my next update in the queue which now utilizes `azure-active-directory-default` now that I've confirmed support with the `mssql` tea

[2022-06-01 16:57] MichaelSun90 commented on #1408
Thanks for let us know. I will close this one for now. If anything come up, we can either reopen this one or chat in a new issue.

[2022-06-01 16:57] #1408 closed

[2022-06-13 18:07] chriseaton opened #1445 "Upgrading to 14.6.0 breaks column metadata. "Unexpected token `COLMETADATA`""
**Software versions**
* Tedious: 14.6.0
* SQL Server: SQL Server 2016
* Node.js: 16.15.0

**Additional Libraries Used and Versions**
[chriseaton/rhino](https://github.com/chriseaton/rhino)

**Problem description**
As soon as we upgrade to 14.6.0, our tedious calls break with the following error:
[code]
When we force the version back to 14.5.0 the problem goes away. The release doesn't say anything

[2022-06-13 19:34] arthurschreiber commented on #1445
We refactored some internals to use `async`/`await`, and this might somehow be related to that. The `COLMETADATA` token should never be part of the `LOGIN7` response, so I think we're switching the state somewhere too early/too late.

@mShan0 Mind taking a look?

[2022-06-13 21:36] mShan0 commented on #1445
Hi @chriseaton, is it possible to provide any steps to reproduce this issue and the config options used? I'm struggling to reproduce this through both Rhino and Tedious.

[2022-06-13 22:17] chriseaton commented on #1445
I will try to come up with a quick script - stand by.

[2022-06-13 22:30] chriseaton commented on #1445
I can't reproduce it right away with `default` login... Where we were using it, we were using `ntlm`... I will need to setup something more advanced to get that going.

[2022-06-13 23:04] chriseaton commented on #1445
Alrighty - seems to be NTLM related. Here's the code I used. It works 100% on `default` auth, but switching to `ntlm` causes the error up above when the query is run (calls `execSql` under the hood).

We used the AdventureWorks (light) database bak from here: https://github.com/Microsoft/sql-server-samples/releases/download/adventureworks/AdventureWorks2016.bak

Under default it worked, when we gr

[2022-06-13 23:08] chriseaton commented on #1445
Also can confirm these settings have no bearing on experiencing the error (without them still happens):
[code]

[2022-06-13 23:45] mShan0 commented on #1445
Our refactor of the NTLM logic introduced a bug to Tedious. We are working on a fix now. Thanks for reporting, will keep you updated.

[2022-06-18 11:36] arthurschreiber commented on #1445
@chriseaton This should have been fixed by #1446, and should be part of `tedious@14.6.1`. It's not tagged with `latest` yet, so you have to install it via `npm install tedious@14.6.1` or `npm install 14.6.1@next`. Please let us know if this fixes the issue you encountered.

Thanks for the bug report! 🙇‍♂️

[2022-06-18 11:36] #1445 closed

[2022-06-18 16:07] arthurschreiber opened #1447 "Replace md4 implementation"
NTLM support requires the use of `md4` hashing. Unfortunately, never Node.js versions hide `md4` hashing behind an environment variable / command line flag.

Maybe we should think about using a different library to provide `md4` hashing? I'm not super happy about it, but the way `md4` is used in NTLM is not really a security issue I guess? I mean, if someone decides to use NTLM auth, I assume they

[2022-06-19 03:33] chriseaton commented on #1445
Confirmed - resolved thanks!

[2022-06-21 08:40] MartianH opened #1449 "[NODE v18] Failed to connect to {server} - socket hang up (code: ESOCKET)"
Everything works in Node v14 and v16 (haven't used v17 as it isn't LTS or a candidate for it). This issue seems to only pop up with the latest current v18.

### Actual behaviour:

[code]

### Configuration:

The connection is handled by `sequelize`.
[code]
I have tried passing recommended options but to no avail.

[code]

As previously mentioned: this works fine up to Node v16

### Software versio

[2022-06-21 17:13] mShan0 commented on #1447
I agree, will look into alternate libraries that can handle `md4` hashing.

[2022-06-21 19:26] MichaelSun90 commented on #1449
Hi @MartianH, I am not familiar with sequelize. Based on the information you provided, I just try to create a repo script:
[code]
This script connected without any problem. I am not sure if this script close to what your program does. If not, can you provide a bit more details on your program. Another thing that you can try is, see if connection works directly with just tedious with out sequelize.

[2022-06-22 07:08] MartianH commented on #1449
Greetings,

Connecting works just fine, it is when i send queries that the problem arise. I should have mentioned that I am using NestJS. Here is the `DatabaseModule`:

[code]

`AppModule` imports the `DatabaseModule`:

[code]

`AppService` is then inherited by two services who inject the relevant dependencies using `@Injectable`.
All raw queries follow the pattern of `SELECT {fields} from {table}

[2022-06-22 17:05] MichaelSun90 commented on #1449
Hi @MartianH  Thanks for the detail. By the way, have you try Node 16 with the latest version of Tedious - 14.6.1? If this combination works, then we can narrow the cause of the issue to Node 18 or support on tedious side for Node 18.

[2022-06-22 18:29] mShan0 commented on #1447
Two library candidates:

1. [js-md4](https://github.com/emn178/js-md4), library creator has created individual libraries for each hashing algorithm, many of which are widely used. However, there is no TypeScript support. Some of the owner's other hashing libraries have TypeScript support (e.g. [https://github.com/emn178/js-sha3/blob/master/index.d.ts](url)).

2. [hash-wasm](https://github.com/Dani

[2022-06-22 19:48] MartianH commented on #1449
Yes. Both 14.6.x and 14.5.x, as mentioned in the ticket. That said `sequelize@6.21.1` use an older version of tedios ([permalink](https://github.com/sequelize/sequelize/blob/cbdf73e9ee52ebebf92679b183ce95c760e914db/package.json#L123)).  So I tried the alpha verrsion that uses 14.4.x but to no avail. Here are the current relevant dependencies:

[code]

[2022-06-23 09:58] MartianH commented on #1449
I made a custom script to retrieve a table using `tedious: ^14.6.0`. Code in question (sensitive data omitted):

[code]

Works as intended in Node v14 and v16. But in Node v18:

[code]

[2022-06-23 19:36] arthurschreiber commented on #1449
This sounds very much like it's related to the OpenSSL 3.0 upgrade that happened in Node.js 17.

Can you try setting the `--openssl-legacy-provider` Node.js command line flag? In the meantime, I will see if we can improve our error reporting here to be a bit more user friendly.

[2022-06-23 21:15] MartianH commented on #1449
Reran aforementioned script with `node --openssl-legacy-provider query.js`  as requested. Response is much the same.

[code]

[2022-06-25 18:05] arthurschreiber commented on #1449
I assume the SQL Server is running on Windows? Which version of Windows is it running on? SQL Server on Windows shares the Windows level TLS settings (like supported TLS versions and supported ciphers).

The list of TLS ciphers in NodeJS is usually quite restrictive (which makes sense in general), but if you're connecting to a server that only supports these outdated TLS settings, you can manually

[2022-06-29 07:24] MartianH commented on #1449
Greetings,

Appologies for the late response. I will have to discuss this with the team to see what TLS cipher is the issue.

[2022-06-29 10:33] lpelicioli opened #1453 "Performance loss with queries that return a long list of rows"
**Question**

Hi,
is it possible that a query that returns a long list of rows could block/slow down program execution until the result is complete?
I ask this question because I have such a problem.
Is this a bug or is it a code mishandling problem on my part?

**Relevant Issues and Pull Requests**

[2022-06-29 10:40] arthurschreiber commented on #1453
This depends on a bunch of factors I think. What's your packet size you are using? Are you using a TLS connection?

Do you have a reproducible test case for this or are you at the start of investigating this?

[2022-06-29 11:02] lpelicioli commented on #1453
Thanks for the response.
I honestly have had the problem since Monday, in fact I even opened a request on [stackoverflow](https://stackoverflow.com/questions/72775215/express-js-how-to-allow-multiple-requests-to-be-executed-without-blocking-them).
It wasn't until last night that I began to think the problem was the library.
I did several tests that led me to isolate the problem to the code where I

[2022-06-29 12:12] lpelicioli commented on #1453
When the query is launched after a few minutes of activity visual studio code notifies me that an out of memory exception occurred

![immagine](https://user-images.githubusercontent.com/106080532/176432685-3b690050-c621-4757-9a36-d8ebc13a0d2f.png)

[2022-06-29 19:18] arthurschreiber commented on #1453
@lpelicioli Can you reproduce this consistently? We'd be happy to look into this, but it's extremely hard to do so without a reproducible test case.

Based on the code posted in your stackoverflow question, it looks like you're loading an extremely large resultset from the database and holding all of that data in memory. That's not going to work, independent of your use of `tedious` or any other d

[2022-06-29 20:26] #1447 closed

[2022-06-29 23:48] mShan0 commented on #1449
Tedious logs which cipher is being used for the TLS negotiation through debug. Can you add something like this to your custom script and run it using Node 16 to see the output? There should be a line that says `TLS negotiated (<cipher name>, <SSL/TLS version>)`.

[code]

[2022-06-30 07:04] lpelicioli commented on #1453
```Can you reproduce this consistently?```

I have to work on it. In the next comment I will send you the info to reproduce it.

```it looks like you're loading an extremely large resultset from the database and holding all of that data in memory. That's not going to work```

Yes you are right, I am loading about 157.099.449 rows. With this structure

![immagine](https://user-images.githubusercont

[2022-06-30 11:08] lpelicioli commented on #1453
Done.
Here you can find the test for reproduce it.
https://github.com/lpelicioli/TestTedious

[2022-06-30 15:19] hassaananjum commented on #415
Hello, any update on this feature or any workaround I can use, I desperately need this feature.

[2022-06-30 19:45] arthurschreiber commented on #1453
Thanks for providing the test case. Before I try to reproduce this locally, let's take a step back.

You mentioned that you're loading 157.099.449 rows.

For the table structure you specified, here's the number of bytes per column per row (if all the columns are non-null):

* `ID`: 4 byte
* `AppID`: 1 byte
* `DateTime`: 8 byte
* `Type`: 1 byte
* `SubType`: 1 byte
* `MachineID`: 2 byte
* `AppEventI

[2022-06-30 19:48] MichaelSun90 commented on #415
Hi @hassaananjum , just did some research on this. The support for windows integrated authentication was added into tedious version 2.1.0. But got removed due to some conflict with Azure support within #635 . Not sure if you want to try an older version of tedious - 2.1.0 that has this feature?  This is not ideal but may resolve you need for this feature for now.

[2022-07-01 08:15] Teengamer37 opened #1454 "Error: Requests can only be made in the LoggedIn state, not the Connecting state"
When I'm trying to connect, the connection works fine. When I make a request and send an SQL command, it will generate this error.

I'm using the latest version of Node.js and tedious. I also temporarly disable the firewall for this issue. The server is on a local machine in my network.

script.js

[code]

In the requestSql() function, I have copied the sample code on the documentation page

[2022-07-01 09:20] lpelicioli commented on #1453
```You can't hold multiple gigabytes data in memory in Node.js, and attempting to turn that into a JSON string would again require at least a multiple of that in terms of memory just to hold the resulting string data.```

I agree. Most likely the fact that I save the data in json format accentuates the problem. and the out of memory exception is caused by this error on my part.
As soon as I find t

[2022-07-01 10:03] lpelicioli commented on #1454
I think that you must move the request function:
[code]

[2022-07-03 15:11] arthurschreiber opened #1456 "Improving timeout and cancellation behaviour"
### Context

`tedious` supports various forms of timeouts and cancellation behaviours:

* There's a connection level `connectTimeout` option that allows timing out the connection attempt if the connection does not get established after a specific amount of time. Such a timeout leads to the connection attempt to fail.
* There's a connection level `requestTimeout` option that allows timing out a `Re

[2022-07-04 07:55] MartianH commented on #1449
Greetings, this is what was returned

[code]

With Node 18

[code]

[2022-07-04 12:01] arthurschreiber commented on #1449
`ECDHE-RSA-AES256-SHA384` is a fairly recent cipher, and should be enabled in Node 18. 🤔

It's also available in my environment:

[code]

[2022-07-05 06:57] MowglyOrizon opened #1458 "Correct Row count returned, but rows is an empty array"
As per the title, the row count being returned is 1 but the row array being returned is empty
`SELECT` statements work fine, but on `INSERT` statements there is no row.
Here is my code:
[code]

the console logs:
[code]
the console log from the `row` callback is never fired

I need the response for an insert statement
Again, this works correctly when the request is a select, only the insert is a pr

[2022-07-05 17:06] arthurschreiber commented on #1458
I think this is not a bug in `tedious`, but a misunderstanding on your side. 🤔

`INSERT` statements don't return any data, unless you use [the `OUTPUT` clause](https://docs.microsoft.com/en-us/sql/t-sql/queries/output-clause-transact-sql?view=sql-server-ver16). If you don't use the `OUTPUT` clause, you only get the number of rows inserted and that's it.

[2022-07-07 06:31] MowglyOrizon commented on #1458
Thank you @arthurschreiber you were correct- the bug was between the keyboard and the chair

[2022-07-07 06:37] #1458 closed

[2022-07-07 09:32] MartianH commented on #1449
Node 16

[code]

Node 18

[code]

`ECDHE-RSA-AES256-SHA384` is available in both instances.

[2022-07-07 10:55] MartianH commented on #1449
Node 18

[code]

Not that different.

[2022-07-07 11:09] arthurschreiber commented on #1449
Are you sure you are providing `NODE_DEBUG` correctly? E.g. `NODE_DEBUG=tls node ...`

You should see output like this:

[code]

[2022-07-11 16:36] pavansandeep2910 opened #1465 "any limit on the records fetching?"
Is there any limit on the number of records that we can fetch?

[2022-07-11 17:25] mShan0 commented on #1465
Hi @pavansandeep2910, did you have a specific scenario in mind that you wanted to know the limits about?

Here is a Microsoft doc with the limitations of SQL Server and the maximum capacity specs in different cases:
[https://docs.microsoft.com/en-us/sql/sql-server/maximum-capacity-specifications-for-sql-server?view=sql-server-ver16](https://docs.microsoft.com/en-us/sql/sql-server/maximum-capacity-

[2022-07-12 11:07] arthurschreiber opened #1467 "Add experimental `Temporal` support"
There's an [upcoming EcmaScript specification](https://tc39.es/proposal-temporal/docs/) that adds better date and time handling support to JavaScript.

The functionality in this specification would allow us to greatly improve the support different date and time related data types.

Here's a list of SQL Server data types and the corresponding types from the temporal spec that they should map to/fro

[2022-07-13 09:09] arthurschreiber opened #1468 "Replace `JSBI` with native `BigInt`"
We used JSBI as a polyfill for `BigInt` on older Node.js versions. All versions of Node.js that we currently support also support `BigInt` out-of-the box, so we can drop the dependency on that.

[2022-07-13 09:24] arthurschreiber commented on #1467
Here's some information on how to convert `Temporal` objects back into `Date` objects: https://tc39.es/proposal-temporal/docs/cookbook.html#temporal-types--legacy-date

[2022-07-13 10:59] Teengamer37 commented on #1454
Sorry for late response. Thanks for the answer, it worked.

[2022-07-13 10:59] #1454 closed

[2022-07-14 11:40] hassaananjum commented on #415
Hey guys, I still have no luck solving this issue, really need a solution, based on the discussions above and the code by @tvrprasad and @Suraiya-Hameed I tried to create something in the latest tedious build here https://github.com/hassaananjum/tedious/tree/integrated-auth-with-sspi-client, but it doesn't seem to work, I get the login failed issue. Anyone have any ideas what might be wrong?

Unfo

[2022-07-19 17:18] MichaelSun90 commented on #1468
Hi @arthurschreiber , I am current working on this, and had already replace the places that uses JSBI with BigInt. Found something with in  writable-tracking-buffer.ts:
[code]
I move the functions a bit, so this group function can be compared together. For writeInt64LE, it calls writeBigInt64LE which calls writeBigU_Int64LE. Is there a specific reason that we cannot directly call writeBigU_Int64LE

[2022-07-19 17:20] arthurschreiber commented on #1468
I think you can remove those / clean them up. The Buffer class in Nodejs provides int64 read and write methods now.

[2022-07-26 22:15] mShan0 commented on #1465
Closing due to inactivity

[2022-07-26 22:15] #1465 closed

[2022-07-28 11:52] MartianH commented on #1449
[code]

The logs after `NODE_DEBUG=tls node query.js`

[2022-07-28 23:26] jsimonweb commented on #1388
Checking back in on this issue.. any updates?

[2022-08-02 17:16] Nedlinin commented on #1449
Just chiming in to say I have the exact same issue as @MartianH.

Server:
	  SQL Server 2014 (12.0.5223.6)
	  Windows Server 2012R2

Works great in Node 16 but upgrading to Node 18 causes the exact same failure as posted above.

[code]

[2022-08-04 20:57] MichaelSun90 commented on #1388
Hi @jsimonweb, I just raised a PR #1476, can you give it a try, see if this solve the your issue?

[2022-08-08 17:22] coreybutler commented on #1246
I think there is greater demand for this than may be apparent. I consistently hear things like "if Deno supported SQL Server, I'd drop Node for Deno right now". The challenge is many people in the Deno community don't think to look for "tedious"... they think to look for "mssql" or just "sql server". They simply aren't aware there is a project like this one, so you won't hear from them.

Anyhow, I

[2022-08-08 18:16] mShan0 commented on #1449
This may be an issue with Node 18 defaulting to TLS 1.3 which is not yet supported by Tedious.

The latest version of Tedious makes the default version TLS 1.2. See if that works for you.
You can also set the default TLS version through your config like this (you don't have to do this with Tedious 15.0.1):
[code]

[2022-08-08 18:29] josh-hemphill commented on #1246
ESM.js does a lot of automatic conversions if you import from there, but it can't polyfill Node's `child_process` module which is where it gets hung up right now.
Deno's FFI is really solid now. I wonder if in the meantime it would be possible to use system libs (.dll/.so) to access ODBC connections.

[2022-08-08 18:35] Nedlinin commented on #1449
@mShan0 : In my case I'm already at 15.0.1; I went ahead and tested adding this option just to be sure and it was the same story.

[2022-08-10 04:49] josh-hemphill commented on #1246
I just explored using `denoify` to create builds for Deno from the existing codebase.
You can check it out on my fork: https://github.com/josh-hemphill/tedious/tree/deno-testing
There's still a couple of libraries/ployfills that are missing a few properties, but I think that's all not too hard to overcome.
Though there's a lot of incompatibility in some of the older or deprecated Node APIs. I thin

[2022-08-14 13:28] hosseinmd commented on #1067
Has anything been done about this? This is so simple to do.

[2022-08-16 06:58] samlof commented on #487
I get error `Invalid column type from bcp client for colid` when trying to send geometry types with bulk load. It tries to use varbinary which bcp protocol doesn't seem to like. Think it's related to this same UDT parameters. I'm using through mssql

[2022-08-17 16:52] MichaelSun90 commented on #487
Hi @samlof, Thanks for bring this one up.  If you go to the "Other Data Types" table, under parameter column of UDT's row, you can see it is marked as "-". Maybe you missed this part. We are also looking into better support these types like what Arthur mentioned in #678.

[2022-08-17 20:21] #1468 closed

[2022-08-22 18:28] MichaelSun90 commented on #1067
Hi @hosseinmd , @fxalgrain , I think for the latest version of tedious, it does not depend on the public types from @types/tedious": "4.0.0" anymore. Can you guys give it a try, and see if that is the case?

@arthurschreiber , I think tedious do not count on any external types now, right?

[2022-08-22 19:03] fxalgrain commented on #1067
Hi @hosseinmd @MichaelSun90

I opened this ticket 2 years ago ^^. I m not an active user of tedious anymore.

But a quick look on master show me that now tedious has been written in Typescript. The NPMJS page of the package displays that @types/tedious still required.
It means that the package build does not include the types definition and/or the type property of the package.json is not good.

Wi

[2022-08-22 19:07] MichaelSun90 commented on #1067
Thanks for the feed back. Yes, we have notice the npm page have the type definition mentioned as required as well. However, I remember I have confirm this should not be the case, not sure whey npm page still record it like that. We have discuses this under another issue related to this.  Will try to figure out this , and see if we can do anything for the npm page.

[2022-08-23 01:47] tracker1 commented on #1246
@josh-hemphill I've been thinking that a wasm target, or ffi bridge library to a binary built with rust might be the shortest path...  Not sure how good the story is for that... would be nice to see some effort from MS on this, similar for a lot of the Azure client libraries at this point.

[2022-08-23 03:28] josh-hemphill commented on #1246
Yeah, I might look at that.
Deno recently said they're committing to making the Nodejs compat libraries cover most node packages, so we might eventually get the few remaining things resolved for using denoify, but there's still some incompatibility in the usage of deprecated APIs, so maybe a later version of Node may make this Deno compatible just by forcing the removal of deprecated APIs and movi

[2022-08-25 09:31] ygoyal25 commented on #1011
Hi,
Is there any plan to add the custom stream to use a proxy server for connection?

[2022-09-01 12:20] MuraliPagadalaColibri commented on #799
Ttrying to connect to sql server database, giving following below error, please help on this error.

ConnectionError: Failed to connect to "AWS SQL Server Database" - getaddrinfo ENOTFOUND datamigration.caqs7xymhuws.us-east-1.rds.amazonaws.com,15555
    at Connection.socketError (C:\Scraper\CEShop\node_modules\tedious\lib\connection.js:1399:28)
    at C:\Scraper\CEShop\node_modules\tedious\lib\con

[2022-09-01 16:04] mShan0 commented on #799
Hi @MuraliPagadalaColibri, can you open a new issue? We can help you from there.

[2022-09-02 08:46] grigorii-merck opened #1479 "Upgrading to 15.0.0 causes performance issues"
**Software versions**
* Tedious: 15.0.0
* SQL Server: Microsoft SQL Server 2017 (RTM-CU29-GDR) (KB5014553) - 14.0.3445.2 (X64)
	                May 29 2022 12:36:31
	                Copyright (C) 2017 Microsoft Corporation
	                Standard Edition (64-bit) on Windows Server 2016 Standard 10.0 <X64> (Build 14393: ) (Hypervisor)
* Node.js: 16.13.0

**Additional Libraries Used and Versions**

[2022-09-06 16:53] MichaelSun90 commented on #1479
Hi @grigorii-merck , Thanks for raising this up. We will definitely look into this. By the way, have you try to use tedious alone? Does it present the same performance change?

[2022-09-14 00:44] jsimonweb commented on #1388
I tested this PR but it does not appear to resolve the issue.

Here are the steps I used to test the PR.

### Added PR to package.json
$ npm install

$ nano package-lock.json

[code]

### Confirm that PR code is being used with npm list
$ npm list --depth=1

│ └── tedious@0.0.0-dev (git+ssh://git@github.com/tediousjs/tedious.git#838a8c118133ff45dbd29ea00f060d7aa227bb75)

### Code snippet (from mod

[2022-09-23 01:39] simonqiang commented on #447
is the community PR already merged ?

[2022-09-23 16:57] MichaelSun90 commented on #447
Hi @simonqiang , We have merged some major feature from the community PR, and released the feature in a beta branch. The code there is just for try our and testing purpose. We are still working on merging and testing the community PR and release the AE feature.

[2022-09-24 12:01] simonqiang commented on #447
@MichaelSun90  noted thanks. we will use the community PR first. currently having a project required always encrypted. hope this feature will be release soon. cheers ~

[2022-09-24 18:00] ephys commented on #678
This feature would be absolutely lovely. we're working on a full rewrite of our Data Types in Sequelize (https://github.com/sequelize/sequelize/pull/14505) and the current way Tedious represents some values in JS leads to unavoidable precision loss:

- `datetimeoffset` (and friends), and `time` are parsed as a JS Date which discards precision past the millisecond (precision 3, SQL server supports

[2022-09-29 19:22] Fuco1 commented on #1406
When I install your project to a typescript project, there is no typing.  The code installed from npm is javascript only, so the type declarations are missing.

[2022-09-29 21:06] MichaelSun90 commented on #1406
Hi @Fuco1, Thank you for bring this up. We are using babel to compile the typescript, and seems it does not handles the type declarations. For generate the declarations , tsc is needed.
Hi @arthurschreiber , did we not generate it for a purpose or is just because of using babel. For type declarations, should we want to set something for tsc to generate it?

[2022-10-04 11:34] komtalekar opened #1481 "Error: Timeout: Request failed to complete in 15000ms"
We have written code like below in App Module

[code]

Getting error when query takes more than 15s even if I set requestTimeout more the 15s

`[Nest] 25576   - 04/10/2022, 16:47:08   Error: Timeout: Request failed to complete in 15000ms +17427ms
QueryFailedError: Error: Timeout: Request failed to complete in 15000ms
    at new QueryFailedError (.....\node_modules\typeorm\error\QueryFailedError.js

[2022-10-04 23:23] MichaelSun90 commented on #1481
Hi, @komtalekar , Thanks for raising this. From your comment, I saw that you are mentioned version 6.7.1, which is a pretty old version of tedious. Could you double check whether this is the version that you on?  Is it possible for you to try a later version of our driver? The latest should be 15.1. Also, which version of SQL server are you trying to connect to? By the way, have you tried to use t

[2022-10-05 20:29] arthurschreiber commented on #1479
A lot of things have changed between v15 and v11, especially around packet handling and parsing, and I wouldn't be surprised if a performance regression was accidentally introduced. We do have some benchmarks that we use when developing tedious to make sure performance does not degrade, but sometimes things slip by. 😞

Do you have some more information about the requests you're sending, and the re

[2022-10-06 14:48] badigina-merck commented on #1479
@arthurschreiber

We get this issue for all requests, including simple login. In login request we only do

[code]

we have index on users table

[code]

[2022-10-07 16:16] erpramod commented on #1052
What about if someone tries with a windows login,?, Then how to do that? instead of using specific user login in the SQL server.

[2022-10-11 17:24] MichaelSun90 commented on #1052
Hi @erpramod , unfortunately, tedious does not support windows login yet. If you can only work with windows login then may be this comment can help you: https://github.com/tediousjs/node-mssql/issues/1270#issuecomment-878363118. We will also look into the window login support on our side as well.

[2022-10-12 18:50] sclewis23 commented on #1481
We are seeing similar issue with version 15.1....we are using this package with adonisjs.
Is there a easy way to use request.setTimeout(timeout) with adonisjs ?

[2022-10-14 00:57] samueldietrick opened #1482 "how can i connect using .NET standard"
I want to be able to use a string that comes from multiple databases dynamically, I tried using mssql library in nodejs and got results. How can I do it using tedious.

Example:

[code]

[2022-10-14 16:52] MichaelSun90 commented on #1482
Hi @samueldietrick , You can check our [doc](http://tediousjs.github.io/tedious/api-connection.html). There is a detailed explanation for how to use our connection configuration to forming a connection, and do requests. Also there are examples within our projects that you can check. They can be treated as template for start up a simple script with tedious.

[2022-10-16 00:36] ihqtim commented on #1449
Same issue here Microsoft SQL Server 2016 SP3 on on Windows Server 2012 R2 Standard. Node 18.10, tedious 14.7 (tested and found same issue on 15.10).

Setting options.encrypt = false does resolve the issue however this not an good workaround for obvious reasons.

[2022-10-16 16:40] arthurschreiber commented on #1479
Here's a super simple benchmark:

[code]

Running this on Node.js `v16.18.0`, against the current `master` branch of `tedious`:

[code]

Running the same benchmark against the `v11.8.0` release:

[code]

There's a slight variation between versions, but nothing too major that would explain the 15-30% of performance decrease you're describing. 🤔

Can you give me the row definitions of your users tab

[2022-10-16 16:50] arthurschreiber commented on #1479
Also, would you be so kind to try some of the other versions between `v11.8.0` and `v14.7.0` to pinpoint which release introduced the performance regression for you? 🙇‍♂️

[2022-10-18 01:03] MaddyTP opened #1483 "Socket Error: Connection lost - read ECONNRESET"
**Software versions**
* Tedious:  15.1.0
* SQL Server:   Azure SQL (SQL Server 12.0.2000.8)
* Node.js:   16.15.0

**Connection configuration**
[code]

**Problem description**
Error from socket happens several times each day causing app to restart.  Source seems to be TediousJS as it's the only library being used for the DB connections.  80% of the time the app is working as expected until these er

[2022-10-18 01:04] MaddyTP commented on #1483
#1277 appears to be similar.

[2022-10-18 16:51] MichaelSun90 commented on #1449
Hi @ihqtim , are you try to connect to a Azure data source? We recommended to set encrypt = true when try to connection to a Azure data source. If you have to work with a encrypted connection, you could try to either provide a certificate though options.cryptoCredentialsDetails or you can set options.trustServerCertificate. There is more details about these two options on [this page]( http://tedio

[2022-10-18 17:00] MichaelSun90 commented on #1483
Hi @MaddyTP, can you try to enable debug option on tedious side, so it can provide a bit more information on the communication between server and diver side? It may help us figure out what cause the connection lose.
Here is an example for enable debugging from tedious side:
[code]
Then add this event listener to output the debug messages:
[code]

[2022-10-18 17:05] MaddyTP commented on #1483
Debugging added to code, will update once the error occurs again.

[2022-10-18 17:12] MichaelSun90 commented on #1483
Thanks!

[2022-10-19 00:00] ihqtim commented on #1449
Hey @MichaelSun90, this specific DB server is not in Azure however our internal processes require all communication with DB servers be encrypted. Re option "options.trustServerCertificate" - yes, we already use this option (we needed this even with Node 16).

Tedious works fine when connecting to this DB server using Node 16, however in Node 18 (same codebase) tedious is unable to connect to the D

[2022-10-19 16:53] MaddyTP commented on #1483
Error seems to be a 10 second timeout with the TLS negotiation step:

[code]

[2022-10-19 18:28] arthurschreiber commented on #1483
The timeout seems to happen after the TLS negotiation has completed. We sent a `LOGIN7` message to the server, and then switch the connection to  the `SENT_LOGIN7_WITH_FEDAUTH` state.

In that state, we wait for a response from the server with additional login information (e.g. information required for the federated authentication scheme). Once that data is received, we make a request to the authe

[2022-10-19 18:32] arthurschreiber commented on #1449
I'm really at a loss here. _Something_ changed between Node.js 16 and Node.js 18 in the TLS handling, but it's not clear to me what changed and if this can even be fixed from the tediousjs side or if it requires a fix in Node.js itself.

Can you do me a favor and try and see if you can reproduce this in Node.js 17.0.0? If this is not broken in Node.js 17.0.0, can you try all other 17.x versions to

[2022-10-19 20:01] MaddyTP commented on #1483
Where would you suggest the extra logging be placed in the referenced function?

[2022-10-20 01:14] ihqtim commented on #1449
Hey @arthurschreiber,

I found a relatively simple way to reproduce using an AWS EC2 instance:
1. Create an EC2 instance from the standard "Quick Start" AMIs using "Microsoft Windows Server 2012 R2 with SQL Server 2016 Standard" (I used size c3.large)
2. RDP onto it and install desired node version for testing
3. Create a temp dir, e.g. C:\Tmp\ and copy the index.js below into the dir (** adjust t

[2022-10-20 13:27] lpelicioli commented on #1453
I honestly haven't had a chance to look at it anymore.
I noticed that I am not using the latest version and this might be the broblem.
I am closing the issue for the moment... if I get more concrete evidence I will reopen it.
Thank you

Luca

[2022-10-21 16:01] MaddyTP commented on #1483
Error is recurring several time per day and always after this step:

[code]

Recommended debugging doesn't reveal the source of the issue within the SENT_LOGIN7_WITH_FEDAUTH function.  Is there a way to enable additional bugging through Tedious?

[2022-10-21 21:03] arthurschreiber commented on #1449
<img width="1593" alt="Bildschirmfoto 2022-10-21 um 23 01 54" src="https://user-images.githubusercontent.com/2195/197288159-157e23ac-d2e5-43ad-8148-d72207abab63.png">

Looks like newer Node.js versions default to using TLS 1.2, but that's not supported by SQL Server 2012 R2 and earlier. Apparently, there are some registry changes that you can apply on the server to support TLS 1.2. But I'm also tr

[2022-10-21 21:08] arthurschreiber commented on #1449
[code]

That makes the TLS connection go a bit further, but then fail with:

[code]

[2022-10-22 14:01] arthurschreiber commented on #1449
Ok, I think I finally figured out what's going. 🙈

### TLS Signature Algorithms extensions

Some background information first. TLS has a client side extension that is part of the `Hello` message, called Signature Algorithms. That extension allows a client to specify what certificate signature algorithms it supports, and the TLS Server can then respond with a certificate that matches one of the all

[2022-10-22 16:56] arthurschreiber commented on #1449
Actually, I now found a way to workaround this, but I'd only use it if there's really no way to get a more secure certificate installed:

[code]

Any other security level higher than `0` does change the list of `sigalgs` that are sent by OpenSSL in a way that makes the TLS connection fail.

[2022-10-24 16:56] MichaelSun90 commented on #1483
Hi @MaddyTP,

From my example within the pervious comment, there is multiple debug options that you can enable from connection configuration.
Also, Here is a section from our git hub IO doc [here ](http://tediousjs.github.io/tedious/api-connection.html#event_debug)which explained each debug option and its function:
"options.debug.packet
A boolean, controlling whether debug events will be emitted w

[2022-10-24 17:30] MaddyTP commented on #1483
Debugging through Tedious was already performed, see previous comments.

[2022-10-24 17:49] MichaelSun90 commented on #1483
from you out put here, seems that you only enabled the minimal debug output that logs the state changes. If you can enable other debug options, you will got much more from the debug output.

Could you double check your configuration? we got to options for tedious connection configuration. On is for authentication specific, and one for general options. The debug options should be put under the gene

[2022-10-24 18:06] MaddyTP commented on #1483
Debugging was enabled for all options per your instrucution:

[code]

[2022-10-24 23:51] ihqtim commented on #1449
Great work, thanks @arthurschreiber, have confirmed that the suggested  `DEFAULT@SECLEVEL=0` value does work for us & also appreciate the advice to deploy a more secure cert onto the SQL server.

[2022-10-25 00:31] MaddyTP commented on #1483
Full message from process start to error with configs:

[code]

Logs:

[code]

[2022-10-25 07:18] MartianH commented on #1449
Greetings,

This seems to have finally fixed the issue.

[2022-10-27 18:09] AdamJohnSwan opened #1485 "Query never gets cancelled regardless of requestTimeout setting."
**Software versions**
* Tedious: 15.1.0
* SQL Server: Microsoft SQL Server Developer (64-bit) 15.0.2095.3
* Node.js: 6.17.0

**Additional Libraries Used and Versions**
My proof of concept only requires ts-node and tedious.

**Table schema**
No table schema for this.

**Connection configuration**
[code]

**Problem description**
Hello, I am running into a problem where a query will run forever regar

[2022-10-27 20:49] arthurschreiber commented on #1485
So, this one is a tough nut. `tedious` does not cancel requests after receiving the start of the response stream from the server. The reason for that is that we don't know what the client will do with the response and the received rows.

The SQL query you're executing starts immediately sending a response (I think `continue` causes a `DoneInProc` token to be send from the server to the client), so

[2022-10-27 21:17] arthurschreiber commented on #1483
My gut feeling is that it times out around here: https://github.com/tediousjs/tedious/blob/c7e3e3619dff75dc7258dee6ea9a0c161ecae449/src/connection.ts#L3444

[2022-10-28 14:05] AdamJohnSwan commented on #1485
Alright, I tried implementing it like so:

[code]

Seems to work fine.

[2022-10-28 14:08] AdamJohnSwan commented on #1485
What is your opinion on adding an option for a maximum lifetime of a query to the connection settings? Or adding a TSDoc comment about this somewhere.

[2022-10-29 10:36] arthurschreiber commented on #1485
@AdamJohnSwan Yeah, we definitely need to call out that the `requestTimeout` on both the connection as well as on individual requests is only for the "request" part of things, as soon as we get a response, the timeout is cleared.

Would you be open to provide a pull request for that?

Long term, I want to replace the timeout options with `AbortSignal` handling instead. That way, the client can han

[2022-10-31 14:13] AdamJohnSwan commented on #1485
Yea I can put a PR together.

[2022-11-01 01:29] dhensby commented on #1482
The [connection-string](https://github.com/tediousjs/connection-string) library is your friend.

[2022-11-02 10:31] IlCallo commented on #1067
I can confirm types aren't exported by this package
You have not set any `types` field in the package.json
At a glance, I could not locate where you generate types, so I guess you don't
Usually types are generated via `tsc --declaration`, but you're building the project using Babel, so types are just not produced

[2022-11-02 10:37] IlCallo opened #1489 "[FEATURE REQUEST] Export first-party TS declarations"
**Is your feature request related to a problem? If so, please give a short summary of the problem and how the feature would resolve it**
The package cannot be used with first-party TS declarations

**Describe the preferred solution**
The package is written in TS, type declarations should be generated at build time and exposed via `types` property
You should add `tsc --declaration --emitDeclaration

[2022-11-02 16:48] MichaelSun90 commented on #1489
Hi @IlCallo,Thanks for bring this up. Actually I have a [comment ](https://github.com/tediousjs/tedious/issues/1406#issuecomment-1262815707)in another issue explained the cause why we do not have the type declaration release with the project at the first place. We are looking into generate type declaration and replace the outdated one.

[2022-11-02 17:52] IlCallo commented on #1489
Yeah, I got that, I was providing you the solution, check this out: https://github.com/tediousjs/tedious/pull/1490

[2022-11-07 17:50] birla commented on #1021
The authentication works, I haven't tested it in long durations/stress. I'd also like to see evidence that it slows down to node app.

[2022-11-09 18:58] Alejandro742 opened #1497 "npm start fails with tedious"
**Software versions**
* Tedious: ^15.1.1
* SQL Server: Microsoft SQL Server 2019
* Node.js: v14.13.0
* npm: 6.14.8
* ubuntu: 16.04.7 LTS

**Additional Libraries Used and Versions**
* mssql: ^9.0.1

**Connection configuration**
`
const sqlConfig = {
  user: process.env.USER,
  password: process.env.PASS,
  database: process.env.DB,
  server: process.env.HOST,
  pool: {
    max: 10,
    min: 0,

[2022-11-09 20:40] MichaelSun90 commented on #1497
Thanks for the information, we will see if we can reproduce the behavior.  Seems that the environment does not recognize the nullish coalescing operator(??) used in the code.

[2022-11-09 20:44] Alejandro742 commented on #1497
@MichaelSun90 exactly, I think the same. I downgrade mssql from 9.0.1 to 8.1.4 and it works

[2022-11-09 20:46] #1497 closed

[2022-11-20 10:43] MrBlackBrain opened #1500 "Sequelize & Azure SQL Encrypt Error"
**Software versions**
* Tedious: 15.1.2
* SQL Server: Azure SQL Single Database
* Node.js: 16.18.1 & 18

**Additional Libraries Used and Versions**

* Sequelize:  6.25.7

**Table schema**

No schema for this issue.
**Connection configuration**
`
const sequelize = new Sequelize(dbConfig.DB, dbConfig.USER, dbConfig.PASSWORD, {
	host: dbConfig.HOST,
	dialect: 'mssql',
	logging: false,
	dialectOptions

[2022-11-20 21:22] arthurschreiber commented on #1500
The default value for `encrypt` is `true`:

https://github.com/tediousjs/tedious/blob/e43e9c912d05f1d9a359960a02afafb118f30a6f/src/connection.ts#L1246

Tedious just uses the value passed in from the client, as long as it's not `undefined` and a `boolean` value:

https://github.com/tediousjs/tedious/blob/e43e9c912d05f1d9a359960a02afafb118f30a6f/src/connection.ts#L1483-L1489

It is passed to the pre

[2022-11-23 14:05] gautam-taygo opened #1502 "Support for Impersonation of an User using "Execute As"?"
**Question**
I am bit curious on "Users without login" feature provided by SQL server. Currently we have a single DB user that we user via a Pool to connect and query database. The Application level logins/users are completely separate. Due to obvious reasons, such as better auditing and visibility in database layer, I am planning to map application users to "Users without login" in the database l

[2022-11-23 14:50] arthurschreiber commented on #1502
I haven't tried this out, but I imagine that you can just run a `EXECUTE AS USER ...` statement before whatever statements you want to run as that user, and then switch back using `REVERT` whenever you want to get back to the original user - or never revert if you want to keep impersonating that user forever.

You're right that with connection pooling, things become a bit more complicated. I'm not

[2022-11-24 14:00] tobiasheldring commented on #1483
Can confirm we have the exact same issue and behaviour with a Azure SQL Database, Node 16.17.1, Tedious 15.1.1

[2022-11-25 14:24] tobiasheldring commented on #1483
Found that one can successfully catch and handle the error, and avoiding the node process from crashing, by listening to the `error` event
[code]

[2022-11-27 12:02] MrBlackBrain commented on #1500
Issue was with "winston-sql-transport" library. Thaks for your effort

[2022-11-27 12:02] #1500 closed

[2022-11-30 18:18] trexshw commented on #678
Would be great if tedious can provide an option to allow column returning string.
The javascript precision problem is painful and even if we want to adopt an arbitrary-precision arithmetic library like BigNumber.js, it is not possible since the value retrieved from database is already losing precision.