[2017-10-28 08:33] arthurschreiber opened #636 "[Feedback] Tedious v2.1.0 release"
`tedious@2.1.0` was released to the `tedious@next` pre-release channel.

If you want to test this new version, you can install it via `npm install tedious@next` or `npm install tedious@2.1.0`.

We plan to keep this new release in the `next` channel for at least a week, to gather feedback and gain confidence, before releasing this version to the `latest` channel. Please let us know if you run into

[2017-10-28 08:40] arthurschreiber commented on #636
As we already know that deployments to Azure for applications using `tedious@2.1.0` will fail, we will push a new version that fixes this shortly to the `next` release channel.

[2017-10-31 15:22] ferm10n commented on #610
@v-suhame Thank you very much! That did the trick.
It's interesting that it negotiates to use a cipher suite that isn't supported. Any idea why that happens?

[2017-10-31 17:07] v-suhame commented on #610
Yes, it is weird! I couldn't dig much as it was taken care by the `tls` package and SQL Server, nothing to do with Tedious directly.

[2017-10-31 18:34] v-suhame commented on #610
Thanks for testing @ferm10n the solution, I'll close this issue :)

[2017-10-31 18:34] #610 closed

[2017-10-31 18:46] eplowe commented on #610
This worked for me! Thank you!

On Thu, Oct 26, 2017 at 5:56 PM Suraiya Hameed <notifications@github.com>
wrote:

[2017-11-01 18:16] v-suhame commented on #632
@andrewsensus Thanks for the detailed repro steps 👍 [ `errorMessage`](http://tediousjs.github.io/tedious/api-connection.html#event_errorMessage) event is emitted for all Server Errors.
For the scenario you described, `errorMessage` will be emitted before `prepared`, application should listen to it and decide on how to handle further listeners.
That would be the generic solution to handle Server er

[2017-11-01 18:42] andrewsensus commented on #632
@v-suhame so far my application has avoided handling connection events. It handles calls to the request callback and events emitted by the request but leaves tedious-connection-pool to handle connection events. Perhaps I need to look into that.
How do you feel about the pull request to avoid emitting a 'prepared' event when the prepare wasn't successful?

[2017-11-01 19:56] v-suhame commented on #632
I'm skeptical about that, driver already has a generic way to handle error, it would be inconvenient to handle individual cases.
Do look into tedious-connection-pool and let us know how that goes.

[2017-11-01 22:03] v-suhame commented on #512
@arthurschreiber I'm planning to work on Session Recovery aka Idle Connection Resiliency, wondering if there is any feature that should take precedence.

[2017-11-01 23:29] v-suhame commented on #300
@jpalo Can you test with `tedious@2.1.1`? It has the fix for intermittent failure :)

[2017-11-02 01:03] jdownhower commented on #636
Is there an issue with using Tedious on a table with more than 130 columns?  When Tedious 2.1.1 is being used via Sequelize, I am getting "RangeError: Maximum call stack size exceeded".

[2017-11-02 17:27] v-suhame commented on #636
@jdownhower Do you get RangeError with `tedious@2.0.1` too? or is it just with `tedious@2.1.1`? Can you share some detail on what operation is being performed? which API or function triggers this?

[2017-11-02 20:57] jdownhower commented on #636
@v-suhame I created an isolated test case and put it in this [repository](https://github.com/jdownhower/test-sequelize), so hopefully it is reproducible.  It also includes the detailed error ([output.txt](https://github.com/jdownhower/test-sequelize/blob/master/output.txt)).  Hope this is helpful.

[2017-11-03 19:10] v-suhame commented on #636
@jdownhower Thanks for the repo!
To sum up the issue, on reading a row with 130+ column, `RangeError: Maximum call stack size exceeded` is thrown.

This issue is due to nested callbacks in the driver, it is a known one (#512), @arthurschreiber was working on a fix, maybe he can give more details.

Workaround for now would be to decrease the packet-size of message, default packet size is `4 * 1024`

[2017-11-03 23:57] andrewsensus commented on #632
@v-suhame I tested this, and I don't see an [errorMessage](http://tediousjs.github.io/tedious/api-connection.html#event_errorMessage) event, but I do see an [error](http://tediousjs.github.io/tedious/api-connection.html#event_error) event. It should be possible for the application to hook into the error event on the connection.

It still leaves tedious emitting (sometimes multiple) prepared events

[2017-11-04 03:06] jdownhower commented on #636
@v-suhame Thank you!  I was able to use the Sequelize dialectOptions to pass the new packetSize value to Tedious as a workaround.

[2017-11-04 09:49] niwsa opened #638 "Date datatype does not work"
I am trying to input date columns with the value being set with below code snippet
`new Date('13-Sep-2005').toLocaleDateString({ timeZone: "Asia/Kolkata" })`
which should be stored in DB as YYYY-MM-DD format, but no matter what I try it gets stored as "0001-01-01".I am using Azure SQL DB.Appreciate any help.
PS: I tried the tedious latest build 2.1.1 but issue still exists

[2017-11-05 10:04] arthurschreiber commented on #636
@jdownhower As @v-suhame correctly said, the issue is with a recursive code path in the current TDS packet parser. We hope to tackle this issue in the future! 😄

[2017-11-05 10:04] arthurschreiber commented on #636
I just tagged `tedious@2.1.1` as `latest` to mark it as stable! 🎉

[2017-11-05 10:04] #636 closed

[2017-11-06 11:01] arthurschreiber commented on #625
This got closed by #628.

[2017-11-06 11:01] #625 closed

[2017-11-06 11:10] arthurschreiber commented on #625
@fer22f The fix for this was released in `tedious@2.1.2`. It's currently available via the `next` release tag - you can install it via `npm install tedious@next` or `npm install tedious@2.1.2`.

Please let me know if this version works for you, and I'll bump it to `latest` to mark it as stable! 😄

[2017-11-06 11:15] arthurschreiber commented on #638
Hey @niwsa,

thank you for reaching out to us! ❤️ Unfortunately, your bug report does not contain enough information for us to reproduce your issue. 😞 Could you provide a code snippet that shows how you try to insert this value into your database? This will allow us to better understand what is going wrong.

Thank you! 💖

[2017-11-06 12:48] MickelSierra85 opened #639 "SQL 2017 support"
Hi,
Is there an SQL 2017 support planned?

[2017-11-06 18:17] v-suhame commented on #639
@MickelSierra85 the driver does work with SQL Server 2017. Are referring to some specific feature in 2017?

[2017-11-07 02:09] arthurschreiber commented on #599
This was fixed by #600. `tedious@2.1.3` was released on the `next` channel containing the fix for this. You can install this version via `npm install tedious@2.1.3` or `npm install tedious@next`. Could you double check and let me know if that solves your problem?

[2017-11-07 02:09] #599 closed

[2017-11-07 07:49] MickelSierra85 commented on #639
Actually I haven't tried it, just read the spec.
I am interested in using JSON columns and MATCH queries.

[2017-11-07 17:58] v-suhame commented on #639
I haven't tested these features with `tedious`. But `MATCH` queries should work as the computation is done on Server side and client only accesses them via T-SQL.
Let us know the result if you get to test them 😃

[2017-11-07 18:31] v-suhame commented on #632
Thanks for trying that :) I haven't tested it by actually killing the SSH, so my recommendation was off, sorry.

Can you share the error message thrown in your [PR](https://github.com/tediousjs/tedious/pull/633/files#diff-aab1e3f14ac4fa89a7ece88d240d7a6eR18)?

In general, after `tedious` sends the SQL to prepare, the Server responds either with one of done packet (ie.., `DONE`/ `DONEPROC`/`DONEINP

[2017-11-07 22:45] andrewsensus commented on #632
With the change in the pull request in place, code like this:
[code]

results in output look this (logging configured to prefix lines with PID):
[code]

@v-suhame What would the application see if `tedious` hit the Timeout? An error event from the request (like in the PR)? A call to the request callback with an error?

How would the Timeout be configured? A new option passed to the `Connection` co

[2017-11-08 19:03] niwsa commented on #638
@arthurschreiber   Have found a workaround.
I was trying to bulk insert rows and one of the fields was a Date datatype as shown below
[code]

On changing the addColumn to TYPES.VarChar the date field was properly inserted.

[2017-11-08 19:03] #638 closed

[2017-11-08 20:21] Iiridayn commented on #515
Getting this today since I just updated our systems to node 8.9.0 lts. I've got two heavy projects right now, but if they both ease up, I'll see if I can spare some time to fixing this.

[2017-11-08 20:50] v-suhame commented on #632
For Timeout, driver throws `RequestError: Timeout: Request failed to complete in <value>ms` , since we are getting `ECONNRESET`, which is a valid error, we can throw the same.

Can you update your PR to throw an instance of `RequestError`, you can use errors thrown in `request.js` as reference. And also, lets have the condition to check error at the beginning, like
[code]

[2017-11-08 23:44] v-suhame commented on #639
`JSON` data must be accessible via `tedious`, as that too doesn't need any new additions to driver. I'll close this issue, feel free to open it if you have questions.

[2017-11-08 23:44] #639 closed

[2017-11-08 23:55] v-suhame commented on #592
Closing this issue as it has been inactive. Feel free to reopen if you still encounter it :)

[2017-11-08 23:55] #592 closed

[2017-11-09 00:20] v-suhame commented on #515
@Iiridayn That would be awesome!
I did have a look at it, but couldn't figure out how to get the handshake packet from TLSSocket, stuck at same point as https://github.com/tediousjs/tedious/issues/515#issuecomment-283191248 :confused:
Would love to hear if you have ideas on that.

[2017-11-10 05:49] #631 closed

[2017-11-19 21:16] Jorgeee1 commented on #515
Any progress on that? I'm facing the same issue trying to connect to Azure, just if it helps.
I would be grateful if someone explained quickly to me what is the consequence of running an app while this is deprecated, the SQL queries I request aren't executed and I need to know if this is the cause, but the texts on this I've read aren't very eloquent.

Thank you in advance.

[2017-11-21 17:58] v-suhame commented on #300
Fixed by #574. Closing this issue. Feel free to open it if you face this issue with version >= `tedious@2.1.1`.

[2017-11-22 22:23] #183 closed

[2017-11-27 07:15] 00111000 opened #654 "How to use the MORE flag in doneInProc or done"
This is what I am doing at the moment:

[code]

But I have three rows in my table and only TWO get appended to `arr` (however all THREE arrive), in the docs it says that if `more = true`, then "there are more result sets to come".

So I tried:

[code]

But it just loop for-ever, how should I use the `more` flag to wait for the last of my data to arrrive?

Thank you.

[2017-11-28 07:52] #438 closed

[2017-11-30 04:02] spacem opened #655 "Failed to connect to local sqlexpress - but can connect in management studio"
I had this happen a while ago but enabling tcp/ip seemed to fix it but now I cannot connect again and I cant figure out why. Tcp seems to be enabled in configuration manager. Please am I doing something wrong?

As a feature request it would be good to have better feedback if we are doing this wrong or if possible to make tedious use the same logic to connect as sql-server management studio.

This

[2017-11-30 18:02] GuyHarwood opened #656 "Best practices for connection lifetime"
We have a fairly large node project, and are migrating from MongoDB/Cosmos to SQL Azure.

Most of the tedious examples open a single connection, run all of the example SQL commands and the connection is closed before the app exits.  Nice and simple.

I am interested in understanding the best strategy for the connection Object lifetime in an express web application serving 10K+ users.

For example

[2017-11-30 18:08] tvrprasad commented on #656
Check out https://github.com/tediousjs/tedious-connection-pool

[2017-11-30 18:14] v-suhame commented on #655
The instance name to connect to. The SQL Server Browser service must be running on the database server, and UDP port 1444 on the database server must be reachable.

@spacem since you're using `options.instanceName`, can you double check the above conditions? If those are not satisfied, try using `options.port` instead.

`Failed to connect` is a generic error, you can notice almost similar messages

[2017-11-30 23:01] spacem commented on #655
Thanks so much - it was just the SQL Server Browser service was not started. I guess management studio must do some magic when connecting to localhost.

[2017-11-30 23:01] #655 closed

[2017-12-01 06:59] GuyHarwood commented on #656
@tvrprasad thanks.

So, typically within a data access component / service you would reference the pool file (which would look like the example in the link above, without the actual query) and then acquire a connection, perform data operations and release it back to the pool?

[2017-12-01 10:16] jhard commented on #515
@Jorgeee1 This is only a warning, it is unlikely to be the reason for your trouble. I am using tedious to connect to Azure DB, too, and it's working fine.

[2017-12-01 21:22] v-suhame commented on #656
Yes, that would be the right way to do it.

[2017-12-03 20:42] Jorgeee1 opened #657 "Callback function is called but the second query is not executed."
Hi everyone, I have had this problem for some days, and I think I'm missing something obvious but I can't see it... I know you can't execute a second query until the first one's callback is called. However, in my case, the callback is called but the second query is not executed.

[code]

I hope you can help me, thank you in advance and sorry if I'm missing something very obvious.

[2017-12-04 17:48] v-suhame commented on #657
That's right, but in the sample, second request is called before first request completes (i.e.. before first one's callback is called). It should be something like,
[code]

[2017-12-05 19:30] Jorgeee1 commented on #657
Okay, it was very obvious at the end, thank you very much.

[2017-12-05 19:30] #657 closed

[2017-12-12 19:05] realshaft opened #659 "unhandled error seperately when connecting with timeout"
I do have an issue with understanding this behaviour. Even if I listen in 'connected' to the error and cancel the connection, after a while (a minute or so, independent of the server timeout of 15s) the error event gets also called.

Qs:
- If I cancel the connection in 'connected', why is there still being a error sent?
- Where does the second timeout comes from? when can I get sure that all asnc

[2017-12-13 02:16] v-suhame commented on #659
Can you share the error you are getting in `connect` and `error` callback?

Connection is usually closed after  `error` event is emitted, and call to `cancel` is executed only if there is a `request` pending. So, calling `connection.cancel();` while checking for error in `connect` event would return false.

[2017-12-13 13:39] realshaft commented on #659
With the above code I do get this when the database is not reachable

in connection.on('connect'):
[code]
And as you can see after more than a minute I do get in connection.on('error') event as well:
[code]

[2017-12-14 11:39] RogerKang commented on #132
Meet same issue.

[2017-12-15 14:52] kevinkuszyk opened #660 "Windows authentication without username and password?"
Should windows auth be working without a username and password?  I can only make it work when my config looks like this:

[code]
After reading though the thread on #415, I got the impression it should?

Thanks!

[2017-12-15 18:57] Hadis-Fard commented on #660
@kevinkuszyk integrated authentication support #624 is implemented but has not been merged into master yet, stay tuned 😃

[2017-12-15 19:52] v-suhame commented on #415
Reopening this issue to track Windows integrated auth till it's made pluggable, more detail in https://github.com/tediousjs/tedious/commit/f5a2260f.

[2017-12-15 20:07] v-suhame commented on #660
Reopened #415

[2017-12-17 10:44] joux3 commented on #515
I wrote a quick proof of concept of replacing `createSecurePair` with `TLSSocket`+ a TCP server to get the raw handshake data. [You can take a look at it here](https://github.com/joux3/tedious/commit/182e4e0a2fdf4eb88bcb6bdd6ed60f69a4902974). The integration tests that I could run passed.

This is obviously not a real solution to the issue at hand (unless eating extra sockets etc is OK). This is m

[2017-12-18 09:18] kevinkuszyk commented on #660
Thanks for the quick reply.   Do you have an ETA for a release to npm?

In the meantime, how stable is it?  We don't need it for use in a production app - our use case is connecting to SQL to setup databases before we run our Angular e2e tests.  If it's reasonably stable and you're tuning performance that's good enough for us and I'll pull the latest from GitHub while we wait for an official relea

[2017-12-18 18:04] v-suhame commented on #660
Implementation for Windows integrated authentication is stable. It depends on `node-gyp` package and that in turn needs C++ tool chain and few other dependencies, we didn't want to force all existing users to install these dependencies. Moreover those dependencies are hard to install in Azure web app(not sure if its possible to install them!), that's the reason it's not in master.
PR #624 is almos

[2017-12-18 21:16] v-suhame commented on #515
@joux3 that's awesome 😃  Can you create a PR? It will be easier to review and discuss there.

[2017-12-18 21:25] pedritin91 opened #662 "Is there a way I get results of multiple table in store procedure in array-separated format?"
Thing is I have a store procedure with multiple select since I'm trying to move to Node JS platform, but the team ask me to keep philosophy of our softwares, which include to have multiple result set, let's say by context. Is there a way to achieve this??

[2017-12-19 19:57] tomipaul opened #663 "Feature: Support JSON data type"
Is there a plan to support JSON data type anytime soon?
Thanks

[2017-12-19 20:34] Iiridayn commented on #515
Heavy projects have not eased up, a third has been added, and we've migrated to MySQL as well. Sorry I won't be able to fix this one - best of luck to you :).

[2017-12-20 02:09] v-suhame commented on #662
SQL Server doesn't send tableName unless browse mode or sp_cursoropen is used, even if you decide to use them, tedious driver doesn't support tableName yet #410. You are welcome to contribute :)

`columnMetadata` event will be emitted before the first `row` event for any result set, it is true for multiple result sets too. Result sets received will be in same order as returned by SQL Server. So, y

[2017-12-20 19:18] nick9015 opened #666 "connection to sql server 2000 from mssql library and i cant set LEVEL SEVERITY"
Hi,

I am try to init connection to sql server 2000 from mssql library and i cant set LEVEL SEVERITY.

My config:

Helpme please?

Thank you

[2017-12-20 20:00] nick9015 commented on #666
Hi, thanks for you response. I need migrate multiples scripts(1000K).  I want simulate this(php script):

Thank you

[2017-12-20 21:08] v-suhame commented on #663
JSON data should work with the existing driver, without needing to change anything, as all changes are on Server side.
Data retrieved would be `NVarChar`, you just need to parse them into JSON.

[2017-12-21 07:48] Jorgeee1 opened #667 "Callback is not a function"
Hello,  I have this code which is mistaken somewhere (although I somehow can't spot it). The error is "TypeError: callback is not a function", I have tried many ways to solve it, but any of them has worked, I hope you can take a look at the code and help me.

[code]

Thank you very much in advance.

[2017-12-21 14:19] dashmug opened #668 "Version inconsistencies."
There seems to be an inconsistency between the versions in npm.

`npm outdated` yields...

[code]

Why is the `latest` still at 2.1.5 when we already have v2.2.3?

[2017-12-21 16:07] arthurschreiber commented on #668
Hey there! 👋

We have 2 release streams, `next` and `latest`. New versions are always released on `next` first, and then later also released on `stable`, once we don't hear about any issues.

I hope this explains the output you see via `npm outdated`. 🙇

[2017-12-21 16:07] #668 closed

[2017-12-21 17:28] arthurschreiber commented on #667
Heya @Jorgeee1!

On a first look, I don't see anything obviously wrong, but it's really hard to pinpoint the issue without the full error stacktrace and the full source file (so the reported error location can be correlated to the source).

Would you mind providing a bit more information here? 🙇

[2017-12-21 18:24] Jorgeee1 commented on #667
Thank you for your answer and sorry for the initial lack of information!
Here is the full error stacktrace:

[code]
I am using Meteor but I don't think it is a significant fact. Apart from what I've posted before, there is no more code except from strings defining connection and config, which are not related to the problem.

Thank you very much!

[2017-12-21 18:41] tvrprasad commented on #667
Is it possible that "callback" being passed here is not a function?

[2017-12-21 20:14] arthurschreiber commented on #666
If I'm understanding the PHP docs correctly, `mssql_min_message_severity` changes the MSSQL driver's settings to ignore informational messages below the given severity. 🤔

In `tedious`, these informational messages are exposed via the `info` callback on `Request` objects. If you don't intend on listening for this callback, there is nothing you need to do. Otherwise, the argument passed to the call

[2017-12-21 20:14] #666 closed

[2017-12-21 20:15] arthurschreiber commented on #667
I think @tvrprasad is right - It looks like the `callback` you're passing is not a valid function object.

[2017-12-21 20:19] arthurschreiber commented on #598
@konekred @jeremyklein Heya! 👋

Sorry to hear you're running into issues using `tedious`. 😞

I read through the issue description here, but I'm not quite sure what is going on here. The code you pasted does not look like it's using tedious directly, but some other library instead. To understand what's going on, it would be great if you could provide an example that uses tedious directly. 🙇

[2017-12-21 20:33] #632 closed

[2017-12-21 20:37] v-suhame commented on #626
@jpalo #574 must have fixed this issue. Feels free to reopen the issue if you notice intermittent failure with latest version of driver.

[2017-12-21 20:37] #626 closed

[2017-12-21 20:41] v-suhame commented on #589
Fixed in #637

[2017-12-21 20:41] #589 closed

[2017-12-22 00:09] z6tanker opened #669 "Returning empty rows"
Hi all! So I'm trying to get a specific post from a database based on a url request using express. It says it's returning one row but then the array is empty or is at least logging to console as "[]".

Thanks!

[code]

[2017-12-22 00:17] z6tanker commented on #669
After a little more research I was able to find that this was due to the option `                rowCollectionOnRequestCompletion: true` not being on but this returns an absolute mess of json, what would be the best way of making this data usable to a client?

[2017-12-23 11:57] WynneAnalytics commented on #604
Same issue here

[2017-12-28 19:08] #663 closed

[2017-12-28 19:19] v-suhame commented on #669
General structure of data returned is,

[code]

You just have to iterate through the `rows` and extract the data as per your need before sending it to client.

[2017-12-30 15:37] edelCustodio opened #671 "Requests can only be made in the LoggedIn state, not the SentLogin7WithStandardLogin state"
Hi guys!

When I initialize my Electron app, and I try to get some data from the database using Tedious, I don't know why but when I'm sending a query to the database, the connection is ok but when the Request is fired I'm getting an error:

Requests can only be made in the LoggedIn state, not the SentLogin7WithStandardLogin state

here my code:

` getDesktop: function (localAddress) {
        SQL

[2018-01-02 04:00] AL-X-dev opened #672 "Unavailable SQL_SERVER_BROWSER_PORT gets wrong error message"
The correct and informative error messages in "instance-lookup.js" are not getting delivered, because the catch-all error message 'Failed to connect to' from "connection.js" dominates.

It is clear that the dominating error message is not intended for my situation.  The message from "connection.js" makes an assumption that the "port" is known, when in fact the whole point of function "InstanceLook

[2018-01-02 18:15] v-suhame commented on #671
The failure is likely due to the way electron handles events. Running the code you shared without electron would works as expected without triggering error.

Quote from #604

[2018-01-02 18:36] edelCustodio commented on #671
thanks for your answer @v-suhame

so, any idea how can I solve this?

[2018-01-02 18:57] v-suhame commented on #671
I don't see any direct way to use Tedious with Electron. Tedious needs Node.js runtime, and Electron doesn't match that requirement.

[2018-01-02 23:01] pmacca commented on #68
For anyone arriving from Google like I did, you can resolve this error by using `options.instanceName` as per the docs http://tediousjs.github.io/tedious/api-connection.html#function_newConnection.

So the initial example would change to
[code]

[2018-01-03 08:49] yss14 commented on #603
Got the same problem, could you give me a hint? ;)

[2018-01-04 15:51] pedritin91 commented on #662
Testing request events I found that 'doneInProc' fires when it finishes to fetch a row set.

[2018-01-04 18:34] Hadis-Fard opened #673 "Add type checking for config options"
Some of the config options could be set to anything, there should be a type checking before passing it on to the connection. For example, [abortTransactionOnError](https://github.com/tediousjs/tedious/blob/master/src/connection.js#L113) is checked to be boolean and [ColumnReplacer ](https://github.com/tediousjs/tedious/blob/master/src/connection.js#L133) is checked to be function.

[2018-01-04 19:03] arthurschreiber commented on #673
👍 Yup, ideally we would type check all fields passed in by our users to conform to what we expect them to pass in. This is related, but orthogonal to the work of adding flow type annotations to the source.

[2018-01-05 14:33] Kannaj commented on #300
we're still seeing random connection resets on our end unfortunately.

the tedious version we're using is `v2.2.1` . so i dont believe the update has resolved the issue (at least for us)

We're using stored procedures to handle a majority of the SQL queries. some of these queries and INSERT statements and therefore dont return anything. in cases such as these , do we have to manually close the con

[2018-01-05 15:40] saostad commented on #515
Please fix it, it is important problem

[2018-01-05 17:45] v-suhame commented on #300
@Kannaj Even if your TSQL doesn't return anything, `Request` will emit either `done`, `doneInProc` or `doneProc` event, based on SQL query. You can use those events to close the connection. And, yes, your application has to decide when to close the connection and call `connection.close()` manually.

Regarding the connection reset issue, can you share more details? How is connection reset related t

[2018-01-05 19:02] arthurschreiber commented on #300
@Kannaj Hey there! 👋

I'm really sad to hear you're facing trouble with tedious. As @v-suhame mentioned, your issue description is unfortunately not enough for us to debug this. It'd be great if you could help us help you! 😄

* Which version of SQLServer do you connect to?
* How many requests does your application execute, and how often do you see connection resets?

* Do you have multiple process

[2018-01-05 21:41] jtmilne commented on #300
I used to get this error using Azure SQL Server, but solved it by implementing automatic retries for any requests that failed with a transient error (I keep retrying until my TTL of 1 min expires). Note: each time you call query or execute on a request a new connection is acquired from the pool so this should solve any problems with individual connections that are acting up. Here is the code I use

[2018-01-05 23:46] v-suhame commented on #300
@jtmilne Thanks for sharing the workaround 👍

@jtmilne @Kannaj Can you verify if the error occur only during idle connection (in the newer version of driver)? That would be of great help, we can rule out or consider idle connection resiliency based on it.

From MSDN doc for other Driver,

[2018-01-06 04:04] jtmilne commented on #300
@v-suhame Sorry but I wrote this fix 2 years ago so I don't remember the details of the errors.

[2018-01-06 06:15] tomipaul commented on #663
Thanks :)
And I'm sorry for replying late; was on vacation.

[2018-01-06 12:03] arthurschreiber commented on #515
Hey y'all,

let me give a quick update on the current status here. I understand that the deprecation message might be a nuisance, but it is not really a problem. `tls.createSecurePair` might be deprecated, but for the short- and medium-term future, it is not going to go anywhere. According to https://github.com/nodejs/node/pull/17882, it won't be removed soon.

Also, https://github.com/nodejs/node

[2018-01-06 12:31] addaleax commented on #515
@arthurschreiber Fwiw, I also just published that `DuplexPair` implementation at https://www.npmjs.com/package/duplexpair. I guess you could build a wrapper around that to have a `tls.createSecurePair()` lookalike pretty easily?

[2018-01-06 12:34] arthurschreiber commented on #515
@addaleax Sweet! ❤️ This is great and I'll see if I can hook this up and get us moved away from `tls.createSecurePair` sooner rather than later! Thank you so much! 🙇

[2018-01-06 18:38] #383 closed

[2018-01-08 00:40] moshekarmel1 commented on #603
@yss14 here's the story.

At first i went into the tedious source code and fixed it, but then I realized that my angular time library that I was using started displaying dates wrongly. Meaning for some reason, the browser/angularjs library was interpreting the Date correctly.

However there were situations in which I was exporting the dates to an Excel file, in those scenarios, direct from the bac

[2018-01-08 11:41] Kannaj commented on #300
Thanks for your prompt response guys

@v-suhame  - my thinking is that the connection is being reset by Sql because the connection still persists after the procedure is executed. heres' the structure of my SQL queries

[code]

Am i missing something out?

@arthurschreiber
 - Which version of SQLServer do you connect to?
12.0.2000.8

- How many requests does your application execute, and how often

[2018-01-09 11:34] mnboos opened #675 "Timezone is being ignored for datetimes"
Hi

I'm currently having the problem, that values of type datetime2 are returned as UTC, but the actual value has an offset of 1 hour (our timezone is Europe/Vienna (i.e. +1h)).

The value in the database is ```2017-09-12T10:33:00.190``` in timezone +1 (i.e. UTC time would be ```2017-09-12T09:33:00.190```.
However, tedious actually returns  ```2017-09-12T10:33:00.190Z``` which is ```2017-09-12T11:

[2018-01-10 07:41] arthurschreiber commented on #421
#677 will fix this.

[2018-01-10 08:32] arthurschreiber opened #678 "[RFC] Better Data Types"
inspired by issues like https://github.com/tediousjs/tedious/issues/608, https://github.com/tediousjs/tedious/issues/675, https://github.com/tediousjs/tedious/issues/487, https://github.com/tediousjs/tedious/issues/474, https://github.com/tediousjs/tedious/issues/163, https://github.com/tediousjs/tedious/issues/339 and comments made by @chdh over at https://github.com/tediousjs/tedious/pull/674, I

[2018-01-10 17:12] rossipedia commented on #678
(nitpick)
[code]
should probably be:
[code]
(carry on)

[2018-01-10 18:46] mhingston opened #679 "BulkLoad - Invalid column type from bcp client"
Tedious: 2.2.3
Node 9.3.0
Linux x64
SQL Server 2016 (SP1) (KB3182545) - 13.0.4001.0 (X64)

BulkLoad is failing when trying to insert into a column with type **nvarchar(max)**.

SQL:
[code]

JS:
[code]

Error Message:

[2018-01-10 19:10] arthurschreiber commented on #679
Hey there! 👋🏻

It looks like you’re passing an object `{ Body: '...' }` instead of a an array of values. Try changing it to `[ '...' ]` instead. 😊

[2018-01-10 19:26] mhingston commented on #679
Thanks @arthurschreiber, I was using [this reference](http://tediousjs.github.io/tedious/bulk-load.html) which uses an object. Do the docs need updating?

[2018-01-10 20:04] arthurschreiber commented on #679
Oh, maybe I’m wrong? I’m on my mobile right now, I’ll check again later or tomorrow. 😖

[2018-01-10 20:12] mhingston commented on #679
![screenshot_2018-01-10_20-08-34](https://user-images.githubusercontent.com/9764437/34793121-35c57874-f642-11e7-9f20-dc78e6f19648.png)
This is strange, but I'm still getting ''Invalid column type from bcp client for colid 1'', have tried using:

    bulkLoad.addRow({Body: '123'});
    bulkLoad.addRow(['123']);
    bulkLoad.addRow('123');

[2018-01-10 23:05] v-suhame commented on #679
The Error seems to be due to the `max` type used 😓 Running your code without max column (like Nvarchar (4000)) works just fine. I'll dig more into it.

[2018-01-11 01:18] v-suhame commented on #679
Since it is a max type, `length` option should be passed,
[code]
We should add that detail into github.io pages.

[2018-01-11 17:37] arthurschreiber commented on #679
[code]

I don't think passing `length: 'max'` is supported. It might work, but it's not intended to work. 😄 Try passing `length: Infinity` instead.

[2018-01-13 00:24] v-suhame commented on #679
Got it! Thanks for correcting me 😄

[2018-01-13 11:55] hellivan opened #683 "socketConnect event after connection timeout"
Node version: 8.7.0
Tedious version: 2.1.5

When connecting to a database, it is possible that a 'socketConnect' event is emitted even after the connection had already timed out. As a result we get a unhandled exception that crashes the whole node application:

[code]

The error can be reliably reproduced be setting the connectTimout to 1 ms.

A possible solution for this problem would be to check

[2018-01-13 11:56] hellivan commented on #683
#682 already provides a fix for this issue.

[2018-01-14 14:12] addaleax commented on #515
@arthurschreiber I think a patch for this could look as simple as this:

[code]

But this doesn’t seem to be tested as part of the regular test suite, so I’m not sure how to go about that…

[2018-01-15 19:09] joux3 commented on #515
I gave yet another shot at replacing SecurePair. The integration tests seem to be fine, tested on Node 9. https://github.com/joux3/tedious/commit/6d255fbdaa2f9afd388617e6e34815cae95292a0

However I have some observations (but maybe good enough to open a PR to discuss them?):
- Node.js 6 seems to totally crash on `Assertion failed: (uv__stream_fd(stream) >= 0), function uv_read_start, file ../deps/

[2018-01-17 04:04] Kannaj commented on #300
@v-suhame , @arthurschreiber - any idea about this? We currently out of solutions. :(

Any help or advice would be great

[2018-01-17 18:28] v-suhame commented on #300
@Kannaj Sorry for the delayed response. Is there any reason for not closing the connection after `Request` completes? If you're not reusing the connection, it is best to close it after use to release resources both in Server and Client side.
If you want the connection to stay open, maybe you can try https://github.com/tediousjs/tedious/issues/300#issuecomment-355672780 as temporary solution, till

[2018-01-17 20:13] jimmont commented on #515
@joux3 is your fork ready for use with Node 8--the current LTS release? and is it possibly to open a pull request? I'd like to see if it resolves an issue I have using it in conjunction with https://github.com/patriksimek/node-mssql/ thank you!

[2018-01-17 22:10] addaleax commented on #515
@joux3 Which test would that be? (I’m sorry, I’m not particularly familiar with this code base beyond what I’ve looked at for this issue)

[2018-01-19 11:37] LakMoore commented on #19
Comment out the
`connection.execSql(request);`
as it will probably be masking the true error (which in my case was bad credentials).

[2018-01-20 17:03] arthurschreiber commented on #683
A fix for this was just released as part of `tedious@2.2.4` (currently still tagged as `next`).

You can give it a try by doing `npm install tedious@2.2.4` or `npm install tedious@next`. Please let us know if you run into any issues.

If we don't hear back from you or anyone else regarding any issues with `tedious@2.2.4`, it will be tagged as `latest` soon! 👍

[2018-01-20 17:03] #683 closed

[2018-01-22 05:47] rahulkulmi opened #688 "Sequelize with MS SQL using tedious getting two same arrays in result."
I am using "tedious": "2.2.3" and "sequelize": "4.31.2" and call stored procedures.
Then i will getting response in array and inside that array i am getting two same array instant one array. So please fix this problem as soon as possible.

Here is the sample response

[code]

[2018-01-22 16:15] joux3 commented on #515
@addaleax, the failing test is https://github.com/tediousjs/tedious/blob/f5a0f95a5a522ad6a312170201b829e70c866976/test/integration/connection-retry-test.js#L73-L104
Disabling the timer's here: https://github.com/tediousjs/tedious/pull/689/files#diff-ed1dc3ba8a10a8fb4b18a528b35bad00.

@jimmont, I opened a pull request at https://github.com/tediousjs/tedious/pull/689 (looks like referencing the issu

[2018-01-22 18:11] v-suhame commented on #688
@rahulkulmi Can you share more details, so we can look into this issue? What is the DDL of stored procedure? What is the query/TSQL that `sequelize` sends? Are you able to directly reproduce it in `tedious` (without using `sequelize` )? It would be super helpful to track, if you can share a repo code based on `tedious`.

[2018-01-22 22:22] David-Engel opened #690 "Tedious Survey Results (May 2017 - Jan 2018)"
Here are the survey results from the Tedious survey which ran from May 2017 to January 2018.

### In what projects do you mostly use Node.js + SQL Server?

Order | Answer | Responses | Percent
-- | -- | -- | --
1 | Enterprise Projects | 20 | 41%
2 | Small-Medium Business Projects | 23 | 47%
3 | Personal Projects | 5 | 10%
4 | Prototyping only | 1 | 2%
  | **TOTAL** | **39** | **100.00%**

### What

[2018-01-23 01:21] sharpart555 commented on #675
I have same problem too.

I 'm using MSSQL 2012 and node-mssql 4.1.0

[2018-01-23 03:51] rahulkulmi commented on #688
@v-suhame  Thanks for quick reply
This is my stored procedures code for MS SQL database

[code]
And this is my sequelize code used inside the Node Express app.
[code]

[2018-01-23 09:17] mouthzipper commented on #447
any updates for this?

[2018-01-23 21:01] v-suhame commented on #688
Looks like `sequelize` is processing the data sent by `tedious` before returning it to the user.

This issue is not from tedious because, the format of data returned by tedious is quiet different than the one posted above(to start with tedious data has metadata info). The query you are using is a simple one that has been tested several times with tedious, I dint notice any repetition of row when q

[2018-01-23 21:28] arthurschreiber commented on #688
Hey @rahulkulmi,

I'm sorry to hear you're running into trouble with tedious. Unfortunately, as @v-suhame already pointed out, there is nothing we can do here to help you, unless you have a reproducible case for this issue that uses plain tedious, without sequelize on top. I hope you understand that we can't really help you out with issues that might stem from libraries other than tedious here. 😞

[2018-01-23 21:28] #688 closed

[2018-01-23 21:29] arthurschreiber commented on #679
@mhingston Heya! 👋 Just wanted to check whether you got this working and if this issue can be closed?

[2018-01-23 21:39] mhingston commented on #679
@arthurschreiber Yes, all working thanks. Both `Infinity and `'max'` worked.

[2018-01-23 21:39] #679 closed

[2018-01-24 03:56] rahulkulmi commented on #688
@v-suhame and @arthurschreiber
Thanks for reply.

[2018-01-24 22:57] v-suhame commented on #448
Servers with IDN works as it is with tedious 😄 `dns.lookup` already takes care of it.

[2018-01-26 07:49] arthurschreiber commented on #683
As we haven't heard back so far, I tagged `2.2.4` as `latest`:

[code]

[2018-01-28 16:48] arthurschreiber commented on #573
Yeah, that's pretty much it. As long as your node binary was built with FIPS support and you run node in FIPS mode, everything should be compliant. 😄

[2018-01-28 16:48] #573 closed

[2018-01-28 16:53] arthurschreiber commented on #544
@tvrprasad To your original question -  `tedious` does not use SHA-1 anywhere, really.

@ariskemper You're right, NTLM is pretty weak, but there is nothing we can do about it - strenghtening security is on the operators of the SQL Server instance a user might want to connect to, and if the only supported authentication mechanism is NTLM, there's nothing we can do in tedious to help in that situati

[2018-01-28 16:53] #544 closed

[2018-01-29 16:00] arthurschreiber commented on #690
@David-Engel Thank you SO MUCH for posting these! 👍 😍

[2018-01-29 16:02] arthurschreiber commented on #690
I got to say, I love that sole user that apparently uses `tedious` to connect to `mariadb`. 🤣

[2018-01-29 16:29] arthurschreiber commented on #667
Closing this due to inactivity. If you're still running into this issue, please let us know! 👍

[2018-01-29 16:29] #667 closed

[2018-01-29 17:02] arthurschreiber commented on #659
This was fixed via #682. 👍

[2018-01-29 17:02] #659 closed

[2018-01-29 17:07] David-Engel commented on #690
For the couple of users who responded that they would like connection pooling, I wonder if they know about https://github.com/tediousjs/tedious-connection-pool. I also wonder if that library is being kept up-to-date with the latest release of tedious. It looks pretty simple. Is that something we should contribute to? Or maybe integrate it into tedious? Just wondering...

[2018-01-29 18:02] v-suhame commented on #690
@David-Engel tedious-connection-pool is not actively maintained. There are packages in npm that allow connection pooling via tedious, for now it would be best to direct users to use them 🤔 [mssql](https://www.npmjs.com/package/mssql) and [sequelize](https://www.npmjs.com/package/sequelize)(ORM) are widely used ones.

[2018-01-29 19:31] dcherman commented on #656
@tvrprasad Are there any plans to upgrade the version of Tedious in use in that library?  I'm asking here because it looks like several people have filed issues and merge requests attempting to do so, but no one has responded.

[2018-01-30 12:04] rok-star opened #699 "Int comes as String in resulting rows"
Hi

Int values come as String in resulting rows. Is there any option for that or it is default behaviour?

here is one cell from rows:
`{ value: '1',
  metadata:
   { userType: 0,
     flags: 17,
     type: { id: 38, type: 'INTN', name: 'IntN', dataLengthLength: 1 },
     colName: 'type__id',
     collation: undefined,
     precision: undefined,
     scale: undefined,
     udtInfo: undefined,

[2018-01-30 12:05] wafaabbass commented on #458
Anyone please suggest, windows authentication mode is not working for nodejs2Sql connectivity.

[2018-01-30 13:04] arthurschreiber commented on #699
This happens on `bigint` columns, because 'bigint's can contain values outside of the range of JavaScript's `number` type.

There is a set of different libraries for javascript that allow you to work with these kinds of numbers, but the rest of your application needs to understand them as well.

Examples:

* https://www.npmjs.com/search?q=big+integer
* https://www.npmjs.com/search?q=big%20number

[2018-01-30 13:04] #699 closed

[2018-01-30 14:41] rok-star commented on #699
arthurschreiber, Thank you for quick response.

[2018-01-30 18:05] v-suhame commented on #458
@wafaabbass `tedious` doesn't support windows integrated authentication yet. We are working on it, you can track it in #415.

[2018-01-31 06:31] arthurschreiber commented on #656
@dcherman I'll try and take a look. I've not contributed to `tedious-connection-pool` before - and I'm not sure if I can actually release a new version.

[2018-01-31 13:12] megastef opened #701 "NPM warning: sprintf package is deprecated in favor of sprintf-js"
When installing tedious npm shows a warning:

[code]

Please update package.json to use sprintf-js.

[2018-01-31 18:18] arthurschreiber commented on #701
Thanks! Fixed via c22ed1866fafca127f7cf844f65b022380cfd7e9, will be part of the 2.3.2 release.

[2018-01-31 18:18] #701 closed

[2018-01-31 20:10] arthurschreiber commented on #576
I think #651 solved most of these, so I'm going to close this one! 👍 😄

[2018-01-31 20:10] #576 closed

[2018-02-01 14:23] arthurschreiber opened #702 "Better Contribution Guidelines"
Over in https://github.com/tediousjs/tedious/pull/693, @Hadis-Fard suggested we add a section on contribution guidelines to lower the barrier of contribution to tedious.

[2018-02-09 00:49] v-suhame commented on #448
IDN support added in #705.

[2018-02-09 00:49] #448 closed

[2018-02-09 15:36] kevinkuszyk commented on #415
@v-suhame what's the latest with this? Are you just waiting on #624?

Is there anything I can do to help get it moving?

[2018-02-09 17:21] v-suhame commented on #415
@kevinkuszyk Thanks for the offer to help 😃 Looping in @arthurschreiber to get latest update.

[2018-02-13 04:53] justy commented on #515
👍 To fixing this ASAP!

[2018-02-21 16:18] whiterabbitj opened #709 "Tedious query with multiple array elements"
Hello I am trying to insert multiple values onto my tedious query from an array. An make a coresponding amounts of calls to my sql server. However, I am not getting the required results.

In this version only the first value is getting parsed.

Could you please explain how should I insert different values from my array into the tedious query?

Someone suggested generating an XLM document and parsi

[2018-02-21 20:00] pablobvch commented on #458
Hey, everyone, I have the same problem.

debug:

Is it resolved yet? This is my code.

[code]

If I call willIGetArea and willIGetSymptom, all this works but, if I call it with willGetModifier, I have the same problem as well. Thanks a lot.

[2018-02-21 20:35] spanditcaa commented on #690
an offer to maintain:  https://github.com/tediousjs/tedious-connection-pool/issues/48

[2018-02-22 09:52] #709 closed

[2018-02-22 10:19] arthurschreiber commented on #709
Hey there! 👋

I guess the most straightforward solution would be to build the query string dynamically, and have a new parameter for each entry in your array.

The second option would be to use a TVP parameter, but that'd be a bit more advanced.

[2018-02-25 22:46] GeekyDeaks opened #711 "TimeoutError: ResourceRequest timed out"
Got an odd one that I'm looking for suggestions on how to diagnose. We have a node.js service running on an Azure Web App, which uses the following modules:

tedious version: 2.3.1
mssql version: 4.1.0
knex version: 0.14.4

Periodically, the live deployment on Azure suffers from the following scenario:

[code]

I captured the above on our staging environment, with only one instance of the backgrou

[2018-02-26 14:42] whiterabbitj commented on #709
very cocky... But solved it already adding a connection pool and let parameter in my loop.  thank you for an answer on closed issue though.

[2018-02-26 16:39] #711 closed

[2018-02-26 16:40] GeekyDeaks commented on #711
This appears to have been fixed with https://github.com/tgriesser/knex/pull/2450 - so it actually seems to be a pool issue.

[2018-03-05 09:41] npshubh opened #713 "Printing queries"
Can we print queries executed in tedious? I've executed a stored procedure and I want to print the executed statement.

[2018-03-05 23:31] v-suhame commented on #713
Hi @npshubh, all input/output parameters related to `Request` are stored as objects in tedious, there is no easy way to print the exact query(SQL passed by user + input/output parameters) sent to Server.

You can use SQL Server Profiler to capture all the queries sent. It works for on-premise SQL Server. This will be useful for debugging and monitoring, but if you are looking for something built-i

[2018-03-06 03:40] npshubh commented on #713
Thanks, @v-suhame for the reply. I want to observe some TVP queries. And I'm using MSSQL docker so unfortunately, I cant use profiler for the same. That's why I needed to print queries.

[2018-03-06 17:54] v-suhame commented on #713
Drivers (e.g. tedious) communicate with SQL Server using TDS protocol and not using T-SQL, so any attempt capture the exact query on client side will not work well. Only (messy) alternative I can think of is to enable debug logs (set `options.debug.data`), it prints the packets sent and its corresponding string value, it would be hard to decipher though 😕
You can also enable [extended events](http

[2018-03-07 03:36] npshubh commented on #713
Thanks @v-suhame for your help.

[2018-03-10 01:54] rcarubbi commented on #348
Someone solve this question with another approach?

[2018-03-12 00:39] x3r10n opened #715 "MSSQL Return data different from other tools"
I have a sql query that when is executed with tedious return the data twice as an array of array :

`[
    [
        {
            "Id": 1,
            "Page": 1
        },
        {
            "Id": 2,
            "Page": 2
        },
        {
            "Id": 5,
            "Page": 3
        }
    ],
    [
        {
            "Id": 1,
            "Page": 1
        },
        {
            "

[2018-03-12 14:45] x3r10n commented on #715
Should have read the documentation. the 1st array is my data the 2nd array is the the metadata.

[2018-03-12 14:45] #715 closed

[2018-03-14 03:16] rayswin commented on #515
Any progress on this one? It'll be good if we can get an update on this issue.

[2018-03-14 06:46] AnishGandhi15992 commented on #711
Any solution to this issue, This error is occurring every 3-4 days. I am losing my business due to this.

[2018-03-14 16:20] v-suhame commented on #515
Linking PR #689 for tracking.

[2018-03-14 16:39] v-suhame commented on #711
@AnishGandhi15992 If you are using an ORM or connection pool, can you confirm if it uses latest version of tedious driver? In certain cases, while tedious is waiting for Azure's response, the pool's internal timeout gets triggered and results in this error, can you verify if that's the case? That will help in finding the package where error originates.

[2018-03-15 19:00] SteveyPugs opened #718 "SQL 2016"
I am confused. Is it supported the readme says no but it does connect to 2016 with no issue? So I am curious to get a straight answer.

[2018-03-15 20:02] v-suhame commented on #718
Driver does works with SQL Server 2016, but its doesn't support features like Always Encrypted.

[2018-03-15 20:10] SteveyPugs commented on #718
Ok. Thanks for the answer @v-suhame. Much appreciated.

[2018-03-15 20:11] SteveyPugs commented on #718
Actually for future reference @v-suhame what about 2017? Same story?

[2018-03-15 20:42] SteveyPugs commented on #718
@v-suhame I know you also only list that one feature but is there a list of features it won't support beside the above? Let me know thanks.

[2018-03-15 21:40] v-suhame commented on #718
Yes, all the other [new features](https://docs.microsoft.com/en-us/sql/sql-server/what-s-new-in-sql-server-2016#sql-server-2016-database-engine) of SQL Server 2016 should work without any changes to the driver. Same goes for all the [new features](https://docs.microsoft.com/en-us/sql/sql-server/what-s-new-in-sql-server-2017#sql-server-2017-database-engine) in SQL Server 2017, they don't need chang

[2018-03-15 21:48] #718 closed

[2018-03-15 21:48] SteveyPugs commented on #718
Thanks!

[2018-03-15 21:50] SteveyPugs commented on #718
Just a note, if you guys don't mind can I do a pull request to have the docs update for this information?

[2018-03-15 21:55] v-suhame commented on #718
You are more than welcome to do that 👍

[2018-03-16 03:48] catcher-in-the-try commented on #711
Please reopen this issue - this is happening not just for me but apparently for many people.

[2018-03-16 03:50] catcher-in-the-try commented on #598
this is a bug in mssql/tedious described here
https://github.com/sequelize/sequelize/issues/8014

and fixed here
https://github.com/sequelize/sequelize/pull/8815

[2018-03-16 16:36] v-suhame commented on #711
@catcher-in-the-try We have #598 open to track `Request timeout`. Can you share a repo that uses tedious directly to produce this issue?

[2018-03-17 03:10] settinghead commented on #711
This is happening to me as well. Azure + MSSQL + `mssql` package.

[2018-03-17 16:17] sachinmishra007 commented on #655
Tedious Connect basically looking for the SQL Server Browser and  SQL Server Agent mode to be on with TCP Enabled optioned for the Protocols.

So if any of the service or port is disabled then It prompts for timeout exception

[2018-03-19 07:46] AnishGandhi15992 commented on #711
@v-suhame we are using connection pool and yes tedious version is latest

[2018-03-19 16:41] v-suhame commented on #711
@settinghead @AnishGandhi15992 As mentioned in the prior comments, can you guys confirm that error is not due to the connection pool's internal timeout being triggered while tedious is waiting for SQL Server's response?
Also, can you share the repo using tedious?

[2018-03-21 04:32] edelCustodio opened #720 "Async calls or multiple transactions in the same request."
Hi guys!

I have had a few issues trying to do multiple inserts statements with async ajax calls but id didn't work since when I tried to do the second call, they easily stuck for at least 2 seconds in order to at the end they send timeout exception.

After that, I tried send all my inserts statements in one request but I think I still don't understand very well about how tedious handle the transa

[2018-03-21 16:58] v-suhame commented on #720
Only one `Request` can be active per connection at any given point, calling multiple statements without waiting for the previous statement to complete could have caused the problem.

Can you share your code? I'll have a look.

Also, you can check #551, it might help.

[2018-03-29 14:02] AlexMesser opened #722 ""parameter.type.validate is not a function" when using "geometry" data type"
Hi! I am using node-mssql and trying to save column with geography data type. Node-mssql supports that type (`sql.Geography`) but tedious falls on `validateParameters() ` function.

This is what I trying:

[code]
with parameters:
[code]
tedious falls with `parameter.type.validate is not a function` error.

I put log before `const value = parameter.type.validate(parameter.value);` code:

[code]
as

[2018-03-29 17:24] v-suhame commented on #722
@AlexMesser tedious doesn't support geography data type, refer http://tediousjs.github.io/tedious/api-datatypes.html

As per node-mssql [doc ](https://github.com/tediousjs/node-mssql#geography-and-geometry),

It must be converting geography to some data type that tedious supports. Please raise this issue in [node-mssql](https://github.com/tediousjs/node-mssql/issues).

[2018-03-29 22:40] AlexMesser commented on #722
Thank you!

[2018-03-29 22:40] #722 closed

[2018-04-02 00:20] landondavidson commented on #590
We are having this exact problem using an azure database.  We can easily recreate the issue after about 4 hours of running an azure function on a 1 second timer.  Is there anything we can do to help?  This is a huge issue for us and we would love some kind of update on this issue.

[2018-04-02 11:28] heroboy opened #723 "VarChar encoding problem."
see this:
https://github.com/tediousjs/tedious/blob/c22ed1866fafca127f7cf844f65b022380cfd7e9/src/data-types/varchar.js#L55-L68

You use the ascii encoding,  is it incorrect?
I see you consider the encoding in `value-parser.js`.
So I find that the input parameter encoding is not correct, the select result is correct.

[2018-04-02 11:32] heroboy commented on #723
maybe relate to https://github.com/tediousjs/tedious/pull/113 , but it should use `iconv-lite` to encode string.

[2018-04-02 22:30] Hadis-Fard commented on #723
@heroboy varchar stores 1 byte (ascii) characters, there's an equivalent function in nvarchar datatype object  to handle the Unicode characters
https://github.com/tediousjs/tedious/blob/85d96fee8fd3c39b08513c64deff40f4141d9e62/src/data-types/nvarchar.js#L55-L62

If you have faced an issue with encoding would you please send a repo?

[2018-04-03 01:20] heroboy commented on #723
hi @Hadis-Fard,
Please try this:
[code]
The output is
[code]

I tried use buffer as the parameter value,but it didn't work. Becuase in `VarChar.prototype.validate` you convert it to string if it is not string. I changed it to
[code]
And the output would be
[code]
The `v3` become correct

[2018-04-03 01:35] heroboy commented on #723
And I don't understand what you mean about `varchar stores 1 byte (ascii) characters`. As I know varchar is a byte string, but I am not sure the encoding is depend on SQLServer's settings or client OS settings or something else. Maybe I guess SQLServer's codepage setting is used to convert varchar to nvarchar, otherwise the varchar is always a byte string, what it is is explained by the client sid

[2018-04-03 06:15] heroboy opened #724 "Integration test failed, because the string is localized"
https://github.com/tediousjs/tedious/blob/85d96fee8fd3c39b08513c64deff40f4141d9e62/test/integration/connection-test.js#L93-L96

On my machine, the 'failed' is '失败'

[2018-04-03 06:54] heroboy commented on #724
And this  failed.https://github.com/tediousjs/tedious/blob/85d96fee8fd3c39b08513c64deff40f4141d9e62/test/integration/pause-resume-test.js#L114

I see in the `request.pause()`, it finally calls `tokenStreamParser.pause()`, but not calls `messageTo.pause()`

[2018-04-03 14:50] RealNateB opened #725 "nvarchar(max) Issue with Proc Parameter"
When attempting to return nvarchar(max) from a stored proc, it limits to 4000.

Fixed issue in `nvarchar.js`, `resolveLength()` as shown below. I don't know your code base well enough to know if this breaks anything but for my purposes and my checking, it resolved the issue. I assume this would also apply to varchar(max).

I tried changing .maximumLength to "max" but there are some parts of the co

[2018-04-03 21:33] Hadis-Fard commented on #723
as it is mentioned in [MSDN](https://docs.microsoft.com/en-us/sql/t-sql/data-types/char-and-varchar-transact-sql) varchar/char is[ non-Unicode](https://www.asciitable.com/) string data, and [nvarchar/nchar](https://docs.microsoft.com/en-us/sql/t-sql/data-types/nchar-and-nvarchar-transact-sql) is unicode string data. so when you have a _Unicode string_ data you should use _nvarchar_.

Also we want

[2018-04-03 21:37] Hadis-Fard commented on #724
pause-resume-test failure is  an intermittent known issue when you connect to remote server.

connection-test should pass, make sure you have the right setup in the format of
[code]

[2018-04-03 22:05] v-suhame commented on #725
@RealNateB Thanks for reporting the issue, nice catch! This issue will affects all the variable-length data types (nvarchar/varchar/varbainary) returned by `OUTPUT` parameter. We will take deeper look at it :)

[2018-04-04 00:17] #725 closed

[2018-04-04 04:31] heroboy commented on #723
What I do `iconv.encode('中文', 'cp936')` is bacuse varchar.js doesn't correctly encode the string，I manualy do it. Not becuase it is a varbinary. So please understand Unicode, encoding, string, byte, char. You English speaking people seldom suffer from it.

[2018-04-04 04:37] heroboy commented on #723
So please at least make the parameter value can be a buffer. It's simple to fix.

[2018-04-06 09:45] vincebanzon commented on #115
I see that node-mssql is using t-sql. isn't there just something not to include the metadata from the reponse of sql?

[2018-04-06 16:59] v-suhame commented on #115
@vincebanzon If question is specific to node-mssql, you can raise the issue in https://github.com/patriksimek/node-mssql, they can help you better.

In tedious, if you don't want metadata, you can ignore [columnMetadata](http://tediousjs.github.io/tedious/api-request.html#event_columnMetadata) event. Metadata is sent as part of SQL Server's response, driver has to parse it in order to reach the ro

[2018-04-10 14:51] djb14 opened #729 "BulkLoad Executing in Connecting State"
Following along with this example for bulkLoad :
http://tediousjs.github.io/tedious/bulk-load.html

Receiving error: Request can only be made in LoggedIn State, not in Connecting state.
Which I know is usually a sign of an incorrect connection configuration.
But when I run
`connection.on('debug', function(err) { console.log('debug:', err);});`
I get the following message:
`debug: State change: Con

[2018-04-10 16:44] v-suhame commented on #729
`connection.execBulkLoad(bulkLoad);` should be called after the `connect` event. It is likely that you are calling `execBulkLoad` before connection is established. Can you double check that?
If that's not the case, share your repo, we will have a look 🙂

[2018-04-10 17:43] djb14 commented on #729
Thanks so much for the quick response. Below is the basic code I am trying to use:

`var Connection = require('tedious').Connection;
var Request = require('tedious').Request;
var TYPES = require('tedious').TYPES;

var config = {
  userName: 'Username',
  password: 'Password',
  server: 'azure_server',
  options: {
   /* debug: {
      packet: true,
      data: true,
      payload: true,
      toke

[2018-04-10 18:15] v-suhame commented on #729
@djb14 All execution should happen after connection is established, i.e execSql()/execSqlBatch()/execBulkLoad()/execute() should be called in the listener of `connect` event , like this,

[code]

[2018-04-16 18:33] v-suhame commented on #729
Hope this issue is resolved, feel free to reopen it if needed.

[2018-04-16 18:33] #729 closed

[2018-04-16 19:11] joshstevens19 commented on #675
is this still a ongoing issue? i can take a look if so..

[2018-04-16 21:30] v-suhame opened #731 "List the contributors"
Hey @arthurschreiber, @Hadis-Fard, what do you think about removing the list of contributors from `package.json` and adding a section in `README.md`, like

[code]

[2018-04-16 21:53] Hadis-Fard commented on #731
I would leave the package.json list for maintainers so there's a way to reach out, and 👍 to have just the link on ReadMe, there's no need to list every contributor as Github keeps track of it well 😃

[2018-04-16 22:06] v-suhame commented on #731
I see what you mean, but most of the contributors in that list are not currently active, it is likely they will redirect the questions to the repo. And not to mention, the list don't have email id or github url for few contributors 😅

[2018-04-18 13:20] mribichich opened #733 "Logging undefined value in ConnectionError message"
When there's a `ConnectionError` by a `Timeout` the message is being logged with the port `undefined`

`ConnectionError: Failed to connect to SRVPROD03:undefined in 15000ms`

It seems it comes from `connection.js` [line 867](https://github.com/tediousjs/tedious/blob/b038b447b06d844a3b954efb2a30a46937b8c564/src/connection.js#L867)

Here's the stack:

[code]

[2018-04-18 17:52] goloroden opened #734 "Are there any plans for a Promise- or async/await-based API?"
Basically, the title already says it all: Currently, tedious is entirely based on callbacks. Are there any plans to change this to an API that is Promise-based, so that you can use tedious with `async`/`await`?

This would be so awesome 😊

[2018-04-18 22:29] Hadis-Fard commented on #734
At the time of writing this comment, we're looking into them, you can track the progress in tediousjs/node-tds-token-stream#1 and #716 😄

[2018-04-19 04:11] goloroden commented on #734
Great, thanks a lot 👍

[2018-04-19 04:11] #734 closed

[2018-04-19 17:14] v-suhame commented on #733
Hey @mribichich, thanks for reporting the issue. Port number is set to `undefined` if `instanceName` is used, that's causing the issue . Feel free to submit a pull request with fix + test 😄
Using a template literals for the `message` variable (in the line you pointed) should do it.

[2018-04-19 20:43] v-suhame commented on #734
Sharing the comment made by @arthurschreiber

[2018-04-20 01:47] palitu commented on #368
This is a really long shot!

I am using node-red-contrib-sqldbs to talk to my DBs, and i have one which is 2000.  anyone know how i can set the TDS in this sort of instance?

cheers!

[2018-04-25 14:16] richardbarrell-calvium commented on #130
`OPENJSON` can be used to unpack multiple values too. e.g. selecting multiple rows from a table by ID can look like:

[code]

(Please excuse errors in the above, I typed it mostly from memory.) This is nice for passing a sequence of strings/nvarchars because you don't need to worry about what happens if a value could legitimately have a comma (or whatever separator character you use) appear in it.

[2018-04-30 14:24] marktshaw opened #735 "Linked Server Support"
We have been spending a ton of cycles trying to execute legacy procedures that internally call linked servers and we have had zero luck. Calls to procedures without linked servers work great. Before we throw in the towel on this tech we figured we would reach out to the community to sanity check a few things.

- Are delegated calls to linked servers supported?
- Is there any guideance that we can

[2018-05-01 16:47] Strandedpirate commented on #515
In a world where warnings are sent to stderr instead of stdout. <fail/>

[2018-05-03 22:29] v-suhame commented on #735
Hey @marktshaw, tedious doesn't support delegated authentication. We have an implementation for Kerberos authentication (it's in queue, depends on PR #624 making its way into master), it can be extended to support delegated authentication, that would fix this issue.

[2018-05-04 17:57] AngelFeu opened #737 "Can't resolve 'dns' en react js"
Siempre que ingresa a un modulo con sql pasa esto.
Estoy trabajando desde react js.
Mi servidor sql server es 2017 lo que leí que tedious soporta actualmente.
quizás estoy haciendo mal, ya que leí que se debe hacer desde el lado del servidor, lo que no entiendo porque todos los ejemplos son para llamar desde app.js

Version:
[code]

Error:

Code:
[code]

[2018-05-04 18:29] AngelFeu commented on #737
please give me an example, cant find a good one anywhere. ty!

[2018-05-04 18:33] v-suhame commented on #737
This page should help you in getting started, https://docs.microsoft.com/en-us/sql/connect/node-js/node-js-driver-for-sql-server?view=sql-server-2017

[2018-05-05 10:52] Llorx commented on #421
Can't close as we are not following the project were we used tedious so can't check if is fixed.

[2018-05-09 02:55] CoolRice commented on #515
any update?

[2018-05-10 14:11] arthurschreiber commented on #515
#738 contains a fix and will be merged and released once reviewed by someone from the @tediousjs/microsoft-contributors team.

[2018-05-11 00:17] vbanuelos opened #741 "TediousType.Money saving floats incorrectly"
I'm running into an issue where I'm sending a value of 333.34 as TediousType.Money (using addParam) and it's saving to SQL as 333.3399.

In my scenario:
Im taking the monetary amount of $1,000. Dividing that by 3 buckets, which yields 333.33. I write an entry to a SQL table (along with other properties) for that, except for third entry (since that would otherwise equal 999.99). I instead add a pen

[2018-05-11 18:00] v-suhame commented on #737
Hope you figured out how it works, feel free to reopen the issue if needed.

[2018-05-11 18:00] #737 closed

[2018-05-11 18:29] v-suhame commented on #741
This happens because 333.34 needs to be multiplied by 10^4 before sending it to SQL Server (according to [TDS spec](https://msdn.microsoft.com/en-us/library/ee780887.aspx)), and 333.34 * 10000 = 3333399.9999999995 in js 😞  #678 has details on the plan to fix the datatype issues.

[2018-05-15 17:50] jimmont opened #743 "npm version outdated"
problem: npm version is out of sync with the current release
proposed solution: update/publish to npm as part of regular release process

currently:
2.3.1 https://www.npmjs.com/package/tedious
2.6.2 https://github.com/tediousjs/tedious/releases

[code]

[2018-05-17 21:09] v-suhame commented on #723
Using collation received in `ENVCHANGE` wouldn't be an ideal solution, as it's possible to have different collation for column, database and SQL Server 🤔

[2018-05-19 00:19] v-suhame commented on #723
Both ADO and JDBC driver are sending string as NVarchar by default. Here is the TSQL sent by the drivers (captured via SQL Profiler)
[code]

I was sending value '中文' as string/varchar in all 3 cases, and this was the result. Passing string as NVarchar by default seems to be a better alternative than using database collation on all of the char/varchar columns. Using NVarchar too comes at a cost, bu

[2018-05-21 17:44] debben opened #745 "Support for AccessToken?"
I see there's already some work in progress for [ActiveDirectoryPassword and sqlpassword authentication](https://github.com/tediousjs/tedious/pull/707).

Azure SQL DB V12 [supports token based authentication](https://blogs.msdn.microsoft.com/sqlsecurity/2016/02/09/token-based-authentication-support-for-azure-sql-db-using-azure-ad-auth/). [Managed service identity ](https://docs.microsoft.com/en-us

[2018-05-22 11:16] yss14 commented on #592
@krishna-velamuri Have you fixed it somehow? :) I encounter the same issue with my Azure SQL -.-

[2018-05-22 20:20] #743 closed

[2018-05-22 20:34] Hadis-Fard commented on #745
@debben token based authentication support is in our plan, once we merge the #707 we'll move forward to support token based auth. @arthurschreiber Can I merge #707? 🙏

[2018-05-23 18:33] v-suhame commented on #592
@yss14 Are you able to [connect to Azure SQL Server via command line](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-get-started-connect-sqlcmd#1-connect)?

If you are running into the same error as @krishna-velamuri , `Connection lost - Could not connect (sequence)` is a generic message, so it is hard to suggest a solution. We can weed out the possibility of network

[2018-05-23 21:30] jimmont commented on #339
`parameter.value.getTimezoneOffset is not a function` this method is being called on a type of object which is not a Date and throwing an error, see (npm 2.6.2) lib/data-types/smalldatetime.js near line 31.

To reproduce add a parameter that is a SmallDateTime

[code]

[2018-05-24 16:35] yss14 commented on #592
@v-suhame Yes, connecting via command line or other database management tools like data grip works like a charm.

The weird thing is, that the web app (hosted on an azure app service) is running fine for like 3-4 days. Than the log is spammed with `Failed to connect to xxx.database.windows.net:1433 in 15000ms` errors and the app stops working because there is no connection to the database possible

[2018-05-24 17:22] v-suhame commented on #592
`mssql` points to older version of `tedious` driver, we had #574 that addresses intermittent ConnectionError in Azure DB, it would be great if you can use the latest version of tedious driver to test 😄

[2018-05-24 21:43] yss14 commented on #592
@v-suhame Thanks for that information! :) How do I force mssql to use the newest tedious version?

[2018-05-24 21:59] v-suhame commented on #592
`npm-shrinkwrap` might help (I haven't personally tried it), you can check the solution in https://stackoverflow.com/questions/15806152/how-do-i-override-nested-npm-dependency-versions

[2018-05-26 15:25] ali-khabbaz opened #749 "insert in encrypted column"
i try to insert data in encrypted column, here is my code:

[code]

i got this error:
[code]

[2018-05-28 16:33] v-suhame commented on #749
Hi @ali-khabbaz, `tedious` currently doesn't support `always encrypted` feature.

[2018-05-30 21:53] #733 closed

[2018-05-30 22:08] v-suhame commented on #590
Hey @landondavidson, sorry for the late response, do you mind sharing repo for this issue?
We had #574 that addressed intermittent ConnectionError in Azure DB, it was released in tedious v2.1.0, most of the connection pooling packages are using older version of tedious driver, can you verify if your dep is using latest driver?

[2018-05-30 22:10] v-suhame commented on #749
We have `always encrypted` in future plan #512 so, I'll go ahead and close this issue.

[2018-05-30 22:10] #749 closed

[2018-05-31 19:13] jimmont opened #750 "tedious versioning housekeeping/confusion"
On master [package.json lists the version as `0.0.0-dev`](https://github.com/tediousjs/tedious/blob/master/package.json#L30).

the [npm published version is `2.6.1`](https://www.npmjs.com/package/tedious)

From the list of available releases and tags there is a version `2.6.2`
https://github.com/tediousjs/tedious/releases
https://github.com/tediousjs/tedious/tags

It would be helpful to keep these

[2018-06-03 09:16] fraross opened #751 "Escaping with tedious"
Hi, this is mi query:
INSERT INTO DESCRIZIONE (DESCRIZIONE, FIELD, LANG, IDMONUMENTO) VALUES(@DESC, @FIELD, @LANG, @IDM)

But @DESC is a text with single quotes or multiple quotes and using parameters with this code:
Request.addParameter("DESC", Types.Text, request.payload.descrizione);

It does not escape my text and these quotes are remove, why? How can I solve this?

[2018-06-04 15:59] landondavidson commented on #590
@v-suhame, we are not seeing any ConnectionError.  The socket just closes on us in the process of connected.  I just submitted a pull request with the fix we have put into production for the past two weeks.  This is a website with pretty heavy load and the error have completely gone away with connection pooling retrying the connection after being reported.

[2018-06-04 17:35] v-suhame commented on #751
`Types.Text` maps to JavaScript type String, so quotes you are using in `addParameter` presents "DESC" as a String. If you want the quotes to be stored, you need to escape them like,

[2018-06-06 09:19] seandongjie commented on #723
@v-suhame
You are right to me. Thanks.

[2018-06-13 07:09] heroboy opened #755 "DateTime precision error."
code:
[code]

error message:
'The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect.
Parameter 3 ("@v1"): The supplied value is not a valid instance of data type datetime. Check the source
data for invalid values. An example of an invalid value is data of numeric type with scale greater than
precision.',

[2018-06-13 07:21] heroboy commented on #755
I find in `DateTime.js`,the write value is `{ days: 43261, threeHundredthsOfSecond: 25920000 }`
`2590000 = 24 * 3600 * 300`, is one day. Maybe it can not great than this.

[2018-06-13 07:22] heroboy commented on #755
You should use `useUTC: false,` to test this code.

[2018-06-13 22:20] abhagupta opened #756 "Bulk Load not working"
Hi,
 Trying to do a mass insert in one of the existing tables . I used the exact code in here  https://github.com/tediousjs/tedious/blob/master/examples/bulkLoad-sample.js  and I keep getting following

[code]
I have tried running the same code with existing table, but still I get the same error.  I do not have issues of connectivity since  I can access using `sql.connect(config)`.

My SQL server

[2018-06-14 00:25] Hadis-Fard opened #757 "Changing "Sent LOGIN7 Standard" State to "Sent LOGIN7 Record with Complete Auth Token" State"
In MS TDS"Sent LOGIN7 Record with Standard Login State" is replaced by [Sent LOGIN7 Record with Complete Authentication Token State](https://msdn.microsoft.com/en-us/library/dd358086.aspx ).
[SENT_LOGIN7_WITH_STANDARD_LOGIN](https://github.com/tediousjs/tedious/blob/master/src/connection.js#L1624) should be refactored to latest version of TDS.

[2018-06-14 00:32] leeahoward commented on #675
Was having the same issue.  Seems to be fixed by setting useUTC option.
options.useUTC
A boolean determining whether to pass time values in UTC or local time. (default: true).

[2018-06-14 16:30] v-suhame commented on #756
Hey @abhagupta, from the error message it looks like the table `dbo.test_bulk` doesn't exist in the database. Can you double check if the table exists and you are connected to the database that has the table? By default client connects to the `master` database unless you specify otherwise in `config.options.database`.

[2018-06-14 16:32] v-suhame commented on #751
@fraross Hope this issue is resolved, feel free to open it if not.

[2018-06-14 16:32] #751 closed

[2018-06-21 00:04] Hadis-Fard commented on #750
@arthurschreiber I was looking at ways to sync the versions and automate it, do you know what's the reason of changing the semantic release script to just semantic release in https://github.com/tediousjs/tedious/commit/b092fc731601a091a9df8f3c26155d5c603a5cd2#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L75 ? I guess it is because of the migration note in [v12.0.0 ](https://github.com/semantic-release/sem

[2018-06-22 11:25] danim-hub opened #759 "Failed to parse incoming JSON. Unexpected end of JSON input"
When I run some query which returns no rows,
- with the FOR JSON AUTO option,
- and config.parseJSON enabled.
It throws the following exception:

 RequestError: Failed to parse incoming JSON. Unexpected end of JSON input
    at Request.doneHandler (/Users/danim/apps/picking/picking-node-api/node_modules/mssql/lib/tedious.js:658:29) ....
  code: 'EJSON',
  number: undefined,
  state: undefined,
  o

[2018-06-22 21:59] v-suhame commented on #759
Hey @danim-hub, as far as I tried, query that returns no row is handled properly in tedious. Are you able to produce this issue directly from tedious? Can you post a link to line numbers you are referring to?

[2018-06-26 12:38] jacopotrentin96 opened #760 "Decimal conversion in value-parser.js has problems with DECIMAL(38,20)"
Reading from a stored procedure a field DECIMAL(38,20) returns some wrong numbers due to wrong parsing of the value.

EX: Number 1000 will be returned as 999.9999999999999....

Using the library Decimal.js  https://github.com/MikeMcl/decimal.js/
and substituting the row 304 of value-parser.js ( `callback(value * sign / Math.pow(10, metaData.scale)); `)
with

[code]

solves the problem.

[2018-06-26 19:58] wy193777 opened #761 "Deprecate warnings on node-mssql"
node-mssql always show deprecation warnings, but there a merge request already fixed the problem. https://github.com/tediousjs/node-mssql/pull/643

[2018-06-26 19:59] wy193777 commented on #761
So can someone go merge that change? Thanks.

[2018-07-01 13:36] allexon commented on #246
hello if anyone can help me I have tried to connect in MS SQL Server database 12 used mssql node 4.1, I already tried a lot of thing, but does not connect

my connection has it conformed below:

![x](https://user-images.githubusercontent.com/1206288/42134925-5ecf9858-7d1a-11e8-9a30-c7f0e507d12f.gif)

I try:

const stringConnect = 'Server = ADMIN-CCE \\ admin: 1433; Database = GRD; User id = admin-

[2018-07-03 21:06] patriksimek commented on #761
Fixed.

[2018-07-03 21:06] #761 closed

[2018-07-03 21:15] v-suhame commented on #760
Linking https://github.com/tediousjs/tedious/issues/678

[2018-07-03 22:09] v-suhame commented on #246
Hey @allexon, tedious doesn't support Windows Integrated Authentication yet, details are in https://github.com/tediousjs/tedious/issues/660.

[2018-07-05 20:23] v-suhame commented on #756
Closing due to inactivity, feel free to reopen it if needed.

[2018-07-05 20:23] #756 closed

[2018-07-11 06:11] arthurschreiber commented on #590
@landondavidson @jstephens7 https://github.com/tediousjs/tedious/pull/763 was merged and released as `tedious@2.6.3`.

Please let us know if you're still encountering any issues. In the mean time, I'll close this issue. 🙇

[2018-07-11 06:11] #590 closed

[2018-07-19 22:37] v-suhame commented on #759
Closing due to inactivity, feel free to reopen it if needed.

[2018-07-19 22:37] #759 closed

[2018-07-19 22:44] v-suhame commented on #720
Closing due to inactivity, feel free to reopen it if needed.

[2018-07-19 22:44] #720 closed

[2018-07-19 22:50] v-suhame commented on #675
@mnboos @sharpart555 Setting `useUTC: false` as mentioned by @leeahoward should do the trick. Feel free to reopen the issue if it didn't work.

[2018-07-19 22:50] #675 closed

[2018-07-19 22:56] v-suhame commented on #669
Closing the issue due to inactivity.

[2018-07-19 22:56] #669 closed

[2018-07-19 23:38] v-suhame commented on #598
Hey @konekred, hope the fix in sequelize referenced by @catcher-in-the-try solves this issue. Feel free to reopen the issue and and provide a repro that uses tedious directly, if problem exists.

[2018-07-19 23:38] #598 closed

[2018-07-19 23:39] #581 closed

[2018-07-19 23:40] #671 closed

[2018-07-19 23:47] v-suhame commented on #605
#514 fixes this issue.

[2018-07-19 23:47] #605 closed

[2018-07-19 23:54] v-suhame commented on #525
Done in https://github.com/tediousjs/tedious/pull/754.

[2018-07-19 23:54] #525 closed

[2018-07-20 00:03] #352 closed

[2018-07-20 00:15] Hadis-Fard commented on #724
Closing due to inactivity

[2018-07-20 00:15] #724 closed

[2018-07-20 00:19] v-suhame commented on #257
Done in https://github.com/tediousjs/tedious/pull/518.

[2018-07-20 00:19] #257 closed

[2018-07-20 00:24] #279 closed

[2018-07-20 00:30] Hadis-Fard commented on #524
related to #762

[2018-07-20 11:02] MartinMa commented on #671
I used tedious with electron in the past. It worked for me. You can pass the database result via asynchronous inter process communication (ipc) to the browser process. The Tedious "business" needs to happen in the backend (Node.js environment).

[2018-07-21 11:36] sxpati2 commented on #415
Is windows integrated authentication on Linux server available now?

[2018-07-22 17:54] chdh opened #767 "Daylight saving test fails in test/unit/data-type.js"
When I run `npm run test` on my computer with time zone UTC+01, I get the following errors:

[code]

This corresponds to the following tests in test/unit/data-type.js:

[code]

The error occurs only for the data types `DateTime2` and `Date`, not for `SmallDateTime` and `DateTime`.

`datetime2.js` and `date.js` both contain the following constant definition:

[code]

When I run `console.log(new Dat

[2018-07-25 01:46] wy193777 commented on #467
Find another performance issue. The profiler data seems different from the one provided at the top. Tedious is called by TypeOrm when using `createQueryBuilder().insert()`. The function took lots of time are
[code]
[0724-profiler.txt](https://github.com/tediousjs/tedious/files/2226052/0724-profiler.txt)

[2018-07-25 23:09] v-suhame commented on #321
@arthurschreiber @Hadis-Fard  I think we should deprecate `TYPES.Null` too. Since `NULL` not a SQL Server data type, the `sp_executesql` query formed with null as type will run into syntax error (in Server side).

plus, from TDS spec,

What do you think?

[2018-07-26 22:54] v-suhame commented on #602
Duplicate of #368

[2018-07-26 22:54] #602 closed

[2018-07-26 22:56] #611 closed

[2018-07-27 05:32] #321 closed

[2018-07-29 09:10] mjodeh opened #774 "version: 2.6.3, datetime data type, getTime() is not defined"
when i try to pass a parameter with a datetime data type it gives this error.
The work around I found is like this:
under lib\data-types\datetime.js
from line 29 it should be like this:

if (options.useUTC) {
        var dateTest = new Date(parameter.value);
        days = Math.floor((parameter.value - UTC_EPOCH_DATE.getTime()) / (1000 * 60 * 60 * 24));
        seconds = dateTest.getUTCHours() * 6

[2018-07-30 02:03] chdh commented on #774
Why don't you pass a `Date` object as the parameter value?
It's documented in the [data types page](http://tediousjs.github.io/tedious/api-datatypes.html), that the JavaScript type must be `Date`.

[2018-07-30 02:12] mjodeh commented on #774
this is the work around i used instead of modifying the source code, but it would be better if its done on the source code since the object type passed is DateTime.
Thanx.

[2018-07-30 13:00] chdh commented on #774
There is no object type `DateTime` in JavaScript, only [Date](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date). For the SQL server data type `DateTime` you have to use the JavaScript type `Date` for the parameter values.

[2018-08-01 09:06] ggazulla opened #778 "connectionTimeout"
How can change default connectionTimeout from 15000ms to more?
I'm trying add connectionTimeout: 90000 to connection options but no way...

Thanks!

[2018-08-02 16:54] v-suhame commented on #778
Hey @ggazulla, it is `connectTimeout` and not `connectionTimeout` 😅 If you have used `connectTimeout` and still running into issue, can you share more details like the error stack, debug log and is this Azure Server?

[2018-08-06 14:17] ggazulla commented on #778
@v-suhame  Thanks you so much! it works! :)

[2018-08-06 14:17] #778 closed

[2018-08-07 14:29] VitorBisterso commented on #487
I've also had this problem. To solve it, I just changed "NTEXT" to "VARCHAR". It's still not fixed, please fix.

[2018-08-08 21:12] v-suhame commented on #415
@sxpati2 Windows integrated authentication, as the name suggest is juts for Windows OS. For Linux it would be Kerberos Integrated auth. Tedious currently doesn't support Windows or Kerberos integrated auth, it is in our future plan.

[2018-08-08 21:14] v-suhame commented on #413
github.io is updated with the missing events.

[2018-08-08 21:14] #413 closed

[2018-08-09 11:27] nicferrier opened #780 "Does tedious support any kind of SQL-Server side events mechanism?"
I would like to be able to subscribe to table change on SQL Server, ie:

- connect to SQL Server
- declare that I want to know about changes to a particular table
- receive change event notifications back over the connection whenever a change occurs

This is possible, I understand, from .NET on SQL Server but I wonder if there's anything on the roadmap to do this with tedious?

[2018-08-09 16:29] v-suhame commented on #780
Hey @nicferrier, I assume you are referring to Extended Events, we are not planning to support that anytime soon.

[2018-08-09 16:59] nicferrier commented on #780
Awwww. Shame.

Thanks.

[2018-08-09 23:12] nicferrier commented on #780
Wait! No, that's not what I meant:

_Extended Events is a light weight performance monitoring system that uses very few performance resources._

No... I meant this stuff:

https://docs.microsoft.com/en-us/sql/relational-databases/native-client/features/working-with-query-notifications?view=sql-server-2017

[2018-08-13 17:36] Suraiya-Hameed commented on #780
Thanks for clarifying that. It is in the roadmap #512, we haven't got to it yet.

[2018-08-14 09:32] mihaistoie opened #781 "Performance Issue with the TokenStreamParser"
I am using "tedious", last version (git clone) and the function "sendDataToTokenStreamParser" is very slow.

My query takes 52 ms:  4ms execution + 48 ms in sendDataToTokenStreamParser !!!

SQL Server Express (64-bit) 2014

select [refLot], [prixHT], [prixTTC], [remiseHT], [remiseTTC], [tauxTVA], [dateLivraisonContractuelle], [dateConvocationLivraison], [refLotEcheancier], [parentId], [_dtm], [ten

[2018-08-14 18:17] arthurschreiber commented on #781
@mihaistoie Hey there! 👋

Thank you for reporting this issue. Could you also supply us with a bit more data to help us reproduce and fix this problem? 🙇

Could you provide us with the DDL statement to recreate the table structure? Could you also provide sample data that highlights the performance issue? Also, if you could provide the SQL Server version you're running this against, that would be ve

[2018-08-14 19:32] mihaistoie commented on #781
Hello @arthurschreiber ,

Before we used the version 1.x of  tedious. Everything works perfectly. We tried to update our application but the execution times exploded (sometimes 10x, same server, same sql query).

I looked at the code of stream-parser, I am sure that the problem comes from callbacks (even if the code is syncrone). In debugger you can see that the call stack is huge (parsevalue). Th

[2018-08-14 20:18] arthurschreiber commented on #781
Whoa, that's crazy - and very unexpected. Which version of Node.js are you running on?

I've been working on a new parser that's not using callbacks at all to parse tokens, and this one should be a *lot* faster than the parser that is currently being used in tedious, but it's still very much work in progress and not in a usable state. Nevertheless, the current parser should be faster than the one

[2018-08-14 20:45] mihaistoie commented on #781
We use node 8x.  I tried with 10 .. same results.
To reproduce, all you  you have to do is :

const te = new Date();
var ret = this.sendDataToTokenStreamParser(_data7);
console.log(new Date() - te); // 48ms

For my query he reports  48 ms !!!!.

The execution time is 4ms:
const ts = new Date();
this.messageIo.sendMessage(packetType, payload.data, this.resetConnectionOnNextRequest);
....

this.mess

[2018-08-16 15:16] kuseni commented on #659
I think this issue appears again in 2.6.4.

Code:
[code]
Log:
[code]

[2018-08-16 20:55] kuseni opened #782 "Unhandled ETIMEDOUT error on connection timeout"
Node.js 8.11.4
tedious@2.6.4
Windows 10 Pro 1803 17134.191

Code:
[code]

Log:
[code]

I expect not receiving unhandled error and closing app immediatly after connect event (not 6 seconds later).

[2018-08-21 04:31] vngthanh opened #783 "Cannot call callProcedure in a function"
I have file datarequest.js :

const Connection = require('tedious').Connection;
const Request = require('tedious').Request;
const config = require('./bottender.config').messenger;
var TYPES = require('tedious').TYPES
const connection = new Connection(config.sql);
//=============================================================
module.exports = {
    insertuser: function (UserID, LName, FName, BDay,

[2018-08-21 16:58] Suraiya-Hameed commented on #783
Hey @vngthanh, we need more information to look into this issue. Can you share a repro code independent of other dependencies like bottender? Are you getting any error or is it just a blank result from the `Request`? Can you also share the DDL for the stored procedure or table you are trying to access?

[2018-08-21 17:40] Suraiya-Hameed commented on #774
The suggestion above should have solved this issue, feel free to reopen it if needed.

[2018-08-21 17:40] #774 closed

[2018-08-22 14:22] fegauthier opened #784 "Transaction timeout randomly"
Hi guys !

I'm using Sequelize that using tedious. I'm using SQL Server 2017 locally. I get a RequestTimeout error 50% of the time.

There is my transaction code :
[code]

50% of the time it's working and 50% of the time I get Timeout: Request failed to complete in 15000ms. It's not a problem of the query taking to much time. It takes 0.01MS to run when It's works.

The same code works 100% when I

[2018-08-22 16:22] #784 closed, assigned to nobody

[2018-08-29 09:10] MaienM opened #785 "Request callback/endOfMessage never triggering."
We've run into a case where the statements of a query all complete, all data is received and processed, and the appropriate `done*` events are fired, but the callback given to request & the `endOfMessage` event are never fired.

This seems to exclusively happen when we use `pause` and `resume`. This only happens for a select few queries, so it's proven difficult to create a set for others to repro

[2018-08-29 16:49] Suraiya-Hameed commented on #782
#659 should have fixed this 🤔 looks like something is amiss as your are already in the latest driver, @Hadis-Fard should be able to have a look at it once she is back from vacation.

[2018-09-04 08:09] hynese commented on #221
+1

When trying to access a MSSQL where I don't have SELECT permission but I do have access to a number of stored procedures.

[2018-09-05 16:33] Suraiya-Hameed commented on #785
@MaienM Can you share the DML, DDL of the queries that consistently cause this issue?
Pinging in @chdh who knows this area of code better.

[2018-09-06 02:07] chdh commented on #785
The only reason I can see, why the `endOfMessageMarker` pseudo message does not immediatelly reach the `_transform()` function of the token parser, is when the output buffer of the transform is full (`Transform._readableState.length >= Transform._readableState.highWaterMark`) and the transform has started to queue input chunks. This can happen when data arrives faster from the SQL server than it i

[2018-09-06 08:26] Troldefar opened #786 "Random ETIMEDOUT 15000ms error"
Doing a simple login electron application through Microsoft Azure however... For most routers my logic works fine, however when i try on specific routers that i need to access i get

Tedious config object below

`var config =  {
        userName: 'DELETED',
        password: 'DELETED',
        server: 'DELETED.database.windows.net'
        options: {
           database: 'DELETED',
           encr

[2018-09-06 15:28] JamesDoe opened #787 "Having a hard time returning records"
I am having a difficult time understanding why the following code breaks when anything other than columns[0].value is used:

[code]

Anything other than "columns[0].value" will fail to push elements into the myReturnObject array. The console instruction will simultaneously fail. I've tried pushing my own objects as well as tedious-produced objects, i.e. columns[0].metadata.colName.

There is no de

[2018-09-06 16:36] Suraiya-Hameed commented on #786
Hi @Troldefar, Can you try https://github.com/tediousjs/tedious/pull/769? Looks like this issue is similar to the one reported in #590.

If you are able to reproduce the issue even after using #769, please share the tedious logs along with info like, how often do you see this error? how did you connect via specific router? which version of driver are you using?

[2018-09-06 17:16] Suraiya-Hameed commented on #787
Hey @JamesDoe, Is your query returning multiple columns? You can console.log `columns` to check that. Also, move `myReturnObject.push(columns[i].value);` inside the `for` loop.

[2018-09-06 18:36] JamesDoe commented on #787
Hello @Suraiya-Hameed. Yes, it is returning multiple columns.

I need to push the object into the array at the end of the ```for``` loop, as each record is represented as an individual object, and each column of the row is a property of the object. If I push into the array during the ```for``` loop, I will lose the grouping.

[2018-09-06 18:51] Suraiya-Hameed commented on #787
But by having `myReturnObject.push(columns[0].value);` outside the loop, aren't you pushing just the value of first column every time!

Can you also clarify what was the other thing that failed? Can you share the original code that is causing this issue, along with what you are expecting `myReturnObject` to contain and what it actually contains?

[2018-09-06 20:56] JamesDoe commented on #787
It's not pushing the first column's value, because ```.on('row',``` fires once for every record/row in a query and the element at the first index of each returned array is an object that contains the value and associated metadata.

[code]
and my callback is:

[code]

[2018-09-06 22:19] Suraiya-Hameed commented on #787
Thanks for sharing the code :) I'm using this minimal, tedious only code for reproducing/understanding your issue, but everything seems to work fine,

[code]

Schema for the table is
[code]

With 2 rows, the console output I get is
`[ { c1: 'charDataTest                    ', c2: 56 },
  { c1: 'charDataTest                    ', c2: 56 } ]`

It retrieves all the columns and values, can you use thi

[2018-09-07 13:34] JamesDoe commented on #787
Thank you @Suraiya-Hameed for the assistance. Yersterday, I rewrote the code from scratch and removed some of the error checking:
[code]
and
[code]
and I am also now getting all columns and values... I truly don't understand the difference, but rather than compare code-for-code, I'm just going to be thankful that the code is now functioning properly.

Thank you again for your inisight and help!

[2018-09-07 15:58] madal3x opened #788 "Library (node-mssql) doesnt recover after db outage"
I have an issue i cannot find a solution for (https://github.com/tediousjs/node-mssql/issues/701), and I would like to try here as well, maybe someone could help.
I am using node-mssql, and my problem is that if the database goes down, and then recovers, the library doesn't recover and keeps returning TimeoutError: ResourceRequest timed out. I have enabled debugging, and what i see is that, after

[2018-09-07 16:42] JamesDoe commented on #787
I think the issue was because I was using indexes here:
[code]
 I realize that columns [0] is the only viable object in each returned row. I'm just not clear as to why the object DID populate with the appropriate keys and values.

[2018-09-07 17:15] Suraiya-Hameed commented on #787
Using your for loop actually worked for me, so I'm not sure what went wrong. Glad that you got it working :)

[2018-09-08 07:00] iarash84 opened #789 "problem with rowCount"
Hi
I use express.JS and tedious for implementing a web service, but i can't compare row Count in code below with 1 in if statement ??? why ?? can anybody explain me what happened ??

this is my code
`    const query = `BEGIN
                        IF NOT EXISTS (SELECT * FROM [dbo].[User]
                                        WHERE [userName] = 'MyuserName')
                        BEGIN

[2018-09-10 17:12] Suraiya-Hameed commented on #789
From [tedious docs](http://tediousjs.github.io/tedious/api-request.html#event_done),

.
Alter your code to listen to both `doneProc` and `doneInProc`, that might fix the issue

[2018-09-10 17:20] #787 closed

[2018-09-12 22:06] Suraiya-Hameed commented on #788
@madal3x Can you try reproducing this issue directly via tedious? If you are able to connect from tedious after db recovery, then origin of issue must be either generic-pool or node-mssql.

[2018-09-13 15:40] madal3x commented on #788
@Suraiya-Hameed yes, true, though i thought one would replace the connection if it had an error. So i recreated the scenario just by using tedious, starting the script when db is up, then stopping the db and starting it again while the script was running. And the results were that after the db was up, the library kept outputting the same error:

RequestError: Requests can only be made in the Logge

[2018-09-17 06:12] Troldefar commented on #786
I managed to work around this by writing actual functional code, instead of that garbage i was producing for - The error was a result of my bad coding :-D Sorry i forgot to write it in here

[2018-09-17 16:50] #786 closed

[2018-09-18 00:16] Suraiya-Hameed commented on #788
The moment I take db offline, I get `ConnectionError: Connection lost - read ECONNRESET` from the repro code. Is there any special settings you have in place? Because if the db is offline, I assume it is natural for driver to throw `Connection lost` message, but you are getting a `RequestError`, which doesn't make sense.

btw, I tried taking db offline both via SSMS and T-SQL.

[2018-09-18 16:46] madal3x commented on #788
Yes, i was referring to the SQL Server which is in the docker container.

I have attached the stdout and stderr piped to a log file, starting with SQL Server running, stopping after ~5 seconds, and starting again after 2-3 seconds and leaving it for another 10-15 seconds (with SQL server restarted, up and running).
[tedious.log](https://github.com/tediousjs/tedious/files/2393690/tedious.log)

[2018-09-18 17:56] Suraiya-Hameed commented on #788
Thanks for the logs.

Expected behaviour when Server stops is for the driver to throw connection error, as socket gets closed. From the logs you shared, I see that socket has ended, but for some reason connection is not getting cleaned up. It would be great if you can add some debug statements in `cleanupConnection` and see why `closeConnection` is not getting called.
https://github.com/tediousjs/

[2018-09-18 18:13] madal3x commented on #788
What debug statements would you add here?

I have used the tutorial here to install SQL Server on OSx: https://medium.com/@reverentgeek/sql-server-running-on-a-mac-3efafda48861

[2018-09-19 20:50] Suraiya-Hameed commented on #788
Hey @madal3x, this issue is fixed by PR https://github.com/tediousjs/tedious/pull/769. I tested the PR with your repro code in docker, driver throws `connection lost` error and cleans things up. Issue you see in tediousjs/node-mssql should vanish once #769 gets merged.

[2018-09-19 22:50] kibertoad opened #791 "Update to Babel 7"
New Babel got released recently, providing considerably faster build time and other goodies. Would a PR, updating used version of Babel be accepted?

[2018-09-19 22:55] kibertoad opened #792 "Drop Node 4 support"
Official support for Node 4 has ceased a while ago already. If we abolish support for it we could target Node 6 for transpilation, resulting in much more readable and debuggable code, and we could also stop using babel-runtime (which causes https://github.com/babel/babel-loader/issues/152 under some circumstances).

[2018-09-20 17:37] madal3x commented on #788
Hi Suraiya, that’s awesome, thanks a lot :)

[2018-09-20 23:31] kunKun-tx opened #793 "Race condition on Request events: 'row' and 'requestCompleted'?"
First time user here, not sure if this is human error or not.

### **Ver.:**
**Node**: 8. 11.3
**Tedious**: 2.6.4
**Bluebird**: 3.5.2
**DB**: win2012r2 + sqlserver2012
**host**: Debian 9 running in vmware workstation with NAT mode (could this be the issue?)

### **Issue:**
Request's event `row` fires after `requestCompleted` and `done`

### **Expected:**
`row` -> `done`/`doneInProc`/`doneProc` ->

[2018-09-21 16:52] Suraiya-Hameed commented on #793
@kunKun-tx can you try moving `connection.execSql(request)` inside the promise being returned? The order you see could be the result of adding listeners after calling `execSql`. Perhaps the `row` events are emitted by the driver before the listeners get attached.

[2018-09-21 16:55] Suraiya-Hameed commented on #792
Hey @kibertoad, there is PR https://github.com/tediousjs/tedious/pull/739 for dropping Node 4 support, you can review it and add your suggestions there :)

[2018-09-21 16:56] Suraiya-Hameed commented on #791
Yes, a PR would be great 😃

[2018-09-21 17:06] kunKun-tx commented on #793
@Suraiya-Hameed You are right. After moving `connection.execSql(request)` to the top of the promise now we can get the right order of events firing out as
`done`/`doneInProc`/`doneProc` -> `row` -> `requestCompleted`

Thank you and we can close this issue now.

[2018-09-21 17:17] #793 closed

[2018-09-22 13:37] kibertoad commented on #792
@Suraiya-Hameed Doesn't look like there is much to review, it looks like we just need to update the Buffer update PR to resolve conflicts and it should be good to merge :)

[2018-09-22 13:58] kibertoad commented on #791
Right, Babel 7 itself can only be run on Node 6+, so PR can only be merged after https://github.com/tediousjs/tedious/issues/792 is resolved :)

[2018-09-24 18:27] Suraiya-Hameed commented on #783
Closing due to inactivity. Feel free to reopen if needed.

[2018-09-24 18:27] #783 closed

[2018-09-25 07:28] Praveen335 opened #799 "ESOCKET Connection Error from node js web app to MSSql Database connection"
Hi Team,
Currently, we are getting the intermittent connectivity issues from our web app to MsSql frequently when there is more traffic to the service.
Is there any final recommendations on this issue.

**Error**:
_{ ConnectionError: Failed to connect to <<Database server>>:1433 - Could not connect (sequence)
    at Connection.tedious.once.err (D:\home\site\wwwroot\node_modules\mssql\lib\tedious.j

[2018-09-25 11:31] arthurschreiber commented on #799
Hey @Praveen335 👋🏻

I‘m sorry to hear that you are facing this problem when using `tedious`. Unfortunately, the information you provided is not enough for us to understand what is happening. Could you provide more information? E.g. it would be helpful for us to know:

* which version of `tedious` are you using exactly?
* when does this error happen exactly? From the stacktrace it looks like this h

[2018-09-25 11:32] arthurschreiber commented on #792
#739 was merged and released as `v3.0.0` on the `next` release channel.

[2018-09-25 11:32] #792 closed

[2018-09-26 06:33] Praveen335 commented on #799
Hi @arthurschreiber ,
Thanks for your quick response. I have already updated the tedious version in my post.

**Version Details:**
"tedious": "2.0.1",
"mssql": "^4.0.4",

We had a look at active work thread to SQL server and network connectivity by raising it to Microsoft support. They mentioned all good from SQLServer end. The work thread percentage also less.  I have tried to retry with custom l

[2018-09-28 00:49] Hadis-Fard opened #801 "Daylight saving tests fail on master branch"
Daylight saving tests fails in https://github.com/tediousjs/tedious/blob/master/test/unit/data-type.js when I run the unit tests locally and on azure in pacific time zone

[2018-09-28 23:41] Hadis-Fard commented on #801
duplicate of #767

[2018-09-28 23:41] #801 closed

[2018-10-01 16:14] regevbr commented on #799
Same here, it suddnely gets to that state and gets stuck...

[2018-10-02 22:48] Hadis-Fard commented on #782
@kuseni I'm not able to reproduce the issue, looking at the code in https://github.com/tediousjs/tedious/blob/master/src/connection.js#L825, if the socket is in `FINAL` state then it wouldn't be reach to the error event, which from the log you have sent it is FINAL state 🤷‍♀️

[2018-10-02 23:48] kuseni commented on #782
@Hadis-Fard , in my case [Connector.executeForIP](https://github.com/tediousjs/tedious/blob/08a65bf81a109204587d57f78e149d771c2075a1/src/connector.js#L19)() is invoked. First of all **Connection.connectTimeout()** emit **connect** event with **err** arg and doesn't destroy socket. Then **error** event in **Connector.executeForIP()** is generated and raise unhandled error. **connect** event in **Co

[2018-10-03 00:07] kuseni commented on #782
... I think, **connectTimeout()** should destroy socket before socket's **error** event

[2018-10-03 14:50] UpQuark opened #805 "Tedious versions >= 2.6.4 experience random connection failures with IISNode"
Hi folks,

I am maintaining a legacy Node Express.js app hosted on an Azure app service for Windows with IISNode. Recently we ran into an issue after deploying a new version where every few hundred requests from our frontend to the Express API would result in 500 errors, from arbitrary endpoints, with the 0x6b "Pipe Busy" error code from IISNode.

We traced this to failures connecting to our SQL S

[2018-10-03 15:00] arthurschreiber commented on #805
@UpQuark Thanks for the error report! I'll try to double check the changes we've made between `v2.6.2` and `v2.6.4`. Could you also see if `v2.6.3` exhibits the same behaviour as well? Thank you! 🙇

[2018-10-03 15:03] arthurschreiber commented on #805
Here's the list of changes between the different versions:

* https://github.com/tediousjs/tedious/compare/v2.6.2...v2.6.3
* https://github.com/tediousjs/tedious/compare/v2.6.3...v2.6.4

The list of changes for both these releases is pretty small, and there is nothing that stands out. It'd be great to know which release exactly triggers the issue you're seeing, then we can further circle in on thi

[2018-10-03 15:59] UpQuark commented on #805
Hi @arthurschreiber, thanks for the response. As far as I can tell, this kicks in as of 2.6.4.

I ran some quick automation to spam our test app service with requests to test the respective versions. I don't see any errors when 2.6.3 is installed after > 1000 requests but on 2.6.4 I've been able to recreate the 500 errors in <300 requests 4 times in the last few minutes.

[2018-10-03 18:40] Hadis-Fard commented on #782
@kuseni it works as expected in both ip and host name. Could you post the complete code and the result of `npm show tedious version` ?

[2018-10-03 19:40] kuseni commented on #782
[code]
[code]
[code]

Once more...

At 21:56:46 **new Connection(...)** is called, which creates socket in **Connector.executeForIp()**, call stack:
[code]
It's local socket, **Connection** doesn't know about it (so it can't destroy it on connection timeout). Local handlers of **connect** and **error** events of socket are set, but not invoked yet.

At 21:57:01 **Connection**'s **connect** event i

[2018-10-04 09:16] arthurschreiber commented on #805
Which version of Node.js is your IISNode installation running on?

[2018-10-04 09:30] arthurschreiber commented on #805
Also, is there any way for you to figure out exactly which error is happening? 🙇

[2018-10-04 14:03] UpQuark commented on #805
Hey @arthurschreiber. It's currently happening on 6.11.1 but I also tried it on 8.9.4 and saw the same behavior.

As far as the specific error- unfortunately I'm dealing with regrettable legacy code that has a habit of just swallowing error messages without logging or throwing them anywhere, so I don't have a more informative error off the bat (and since it seems to be an IISNode issue, I can't re

[2018-10-11 11:30] siamaksalman opened #807 "utf-8 charset support"
Hi tedious team.
Thanks for your awesome library. I'm using it in production and and it's working really well. I'm facing some issues on utf-8 characters which I'm not able to store currently

so if I'm having a stringified JSON like this :
"{\"jsonname\":\"تست فارسی\"}"

I'm getting this on ms sql site:
"{\"jsonname"\:\"3 A'13ج\"}"

Now I notice that the character settings should be configured on

[2018-10-11 16:56] Suraiya-Hameed commented on #807
Hi @siamaksalman, glad to know that tedious is working for you 😃 There is no option to set characterset during connection. Doesn't sending/retrieving result as `NChar` or `NVarChar` work?

[2018-10-12 09:20] siamaksalman commented on #807
Dear @Suraiya-Hameed. Thanks you so much. It worked.
Regards

[2018-10-12 09:34] #807 closed

[2018-10-15 14:56] jackdh opened #808 "Bulkload request done"
Hey

much like the request.on('requestCompleted')...

How can I have a bulkLoad.on('requestCompleted')...

Thanks,

[2018-10-16 00:38] mattyglover commented on #300
I am getting this issue also using the latest tedious, v2 of the function app runtime on Azure and MS SQL server. I'm thinking the only solution might be to write a sync loop to try up to 5 times to connect before crashing. Anyone else found a solution?

[2018-10-16 07:15] arthurschreiber commented on #805
@UpQuark Any luck so far in finding more information on what might be going wrong? 🙇

[2018-10-16 18:40] Hadis-Fard commented on #808
@jackdh there's no 'requestCompeletd' event in bulkload, you can use its callback 😃

[2018-10-16 18:45] jackdh commented on #808
Hey thanks for the reply that seems promising.

Just for reference however I'm not seeing a callback on the

`https://tediousjs.github.io/tedious/api-connection.html#function_execBulkLoad`

Do I need to use the newBulkLoad? And if so how? Thanks!

[2018-10-16 20:54] Hadis-Fard commented on #808
You need to use `newBulkLoad` and have the completion code in the callback, then execute it using `execBulkLoad`

[code]

check this page as well: http://tediousjs.github.io/tedious/bulk-load.html#usage

[2018-10-16 20:56] #808 closed

[2018-10-17 14:31] UpQuark commented on #805
Hi @arthurschreiber! Unfortunately not, I spent a little time on it last week but couldn't find the proper error message, it's either getting swallowed up somewhere in the bowels of this API and just spitting out the 'pipe busy' error instead, or the 'pipe busy' error is actually as specific as the error output ever gets.

I can dig into it a little more in the next week, but if it's the latter I

[2018-10-17 21:29] #791 closed

[2018-10-18 22:00] jstephens7 commented on #590
I'm still able to reproduce the initial issue I reported by trying to do requests very close to each other.
In the LoggedIn state, after processedInitialSql calls clearConnectTimer, Connection.close gets called and it goes into the behavior I described initially:
It transitions to Final, the enter function is called, cleanupConnection is called (with no parameters), it clears the connection and re

[2018-10-19 15:47] jstephens7 commented on #590
Correction. It turns out we were calling mssql.close instead of connection.close with concurrent requests taking place. This was causing tedious' destroyAllNow function to get called and close the connections. This eventually resulted in the behavior described above.

[2018-10-21 15:31] kibertoad commented on #788
@Suraiya-Hameed Should this issue be closed then?

[2018-10-22 10:31] ProjectaJE opened #810 "Get image from db but when converting back to image is corrupted"
Hello every body.
I'm using tedious for connecting to Azure DB. In the DB i have a table with a column type IMAGE. The SELECT in the table exports the image like a buffer. Then i put the buffer like response for the client. When i receive the response i try to convert the buffer to base64 but i get corrupted image...
This is my data from db and the data buffer from tedious
Please help me...

`data

[2018-10-22 13:12] madal3x commented on #788
Sorry, i found now the time to test this. I tested with 2.7.1 and it seems it still doesn't recover after stopping and starting again the db. This is the output:

next
connected to localhost:1433
State change: Connecting -> SentPrelogin
State change: SentPrelogin -> SentLogin7WithStandardLogin
Packet size changed from 4096 to 4096
State change: SentLogin7WithStandardLogin -> LoggedInSendingInitial

[2018-10-22 22:59] Suraiya-Hameed commented on #788
@madal3x Thanks for testing it! Can you double check the tedious version being tested? I get the error you posted on versions prior to 2.7.1 and not in 2.7.1 😅

[2018-10-23 06:30] ProjectaJE commented on #810
i updated the string in the db with the image and it works fine. i think that when i putted the image with a insert something goes wrong.... everythings is alright.. sorry again and thanks for the answer...

[2018-10-23 06:30] #810 closed

[2018-10-23 11:01] madal3x commented on #788
@Suraiya-Hameed I have reconfirmed that the version i am using is indeed 2.7.1. I can also see the code you've added for the fix in my node_modules/tedious/lib/connection.js lines 1044:1048

[2018-10-23 22:38] Suraiya-Hameed commented on #788
Right, `socket hang up` error message was added in 2.7.1. Its hard to figure the cause since I'm not able to reproduce it 😕 which version of nodejs are you using?

[2018-10-23 23:19] madal3x commented on #788
i am using node 8.9.4

[2018-10-24 02:58] heroboy opened #812 "Too large money value will make nodejs crash."
https://github.com/tediousjs/tedious/blob/234cf6c26d3b7d06e4c1f25b7b2ef5b00ff87729/src/tracking-buffer/writable-tracking-buffer.js#L275-L277

[2018-10-24 02:58] spanditcaa commented on #812
curious, what version of node ?

[2018-10-24 03:05] heroboy commented on #812
@spanditcaa any version . Because `Math.floor(value * SHIFT_RIGHT_32)` overflow.

[2018-10-24 03:10] heroboy commented on #812
try this:
[code]
output:
[code]

[2018-10-24 03:13] heroboy commented on #812
If the type is `Int`, it won't crash. Even `1e99` is out of the range of `Int`. So I think it may not throw exception when the type is `money`.

[2018-10-24 03:16] heroboy commented on #812
If the type is `Int`,and the value is `1e9999`(Infinity). It will call the callback with `RequestError: Validation failed for parameter 'v'. Invalid number.`

[2018-10-24 23:03] #789 closed

[2018-10-24 23:04] Hadis-Fard commented on #789
Feel free to reopen the issue, if it persists

[2018-10-26 13:55] marcindabrowski commented on #300
I also got this error just after starting bulk load.
And the cause was that I tried to insert text which had more characters than column allowed.
When I altered column it started to work.

[2018-10-27 11:30] heroboy commented on #812
@Hadis-Fard ok, I will try it next week.

[2018-10-27 11:38] heroboy opened #814 "`parseInt` should not be used to convert float to int"
Because `parseInt` convert the parameter to string first.
In source code like `int.js`:
https://github.com/tediousjs/tedious/blob/7504a2525b7a1aec1b14f07ec2416aa5d12e7612/src/data-types/int.js#L26-L38

If the input value is a number, it will make some undesirable result. For example:
[code]
More example can reference to https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objec

[2018-10-27 18:33] summittracker commented on #416
@tvrprasad - Does Tedious still not support Azure Active Directory Authentication?

[2018-10-29 02:17] heroboy opened #816 "data-type test failed."
[code]

[2018-10-29 02:19] heroboy commented on #816
maybe https://github.com/tediousjs/tedious/issues/767

[2018-10-29 19:07] markddrake opened #817 "Prepared Statement: TypeError: parameter.type.validate is not a function with sql.Geometry"
The following code

[code]
Results in

[code]
Admitted newbie to MSQL so apologies in advance if I'm being stupid.

[2018-10-29 19:09] markddrake commented on #817
Also note the error is not 'caught' by the try/catch block..

[2018-10-29 19:14] markddrake commented on #817
The same behavior is observed with a Geography column

[2018-10-29 20:15] Suraiya-Hameed commented on #817
Hey @markddrake, `tedious` doesn't support geometry or geography type, for supported types refer http://tediousjs.github.io/tedious/api-datatypes.html. `mssql` is likely doing some internal mapping or conversion to support it, they should be able to help you if you raise this issue in there [repository](https://github.com/tediousjs/node-mssql/issues).

[2018-10-29 20:51] markddrake commented on #817
ReFiled in correct repository https://github.com/tediousjs/node-mssql/issues/743

Sorry Guys...

[2018-10-29 20:51] #817 closed

[2018-10-30 22:50] Hadis-Fard commented on #814
@heroboy Could you send a repo using Tedious where there's an issue with int datatype?

[2018-10-31 01:15] heroboy commented on #814
@Hadis-Fard
check this example:
[code]

[2018-11-01 20:45] Hadis-Fard commented on #520
Closing this due to inactivity, feel free to reopen

[2018-11-01 20:45] #520 closed

[2018-11-02 09:54] WeihanLi commented on #356
I've met the sample problem, I use the `config` package to manage my db config,

my db config json:
[code]

the error are as follows:
[code]

[2018-11-02 21:54] arthurschreiber commented on #356
I guess you're running on an older version of `tedious`? Newer versions (I think 3.x and later) don't modify the passed in config anymore.

[2018-11-04 01:45] WeihanLi commented on #356
I'm using the latest `mssql` with 4.2.2 which has dependency with `tedious` above 2.7.1, should I add `tedious` with 3.x version?

[2018-11-15 18:42] tverdohleb commented on #132
A years passed, and in the fall of 2018 I've met the same issue. Any news, guys?

[2018-11-16 11:52] jopep100 opened #824 "Getting empty Array"
Hey there, I try to get into Tedious and nodejs. This is my code, but why is the Array empty and why is it shown before the sql statement?

[code]

[2018-11-17 02:12] kunzhang1110 opened #825 "Issues with reading metadata of existing tables"
I was doing a project and encounter some issues in getting table's metadata/schema for the bulkloader. Basically, we had an existing/designed but empty table and we tried to put data in it. My solution was to make a dummy request, like "select top (1)", to get the column's metadata, as follows

[code]

which returns a promise that returns a bulkload on resolve. I think creating the table in the co

[2018-11-17 02:18] Hadis-Fard commented on #824
@jopep100 the reason lies in the async nature of Node, `console.log(data)` gets executed before the connection events fire off. In order to make  data available you can use callbacks to access the data after the values are pushed into the data array, for example the code below would print out the data,

[code]

[2018-11-19 11:36] naiieandrade commented on #236
Hey @ivantodorovich or anyelse, if you could help me.

I'm using tedious with sql-server, and I have to return a `json` file.
The **#1** problem I had was because my select was returning 3 rows because was a relation one-to-many tables.

For example:

| id | id_model_car |
|---|---|
| 1 | 3 |
| 1 | 2 |
| 2 | 1 |
| 2 | 2 |
| 2 | 4 |
| 3 | 4 |

The select was some like
[code]

Was returning 3 rows,

[2018-11-19 11:43] naiieandrade opened #826 "Relational to JSON - How to run two selects?"
I'm using tedious with sql-server, and I have to return a `json` file.
The **#1** problem I had was because my select was returning 3 rows because was a relation one-to-many tables.

For example:

| id | id_model_car |
|---|---|
| 1 | 3 |
| 1 | 2 |
| 2 | 1 |
| 2 | 2 |
| 2 | 4 |
| 3 | 4 |

The select was some like
[code]

Was returning 3 rows, but it's was justing showing in Postman the last row be

[2018-11-19 22:45] Hadis-Fard commented on #824
closing this assuming the problem is resolved , feel free to re-open the issue if otherwise

[2018-11-19 22:45] #824 closed

[2018-11-20 08:38] jopep100 commented on #824
It helped a little bit, but i am not able to use it by my self.
I want to get SQL Data from my Server with Tedious and send it to my html page,probably with an array. (Or what do you think is the best solution ?) Can you just give me a example how it works. Or is there a good video tutorial ?

[2018-11-20 18:53] Hadis-Fard commented on #825
@kunzhang1110 this code doesn't seem to use tedious bulkloader correctly (or maybe it's partial code snippet :sweat_smile:), you should create a bulkload object, see the [documentation ](http://tediousjs.github.io/tedious/bulk-load.html) for more info, also you should be able to create table by sending the sql. for the type issue, could you send a working repo?

[2018-11-20 19:01] Hadis-Fard commented on #824
The code above would get the data back into the array using callback , depending on you application you may want to use Node promises or async/await for a better performance instead of callbacks  :bowtie:. There are many js front end frameworks to send it to the html, choosing one depends on your application and is out of the scope of this repository

[2018-11-21 21:11] Hadis-Fard commented on #826
@naiieandrade wondering whether you're using Tedious and do you have any issue or ambiguity with Tedious driver? 🤔 cause what you have posted seems like a specific SQL question related to project

[2018-11-22 14:46] Mika83AC opened #830 "GUIDs returned in wrong format not matching the RFC 4122 section 3 requirements"
Hey everyone,

I experience an issue which is caused by tedious returning a not standard conform GUID.

### Expected behaviour:

Because of "RFC 4122 section 3", GUIDs have to contain only lower case letters for output.

So a GUID has to have the format
60595f88-b726-46f2-91ec-886da79e6203

### Actual behaviour:

Tedious outputs GUIDs as
60595F88-B726-46F2-91EC-886DA79E6203

This lead to compariso

[2018-11-23 05:29] instantwpuserwin opened #831 "getaddrinfo ENOTFOUND Error"
Hey all;

Trying to connect to my ms sql db in winhost.
But I am getting error.

Details below. Would appreciate any help. Thanks a lot.

FYI: This works via SQL Server management studio 2014. I used same config as mentioned below.

[code]

[code]

[2018-11-23 18:14] Hadis-Fard commented on #831
Are you able to connect to the server with the SSMS? 🤔

[2018-11-23 18:31] arthurschreiber commented on #831
You don't need to prefix the server name with `tcp:`. Try this instead:

[code]

[2018-11-23 23:48] naiieandrade commented on #826
@Hadis-Fard Hi, sorry, I'm new with Tedious. I'm using Tedious. I'm doing a project and in shortly time I have to do this. So I'm studying and learning in this short period. I just want to know if I can do two select to return in the same JSON like as the example above. Is my question is clearer now? :confused:

[2018-11-24 00:08] Hadis-Fard commented on #830
@Mika83AC the map in guid parser is in caps https://github.com/tediousjs/tedious/blob/master/src/guid-parser.js#L3, updating it to lower case would fix the issue, wanna send the PR?

[2018-11-24 09:19] naiieandrade commented on #826
Hey @Hadis-Fard I got it! I'm sure was not the correct form. How I said, I don't know yet.

[code]
This way I got to do 2 *selects* and concatenate in the same json.

My result was something like this:

[code]

[2018-11-24 19:48] #826 closed

[2018-11-26 16:55] aniltomar10 opened #833 "ConnectionError: Failed to connect to <server name> in 15000ms"
I am using tedious-connection-pool. I am getting this error intermittently.
unhandledRejection: ConnectionError: Failed to connect to in 15000ms

[2018-11-26 19:47] #831 closed

[2018-11-26 21:53] Hadis-Fard commented on #833
@aniltomar10 Could you send a repo?

[2018-11-29 19:08] Hadis-Fard commented on #833
@aniltomar10 this seems to be the issue with[ tediousjs/node-mssql ](https://github.com/tediousjs/node-mssql/)

[2018-11-30 23:30] aniltomar10 commented on #833
@Hadis-Fard I had copied wrong stack trace.
Also I found that tedious-connection-pool is using old version of tedious dependency. This issue was there in tedious package but later it was fixed. As tedious-connection-pool is still using older version of tedious package, issue is there.
Now I have replaced tedious-connection-pool in my project with node-mssql. I hope this should fix the issue.

[2018-12-03 19:22] Hadis-Fard commented on #833
@aniltomar10 glad to hear you figured it out, I close the issue , feel free to reopen it if you encounter it again

[2018-12-03 19:22] #833 closed

[2018-12-04 18:37] aniltomar10 commented on #833
@Hadis-Fard looks like it didn't fix the issue. I received same error today. Both tedious-connection-pool and mssql throwing same error.

[2018-12-05 16:46] aniltomar10 opened #835 "ConnectionError: Failed to connect to <server name> in 15000ms #833"
Reopening this issue.
https://github.com/tediousjs/tedious/issues/833

I tried tedious-connection-pool and node-mssql module both are throwing same error.

[2018-12-05 18:04] Hadis-Fard commented on #835
@aniltomar10 Could you send and isolated repo along with the stack trace?

[2018-12-05 18:06] Hadis-Fard commented on #825
@kunzhang1110 could you send and isolated executable repo of the issue? It's time-consuming to go through all your code 😅

[2018-12-10 04:45] gladmustang opened #836 "Login failed. The login is from an untrusted domain and cannot be used with Windows authentication."
I am using tedious  3.0.1 to connect sql  server, I want to use windows authentication, my config looks like this,
var config = {
  domain: 'XXXXCLOUD',
  userName: 'XX_SA_XX_XXXX_XX',
  password: "my pass"
  server: 'XX-ZU2SQLXXX.XXXXCLOUD.com',
  options: {
      database: 'dbname',
      encrypt: true,
      port: 1433
  }
}
After run command, I got "Login failed. The login is from an untrusted

[2018-12-12 05:19] kamesh95 opened #837 "Javascript Heap out of memory when streaming large amount of data"
I am using tedious v2.7.1 with `request.stream = true` for my db query to retrieve huge amounts of data. I have handled the `request.on('row', () => {})` to further write the data to a writable filestream. My db table has around 3 million records. Streaming works fine till around 500 MB and then degrades eventually consuming a lot of memory around 1.5-1.8 GB and further crashes the node process. I

[2018-12-12 17:54] Hadis-Fard commented on #836
@gladmustang I am not able to help with this info 🤷‍♀️  but the error is telling what could be the potential issue. are you able to connect to the server using SSMS with the same config? Also depending on the scenario, setting `trustServerCertificate` to true could be helpful.

[2018-12-13 16:01] arthurschreiber commented on #836
Sometimes the server requires passing through the workstation name as well. Unfortunately, we currently don't expose that option. I'll see if I can open a PR to allow this, and maybe you can then see if that helps you in your case.

Sorry you're facing this trouble. 🙇

[2018-12-13 19:12] Hadis-Fard commented on #837
@kamesh95 I'm investigating on this issue, could you please share your db schema as well?

[2018-12-14 03:17] gladmustang commented on #836
Hi arthurschreiber,
   Thanks for response and help, waiting for your further update.

[2018-12-14 05:13] kamesh95 commented on #837
@Hadis-Fard Thanks for picking this up. Here's the db-schema for my table.
![audittrail](https://user-images.githubusercontent.com/16370987/49984152-b9a67b80-ff8c-11e8-8b7f-81372140cfd0.png)

This is the DDL generated through db viewer -
[code]

[2018-12-14 17:35] GuyHarwood commented on #404
@arthurschreiber @ben-page should `tedious-connection-pool` no longer be used?  it doesn't appear to have been touched in a long time, or is that because it is just assumed to work?

we are seeing very strange connection pool saturation issues with tedious v3 + sql azure.

Any suggestions greatly appreciated

[2018-12-17 15:49] conradoramalho commented on #130
What is the best solution for this problem?

Is it possible to pass multiples ids?

[2018-12-18 13:54] tommyfok opened #838 "the `tdsVersion` option is not working"
## the `tdsVersion` option is not working

I am so confused that even if I set tdsVersion to '7_1', tedious still generated SQL statements only supported by SqlServer version 2012(the fetch next statement), which did not match the document description.
![image](https://user-images.githubusercontent.com/3250229/50158335-d2a58880-030e-11e9-9785-ac739c9a7ff3.png)

generated sql example

[code]

[2018-12-19 00:03] Hadis-Fard commented on #837
@kamesh95 Could you send me the config and how you're establishing `this._dbConnection`?

[2018-12-19 00:10] Hadis-Fard commented on #837
@kamesh95  you're using[ node-msql](https://github.com/tediousjs/node-mssql) would be better to open the issue there 😃

[2018-12-19 01:30] Hadis-Fard commented on #838
Hi @tommyfok 👋  it's not clear what's the issue, are you trying to generate SQL Statement? or you're trying to execute it? Would you please send an isolated executable repo of the issue?

[2018-12-19 07:20] kamesh95 commented on #837
@Hadis-Fard Isn't this something related to tedious? because the stack trace is pointing to tedious.

[2018-12-19 18:21] Hadis-Fard commented on #837
@kamesh95 [Tedious.js is imported](https://github.com/tediousjs/node-mssql/blob/master/lib/tedious.js#L3) in node-mssql. it's the node-mssql which enables streaming option, the issue might come from the way that tedious is used within node-mssql. I'd suggest to open the issue there, as it might be more effective 😅

[2018-12-20 00:07] caskeychr opened #839 "RangeError: Maximum call stack size exceeded"
Hi all,

I'm using the NPM package MSSQL which uses Tedious at its base to communicate to Microsoft SQL Server. When submitting a basic request such as "SELECT * FROM MYTABLE", to a table with a large number of  columns (484 columns), the tedious package is erroring out with the following message:

[code]

Upon further testing, I retried the same query using the Sequelize NPM package which using T

[2018-12-20 05:14] kamesh95 commented on #837
@Hadis-Fard Okay. I understand. Will report over there. Thanks :)

[2018-12-20 17:19] pgraham commented on #475
Any update on this? If I wanted to investigate this myself where would I start?

[2018-12-20 21:10] jstuparitz commented on #475
Ditto, would love to see a fix for this issue

[2018-12-20 22:17] pgraham commented on #475
Putting some more thought into this. Would it be possible to add a setTimeout/nextTick in between packet writes to allow other processing to also take place and not completely block the event loop?

If so where would be a likely spot for this to go?

[2018-12-21 01:33] Hadis-Fard commented on #839
@caskeychr I've used the first script, everything works fine one my side with 30k rows and 400 columns of type `Varchar(500)` using the first script you have posted, could you send the table schema? the result could change depending on data types.

[2018-12-21 03:44] caskeychr commented on #839
I apologize for the length of the schema ahead of time, but it's mainly just integers and character fields. The only difference is a few decimal fields towards the end.

If you need the actual script from SQL Server for generation, just let me know and I can scrub a copy to post to the forums.

But I have 4 tables in my database with similar schemas that are resulting in the same error. All other

[2018-12-21 15:12] LIMRoss commented on #833
I'm seeing the same issue (mssql 4.30, tedious 2.7.1). The connection pool is notified of the error events just fine, and behaves as expected if the server isn't available on the initial connection. The problem is any errors after the pool is created seems to be emitting the correct error message, but is an unhandled rejection, so no errors bubble up that way, and throws NodeJS into a tizzy.

[2018-12-21 16:02] LIMRoss commented on #833
@aniltomar10  I noticed by bouncing around similar issues that passing acquireTimeoutMillis in your config.pool will still give you the unhandled rejection, but will at least pass an error back through your code's callback\promises

[2018-12-21 18:18] pgraham commented on #475
@arthurschreiber Looks like not, as you said above, the required changes would be pretty extensive. I am still interested in looking into this if you'd accept a PR but would likely need a little guidance for first steps.

[2019-01-01 06:00] tommyfok commented on #838
I wanted to use KNEX to perform some queries on my SQL Server 2008 database, but the database reported some SQL errors because KNEX generated some SQL statements that SQL Server 2012 only supported such as `select [存货资料].* from [存货资料] offset @p0 rows fetch next @p1 rows only`. The `fetch next` statement is only supported after Sql Server 2012. Even if I set `tdsVersion` option to `7_1` or other an

[2019-01-01 20:10] arthurschreiber commented on #838
@tommyfok `tdsVersion` allows specifying the version of the TDS protocol to be used. But this has no impact on `knex` (which is a different project), nor does it impact what SQL features are supported on the SQL Server instance.

E.g. you can connect to SQL Server 2016 using TDS 7.1 and still use all the new T-SQL functionality.

I think you need to reach out to the `knex` developer and raise this

[2019-01-01 20:10] #838 closed

[2019-01-02 23:37] Hadis-Fard commented on #839
@caskeychr your both repo script with the table that you've sent works fine and I get the result as
[code]

[2019-01-04 01:43] #837 closed

[2019-01-04 23:15] shani117 commented on #835
I'm also facing this same exact issue when trying to connect to a SQL Azure DB using AAD auth. When i did some log stream capture, I see this error is thrown every time before the connection attempt times out:
`Error: No event 'routingChange' in state 'SentLogin7Withfedauth'
    at new Error (native)
    at Connection.dispatchEvent (D:\home\site\wwwroot\server.js:269168:26)
    at Parser.tokenStre

[2019-01-05 08:37] YnievesDotNet opened #840 "Error Connecting with sql 2000 "CryptoApi""
I have this error when I try connect to sql2000 server

`
Tedious-Connection-Pool: filling pool with 1
Tedious-Connection-Pool: creating connection: 1
Tedious-Connection-Pool: connection connected: 1
Tedious-Connection-Pool: connection closing because of error
{ ConnectionError: CryptoAPI function 'CryptAcquireContext' failed. Error 0x8009001d: (Error description unavailable).
    at ConnectionErr

[2019-01-06 13:58] arthurschreiber commented on #840
Which version of tedious are you using? Newer versions of tedious contain a fix for encryption related issues in combination with older SQL Server  / Windows versions.

[2019-01-07 00:44] lenisha opened #841 "Azure active directory auth routing error"
Testing `azure-active-directory-password` authentication on Azure App Service fires exception.
To reproduce - code:
https://github.com/lenisha/node-vault-aad

error:
[code]

[2019-01-07 15:21] ErikJansenIRefact commented on #785
We are now not only having problems with the endOfMessage event not being sent but are receiving a parse error now as well.

`'Error: Unknown type: 244\n    at Parser.parseTokens (S:\\i-refact\\acme-js\\node_modules\\tedious\\lib\\token\\stream-parser.js:93:28)\n    at Parser._transform (S:\\i-refact\\acme-js\\node_modules\\tedious\\lib\\token\\stream-parser.js:70:12)\n    at Parser.Transform._rea

[2019-01-07 18:41] ErikJansenIRefact commented on #785
Regarding the "unknown type" error: it seems to occur if we retrieve rows for which columns exists with lengthy string values (varchar(max)). Calling pause/resume seems to break the buffer somehow.
Hope this helps.

[2019-01-07 20:17] chdh commented on #785
We can probably fix it when you provide a test case so that we can reproduce the problem.

[2019-01-07 21:33] arthurschreiber commented on #835
@shani117 Oh wow, yes, I think you've found the root cause of this issue! I'll see if I can open a PR with your changes tomorrow to get this fixed properly. Thank you so much! 🙇

[2019-01-08 13:21] ErikJansenIRefact commented on #785
We have a table and if we query it directly with periodic pause()/resume() calls it works fine.

If we however retrieve this same table within our application we do get the parse error.
Our application sends the row data to an internal transform stream. If this buffer is full we call the request.pause() function and upon the drain event we call request.resume(). So it seems our application does ex

[2019-01-08 17:58] chdh commented on #785
The byte stream, which gets parsed into tokens, could get interrupted when an ATTENTION message is sent. The client sends an ATTENTION when a timeout occurs or when the request is cancelled. Normally this is not a problem and parsing of the byte stream resumes correctly, but maybe there is something wrong. Maybe pause/resume only triggers the error.

[2019-01-08 18:03] #835 closed

[2019-01-08 18:03] #841 closed

[2019-01-08 18:17] arthurschreiber commented on #785
Yes, @chdh is right. I think you might be running into a request timeout, which causes the request to be cancelled via an attention event and the connection switches into the `SENT_ATTENTION` state, before the end-of-message marker can be pushed into the token stream parser.

I'll see if I can come up with a fix. Thanks everyone for reporting this issue, and thanks for being patient with us to fig

[2019-01-08 18:21] arthurschreiber commented on #841
:tada: This issue has been resolved in version 4.1.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/tedious)
- [GitHub release](https://github.com/tediousjs/tedious/releases/tag/v4.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-08 18:21] arthurschreiber commented on #835
:tada: This issue has been resolved in version 4.1.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/tedious)
- [GitHub release](https://github.com/tediousjs/tedious/releases/tag/v4.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-08 18:39] ErikJansenIRefact commented on #785
Probably not an issue with timeouts. In the config we set "requestTimeout": 0.
But it might be caused by a cancel on the request.

[2019-01-09 21:07] chdh commented on #785
I have made some extensive tests with large records (using `varchar(max)`), `cancel` and `pause`/`resume`. But I can't reproduce these two errors. The callback of the request is always called and a token parsing error did not occur.

Which Tedious version do you use? Do you use an encrypted connection or anything special?

[2019-01-10 01:20] chdh commented on #785
I managed to reproduce the problem of the missing request callback by extending my test program with random delays and large random data fields in the database. And I found the cause of the problems. It's a faulty program logic in the token stream parser transform. The error is not directly related with the pause/resume logic but it seems to get triggered by pause/resume.

The root cause of the pr

[2019-01-10 07:20] ErikJansenIRefact commented on #785
Good to hear that you were able to reproduce and find the problem. We were still struggling getting a testcase together. Hopefully the PR will be accepted soon as this issue is currently blocking for us.

[2019-01-10 15:52] arthurschreiber commented on #785
@ErikJansenIRefact Would you mind taking the newly released `v4.1.3` for a test drive, and see if that fixes the issues you're seeing?

As it's still "hidden" via the `next` tag, you can install either via `npm install tedious@next` or `npm install tedious@4.1.3`

Please let us know if that version fixes your issues, and we'll promote it to `latest`. 🙇

[2019-01-10 18:24] ErikJansenIRefact commented on #785
Hi Arthur, we tested the query and the change fixes the issue.
Thanks Christian for the swift response and action.

[2019-01-14 16:01] arthurschreiber commented on #785
@ErikJansenIRefact Thanks for reporting back. I promoted `v4.1.3` to the `latest` channel.

@chdh Again, many thanks for looking into this! 🙇

[2019-01-14 16:01] #785 closed

[2019-01-14 16:04] arthurschreiber commented on #545
This will be fixed via https://github.com/tediousjs/tedious/pull/846. 😬

[2019-01-14 16:06] arthurschreiber commented on #534
This will be added via https://github.com/tediousjs/tedious/pull/846. 😬

[2019-01-14 19:31] YnievesDotNet commented on #840
ins this moment I are using
`
    "tedious": "^3.0.1",
    "tedious-connection-pool": "^1.0.5"
`

[2019-01-14 21:05] jstephens7 commented on #590
Even after switching to connection.close we're still getting hung up. I'm still looking into why.

[2019-01-15 20:53] arthurschreiber commented on #840
I think this was fixed in `v4.0.3`. If you can't upgrade to that version, you could try applying the changes from the following commit and see if that fixes the issue: https://github.com/tediousjs/tedious/commit/7b04e1c

[2019-01-16 09:01] #534 closed

[2019-01-16 09:01] #545 closed

[2019-01-16 10:16] arthurschreiber commented on #545
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/tedious)
- [GitHub release](https://github.com/tediousjs/tedious/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-16 10:16] arthurschreiber commented on #534
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/tedious)
- [GitHub release](https://github.com/tediousjs/tedious/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 08:04] tvedtorama opened #851 ""parameter.type.validate is not a function" when using "XML" data type for parameters"
This just crashes.

[2019-01-18 08:05] tvedtorama commented on #851
Turns out XML is not supported. Fortunately you can just pass your XML as a nvarchar, and it works.

[2019-01-18 08:05] #851 closed

[2019-01-21 18:09] Hadis-Fard commented on #825
@kunzhang1110 closing this issue, feel free to reopen 😄

[2019-01-21 18:09] #825 closed

[2019-01-25 18:13] jennypho opened #852 "Using windows authentication not working"
I'm having trouble getting SQL express connected to my application using windows authentication
is there something I'm doing wrong?
[code]

[2019-01-28 19:23] Alextunchii opened #853 "RangeError [ERR_BUFFER_OUT_OF_BOUNDS]: Attempt to write outside buffer bounds"
Hi! Encountered this issue and haven't found any related info about it...

I started getting this error:
[code]
when have rewritten config from just an object:
[code]

to class:
[code]

In a file where import this class:
const BaseConfig = require('../../database/databaseConfig');
const baseConfigObject = new BaseConfig('bal_dev');

it.only('should ', async function () {
        console.log(baseCo

[2019-01-29 00:11] chdh commented on #839
Could be related to #843. Did you test with Tedious version >= 4.1.3?

[2019-01-29 00:37] MichaelSun90 commented on #852
Hi Jennypho,
I just took look at your issue. I have tried the exacted config set up for the connection same as yours, but i cannot repro this issue on myside. Just want to double check, what is the exact error message that you got for windows authentication and, what is the version of the tedious-connection-pool that you are currently using? I am using "tedious-connection-pool": "^1.0.5".  Also, i

[2019-01-29 00:43] chdh commented on #853
@Alextunchii  You are connecting to a MySQL server (port 3306), not to a MS-SQL server.

@arthurschreiber There is a programming error in `incoming-message-stream.js`. In `processBufferedData()` the `length` variable is never checked to be `>= HEADER_LENGTH`. If the first 2 bytes received are 0, the `data` buffer passed to the `Packet()` constructor is empty and this leads to a `ERR_BUFFER_OUT_OF_

[2019-01-29 08:58] Alextunchii commented on #853
@chdh
Yeah, I see... I mixed up configs. Sorry for distracting you and thank you for your prompt which resolved consequences of my evening unattentiveness...

[2019-01-29 22:35] MichaelSun90 commented on #830
@Mika83AC I have looked into this issue and found out that Tedious actually indeed translate the GUID elements from the database side with capitalized letters like Hadis mentioned in the previous message. I had a fix and will rise a pr shortly. I also found even though I insert the GUID entry with lower case letters into the database, in this case, I used my SQL which transform the GUID that I pas

[2019-01-29 22:48] arthurschreiber commented on #830
@MichaelSun90 The way to go here is to add an option that allows setting the case of GUIDs, defaulting ti to the current behaviour, deprecate the current behaviour, and then remove it and only support lower case GUIDs.

[2019-01-30 19:22] jennypho commented on #852
Nevermind got it to work! I just had to change my configuration

[code]

[2019-01-30 19:23] jennypho commented on #852
Thanks!

[2019-01-30 19:23] #852 closed

[2019-01-30 20:16] jennypho opened #854 "Trouble querying from linked server"
I have DB1 and added a linked server DB2 and have stored procedures that execute from DB2.
Windows account has read-only permissions in DB2
[code]
My sql query executes within sql management on the same windows account in a stored procedure under db1 but gets an error when running on the application
[code]
Error when executing stored procedure in DB1
[code]

[2019-01-31 18:15] BrianLawton opened #856 "NTLM authentication regression with 5.0.0 & 5.0.1"
@arthurschreiber The 5.0.0 and 5.0.1 releases seem to have a regression with "ntlm" authentication whereby it's failing with error below. The 4.2.0 release continues to work. As a side note, "default" authentication works fine in 5.0.x builds but unfortunately for us doesn't meet our requirements so we're staying with 4.2.0 for now.

**Environment:**
- Windows 10 Pro & Server 2016
- NPM 6.7.0

[2019-01-31 18:21] #853 closed

[2019-01-31 21:15] arthurschreiber commented on #856
Thanks for reporting this! I'll be looking into reproducing and fixing this tomorrow. 🙇

[2019-02-01 04:46] zhoukk commented on #368
var config = {
    options: {
        tdsVersion: '7_1'
    }
}

[2019-02-01 17:13] #856 closed

[2019-02-01 18:39] arthurschreiber commented on #856
:tada: This issue has been resolved in version 5.0.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/tedious)
- [GitHub release](https://github.com/tediousjs/tedious/releases/tag/v5.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 21:09] BrianLawton commented on #856
Just pulled 5.0.2 and its working as expected. Thanks again for the quick response in fixing this!!

[2019-02-02 14:52] yianni-ververis opened #858 "Please update documents with the latest config schema"
This is the warning I get by using the examples in the repository.

tedious deprecated The "config.userName" property is deprecated and future tedious versions will no longer support it. Please switch to using the new "config.authentication" property instead. src/server/models/utilities/AzureSQL.js:36:25

Please update documents with the latest config schema that uses "config.authentication"

[2019-02-03 22:09] glazec opened #861 "RequestError: Requests can only be made in the LoggedIn state, not the SentPrelogin state"
my code is:

[code]

[2019-02-04 07:08] arthurschreiber commented on #861
Based on the code you posted here, you're not handling the `err` parameter of the `connect` event callback.

If `err` is not `null` or `undefined`, you should not call your `executeStatement()` function, as the connection can not execute any requests unless it was fully established.

[2019-02-04 07:08] #861 closed

[2019-02-04 08:07] glazec commented on #861
thans

[2019-02-04 17:11] jstephens7 commented on #590
The fix from earlier is working for me, but I decided to run wireshark to try and see the network traffic leading to the error in the first place. I was able to reproduce the issue twice while running the trace.
I'm not sure of the significance of any portion of what I got back so I'll include what I noticed in common between the two times the error occurred.
Both times we had a PSH ACK and FIN AC

[2019-02-04 19:22] Hadis-Fard commented on #858
@yianni-ververis the documents are updated in http://tediousjs.github.io/tedious/api-connection.html any feedback to make it better is deeply welcomed 🙏

[2019-02-08 13:04] pranaytanniru commented on #858
hey, there is no example regarding how a config object should look like.

[2019-02-08 13:21] arthurschreiber commented on #858
@pranaytanniru It#s a bit of a shortcoming of the current documentation.

Here's an example config that makes use of the `authentication` property:

[code]

[2019-02-10 09:29] #477 closed

[2019-02-11 21:07] MichaelSun90 commented on #854
Hi @jennypho, just read through your problem with the linked server. Unfortunately,  tedious doesn't currently support delegated authentication. This has been discussed in another issue #735. You can check that issue for some more details.

[2019-02-12 08:27] MarioPerezEsteso commented on #799
Hi. We are also experiencing this issue.

These are our versions:
mssql: 4.3.0
which uses tedious version: 2.7.1

[code]

[2019-02-12 15:31] fer22f commented on #678
Is this being worked on? This is a very important issue for projects involving decimal values, and I was thinking about starting a prototype for this RFC.

[2019-02-16 16:05] WillNG-89 opened #868 "Getting error connecting with SQL Server from Azure function app"
Following is the trace of the error we received when a function app using Tedious library tried connecting to SQL server in Azure.

Exception while executing function: Functions.fnName Failed to start language worker for: node One or more errors occurred.
 (node exited with code 1 at Connection.socketError
 (D:\home\site\wwwroot\Gateway\node_modules\tedious\lib\connection.js:1099:26), at Socket.on

[2019-02-16 22:36] igloobear commented on #868
Supplementary Info: tedious library would work with Azure test environment, but have this issue when running in S2 plan.

[2019-02-17 02:08] eelti opened #869 "RequestError: Error converting data type decimal to decimal."
RequestError: Error converting data type decimal to decimal.
    at RequestError (C:\vue\qOmeter\node_modules\tedious\lib\errors.js:32:12)
    at Parser.tokenStreamParser.on.token (C:\vue\qOmeter\node_modules\tedious\lib\connection.js:723:34)
    at Parser.emit (events.js:189:13)
    at Parser.parser.on.token (C:\vue\qOmeter\node_modules\tedious\lib\token\token-stream-parser.js:27:14)
    at Parse

[2019-02-23 01:41] MichaelJCole opened #872 "Invalid usage of the option NEXT in the FETCH statement."
Hi there, I'm just starting to use Tedious through the feathers-sequelize package.

I'm getting an [error that seems related to SQL Server versions](https://stackoverflow.com/questions/30632779/tedious-or-sequelize-uses-the-wrong-syntax-for-findone/54837260#54837260).

SQL Server is a new animal for me.  Anything obvious I'm missing?

Thank you!

I'm working with this version of mssql:
[code]

It

[2019-02-23 02:16] MichaelJCole commented on #872
Here is the code that's generating the query:

https://github.com/sequelize/sequelize/blob/master/lib/dialects/mssql/query-generator.js#L860

[code]

[2019-02-27 18:46] MichaelSun90 commented on #869
Hi @eelti, sorry that we take a while to get back to yo. I have looked into this issue, and I am able to reproduce on my side. I think it is caused by the decimal precision and scale setting does not match on both side.  You can try to set the precision and scale on Node Js side to specifically make the precision and scale to 10 and 4.
eg:
var option =  {"precision":10,"scale":4}
request.addOutput

[2019-03-01 16:41] charutiwari04 opened #873 "TypeError: The "config.options.textsize" property must be of type number or null."
After installing version 5 of tedious/mssql, I am facing an issue while connecting to database. Following error is received,
Looks like somewhere in your code config.options.textsize is set as string or something else, which should be either integer or null.

Please refer to this issue for further details:

https://github.com/tediousjs/node-mssql/issues/799

[2019-03-07 17:43] sergeos commented on #799
Write your versions of MSSQL Server. Now, SQLNCLI11 is replaced by MSOLEDBSQL for MSSQL2017 instance.
https://blogs.msdn.microsoft.com/sqlnativeclient/2018/03/30/released-microsoft-ole-db-driver-for-sql-server/

[2019-03-08 22:04] MichaelSun90 commented on #873
Hi @charutiwari04, I just checked the code, I think the comment from the #799 looks correct. The default value for the textsize is actually set to a string. We will raise a bug on our side, and fix the issue. Thanks for raising this.

[2019-03-08 23:52] davepreston commented on #872
@MichaelJCole do you have a reason to believe this is an issue with tedious? the SQL code that is being sent to tedious does not look like valid SQL code. Specifically there is an OFFSET and FETCH with no ORDER BY clause.
details on OFFSET/FETCH here: https://docs.microsoft.com/en-us/sql/t-sql/queries/select-order-by-clause-transact-sql?view=sql-server-2017#using-offset-and-fetch-to-limit-the-rows

[2019-03-09 00:25] MichaelJCole commented on #872
Hi @davepreston looks like I opened this and https://github.com/sequelize/sequelize/issues/10472, but forgot to close this one.  I think you're right.

[2019-03-09 00:25] #872 closed

[2019-03-09 02:34] kevindashgit opened #875 "tedious driver allows for incorrect domain value"
**Expected**: I get back a connection failure as user BADDOMAIN\USERNAME is invalid.
**Actual**: I can connect without issue
**npm info**:
[code]

Example:
[code]

Another thing to note is that if I delete the domain property from the configuration, I get an error as expected.
If I were to provide an empty string, also get an error.
Any non-empty value works though.

Maybe I'm just missing somethi

[2019-03-09 22:59] communque commented on #782
Experienced the error
`"Unhandled 'error' event
ConnectionError: Connection lost - read ECONNRESET`

Node is hosting on an AWS EC2 Windows machine with MS-SQL on an AWS RDS.

Here's a more complete error report...

      throw er; // Unhandled 'error' event
      ^
ConnectionError: Connection lost - read ECONNRESET
    at ConnectionError (**\node_modules\tedious\lib\errors.js:12:12)
    at Connect

[2019-03-12 22:13] MichaelSun90 commented on #875
Hi @kevindashgit, I have tried to reproduce this issue with tedious 3.0.1. However, I have not been able to reproduce the behavior that conducts a connection with any domain values. One thing that I can suggest is, could you maybe try the lastest Tedious build, see if this issue still exists?  If you are not restricted to this specific tedious version.
When I try to reproduce the issue,
if I pass

[2019-03-13 00:07] kevindashgit commented on #875
Hi @MichaelSun90 so I think what needs to happen is, if the username is associated with a domain, then if you provide a string value in the domain field (any string value) - it will be accepted. If there is no domain user, then I would expect a failure.

so, for user BAR:
[code]

[2019-03-13 00:59] kevindashgit commented on #875
Confirmed same behavior with `v5.0.3`

Note: My configuration also included `encrypt: true` and `instanceName: someInstanceName` so not sure if that factors in...

[2019-03-14 16:28] jimmont opened #876 "update supported Nodejs versions to active LTS releases"
Please update the supported versions of Nodejs to active LTS release lines. In particular tedious version 6.

As of May 2019 [active LTS are](https://github.com/nodejs/Release): **Nodejs version 8 and version 10**.

According to [the survey](https://github.com/tediousjs/tedious/issues/690) this could impact as much as 57% of users as they're reported as using a version older than Nodejs v8.

Chang

[2019-03-14 16:32] arthurschreiber commented on #876
As specified in https://github.com/tediousjs/tedious/blob/master/package.json#L36-L38, tedious currently supports Nodejs versions 6 and up. 6 is the current LTS version until the end of April 2019, and we'll probably keep supporting it until then at least.

Thank you for the heads up, but we'll be staying compatible with 6.x at least to the end of April. There's no rush to kick out support right t

[2019-03-14 20:53] chdh opened #877 "Request.pause() does no longer stop memory overflow (regression)"
Up to Tedious 2.6.4 everything works fine, but starting with Tedious 2.7.0 the memory keeps getting filled with data from the SQL server even after `Request.pause()` has been called.

This problem has been reported by @gsamal in a comment to #518, and in tediousjs/node-mssql#832.

I have written a test program that confirms the problem: [testPauseResume.zip](https://github.com/tediousjs/tedious/fi

[2019-03-16 10:18] arthurschreiber commented on #877
This was fixed via #878.

[2019-03-16 10:18] #877 closed

[2019-03-16 10:46] arthurschreiber commented on #877
The fix for this is part of the `6.0.1` release. 🎉

[2019-03-16 12:28] arthurschreiber commented on #745
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/tedious)
- [GitHub release](https://github.com/tediousjs/tedious/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-19 05:03] Jamezo97 opened #879 "Large TVP parameter consumes memory and processing power"
# The Issue
We're trying to execute a stored procedure with approximately 100,000 rows of data, each consisting of around 20 bytes of data. This totals around 2MB.

However while assembling the `RpcRequestPayload`, the NodeJS process maxes out the CPU core, and starts allocating **insane** amounts of memory, chewing through hundreds of megabytes per second. It took over 10 minutes before it sent t

[2019-03-19 05:35] Jamezo97 commented on #879
Using mssql 4.3.0 the following code should replicate the issue:

[code]

[2019-03-19 14:14] fennibay commented on #163
Hi there,
I guess ultimately it would be nice to be able to define custom encoders in tedious, ref. #678.
A workaround idea that worked for me: cast the Decimal column to Varchar in the SELECT statement, maybe even cast to Bigint.

[2019-03-20 22:42] jssuttles commented on #415
I'd just like to check in on this. It seems like there's been a major refactor. Is there a way that I can just loop msnodesqlv8 into tedious? I thought msnodesqlv8 would just drop into sequelize but it didn't.

[2019-03-21 20:45] MichaelSun90 commented on #879
Hi @Jamezo97, I have tried the script that you provide, for the issue, I should expect the memory usage grow experientially right? While I am running the script that you provided, I am checking the memory usage under task manager, the memory performance looks normal. Is this the correct way to reproduce this issue, or you monitor the memory usage using a different way?

[2019-03-21 22:24] Jamezo97 commented on #879
Hi @MichaelSun90 , thank you for your interest in this issue.

Sorry for not making it clear, but I believe that what you're seeing is the correct behaviour. The total memory usage of the process will remain limited to within a reasonable range as the GC cleans up the old allocated buffers. As each new buffer is allocated, the previous buffers go out of scope and are subsequently cleaned up.

The

[2019-03-25 18:37] MichaelSun90 commented on #869
Hi @eelti, is the precision and scale settings help you with the issue? Or, it is still reporting the error after you set them?

[2019-03-25 20:23] jimmont commented on #876
The suggestion is to support LTS releases. The suggestion is not specific to any version, other than those which are active LTS releases. If adopted it would no longer be necessary to publish specific support other than "active LTS releases" and then update the package content to reflect the active LTS release whenever it is updated. Supporting version 6 of Nodejs would be included until the end o

[2019-03-28 11:27] Palloquin opened #881 "Am I doing something wrong? Is my installation messed up? Not getting MSSQL working"
My appologies, posted this in the wrong forum. Please disregard.

[2019-03-28 15:22] #881 closed

[2019-03-29 14:39] bitBrainResearch opened #883 "Incorrect time from Types.DateTime"
When calling a usp which does no conversion and returns sql server's GetDate() function value as-is, the time returned using Types.DateTime is incorrect.

It's 10am, the (incorrect but doesn't matter) time zone is reported as GMT-0400.  The time returned is 6am.

It appears as if someone was expecting GMT, modified it by the GMT offset and returned that.  When instead, they are getting the correct

[2019-04-02 02:33] rickysullivan commented on #838
@tommyfok What was your solution? I'm having the same issue.

[2019-04-02 08:08] AlexanderTunick opened #884 "Conversion failed when converting the varchar value '0.6' to data type int."
Hello.
I have stumbled on some issue that I can't figure out how to handle right now.
I have a simple query that works in any SQL tool (in my case DataGrip) and doesn't work with 'mssql' [https://www.npmjs.com/package/mssql] library that uses the tedious driver.

[code]

After running the query receiving this error:

[2019-04-02 23:55] MichaelSun90 commented on #883
Hi @bitBrainResearch
I am not familiar with usp, but as you explained, it passes through the sql.getdate()'s value. From your example, I assume it is '2019-03-29 10:37:38.943'.  I run some test on my side, create a data using JS date constructor  'new Date('2019-03-29 10:37:38.943')'. Then, call the writeParameterData under datetime.js from Tedious side. It seems to return the correct time 'Fri Ma

[2019-04-03 21:11] MichaelSun90 commented on #884
Hi @AlexanderTunick
The query that you provide is too complicated for me to mimic on my side, so I tried a simpler version.
If I directly call 'select CONVERT(INT, '0.6')' from SQL server management studio, and I got the exact same error on my side. In this case, I think SQL server does not accept convert varchar to an int. I think somewhere from your SQL query triggered a SQL server CONVERT() fun

[2019-04-05 04:48] lenisha opened #885 "MSI invalid state - Requests can only be made in the LoggedIn state, not the SentLogin7Withfedauth state"
When testing connection to Azure SQL with MSI token with code described here: https://github.com/lenisha/node-msi

Getting error:
Requests can only be made in the LoggedIn state, not the SentLogin7Withfedauth state

request database connection debugtext: State change: Connecting -> SentPrelogin
request database connection debugtext: State change: SentPrelogin -> SentTLSSSLNegotiation
request datab

[2019-04-05 05:46] glitzner opened #886 "Event: columnMetadata delivers deprecated Types"
I get a BITN type (id: 104) for a BIT data field (id: 50) in SQL Server. The problem now is, that the delivered deprecated type cannot be used as a parameter in request.addParameter(), because BITN has no validation rules and leads to: TypeError: parameter.type.validate is not a function
This issue happens also with other types like DATEN, NUMERICN, etc.

From my point of view, it should be possib

[2019-04-07 11:16] arthurschreiber commented on #886
Yeah, that's not great. 😞 We'll probabably have to properly implement and expose these types.

[2019-04-09 06:50] Mwalima commented on #352
var Connection = require('tedious').Connection;
var Request = require('tedious').Request;
var express = require("express");
var bodyParser = require("body-parser");
var app = express();

// Body Parser Middleware
app.use(bodyParser.json());

//Setting up server
var server = app.listen(process.env.PORT || 8081, function () {
    var port = server.address().port;
    console.log("App now running on

[2019-04-09 16:51] MichaelSun90 commented on #885
The fix has been merged and released.

[2019-04-10 06:41] raygift commented on #799
got same error when using code copied from microsoft official sample: <https://www.microsoft.com/en-us/sql-server/developer-get-started/node/windows/step/2.html>, and there is no textsize property in the config. is there  any other suggestion ?

[2019-04-10 13:01] marianolop22 opened #889 "TVP TYPE.date not working"
Hi, i'm trying to send a TVP with one column type.date value.
Code example

this is my function
[code]

when I print creation_date in sql store procedure, it returns `0001-01-01T00:00:00.000Z //bad`
when I print fecha in sql store procedure, it returns `2019-04-10T00:00:00.000Z //ok`
these are my dependencies

[code]

[2019-04-10 15:57] lenisha commented on #885
Resolved

[2019-04-10 15:57] #885 closed

[2019-04-11 12:05] BenjaminVanRyseghem commented on #836
I might be facing the same issue

[2019-04-11 14:23] Royalsspirit opened #890 "Connection failed with latest version"
Hello guys,

i tried to use sequelize with tedious. I just installed latest version of each package.

An issue occured during a connection to microsoft sql server 2012 thanks to sequelize and tedious@6.1.0 which return:
`SequelizeAccessDeniedError: Login failed for user ''.
    at Connection.connection.on.err (~/projects/node_modules/sequelize/lib/dialects/mssql/connection-manager.js:107:20)
    a

[2019-04-11 20:30] MichaelSun90 commented on #890
Hi @Royalsspirit
I just went through your issue. Looks like you are still trying to use the deprecated way to indicated username and password for connection config. There is a link for a Tedious http://tediousjs.github.io/tedious/api-connection.html. You could check here for details. I will share you an example for how to set the password and username for the current version:
var config = {
  serv

[2019-04-12 07:27] Royalsspirit commented on #890
Hello @MichaelSun90 ,

Indeed, with the object you shared, connection work as expected but it still doesn't work with sequilize.

So, i think it's an issue regarding sequilize.

Thank you for your help.

[2019-04-12 07:27] #890 closed

[2019-04-12 17:41] AlexanderTunick commented on #884
@MichaelSun90 thank you for your response, I currently just replaced the query using just string instead of query builder "knex" for this test and it works. Don't have much time to figure out with it at the moment. Thank you anyway.

[2019-04-12 17:41] #884 closed

[2019-04-12 22:09] mikermcneil commented on #42
For others finding this issue in search engines, you might want to instead check out https://github.com/tediousjs/tedious/issues/412

@pekim @arthurschreiber Since this issue is kinda prominent in search, reckon it makes sense to lock it to prevent it being zombied further?

[2019-04-12 22:43] mikermcneil opened #891 "Performing SQL Server transactions w/ native SQL queries (BEGIN TRAN / COMMIT TRAN / ROLLBACK TRAN)"
Hello everyone!

I'm in the process of adding MSSQL support to the [Sails.js framework](https://sailsjs.com) using `tedious`.  Everything has been going more or less swimmingly up until now!

But now that I've made it to adding transaction support in our new Sails/Waterline adapter, I'm running into some curious behavior when I ignore `tedious`'s built-in transaction API and attempt to write trans

[2019-04-12 23:55] MichaelSun90 commented on #889
Hi @marianolop22
Just created a local simple repo script, and confirmed this actually is an issue from Tedious side.  Currently for Date type, Tedious does not fully handle the format 'YYYY/MM/DD', which cause the wrong value. We will figure out a fix for this as soon as possible.

[2019-04-15 09:04] Zivpp commented on #144
A huge thanks to you! This solves my problem!

[2019-04-15 15:27] r-tanner-f commented on #890
The [npm page](https://www.npmjs.com/package/tedious#getting-started) and [README.md](https://github.com/tediousjs/tedious#user-content-getting-started) both point to a tutorial on microsoft.com that [uses the deprecated config](https://www.microsoft.com/en-us/sql-server/developer-get-started/node/windows/step/2.html).

Might be good to either update the Microsoft tutorial or point these links to

[2019-04-15 16:54] MichaelSun90 commented on #890
Hi @r-tanner-f
On both pages that you mentioned, there is a Documentation section under it with a link to tediousjs.github.io/tedious/. Under the github.io page, there is a section called API, and a subsection under this section named Connection. You can find the updated details for the configuration there.
Here is a link to that section: http://tediousjs.github.io/tedious/api-connection.html.
Hop

[2019-04-15 17:02] r-tanner-f commented on #890
I did find it, thanks, but not before going through a broken tutorial.

On Mon, Apr 15, 2019, 9:54 AM Michael Sun <notifications@github.com wrote:

[2019-04-15 18:10] harshyadav9 commented on #335
Hi i m using tedious version ^5.0.3 to connect and fetch procedure from azure table. but i am getting "Data type 0xAF has an invalid data length or metadata length. " error when calling a stored procedure. kindly healp

[2019-04-16 00:40] leblancmeneses commented on #869
@MichaelSun90  Options fixed my issue.  Thank you!

[code]

  request.addParameter('latitude', TYPES.Decimal, data.latitude || null, {precision:9,scale:6});
  request.addParameter('longitude', TYPES.Decimal, data.longitude || null, {precision:9,scale:6});

[2019-04-16 11:38] ridvann opened #892 "The test with UDL was successful, but I couldn't provide a connection from tedious."
Hello,

I've connected with UDL.

<a href="https://ibb.co/C98KYnL"><img src="https://i.ibb.co/C98KYnL/Screenshot-2019-04-16-14-31-28.png" alt="Screenshot-2019-04-16-14-31-28" border="0"></a>

But I couldn't connect with Tedious.

SS:
<a href="https://ibb.co/S7dnsby"><img src="https://i.ibb.co/S7dnsby/Screenshot-2019-04-16-14-31-49.png" alt="Screenshot-2019-04-16-14-31-49" border="0"></a>

Error Co

[2019-04-16 13:35] tommyfok commented on #838
I gave up and used `knex.raw` instead.

[2019-04-16 14:39] ridvann commented on #892
I have limited access to the database I tested. But I got a log from system admin.

"Reason: failed open the explicity specified database "XXXX". Client: XXX.XXX.XXX.XX"

I couldn't solve the problem.

[2019-04-16 17:48] MichaelSun90 commented on #891
Hi @mikermcneil, I just read through your issue, seems it may not related to tedious after all. I have searched the error, found a link. See if this helps you.
https://www.mssqltips.com/sqlservertip/4018/sql-server-transaction-count-after-execute-indicates-a-mismatching-number-of-begin-and-commit-statements/

[2019-04-16 17:52] MichaelSun90 commented on #892
Hi @ridvann, you tedious side connection configuration looks correct to me. Could you double check the user that you are using have access to the specific database? From your screenshot, I see that when you test the connection using UDL, you do not provide a database name. This is the only difference I can identify from these to connection methods.

[2019-04-16 23:33] ridvann commented on #892
Hi @MichaelSun90,

First of all, thank you for your answer. I'm starting to think it's from user permissions.
The UDL provides a successful connection, even though the database is specific. I guess there is another situation.
If I solve the problem, I'll add the solution here to help other users.

Thanks

[2019-04-17 00:20] jianingliu opened #893 "Big Int gets changed for bulkLoad.addRow"
Hi there,

I got this problem while working with very big integers. The testing big integer is "2567435346112343576". It was stored always as a string, and the TediousType I used is BigInt. Then I used the bulkLoad.addRow to bulk insert my data into the database. When I checked the db, it was stored as bigint but the value was changed to 2567435346112343552.

Then I tried to insert the data row by

[2019-04-17 10:51] ridvann commented on #892
Hi,

I solved the problem. The problem is that the database name that was reported to us was incorrect. It's not a technical mistake, so it's a human error :)

In addition, I have a suggestion that can be added in an additional field where the description of the error exists.

I kept you busy. Excuse me for that.

Thanks

[2019-04-17 11:04] #892 closed

[2019-04-17 16:38] MichaelSun90 commented on #892
No problem, glad the issue has been resolved.

[2019-04-18 05:17] rein-dc commented on #678
FWIW the Postgres pg lib gives devs the ability to easily override db driver mappings so bigints are converted to numbers - which is usually good enough most of the time. If the number is too big just throw an exception. Always converting bigints to strings is pedantry over UX

[2019-04-18 18:00] MichaelSun90 commented on #890
The example under the document has been fixed with the latest config object struct. Hope this helps with the new connection structure.

[2019-04-18 21:37] mikermcneil commented on #891
Thanks for the response, @MichaelSun90!

I read that article as well, but I don't think that's what I'm encountering.

For example, if you try running this set of queries in `tedious`, using the same connection, it doesn't work:

[code]

But if you run the same queries using another, non-programmatic client (like SQL Pro for MSSQL, for example), the query works fine.

[2019-04-18 21:46] mikermcneil commented on #891
One other follow-up: I was curious if maybe I was just getting lucky, and my queries were working when run from SQL Pro because I was running them all in one fell swoop.

So I tried running all three separately, one at a time:

[code]

[code]

[code]

...and got the same successful result with no errors.

But if I try that with tedious, I get the error I mentioned above:

[code]

@MichaelSun90 @ar

[2019-04-22 21:23] MichaelSun90 commented on #893
Hi @jianingliu
Unfortunately, the number of limitation of javascript is still a thing. Just verified that why the bulk insert has a different behavior with a single insert statement. On the tedious side, the input validation for writeParameterData under begin type could be improved to throw a similar error as "Validation failed for parameter XXXX. Value must be between -9007199254740991 and 900719

[2019-04-26 12:39] Royalsspirit commented on #890
Indeed @r-tanner-f, npm package was not updated to use last version of tedious that's why i encounter this issue

[2019-05-08 13:37] PrasannaBrabourame opened #897 "Cannot able to use in function with api"
Cannot able to get the result on express api call.
[code]

[2019-05-08 14:42] nkolli45 opened #898 "Incorrect syntax near the keyword 'with'"
Incorrect syntax near the keyword 'with'. If this statement is a common table expression, an xmlnamespaces clause or a change tracking context clause, the previousstatement must be terminated with a semicolon.

[2019-05-08 17:42] MichaelSun90 commented on #898
Hi @navinkolli, can you provide the place that presents this behavior? Thanks

[2019-05-08 22:51] MichaelSun90 commented on #897
Hi @PrasannaBrabourame, can you provide the error message or the script behavior that you currently get?  From the script that you provide here, I did not find any suspicious place. On the other hand, if you have any reproducing step, that will be extremely helpful.

[2019-05-09 05:03] PrasannaBrabourame commented on #897
I am getting the result as undefined and when i keep the break point near resolve. It does not trigger

[2019-05-09 14:22] irgijs commented on #886
I also ran into this issue. I have created a script to reproduce the error. The output is 4 times 'IntN', whereas I expect the output to be ‘Int’, ‘SmallInt’, ‘TinyInt’ and ‘BigInt’.

[code]

[2019-05-10 23:01] MichaelSun90 commented on #897
Hi @PrasannaBrabourame, Do you mean that the 'rows' from the call back function is undefined, and resolve(output) is not triggered? If this is the case, can you try set config.options.rowCollectionOnRequestCompletion to true, then test it again.  There are some other details about these parameters, you can check the tedious Github I/O page: http://tediousjs.github.io/tedious/api-request.html

[2019-05-11 07:37] PrasannaBrabourame commented on #897
even after trying this. the same error occurs. @MichaelSun90  connection.on is not triggering on api connection

[2019-05-13 14:49] kevindashgit commented on #875
@MichaelSun90

Please try *not* removing the domain from the config, but instead adding a dubious one.

[2019-05-14 17:58] MichaelSun90 commented on #897
If connection.on is not triggered, it could be caused by the connection configuration. Can you provide the connection config that you use for creating the connection?

[2019-05-14 22:02] MichaelSun90 commented on #875
@kevindashgit, I have two findings that I want to share with you:
First, I think if you want to keep using tedious 5.0.3, then the domain, username, and password are passed into the connection configure in a different structure:
     authentication.options.userName
             User name to use for authentication.
     authentication.options.password
              Password to use for authenticatio

[2019-05-15 09:05] sliontc commented on #305
I got the same issue. Have you solved it?

[2019-05-15 09:36] irgijs opened #899 "Pausing and resuming is causing the stream to remain stuck"
We are running into an issue where the tedious stream remains stuck if the stream is paused and resumed multiple times. The stream is not resumed even though certain rows should be emitted into the stream pipeline.

It seems to be related to the data as this problem does not occur if the data is changed.

A script is attached to reproduce this problem. An `npm install` should be performed and the

[2019-05-15 10:26] gsamal opened #900 "Error handling in bulkLoad"
I have a question on internal handling of bulk load.
Does the whole operation, when we execute `execBulkLoad` run in transaction? What will happen if for any reason, some records get failed?

Thanks!

[2019-05-15 11:48] PrasannaBrabourame commented on #897
I have used the connect config globally " var connection = new Connection(config);" after using on the particular function it is working perfectly. Thanks for your kind help.

[2019-05-15 11:48] #897 closed

[2019-05-15 21:15] MichaelSun90 commented on #900
Hi @gsamal, I just did a quick test. The current Tedious logic will catch the error and emit an error event, then the corresponding socket error listener will react to this error event, and throw this error. This transfers the program state to the final state which cleans up the process and closes the connection. Seems it will not continue running the rest of the batch query.

[2019-05-16 04:45] gsamal commented on #900
Hi @MichaelSun90, I was hoping there would be a transaction involved. Never really like the fact of partial committing a few rows. Thanks for the clarification though.

[2019-05-16 04:45] #900 closed

[2019-05-20 16:56] SpockLogical opened #901 "Cannot get the column information from OLE DB provider "MSDASQL" for linked server"
Cannot get the column information from OLE DB provider "MSDASQL" for linked server when query is made from node.js using mssql module with tedious.js driver module, but using the same query and credentials works fine if I run the query in SQL Server Management Studio on the same machine.

This is a query being made with OPENQUERY to a linked server that just switched to a production environment, b

[2019-05-20 20:46] kevindashgit commented on #875
Hey @MichaelSun90 appreciate your getting back to me.
So I upgraded to tedious@latest (`6.1.1`) and used this config:
[code]

Am I doing something wrong? I'm still able to get away with using any string value for the domain property and have the connection succeed.

Interesting though, if I leave the domain property out entirely, I get this error:
`TypeError: The "config.authentication.options.dom

[2019-05-20 22:03] LereveLabs commented on #749
Hi @Suraiya-Hameed - When do you think this will be added? #512 was created in 2/2017.  Is there another option for saving and getting column encrypted data from sql server?

[2019-05-21 09:53] zhangtingwz opened #902 "when database:"中文"//chinese, login fail"
[code]
excuse me，
my english is pool，
today ，i meet a new problem
when i set database chinese some like
database:"中文",
and
my sqlserver really have a database that name is "中文"
but when i use  database: '中文'  tell me connection error:elogin error ,sa can`t not login,
please may be change the error message thank you ,very much , i find this solution one day

[2019-05-21 12:55] mcwonka commented on #899
We have the same issue: Stream remains stuck while fetching data.

I looked into it and so far I think there is a timing issue inside incoming-message-stream.js I not about pause and resume in general, calling pause and resume makes it only more likely to happen.

When it is stuck this.currentMessage is undefined before stream ends and when it happens  it is almost to the end. Maybe this helps for

[2019-05-21 13:35] irgijs commented on #899
We agree on the issue being caused by code somewhere inside `incoming-message-stream.js`. It seems that [this commit](https://github.com/tediousjs/tedious/commit/87534f1fe4c23d42c28f4c0bd750443cddaea7ec) triggers or perhaps even causes the error to occur.

[2019-05-21 13:39] mcwonka commented on #899
@irgijs Have you tried version 6.0.1.?

[2019-05-21 14:01] irgijs commented on #899
@mcwonka 6.0.1 does not work for us. Version 6.0.0 and previous versions do work.

[2019-05-21 18:08] David-Engel commented on #749
@LereveLabs
Always Encrypted (column encryption) is in our backlog but is not currently scheduled for work. There is no time frame for it.

Other supported drivers support Always Encrypted in SQL Server: Microsoft ODBC Driver for SQL Server, Microsoft JDBC Driver for SQL Server, .NET SqlClient, Microsoft Drivers for PHP for SQL Server.

If you require a Node.js solution, there is not one that is c

[2019-05-22 00:48] MichaelSun90 commented on #899
Hi @mcwonka, I was reading through the original thread of the PR #518 for adding pause and resume. That thread mentioned something related pause when there are few entries left: "I have fixed the problem. It happened when there were only **a few records left when pause() was called**. I have added another test case to verify that this problem is solved. Could you please test again?" I think this p

[2019-05-22 06:49] irgijs commented on #899
@MichaelSun90 I applied this workaround to our software but it does not seem to work (Tedious@6.1.1 / SQL Server 2017)

[2019-05-22 13:18] SpockLogical commented on #901
Sorry, eventually tracked down an error in my query.

[2019-05-22 13:18] #901 closed

[2019-05-22 17:33] MichaelSun90 commented on #899
@irgijs  For the test_pause_and_resume.js that you provided, I only add the "packetSize:2046", then the issue seems to be solved.  Is it possible that you added the packetsize to the config.authentication.options instead of config.options? It works for me. Without this packet size, the test script always hanging at row 920, after adding this, it seems went all the way.

const config = {
	server: "

[2019-05-22 20:59] MichaelSun90 commented on #902
Hi @zhangtingwz,  There are two things that you could check for this issue:
1. which version of Tedious version that you are using. I tested your connection set up on tedious 6.1.1, and I am able to connect. Therefore, it is possible that you are on an earlier version which causes the issue.
This is my set up: {
  server: "localhost",
  authentication: {
    type: "default",
    options: {
      u

[2019-05-23 02:41] zhangtingwz commented on #902
Hi,@MichaelSun90,
Nice to meet you,
I use npm install Tedious,
Tedious should be 6.1.1,
then i use change my database as "VoluntaryReporting",
this is my option:
`
var connection = new Connection({
    authentication: {
        type: 'default',
        options: {
            userName: 'sa', // it`s right
            password: '**********' // It`s right
        }
    },
    server: '*********',

[2019-05-23 06:05] irgijs commented on #899
@MichaelSun90 This solution does work for the `test_pause_and_resume.js`, but not for the software we develop. Therefore I don't think this is a stable fix.

[2019-05-23 13:40] arthurschreiber commented on #899
I'll be taking a look as soon as I can. Changing the `packetSize` might make this work for some special cases by sheer luck, but it's not really a proper fix. 😅

Thank you for providing a test case, that'll be very helpful in reproducing this!

[2019-05-23 16:35] arthurschreiber commented on #899
Again, thank you for the report and the test case. Based on the test case, I was able to track down the issue and build a proper fix:

[code]

I'll open a proper PR and push a new release as soon as I can. In the meantime, feel free to test using the above patch and let me know if that fixes the issue for you too! 🙇

[2019-05-24 06:22] irgijs commented on #899
@arthurschreiber Thank you for providing a patch. I can confirm your patch does work for our own software as well!

[2019-05-24 08:30] zhangtingwz commented on #902
Hi,@MichaelSun90,
i find why it happen ，because i save js as ANSI，not utf-8 ，it`s my way ,sorry

[2019-05-24 13:00] mcwonka commented on #899
@arthurschreiber It also works for us! Thanks!

[2019-05-24 14:19] bugg2844 commented on #339
This only occurs when options.useUTC is set to false, and the parameter value is something tedious needs to parse e.g. a string containing a date.  Tedious uses Date.parse to parse the string, which returns a number of milliseconds, then later tries to call getTimezoneOffset on that value.

[2019-05-24 14:31] irgijs opened #903 "Connection lost - Cannot call write after a stream was destroyed"
Since tedious version 2.7.0 the following error event is emitted. This error is still emitted in the newest release (v6.1.1):

`Connection lost - Cannot call write after a stream was destroyed`

We tested this with both SQL Server 2016 and 2017. We are still trying to reproduce the error and we will report back if we found something.

[2019-05-24 16:33] bugg2844 commented on #339
Appears to be caused by: https://github.com/tediousjs/tedious/commit/f360b093d731a7ec2ef63469130be4bef89c39f2

[2019-05-24 17:42] bugg2844 commented on #339
Looks like https://github.com/tediousjs/tedious/pull/677/files will resolve it.

[2019-05-24 18:44] bugg2844 commented on #767
This test is correctly failing, as the code does not work under Node 10 due to changes intentionally made in V8: https://github.com/v8/v8/commit/dbdede0101270b4ea332e52544215fe3c4a9bd71

The effect on tedious is that with useUTC set to false, data-types/date.js calculates dstDiff incorrectly, resulting in an **incorrect date being persisted** - one day off.  We have a sql server database in easter

[2019-05-25 02:58] #902 closed

[2019-05-25 14:41] arthurschreiber commented on #899
@irgijs I just opened https://github.com/tediousjs/tedious/pull/904 with an even simpler fix for this. I'll merge this and release a new version probably tomorrow.

Thanks again for reporting this and for providing all the information to easily reproduce this!

[2019-05-26 08:45] #899 closed

[2019-05-26 09:04] arthurschreiber commented on #899
:tada: This issue has been resolved in version 6.1.2 :tada:

The release is available on:
- [npm package (@next dist-tag)](https://www.npmjs.com/package/tedious)
- [GitHub release](https://github.com/tediousjs/tedious/releases/tag/v6.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-26 09:14] arthurschreiber commented on #899
@mcwonka @irgijs I just pushed `tedious@6.1.2` to the `next` tag, You can install it via `npm install tedious@next`. It'll automatically be promoted as `latest` in a few days. Thank you again! 🙇

[2019-05-26 12:12] arthurschreiber commented on #876
I just opened https://github.com/tediousjs/tedious/pull/905 which will drop support for Node.js 6.x.

[2019-05-27 08:27] irgijs commented on #903
Additional information:
- I found the specific commit which introduces the error: https://github.com/tediousjs/tedious/commit/908488ad8641eda34d3a7a9be74631490d2f1184
- We use the [tedious connection pool](https://github.com/tediousjs/tedious-connection-pool) (modified in fork in such a way that tedious is used as peer dependency)

[2019-05-27 09:14] arthurschreiber commented on #903
@irgijs There's a bunch of connection lifecycle issues in current _and_ older `tedious` releases, plus the connection pool code does not handle lifecycle issues well either. 😞

I did some work that was targeted at improving the situation over at https://github.com/tediousjs/tedious/compare/arthur/rework-connection-close, but I never finished turning it into a proper PR. Seeing the issues you're ru

[2019-05-27 09:27] Paisansang opened #906 "connection lost"

[2019-05-27 09:50] irgijs commented on #903
@arthurschreiber We only changed the package.json file to so that it would accept any tedious release (as peer dependency):
[code]

[2019-05-27 18:19] MichaelSun90 commented on #906
Hi @Paisansang, can you provide some description for the issue? Thanks

[2019-05-28 13:07] csharpsi commented on #858
I didn't get any error message except `login failed for user ''`

I was using Typescript and it turns out that the `@types/tedious` definition was out of date and didn't include an interface definition for the authentication object. I've submitted a PR to the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/35777) project to resolve this.

[2019-05-28 21:41] kevinkevp commented on #903
Try with this in the config:
options.encrypt: false

Works for me, in a local MSSQL

[2019-05-29 22:24] MichaelSun90 commented on #875
Hi @kevindashgit,  If the authentication type is set to 'ntlm', then a domain value is necessary. So, if the domain does not exist from the config, then getting an error is the expected behavior.

On my side, if I pass in an incorrect domain name, I will get an error 'Login failed. The login is from an untrusted domain and cannot be used with Integrated authentication.' Also, your config looks exa

[2019-05-29 23:54] MichaelSun90 commented on #891
Hi @mikermcneil
I just tried to run the query with the latest tedious(6.1.1) using a request like this:
request = new Request('BEGIN TRANSACTION;  SELECT * FROM [Mytable]; COMMIT TRANSACTION;', function(err, rowCount) {
    if (err) {
      console.log(err);
    } else {
      console.log(rowCount + ' rows');
    }
  });

In this case, I can successfully retrieve the rows back from the table calle

[2019-05-31 09:10] Paisansang commented on #906
Thak for support.
I got error form teious and crash node...

MSSQL Connect err... ConnectionError: Failed to connect to upfrontpim.net:1433 in 5000ms
Failed to connect to  xxxx  in 5000ms
[nodemon] clean exit - waiting for changes before restart
......
How can I handle error that dont crash Node ??
Thanks.

---my module is :
function   getMsQuery(sql,callback){
  //console.log(sql);

	var Connecti

[2019-05-31 22:38] MichaelSun90 commented on #906
Hi @Paisansang, I am not sure that I understand the situation correctly. You encountered a connection error from the tedious side, and the program crashed, right? If you want to prevent the error and keep the program running, you can use a try-catch block to consume the error internally and handle it in the way that you want.

[2019-06-01 13:56] arthurschreiber commented on #903
@kevinkevp That will probably work because that will disable the TLS stream that is used for encryption purposes, greatly simplifying the internal connection handling. But it's not a proper fix, because encryption support is a hard requirement for many use cases.

I'll take https://github.com/tediousjs/tedious/compare/arthur/rework-connection-close and see if I can polish it up!

[2019-06-11 18:02] gsaggu opened #913 "Requests can only be made in the LoggedIn state, not the SentClientRequest state"
Requests can only be made in the LoggedIn state, not the SentClientRequest state

USING
NodeJS: 10.15.3
Tedious: 6.1.2

I am trying to prepare a SQL request and trying to execute in a loop with different parameters, but it throws an unexpected error related to this LoggedIn state. Any help would be appreciated
Not sure what i am missing here

[code]

**Expected behaviour:**
Console Output:
[{value

[2019-06-11 23:48] MichaelSun90 commented on #913
Hi @gsaggu, I think the request error is due to that the for each loop is keep calling 'execute' function, but the state changing within the connection has not done yet, so it is complaining that the request is executed during a wrong state. If you want to send out a query with multiple parameter value sets, is using bulk-load instead of using for each loop an option?
If bulk is not an option, you

[2019-06-12 00:37] c5soft opened #914 "tedious 6.1.2 has problem with node 12.4.0: SSL routines:ssl_choose_client_version:unsupported protocol"
Hi, anyone,
as title mentioned, the worked code with node 10, not work with node 12, it report:

Connection lost - 3540:error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol:c:\ws\deps\openssl\openssl\ssl\statem\statem_lib.c:1922:
{"message":"Failed to connect to localhost:1433 - Cannot call write after a stream was destroyed","code":"ESOCKET"}

any help ? the OS is windows 10

[2019-06-12 01:55] c5soft commented on #914
problem solved!
with node 12+, config changed as：
const config: ConnectionConfig = {
        server: '...',
        authentication: { type: 'default', options: { userName: '...', password: '...' } },
        options: { ...,encrypt:false }
    }

[2019-06-12 01:55] #914 closed

[2019-06-13 19:33] mtmcardle opened #915 "ConnectionError {message: "Login failed for user''.", code "ELOGIN", stack: "ConnectionError: Login failed for user ''."
### Expected behaviour:
Connect to MSSQL server

### Actual behaviour:
Received error message in title. It looks like the user name is not being passed through the config properly? This is my guess based on it saying "Login failed for user ''." with no user name populated

ConnectionError {message: "Login failed for user''.", code "ELOGIN", stack: "ConnectionError: Login failed for user ''.

### C

[2019-06-13 19:43] mtmcardle commented on #915
I spelled authentication wrong! Closing

[2019-06-13 19:43] #915 closed

[2019-06-14 17:06] dhollenbeck commented on #903
I am getting the same error as the @irgijs and therefore unable to update the tedious driver.

[2019-06-17 08:41] irgijs commented on #903
@arthurschreiber Are you expecting to find a solution anytime soon? Is there something we can do to help you?

[2019-06-24 22:40] 1311543 commented on #344
Running Promises in SequenceSection
/**
 * Runs promises from array of functions that can return promises
 * in chained manner
 *
 * @param {array} arr - promise arr
 * @return {Object} promise object
 */
function runPromiseInSequence(arr, input) {
  return arr.reduce(
    (promiseChain, currentFunction) => promiseChain.then(currentFunction),
    Promise.resolve(input)
  );
}

[2019-06-24 22:51] 1311543 commented on #344
sorry if i dont explain so clear but i resolve the problem chainning the request with reduces
cqlStatements.map( stmt =>
                (result) => {
                    return connection.openConnection()
                    .then( cn => cn.executeStatement(stmt))})
                    .reduce((p, fn) => p.then(fn), Promise.resolve())

[2019-06-26 00:11] jtara1 opened #916 "parameter.value.getTimezoneOffset is not a function"
Hey, I'm working on debugging this error, but I'm using a private lib for Transact SQL / MS SQL Server that depends on tedious.

partial stacktrace

[code]

![Snip20190625_9](https://user-images.githubusercontent.com/7478231/60141811-ddcceb80-976b-11e9-9366-a39c534d2f04.png)

I attached a debugger and inspected values above there. The data type for `param.value` does not seem what is expected for

[2019-06-26 12:49] Steexyz opened #917 "TypeError: cb is not a function"
Hi there,

I've been trying to figure this out for days, I'm still a newbie but I have an Express server trying to display data from a query in my database using Tedious. However, I tryied many things but I'm alway facing this error "cb is not a function". I know it's about the callBack but I really can't figure out. It's a React app with an Express Backend. My connection to the database is workin

[2019-06-26 17:09] jtara1 commented on #916
needed the date to be of type `Date`, not string or moment

[2019-06-26 17:09] #916 closed

[2019-06-26 17:27] MichaelSun90 commented on #917
Hi @Steexyz, for the 'cb' function issue, there is a change under PR #845 that has been recently merged into master which introduce a 'cb' function for writeParameterData.  To fix this, you could just pull the latest master branch changes to your local should resolve this.

[2019-06-26 17:57] Steexyz commented on #917
Well, still no changes. I believe it was already up to date.

[2019-06-26 18:11] MichaelSun90 commented on #917
Oh, Looks like that tedious-connection-pool has not updated the way that they using the writeParameterData. @Steexyz, can you try to add an empty call back to the places that tedious-connection-pool calls the function?
For example:
replace type.writeParameterData(buffer, param, options);
with: type.writeParameterData(buffer, param, options, ()=>{});
see if this fix the issue.

I think you need to

[2019-06-26 18:26] Steexyz commented on #917
Well, I don't find a writeParameterData in connection-pool.js... It seems it didn't receive an update in years. I might just stop using tedious-connection-pool..